Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

rix namespace clash
  data-pipeline/src/pipeline/rag/__init__.py
  data-pipeline/src/pipeline/rag/calculations.py
  data-pipeline/src/pipeline/rag/main.py
Due: pipelines/data-pipeline/build.yaml

pipeline-documentation
  documentation/financial-data-drop/cfr/9_SFB-FileGeneration.md
  documentation/financial-data-drop/cfr/image.png
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

pipeline-documentation
  documentation/financial-data-drop/cfr/2_FactCFR.md
  documentation/financial-data-drop/cfr/3_DimGIAS.md
  documentation/financial-data-drop/cfr/4_DimSchoolCensus.md
  documentation/financial-data-drop/cfr/5_DimPRU.md
  documentation/financial-data-drop/cfr/6_DimSEN.md
  documentation/financial-data-drop/cfr/7_DimGenerallHospitalSchools.md
  documentation/financial-data-drop/cfr/8_DimSchoolWorkforceCensus.md
Due: pipelines/documentation/build.yaml

name the loggers a bit better to avoid namespace clashes
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/src/pipeline/rag/calculations.py
  data-pipeline/src/pipeline/utils/database.py
  data-pipeline/src/pipeline/utils/log.py
  data-pipeline/src/pipeline/utils/message.py
  data-pipeline/src/pipeline/utils/stats.py
  data-pipeline/src/pipeline/utils/storage.py
Due: pipelines/data-pipeline/build.yaml

remove domain model from git
  data-pipeline/src/pipeline/domain_model.py
Due: pipelines/data-pipeline/build.yaml

add conftest
  data-pipeline/tests/unit/conftest.py
Due: pipelines/data-pipeline/build.yaml

refactor tests
  data-pipeline/src/pipeline/pre_processing/ancillary/__init__.py
  data-pipeline/tests/unit/comparator_sets/conftest.py
  data-pipeline/tests/unit/comparator_sets/test_part_year.py
  data-pipeline/tests/unit/comparator_sets/test_pupils.py
  data-pipeline/tests/unit/conftest.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_budget.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_ons.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_outturn.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_section_251.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_sen2.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_statistical_neighbours.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_local_authorities.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_academies.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/tests/unit/pre_processing/test_cdc.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
  data-pipeline/tests/unit/pre_processing/test_gias.py
  data-pipeline/tests/unit/pre_processing/test_high_exec_pay.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_map_academies.py
  data-pipeline/tests/unit/pre_processing/test_sen.py
  data-pipeline/tests/unit/pre_processing/test_total_per_unit.py
Due: pipelines/data-pipeline/build.yaml

Add getters for queue and blob clients
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/utils/storage.py
  data-pipeline/tests/unit/conftest.py
Due: pipelines/data-pipeline/build.yaml

updated findings.
  documentation/quality-assurance/performance-test-plans/0010_Web-Bencmark-IT-Spending-load-test-plan.md
Due: pipelines/documentation/build.yaml

lint
  documentation/quality-assurance/performance-test-plans/0010_Web-Bencmark-IT-Spending-load-test-plan.md
Due: pipelines/documentation/build.yaml

lint
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag/main.py
  data-pipeline/src/pipeline/utils/storage.py
  data-pipeline/tests/unit/comparator_sets/conftest.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_statistical_neighbours.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
Due: pipelines/data-pipeline/build.yaml

chore: align test with production
  platform/terraform/variables.tf
Due: pipelines/platform/build.yaml

average run 2 findings.
  documentation/quality-assurance/performance-test-plans/0010_Web-Bencmark-IT-Spending-load-test-plan.md
Due: pipelines/documentation/build.yaml

fixed linting.
  documentation/quality-assurance/performance-test-plans/0010_Web-Bencmark-IT-Spending-load-test-plan.md
Due: pipelines/documentation/build.yaml

Add grid for data sources
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

Update documentation/data/1_Domain.md
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

change function name
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
Due: pipelines/data-pipeline/build.yaml

fix linting
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

Split s251 into planned and actuals
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

change wording
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

Add nuance
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

less text
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

audited
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

Add audit nuance
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

Add grid for data sources (#2723)
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

chore: improve dependancy tracking and remove console output
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
Due: pipelines/platform/build.yaml

Refactor main run loop
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/utils/storage.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/utils/storage.py
Due: pipelines/data-pipeline/build.yaml

removed unneeded fixture
  data-pipeline/tests/unit/comparator_sets/conftest.py
Due: pipelines/data-pipeline/build.yaml

allow branch names beginning refactor
  pipelines/common/validate-branch.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

removed comment
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

hotfix: fixes dependancy tracking start time
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
Due: pipelines/platform/build.yaml

chore: refactor worker pool to use single pool
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/shared/pool.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/shared/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/worker.ts
Due: pipelines/platform/build.yaml

chore: refactor worker pool to use single pool (#2725)
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/shared/pool.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/shared/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/worker.ts
Due: pipelines/platform/build.yaml

Add script to hash inputs and outputs of pipeline
  data-pipeline/tests/e2e/export_data_hashes.py
Due: pipelines/data-pipeline/build.yaml

Add e2e hash script
  data-pipeline/tests/e2e/export_data_hashes.py
Due: pipelines/data-pipeline/build.yaml
