Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

change working director again
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

feat: When resolving progress bandings for default comparators, include both Pupil and Building sets
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Benchmark/SchoolComparatorSet.cs
Due: pipelines/web/build.yaml

pathing
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

test: install databricks cli
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

java installer
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

undo java change
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

cicd: Install python
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Include databricks cli in artifacts
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

try winget
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

test: databricks cli download again
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

feat: Added event tracking to progress banding check boxes
  front-end-components/src/components/chart-progress/component.tsx
  support-analytics/terraform/README.md
  support-analytics/terraform/variables.tf
Due: pipelines/front-end-components/build.yaml, pipelines/support-analytics/release.yaml

use same build artifact
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

disable unit tests while working out the rest of the pipeline
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

validate
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Add dev deploy step
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

feat: Ensured progress indicator state passed to accordion-rendered charts
  front-end-components/src/components/charts/styles.scss
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/utilities.tsx
Due: pipelines/front-end-components/build.yaml

feat: Assigned 'special' styles to well/above average chart bars
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/styles.scss
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/composed/dimensioned-chart/composed.tsx
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/types.tsx
  front-end-components/src/views/compare-your-costs-2/partials/total-expenditure.tsx
Due: pipelines/front-end-components/build.yaml

chore: Updated progress banding colours to use correct GDS named colours
  front-end-components/src/components/charts/styles.scss
Due: pipelines/front-end-components/build.yaml

pass pre-built bundle to jumpbox
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

use other databricks cli install
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

test: add UV binary
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

pathing changes
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

backslash
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

change databricks command
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

feat: Include progress banding with school spending comparison download
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/ProgressBandings.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenRequestingComparisonDownload.cs
Due: pipelines/web/build.yaml

feat: Ensured `ProgressBanding` is final property in CSV
  web/src/Web.App/Attributes/PropertyOrderAttribute.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Services/CsvService.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenRequestingComparisonDownload.cs
  web/tests/Web.Tests/Services/WhenCsvServiceIsCalled.cs
Due: pipelines/web/build.yaml

feat: Integration test coverage for School comparison user defined and custom data downloads
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenRequestingComparisonDownload.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
