Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

chore: Removed redundant package
  platform/src/abstractions/Platform.Functions/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/Trusts/TrustsFunctions.cs
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Update Orchestrator to .NET 8
  platform/README.md
  platform/docker/docker-compose.yml
  platform/src/abstractions/Platform.Functions/PipelineMessage.cs
  platform/src/apis/Platform.Orchestrator/Configuration/Logging.cs
  platform/src/apis/Platform.Orchestrator/Configuration/Services.cs
  platform/src/apis/Platform.Orchestrator/Configuration/Worker.cs
  platform/src/apis/Platform.Orchestrator/Directory.Packages.props
  platform/src/apis/Platform.Orchestrator/JobStartMessageSender.cs
  platform/src/apis/Platform.Orchestrator/PipelineDb.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/src/apis/Platform.Orchestrator/Platform.Orchestrator.csproj
  platform/src/apis/Platform.Orchestrator/Program.cs
  platform/src/apis/Platform.Orchestrator/host.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Replaced `IJobStartMessageSender` with `[QueueOutput]`
  platform/src/apis/Platform.Orchestrator/Configuration/Services.cs
  platform/src/apis/Platform.Orchestrator/JobStartMessageSender.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
Due: pipelines/platform/build.yaml

chore: Build and deploy Orchestrator using .NET 8
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

data release to-do, listing out data traceability, ammending contact info in data sources
  documentation/data/05_Data-Releases.md
  documentation/data/1_Data-Sources.md
  documentation/data/2_Data-Models.md
Due: pipelines/documentation/build.yaml

fix: correct percentile calculation
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/rag/test_percentile.py
Due: pipelines/data-pipeline/build.yaml

fix: Include school phase breakdown in Trust Comparators table
  core-infrastructure/src/db/Core.Database/Scripts/048-AlterSchoolPhasesCoveredByTrust.sql
  platform/src/apis/Platform.Api.Insight/Trusts/TrustCharacteristic.cs
  platform/src/apis/Platform.Api.Insight/Trusts/TrustsFunctions.cs
  platform/tests/Platform.ApiTests/Features/InsightTrusts.feature
  platform/tests/Platform.ApiTests/Steps/InsightTrustsSteps.cs
  web/src/Web.App/Domain/Insight/TrustCharacteristic.cs
  web/src/Web.App/Views/TrustComparatorsCreateBy/Characteristic.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Preview.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/_ChosenTrusts.cshtml
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsByName.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

fix: Fixed flaky test by ensuring that all cost categories are evenly assigned to ratings rather than using `Random`
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
Due: pipelines/web/build.yaml

chore: Removed redundant symbols
  platform/src/abstractions/Platform.Functions/Extensions/FunctionsHostBuilderExtensions.cs
  platform/src/abstractions/Platform.Functions/Extensions/HttpRequestDataExtensions.cs
  platform/src/abstractions/Platform.Functions/Extensions/HttpRequestExtensions.cs
  platform/src/abstractions/Platform.Functions/JsonContentResult.cs
  platform/src/abstractions/Platform.Functions/Middleware/CorrelationHeaderMiddleware.cs
  platform/src/abstractions/Platform.Functions/PagedResponseModel.cs
  platform/src/abstractions/Platform.Functions/Result.cs
  platform/src/abstractions/Platform.Functions/ValidationError.cs
  platform/src/abstractions/Platform.Functions/ValidationErrorsResult.cs
  platform/src/apis/Platform.Api.Benchmark/Configuration/Worker.cs
  platform/src/apis/Platform.Api.Establishment/Configuration/Worker.cs
  platform/src/apis/Platform.Api.Insight/Configuration/Worker.cs
  platform/tests/Platform.Tests/Functions/WhenGetCorrelationIdIsCalled.cs
  platform/tests/Platform.Tests/Functions/WhenJsonContentResultIsCalled.cs
  platform/tests/Platform.Tests/Functions/WhenReadAsJsonAsyncIsCalled.cs
  platform/tests/Platform.Tests/Functions/WhenReadAsJsonIsCalled.cs
Due: pipelines/platform/build.yaml

chore: Update UserDataCleanup to .NET 8
  platform/README.md
  platform/src/abstractions/Platform.Functions/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/Directory.Packages.props
  platform/src/apis/Platform.Api.Benchmark/Platform.Api.Benchmark.csproj
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/Directory.Packages.props
  platform/src/apis/Platform.Api.Establishment/Platform.Api.Establishment.csproj
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/Directory.Packages.props
  platform/src/apis/Platform.Api.Insight/Platform.Api.Insight.csproj
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/CleanUpFunctions.cs
  platform/src/apis/Platform.UserDataCleanUp/Configuration/Logging.cs
  platform/src/apis/Platform.UserDataCleanUp/Configuration/Services.cs
  platform/src/apis/Platform.UserDataCleanUp/Configuration/Worker.cs
  platform/src/apis/Platform.UserDataCleanUp/Directory.Packages.props
  platform/src/apis/Platform.UserDataCleanUp/PipelineDb.cs
  platform/src/apis/Platform.UserDataCleanUp/Platform.UserDataCleanUp.csproj
  platform/src/apis/Platform.UserDataCleanUp/Program.cs
  platform/src/apis/Platform.UserDataCleanUp/Startup.cs
  platform/src/apis/Platform.UserDataCleanUp/host.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Remove more redundant packages
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Infrastructure/Platform.Infrastructure.csproj
  platform/src/abstractions/Platform.Infrastructure/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/Platform.Api.Benchmark.csproj
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/Platform.Api.Establishment.csproj
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/Platform.Api.Insight.csproj
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/Platform.Orchestrator.csproj
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/Platform.UserDataCleanUp.csproj
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/Platform.Search.App.csproj
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Processor/Platform.Search.Processor.csproj
  platform/src/search/Platform.Search.Processor/packages.lock.json
  platform/src/search/Platform.Search/Platform.Search.csproj
  platform/src/search/Platform.Search/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/Platform.Tests.csproj
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Build and deploy UserDataCleanup using .NET 8
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/src/apis/Platform.UserDataCleanUp/host.json
  platform/terraform/functions.tf
  platform/terraform/modules/functions/variables.tf
Due: pipelines/platform/build.yaml

chore: Reverted back to single root `Directory.Packages.props` now everything on .NET 8
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Infrastructure/Platform.Infrastructure.csproj
  platform/src/abstractions/Platform.Infrastructure/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/Directory.Packages.props
  platform/src/apis/Platform.Api.Benchmark/Platform.Api.Benchmark.csproj
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/Directory.Packages.props
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/Directory.Packages.props
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/Directory.Packages.props
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/Directory.Packages.props
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/Platform.Search.App.csproj
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Processor/Platform.Search.Processor.csproj
  platform/src/search/Platform.Search.Processor/Program.cs
  platform/src/search/Platform.Search.Processor/packages.lock.json
  platform/src/search/Platform.Search/Platform.Search.csproj
  platform/src/search/Platform.Search/packages.lock.json
  platform/tests/Platform.ApiTests/Directory.Packages.Props
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/Directory.Packages.Props
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

separating out data transformation listings
  documentation/data/2_Data-Models.md
  documentation/data/images/fbit_sql_data_model.png
Due: pipelines/documentation/build.yaml

metric tracing
  documentation/data/2_Data-Models.md
Due: pipelines/documentation/build.yaml

added draft sql tracer tables
  documentation/data/2_Data-Models.md
Due: pipelines/documentation/build.yaml

fix: correct percentile calculation (#1136)
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/rag/test_percentile.py
Due: pipelines/data-pipeline/build.yaml

feat: Added new WAF queries/functions
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/feature-requests-by-auth.kql
  core-infrastructure/terraform/queries/feature-requests.kql
  core-infrastructure/terraform/queries/functions/get-waf-blocked-requests.kql
  core-infrastructure/terraform/queries/functions/get-waf-logs.kql
  core-infrastructure/terraform/queries/popular-local-authority-requests.kql
  core-infrastructure/terraform/queries/popular-school-requests.kql
  core-infrastructure/terraform/queries/popular-trust-requests.kql
  core-infrastructure/terraform/queries/waf-blocked-requests-per-hour.kql
  core-infrastructure/terraform/queries/waf-requests.kql
Due: pipelines/core-infrastructure/build.yaml

chore: Remove duplicate tiles from OI dashboard
  core-infrastructure/terraform/dashboards/oi.tpl
Due: pipelines/core-infrastructure/build.yaml

chore: Add firewall queries to OI dashboard
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/oi.tpl
  core-infrastructure/terraform/queries.tf
Due: pipelines/core-infrastructure/build.yaml

added in MetricRAG specifications
  documentation/data/05_Data-Releases.md
  documentation/data/2_Data-Models.md
Due: pipelines/documentation/build.yaml

bfr metrics added
  documentation/data/2_Data-Models.md
Due: pipelines/documentation/build.yaml

fix: Allow API test to pass against `d02` before it has been updated
  platform/tests/Platform.ApiTests/Features/InsightTrusts.feature
Due: pipelines/platform/build.yaml

Added data release instructions
  documentation/data/05_Data-Releases.md
  documentation/data/4_Risks.md
Due: pipelines/documentation/build.yaml

fix: First attempt to force a re-deploy of functions by fixing broken API tests due to target test environment not yet being updated
  platform/src/apis/Platform.Api.Benchmark/OpenApi/Examples/UserDataExamples.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataFunctions.cs
  platform/src/apis/Platform.Api.Insight/Trusts/TrustsFunctions.cs
  platform/src/apis/Platform.Api.Insight/Trusts/TrustsParameters.cs
  platform/tests/Platform.ApiTests/Features/BenchmarkComparators.feature
Due: pipelines/platform/build.yaml

fix: handle decile/RAG categories
  data-pipeline/src/pipeline/rag.py
Due: pipelines/data-pipeline/build.yaml

fix: Revert ea8e88f18f34230c68f1dfb2cac746f9093672ef
  platform/tests/Platform.ApiTests/Features/InsightTrusts.feature
  platform/tests/Platform.ApiTests/Steps/InsightTrustsSteps.cs
Due: pipelines/platform/build.yaml

test: update tests for percentile changes
  data-pipeline/tests/unit/rag/test_rag.py
Due: pipelines/data-pipeline/build.yaml

chore: adds benchmark comparator set unit tests
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesCreateComparatorSetRequest.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesGetComparatorSetRequest.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesRemoveComparatorSetRequest.cs
Due: pipelines/platform/build.yaml

fix: handle decile/RAG categories (#1141)
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/rag/test_rag.py
Due: pipelines/data-pipeline/build.yaml

feat: adds class for container
  front-end-components/src/index.css
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

feat: adds navigation from schools list bar chart on trust home to school spending priorities
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
  web/src/Web.App/Views/Trust/_SchoolsSection.cshtml
Due: pipelines/web/build.yaml
