Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: committing empty files to clear invalid merge conflicts caused by folder rename
  platform/terraform/modules/README.md
  platform/terraform/modules/provider.tf
Due: pipelines/platform/build.yaml

chore: delete temp files
  platform/terraform/modules/README.md
  platform/terraform/modules/provider.tf
Due: pipelines/platform/build.yaml

chore: committing empty files to clear invalid merge conflicts caused by folder rename
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/provider.tf
Due: pipelines/platform/build.yaml

chore: removing invalid files
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/provider.tf
Due: pipelines/platform/build.yaml

chore: temp files to clear phantom merge conflicts
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/provider.tf
Due: pipelines/platform/build.yaml

chore: resolve merge conflicts
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/variables.tf
Due: pipelines/platform/build.yaml

chore: resolve merge conflicts (+6 squashed commit)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/vnet.tf
  data-pipeline/terraform/container_app/data.tf
  data-pipeline/terraform/container_app/main.tf
  data-pipeline/terraform/container_app/outputs.tf
  data-pipeline/terraform/container_apps.tf
  data-pipeline/terraform/data.tf
  data-pipeline/terraform/main.tf
  data-pipeline/terraform/terraform.tfvars
  data-pipeline/terraform/variables.tf
  pipelines/common/run-terraform.yaml
  pipelines/core-infrastructure/deployment.yaml
  pipelines/data-pipeline/deployment.yaml
  pipelines/feature/release.yaml
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/Platform.sln
  platform/terraform/data.tf
  platform/terraform/functions.tf
  platform/terraform/modules/config/main.tf
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/output.tf
  platform/terraform/modules/fc_function_app/provider.tf
  platform/terraform/modules/fc_function_app/variables.tf
  platform/terraform/modules/function_app/README.md
  platform/terraform/modules/function_app/locals.tf
  platform/terraform/modules/function_app/main.tf
  platform/terraform/modules/function_app/output.tf
  platform/terraform/modules/function_app/provider.tf
  platform/terraform/modules/function_app/variables.tf
  platform/terraform/search.tf
  web/terraform/data.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

fix: bump azapi version
  platform/terraform/modules/function_app/provider.tf
Due: pipelines/platform/build.yaml

docs: updates to module documentation
  platform/Platform.sln
  platform/terraform/README.md
  platform/terraform/modules/function_app/README.md
Due: pipelines/platform/build.yaml

chore: remove unused variables
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/variables.tf
Due: pipelines/platform/build.yaml

chore: linting
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/variables.tf
Due: pipelines/platform/build.yaml

feat: reconfigure sql server security to not allow azure default access (#4381)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/vnet.tf
  data-pipeline/terraform/container_app/data.tf
  data-pipeline/terraform/container_app/main.tf
  data-pipeline/terraform/container_app/outputs.tf
  data-pipeline/terraform/container_apps.tf
  data-pipeline/terraform/data.tf
  data-pipeline/terraform/main.tf
  data-pipeline/terraform/terraform.tfvars
  data-pipeline/terraform/variables.tf
  pipelines/common/run-terraform.yaml
  pipelines/core-infrastructure/deployment.yaml
  pipelines/data-pipeline/deployment.yaml
  pipelines/feature/release.yaml
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/Platform.sln
  platform/terraform/README.md
  platform/terraform/data.tf
  platform/terraform/functions.tf
  platform/terraform/modules/config/main.tf
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/output.tf
  platform/terraform/modules/fc_function_app/provider.tf
  platform/terraform/modules/fc_function_app/variables.tf
  platform/terraform/modules/function_app/README.md
  platform/terraform/modules/function_app/locals.tf
  platform/terraform/modules/function_app/main.tf
  platform/terraform/modules/function_app/output.tf
  platform/terraform/modules/function_app/provider.tf
  platform/terraform/modules/function_app/variables.tf
  platform/terraform/search.tf
  web/terraform/data.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: update automated test api host/key references
  platform/tests/Platform.ApiTests/appsettings.json
Due: pipelines/platform/build.yaml

fix: change keyvault references for api host/key secrets
  platform/tests/Platform.ApiTests/appsettings.json
Due: pipelines/platform/build.yaml

fix: change keyvault references for api host/key secrets (#4383)
  platform/tests/Platform.ApiTests/appsettings.json
Due: pipelines/platform/build.yaml

feat: add `runUntil` functionality to default pipeline run message
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/test_main_run_until.py
  documentation/data/05_Releases.md
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

feat: write some custom functions for runUntil gates and custom exceptions
  data-pipeline/README.md
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/test_main_run_until.py
Due: pipelines/data-pipeline/build.yaml

add new exception
  data-pipeline/src/pipeline/utils/message.py
Due: pipelines/data-pipeline/build.yaml

test: test gate function
  data-pipeline/tests/unit/utils/test_message.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/test_main_run_until.py
  data-pipeline/tests/unit/utils/test_message.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/utils/message.py
Due: pipelines/data-pipeline/build.yaml

rename `get_run_until()` to `validate_run_until`
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/utils/message.py
Due: pipelines/data-pipeline/build.yaml

feat: reimplement ip restrictions on feature environment deployments
  platform/terraform/modules/config/main.tf
Due: pipelines/platform/build.yaml

removed blank line
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

Apply suggestions from code review
  documentation/data/05_Releases.md
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

feat: Add `runUntil` option to data pipeline start message for partial runs (#4384)
  data-pipeline/README.md
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/utils/message.py
  data-pipeline/tests/unit/test_main_run_until.py
  data-pipeline/tests/unit/utils/test_message.py
  documentation/data/05_Releases.md
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

bug bashing in docs build
  documentation/quality-assurance/release-test-plans/00034_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: add new generateCFRTransparencyFile boolean in default data pipeline start message
  data-pipeline/README.md
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/utils/message.py
  data-pipeline/tests/unit/test_main_run_until.py
  data-pipeline/tests/unit/utils/test_message.py
  documentation/data/05_Releases.md
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

add logging for CFR transparency file
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/generator.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/utils/message.py
  data-pipeline/tests/unit/utils/test_message.py
Due: pipelines/data-pipeline/build.yaml

doc: remove errant commas in message json examples
  data-pipeline/README.md
  documentation/data/05_Releases.md
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

fix: join func apps onto vnet in the func app resource, rather than using separate swift connection resource
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

rename flag
  data-pipeline/README.md
  documentation/data/05_Releases.md
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

rename variable
  data-pipeline/src/pipeline/utils/message.py
  data-pipeline/tests/unit/test_main_run_until.py
  data-pipeline/tests/unit/utils/test_message.py
Due: pipelines/data-pipeline/build.yaml

fix: allow subnet joining to be conditional
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

fix: apply vnet joining to wondows func apps as well as linux
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
