Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: Resolve PR feedback
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Configuration/Services.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/HighNeedsFeature.cs
Due: pipelines/platform/build.yaml

feat: Customised and mapped onto flattened proxy response from High needs history endpoint
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/Api/Mappers/LocalAuthorityHighNeedsHistoryResponseMapper.cs
  web/src/Web.App/Controllers/Api/Responses/LocalAuthorityHighNeedsHistoryResponse.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsAmount.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthorityHighNeeds.cs
  web/src/Web.App/Domain/LocalAuthorities/PlaceFunding.cs
  web/src/Web.App/Domain/LocalAuthorities/TopFunding.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsHistory.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenLocalAuthorityHighNeedsHistoryResponseMapperMapsWithCode.cs
Due: pipelines/web/build.yaml

feat: Add Web proxy for High needs history endpoint
  web/Web.sln.DotSettings
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsAmount.cs
  web/src/Web.App/Domain/LocalAuthorities/History.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthorityHighNeeds.cs
  web/src/Web.App/Domain/LocalAuthorities/PlaceFunding.cs
  web/src/Web.App/Domain/LocalAuthorities/TopFunding.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/Api.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/LocalAuthoritiesApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsHistory.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingNationalRanking.cs
Due: pipelines/web/build.yaml

feat: add debug logging for SQL logging
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

feat: adds new `EducationHealthCarePlans` endpoint and test coverage
  platform/src/apis/Platform.Api.NonFinancial/Configuration/Services.cs
  platform/src/apis/Platform.Api.NonFinancial/Constants.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/EducationHealthCarePlansFeature.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Models/EducationHealthCarePlans.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Parameters/EducationHealthCarePlansParameters.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Routes.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansService.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansStubService.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/Validators/EducationHealthCarePlansParametersValidator.cs
  platform/tests/Platform.ApiTests/Features/NonFinancialEducationHealthCarePlans.feature
  platform/tests/Platform.ApiTests/Steps/EducationHealthCarePlansLocalAuthoritySteps.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/EducationHealthCarePlansParametersTests.cs
  platform/tests/Platform.NonFinancial.Tests/Validators/WhenGivenEducationHealthCarePlansParameters.cs
Due: pipelines/platform/build.yaml

chore: linting
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/EducationHealthCarePlansFeature.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansFunction.cs
Due: pipelines/platform/build.yaml

fix: use chunksize for df.to_sql (#2031)
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

feat: add debug logging for SQL logging (#2033)
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

chore: address PR comments
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Models/EducationHealthCarePlans.cs
  platform/tests/Platform.ApiTests/Steps/EducationHealthCarePlansLocalAuthoritySteps.cs
Due: pipelines/platform/build.yaml

chore: unused variable removed
  platform/tests/Platform.ApiTests/Steps/EducationHealthCarePlansLocalAuthoritySteps.cs
Due: pipelines/platform/build.yaml

feat: adds new `EducationHealthCarePlans` endpoint and test coverage (#2034)
  platform/src/apis/Platform.Api.NonFinancial/Configuration/Services.cs
  platform/src/apis/Platform.Api.NonFinancial/Constants.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/EducationHealthCarePlansFeature.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Models/EducationHealthCarePlans.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Parameters/EducationHealthCarePlansParameters.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Routes.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansService.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansStubService.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/Validators/EducationHealthCarePlansParametersValidator.cs
  platform/tests/Platform.ApiTests/Features/NonFinancialEducationHealthCarePlans.feature
  platform/tests/Platform.ApiTests/Steps/EducationHealthCarePlansLocalAuthoritySteps.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/EducationHealthCarePlansParametersTests.cs
  platform/tests/Platform.NonFinancial.Tests/Validators/WhenGivenEducationHealthCarePlansParameters.cs
Due: pipelines/platform/build.yaml

chore: bumps platform .net deps
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bumps web .net deps
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

feat: Added tooltip to Section 251 charts
  front-end-components/src/components/charts/historic-data-section-251-tooltip/component.tsx
  front-end-components/src/components/charts/historic-data-section-251-tooltip/index.tsx
  front-end-components/src/components/charts/historic-data-section-251-tooltip/types.tsx
  front-end-components/src/composed/historic-chart-section-251-composed/component.tsx
Due: pipelines/front-end-components/build.yaml

feat: Added remaining charts to Section 251 section
  front-end-components/src/views/historic-data-high-needs/partials/index.tsx
  front-end-components/src/views/historic-data-high-needs/partials/section-251-section.tsx
  front-end-components/src/views/historic-data-high-needs/types.tsx
Due: pipelines/front-end-components/build.yaml

feat: Added 'stat's to Section 251 charts
  front-end-components/src/components/charts/resolved-stat/component.tsx
  front-end-components/src/components/charts/resolved-stat/types.tsx
  front-end-components/src/composed/historic-chart-section-251-composed/component.tsx
  front-end-components/src/views/historic-data-high-needs/partials/section-251-section.tsx
Due: pipelines/front-end-components/build.yaml

feat: Added first Section 251 historical chart to new `<HistoricDataHighNeeds>` view
  front-end-components/index.html
  front-end-components/src/composed/historic-chart-section-251-composed/component.tsx
  front-end-components/src/composed/historic-chart-section-251-composed/index.tsx
  front-end-components/src/composed/historic-chart-section-251-composed/styles.scss
  front-end-components/src/composed/historic-chart-section-251-composed/types.tsx
  front-end-components/src/constants.tsx
  front-end-components/src/main.tsx
  front-end-components/src/services/high-needs-api.tsx
  front-end-components/src/services/types.tsx
  front-end-components/src/views/historic-data-high-needs/index.tsx
  front-end-components/src/views/historic-data-high-needs/partials/index.tsx
  front-end-components/src/views/historic-data-high-needs/partials/section-251-section.tsx
  front-end-components/src/views/historic-data-high-needs/partials/send-2-section.tsx
  front-end-components/src/views/historic-data-high-needs/types.tsx
  front-end-components/src/views/historic-data-high-needs/view.tsx
Due: pipelines/front-end-components/build.yaml

chore: bumps core .net deps
  core-infrastructure/Directory.Packages.props
  core-infrastructure/src/db/Core.Database/packages.lock.json
Due: pipelines/core-infrastructure/build.yaml

feat: Added High needs historical component to Web
  platform/Directory.Packages.props
  platform/tests/Platform.ApiTests/packages.lock.json
  web/Directory.Packages.props
  web/src/Web.App/Views/LocalAuthorityHighNeedsHistoricData/Index.cshtml
  web/src/Web.App/package-lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsHistoricData.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsHistoricDataPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsHistoricDataSteps.cs
  web/tests/Web.E2ETests/packages.lock.json
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: adds web proxy endpoint for `EducationHealthCarePlans` api and test coverage
  web/src/Web.App/Controllers/Api/EducationHealthCarePlansProxyController.cs
  web/src/Web.App/Controllers/Api/Mappers/EducationHealthCarePlansHistoryResponseMapper.cs
  web/src/Web.App/Controllers/Api/Responses/EducationHealthCarePlansHistoryResponse.cs
  web/src/Web.App/Domain/NonFinancial/EducationHealthCarePlans.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/NonFinancial/Api.cs
  web/src/Web.App/Infrastructure/Apis/NonFinancial/EducationHealthCarePlansApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansHistory.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenEducationHealthCarePlansHistoryResponseMapperMapsWithCode.cs
Due: pipelines/web/build.yaml

chore: rename conflicting `History` records
  web/src/Web.App/Controllers/Api/EducationHealthCarePlansProxyController.cs
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/Api/Mappers/EducationHealthCarePlansHistoryResponseMapper.cs
  web/src/Web.App/Controllers/Api/Mappers/LocalAuthorityHighNeedsHistoryResponseMapper.cs
  web/src/Web.App/Domain/LocalAuthorities/History.cs
  web/src/Web.App/Domain/NonFinancial/EducationHealthCarePlans.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansHistory.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsHistory.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenEducationHealthCarePlansHistoryResponseMapperMapsWithCode.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenLocalAuthorityHighNeedsHistoryResponseMapperMapsWithCode.cs
Due: pipelines/web/build.yaml

feat: adds web proxy endpoint for `EducationHealthCarePlans` api (#2036)
  web/src/Web.App/Controllers/Api/EducationHealthCarePlansProxyController.cs
  web/src/Web.App/Controllers/Api/Mappers/EducationHealthCarePlansHistoryResponseMapper.cs
  web/src/Web.App/Controllers/Api/Mappers/LocalAuthorityHighNeedsHistoryResponseMapper.cs
  web/src/Web.App/Controllers/Api/Responses/EducationHealthCarePlansHistoryResponse.cs
  web/src/Web.App/Domain/LocalAuthorities/History.cs
  web/src/Web.App/Domain/NonFinancial/EducationHealthCarePlans.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/NonFinancial/Api.cs
  web/src/Web.App/Infrastructure/Apis/NonFinancial/EducationHealthCarePlansApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansHistory.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsHistory.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenEducationHealthCarePlansHistoryResponseMapperMapsWithCode.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenLocalAuthorityHighNeedsHistoryResponseMapperMapsWithCode.cs
Due: pipelines/web/build.yaml

chore: Removal of FluentAssertions from Web solution
  web/Directory.Packages.props
  web/tests/Web.A11yTests/Web.A11yTests.csproj
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/Extensions/LocatorExtensions.cs
  web/tests/Web.E2ETests/Web.E2ETests.csproj
  web/tests/Web.E2ETests/packages.lock.json
Due: pipelines/web/build.yaml

chore: linting web solution
  web/tests/Web.E2ETests/Extensions/LocatorExtensions.cs
Due: pipelines/web/build.yaml

chore: Removal of FluentAssertions from Platform solution
  platform/Directory.Packages.props
  platform/tests/Platform.ApiTests/Assertion/AssertHttpResponse.cs
  platform/tests/Platform.ApiTests/Platform.ApiTests.csproj
  platform/tests/Platform.ApiTests/Steps/BenchmarkComparatorSetSteps.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkCustomDataSteps.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkFinancialPlansSteps.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkHealthcheckSteps.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkUserDataSteps.cs
  platform/tests/Platform.ApiTests/Steps/EducationHealthCarePlansLocalAuthoritySteps.cs
  platform/tests/Platform.ApiTests/Steps/EstablishmentComparatorsSteps.cs
  platform/tests/Platform.ApiTests/Steps/EstablishmentHealthcheckSteps.cs
  platform/tests/Platform.ApiTests/Steps/EstablishmentLocalAuthoritiesSteps.cs
  platform/tests/Platform.ApiTests/Steps/EstablishmentSchoolsSteps.cs
  platform/tests/Platform.ApiTests/Steps/EstablishmentTrustsSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightBalanceSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightBudgetForecastSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightCensusSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightCommonSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightExpenditureSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightFilesSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightHealthcheckSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightIncomeSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightMetricRagRatingSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightSchoolsSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightTrustsSteps.cs
  platform/tests/Platform.ApiTests/Steps/LocalAuthoritiesHighNeedsSteps.cs
  platform/tests/Platform.ApiTests/packages.lock.json
Due: pipelines/platform/build.yaml

feat: Integration tests over `LocalAuthorityHighNeedsNationalRankings` component and view
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/DocumentAssert.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeeds.cs
Due: pipelines/web/build.yaml

feat: Created `LocalAuthorityHighNeedsNationalRankings` component and view
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Services/LocalAuthorityRankingStubService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/History.cs
  platform/tests/Platform.ApiTests/Features/EstablishmentLocalAuthorities.feature
  web/src/Web.App/AssetSrc/scss/_variables.scss
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Domain/Establishment/LocalAuthorityRanking.cs
  web/src/Web.App/ViewComponents/LocalAuthorityHighNeedsNationalRankingsViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthorityHighNeedsNationalRankingsViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeeds/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsNationalRankings/Default.cshtml
  web/tests/Web.Tests/ViewModels/Components/GivenALocalAuthorityHighNeedsNationalRankingsViewModel.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Return 'top' rather than 'bottom' ranked LAs if current LA is not present in dashboard national rankings
  web/src/Web.App/ViewModels/Components/LocalAuthorityHighNeedsNationalRankingsViewModel.cs
  web/tests/Web.Tests/ViewModels/Components/GivenALocalAuthorityHighNeedsNationalRankingsViewModel.cs
Due: pipelines/web/build.yaml

chore: Changed High needs ranking dashboard header column label
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsNationalRankings/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeeds.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
