Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

updated e2e tests
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

exp: adding RFI rules
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

updated test data
  test-data/School.csv
Due: none

fixed typo
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
Due: pipelines/web/build.yaml

exp add SQLI exclusions
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: update ruleset version
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

e2e tests for LA homepage Financial tab (#3145)
  test-data/School.csv
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

feat: persist SEN and EHCP pupil counts (#3143)
  core-infrastructure/src/db/Core.Database/Scripts/126-AlterNonFinancialTable.sql
  data-pipeline/src/pipeline/utils/database.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

feat: update warning content when no results are displayed for la homepage financial tab
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
Due: pipelines/web/build.yaml

feat: add dimensioned views for workforce summary
  core-infrastructure/src/db/Core.Database/Views/031-SchoolsWorkforceSummary.sql
Due: pipelines/core-infrastructure/build.yaml

fix: write empty comparator set file (#3144)
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
  data-pipeline/tests/unit/rag/test_orchestrator.py
Due: pipelines/data-pipeline/build.yaml

fix: make sure both prepared data files get writtrn
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

feat: add new endpoint to LocalAuthorityFinances to return schools workforce summary
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/SchoolsWorkforceSummaryQueries.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetWorkforceSummaryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Models/FinanceSummarySortFields.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Models/WorkforceSummarySortFields.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Parameters/WorkforceSummaryParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Responses/WorkforceSummaryResponse.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/SchoolsFeature.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Services/SchoolsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Validators/WorkforceSummaryParametersValidator.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/GetWorkforceSummaryFunctionTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Parameters/WorkforceSummaryParametersTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Validators/WhenWorkforceSummaryParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

Measures folder
  documentation/data/measures/ks4-progress-indicator.md
Due: pipelines/documentation/build.yaml

update title
  documentation/data/school-performance-measure/ks4-progress-indicator.md
Due: pipelines/documentation/build.yaml

refactor: rename dimension for schools workforce summary
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/SchoolsWorkforceSummaryQueries.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Validators/WorkforceSummaryParametersValidator.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Parameters/WorkforceSummaryParametersTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Validators/WhenWorkforceSummaryParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

chore: create open api example for schools summary workforce dimensions
  platform/src/abstractions/Platform.Functions/OpenApi/Examples/ExampleDimensionSchoolsSummaryWorkforce.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetWorkforceSummaryFunction.cs
Due: pipelines/platform/build.yaml

refactor: move sort direction class into domain
  platform/src/abstractions/Platform.Domain/SortDirection.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Models/FinanceSummarySortFields.cs
Due: pipelines/platform/build.yaml

exp: building up pre-filter rule
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp fix prop names
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: fix tf
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

fix: correct default types for `WorkforceSummaryParameters`
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Parameters/WorkforceSummaryParameters.cs
Due: pipelines/platform/build.yaml

fix: make sure both prepared data files get writtrn (#3150)
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

feat: add new endpoint to LocalAuthorityFinances to return schools workforce summary (#3151)
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/abstractions/Platform.Domain/SortDirection.cs
  platform/src/abstractions/Platform.Functions/OpenApi/Examples/ExampleDimensionSchoolsSummaryWorkforce.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/SchoolsWorkforceSummaryQueries.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetWorkforceSummaryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Models/FinanceSummarySortFields.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Models/WorkforceSummarySortFields.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Parameters/WorkforceSummaryParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Responses/WorkforceSummaryResponse.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/SchoolsFeature.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Services/SchoolsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Validators/WorkforceSummaryParametersValidator.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/GetWorkforceSummaryFunctionTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Parameters/WorkforceSummaryParametersTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Validators/WhenWorkforceSummaryParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

exp: add static routes
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: additional paths
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: group regex paths
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: tweak regex
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

fix: correct `PupilTeacherRatio` label
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsTable.cshtml
Due: pipelines/web/build.yaml

chore: add note for refactor around form fields
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceViewModel.cs
Due: pipelines/web/build.yaml

feat: wire up to return real data from new api endpoint for schools workforce summary for LA
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/Api.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/LocalAuthoritiesApi.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolWorkforceViewComponent.cs
Due: pipelines/web/build.yaml

feat: Add new tab for workforce data table for LA homepage
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthoritySchoolWorkforce.cs
  web/src/Web.App/Domain/LocalAuthorities/WorkforceDimensions.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolWorkforceViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFilterAccordionSectionViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFilterSelectedItemsViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilterSelected.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilter.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterAccordionSection.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterHidden.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterSelected.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterSelectedItems.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsTable.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolWorkforceViewComponent.cs
  web/tests/Web.Tests/ViewModels/Components/GivenALocalAuthoritySchoolFilterAccordionSectionViewModel.cs
Due: pipelines/web/build.yaml

fix: result as PercentPupil rather than PercentPerPupil
  web/src/Web.App/Domain/LocalAuthorities/WorkforceDimensions.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolWorkforceViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsTable.cshtml
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolWorkforceViewComponent.cs
Due: pipelines/web/build.yaml

feat: update warning content when no results are displayed for la homepage workforce tab
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/Default.cshtml
Due: pipelines/web/build.yaml

refactor: `SchoolsSummaryWorkforceDimensions` added to `Domain` for the dimensions required for this workforce summary data
  web/src/Web.App/Domain/SchoolsSummaryWorkforceDimensions.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolWorkforceViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilter.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsTable.cshtml
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolWorkforceViewComponent.cs
Due: pipelines/web/build.yaml

fix: PupilTeacherRatio formatting
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsTable.cshtml
Due: pipelines/web/build.yaml

chore: add additional unit test to assert api is called with correct values
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolWorkforceViewComponent.cs
Due: pipelines/web/build.yaml

feat: Add new tab for workforce data table for LA homepage (#3146)
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthoritySchoolWorkforce.cs
  web/src/Web.App/Domain/SchoolsSummaryWorkforceDimensions.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/Api.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/LocalAuthoritiesApi.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolWorkforceViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFilterAccordionSectionViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFilterSelectedItemsViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilterSelected.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilter.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterAccordionSection.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterHidden.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterSelected.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsFilterSelectedItems.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforce/_SchoolsTable.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolWorkforceViewComponent.cs
  web/tests/Web.Tests/ViewModels/Components/GivenALocalAuthoritySchoolFilterAccordionSectionViewModel.cs
Due: pipelines/web/build.yaml
