Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

fix: correct output location for default jobs
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

feat: additional logging for separate AAR/CFR/BFR processing
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

feat: Updated Orchestrator to support new message format for 'default' pipeline message type
  documentation/features/6_Orchestrator.md
  platform/src/abstractions/Platform.Functions/Messages/PipelineFinishMessage.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelineMessagePayload.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelinePendingMessage.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelineStartCustomMessage.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelineStartDefaultMessage.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelineStartMessage.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataRequest.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastFunctions.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastReturnParameters.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingParameters.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingService.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/tests/Platform.Tests/Insight/MetricRagRatings/WhenMetricRagRatingParametersSetsValues.cs
  platform/tests/Platform.Tests/Orchestrator/Search/WhenPipelineStartCustomMessageCreatesFromPending.cs
  platform/tests/Platform.Tests/Orchestrator/Search/WhenPipelineStartDefaultMessageCreatesFromPending.cs
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: accommodate missing Central Services data
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

docs: update README with new message format
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

fix: Copied and renamed `govuk-icon-180.png` from GDS assets into `wwwroot` to reduce `404`s
  web/Web.sln.DotSettings
  web/src/Web.App/gulpfile.js
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

feat: separate AAR, CFR, BFR processing (#1477)
  data-pipeline/README.md
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/message.py
  data-pipeline/src/pipeline/rag.py
  documentation/features/6_Orchestrator.md
  platform/src/abstractions/Platform.Functions/Messages/PipelineFinishMessage.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelineMessagePayload.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelinePendingMessage.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelineStartCustomMessage.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelineStartDefaultMessage.cs
  platform/src/abstractions/Platform.Functions/Messages/PipelineStartMessage.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataRequest.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastFunctions.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastReturnParameters.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingParameters.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingService.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/tests/Platform.Tests/Insight/MetricRagRatings/WhenMetricRagRatingParametersSetsValues.cs
  platform/tests/Platform.Tests/Orchestrator/Search/WhenPipelineStartCustomMessageCreatesFromPending.cs
  platform/tests/Platform.Tests/Orchestrator/Search/WhenPipelineStartDefaultMessageCreatesFromPending.cs
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Display feedback in FBIS when RAG or Census data missing to prevent empty section render
  web/src/Web.App/ViewModels/SchoolFinancialBenchmarkingInsightsSummaryViewModel.cs
  web/src/Web.App/Views/SchoolFinancialBenchmarkingInsightsSummary/_PriorityAreasAllSchools.cshtml
  web/src/Web.App/Views/SchoolFinancialBenchmarkingInsightsSummary/_PriorityAreasOther.cshtml
  web/src/Web.App/Views/SchoolFinancialBenchmarkingInsightsSummary/_PupilWorkforceMetrics.cshtml
  web/tests/Web.E2ETests/Features/School/SchoolFinancialBenchmarkingInsightsSummary.feature
  web/tests/Web.E2ETests/Pages/School/SchoolFinancialBenchmarkingInsightsSummaryPage.cs
  web/tests/Web.E2ETests/Steps/School/SchoolFinancialBenchmarkingInsightsSummarySteps.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingFinancialBenchmarkingInsightsSummary.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolFinancialBenchmarkingInsightsSummaryViewModel.cs
Due: pipelines/web/build.yaml

fix: Maintain state of 'focused' tick tooltip(s) and prevent rechart tooltip from rendering at the same time
  front-end-components/index.html
  front-end-components/src/components/charts/establishment-tick/component.tsx
  front-end-components/src/components/charts/establishment-tick/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
Due: pipelines/front-end-components/build.yaml

feat: Replaced Teams Alert message post with adaptive card, and alternative flow in Logic App
  support-analytics/README.md
  support-analytics/terraform/README.md
  support-analytics/terraform/adaptive-cards/alert-assigned.json
  support-analytics/terraform/adaptive-cards/alert-fired.json
  support-analytics/terraform/adaptive-cards/alert-resolved.json
  support-analytics/terraform/logic-app.tf
Due: pipelines/support-analytics/release.yaml

fix: Maintain state of 'focused' tick tooltip(s) and prevent rechart tooltip from rendering at the same time (#1619)
  front-end-components/index.html
  front-end-components/src/components/charts/establishment-tick/component.tsx
  front-end-components/src/components/charts/establishment-tick/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
Due: pipelines/front-end-components/build.yaml

chore: bump front-end version
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Replaced Teams Alert message post with adaptive card, and alternative flow in Logic App (#1620)
  support-analytics/README.md
  support-analytics/terraform/README.md
  support-analytics/terraform/adaptive-cards/alert-assigned.json
  support-analytics/terraform/adaptive-cards/alert-fired.json
  support-analytics/terraform/adaptive-cards/alert-resolved.json
  support-analytics/terraform/logic-app.tf
Due: pipelines/support-analytics/release.yaml

fix: Show message and minimal Trust content when missing financials for current year
  web/Web.sln.DotSettings
  web/src/Web.App/Constants.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Extensions/HtmlExtensions.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/Trust/Details.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
Due: pipelines/web/build.yaml

chore: Test coverage for reduced content Trust pages
  web/src/Web.App/Constants.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingDetails.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
  web/tests/Web.Tests/WhenConstants.cs
Due: pipelines/web/build.yaml

chore: clean-up platform build warnings
  platform/tests/Platform.ApiTests/Steps/EstablishmentLocalAuthoritiesSteps.cs
  platform/tests/Platform.ApiTests/Steps/EstablishmentTrustsSteps.cs
  platform/tests/Platform.Tests/Extensions/WhenObjectIsConvertedFromJson.cs
  platform/tests/Platform.Tests/Insight/BudgetForecast/WhenBudgetForecastServiceQueriesAsync.cs
Due: pipelines/platform/build.yaml

chore: bump package versions and resolve warnings
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/Extensions/HttpRequestDataExtensions.cs
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/Configuration/Worker.cs
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/Configuration/Worker.cs
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/Configuration/Worker.cs
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/Configuration/Worker.cs
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/Configuration/Worker.cs
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Processor/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

Show message and minimal Trust content when missing financials for current year (#1621)
  web/Web.sln.DotSettings
  web/src/Web.App/Constants.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Extensions/HtmlExtensions.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/Trust/Details.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingDetails.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
  web/tests/Web.Tests/WhenConstants.cs
Due: pipelines/web/build.yaml

chore: resolve build warnings
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/Views/Shared/_RagRatingCommentary.cshtml
  web/tests/Web.A11yTests/AuthPageBase.cs
  web/tests/Web.E2ETests/Pages/CostCategoriesGuidancePage.cs
  web/tests/Web.E2ETests/Pages/DataSourcesPage.cs
  web/tests/Web.E2ETests/Pages/HomePage.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingResources.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataNonFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningHasMixedAgeClasses.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningHelp.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningManagementRoles.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningMixedAgeClasses.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningOtherTeachingPeriodsConfirm.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningOtherTeachingPeriodsReview.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningPrimaryPupilFigures.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningPupilFigures.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningSelectYear.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningStart.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTeacherPeriodAllocation.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTeachingAssistantFigures.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalEducationSupport.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalExpenditure.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalNumberTeachers.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalTeacherCosts.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingDetails.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingDetails.cs
Due: pipelines/web/build.yaml

chore: bump web app package versions
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

feat(wip): DELETE/INSERT for MetricRAG table
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

fix: Modify Teams Alert logic app to ensure correct message ID is updated for `resolved` monitor state message
  support-analytics/terraform/README.md
  support-analytics/terraform/adaptive-cards/alert-assigned-minimal.json
  support-analytics/terraform/adaptive-cards/alert-fired-minimal.json
  support-analytics/terraform/adaptive-cards/alert-fired.json
  support-analytics/terraform/adaptive-cards/alert-resolved-minimal.json
  support-analytics/terraform/adaptive-cards/alert-resolved.json
  support-analytics/terraform/logic-app.tf
Due: pipelines/support-analytics/release.yaml

chore: `front-end-components` dependency updates
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: `core-infrastructure` dependency updates
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

chore: `platform` dependency updates
  platform/Platform.sln
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/provider.tf
Due: pipelines/platform/build.yaml

chore: `web` dependency updates
  platform/terraform/README.md
  platform/terraform/provider.tf
  web/src/Web.App/package-lock.json
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Remove all 'Ofsted' references from Razor views
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostSchoolComparatorsRequest.cs
  web/src/Web.App/ViewModels/ISchoolKeyInformationViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsPreviewViewModel.cs
  web/src/Web.App/ViewModels/SchoolFinancialBenchmarkingInsightsSummaryViewModel.cs
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/ViewModels/UserDefinedSchoolCharacteristicViewModel.cs
  web/src/Web.App/Views/School/NonLeadFederation.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Characteristic.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Preview.cshtml
  web/src/Web.App/Views/Shared/_SchoolKeyInformation.cshtml
  web/tests/Web.E2ETests/Features/School/SchoolFinancialBenchmarkingInsightsSummary.feature
  web/tests/Web.E2ETests/Pages/School/SchoolFinancialBenchmarkingInsightsSummaryPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingDetails.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingFinancialBenchmarkingInsightsSummary.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
  web/tests/Web.Tests/Infrastructure/Apis/Requests/GivenAPostSchoolComparatorsRequest.cs
Due: pipelines/web/build.yaml

chore: Publish documentation to SharePoint using PowerShell PnP
  pipelines/common/publish-sharepoint-artifacts.yaml
  pipelines/common/scripts/UploadToSharePoint.ps1
  pipelines/documentation/build.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

fix: Ensured `minLength` within auto-complete is honoured post-trim
  front-end-components/src/components/auto-complete/component.tsx
Due: pipelines/front-end-components/build.yaml

fix: typo on CFP TeacherPeriodAllocationPrimary page
  web/src/Web.App/Views/SchoolPlanningCreate/_TeacherPeriodAllocationPrimary.cshtml
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
