Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

tweaked formatting
  support-analytics/terraform/log_processor.tf
Due: pipelines/support-analytics/release.yaml

big stash
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
  data-pipeline/src/pipeline/input_schemas/gias.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/lookup_la.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/generator.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
  docs/content/how-to/data-release-guide/cfr.md
Due: pipelines/data-pipeline/build.yaml

parametrise input schemas
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/input_schemas/gias.py
Due: pipelines/data-pipeline/build.yaml

parametrise input schemas
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
Due: pipelines/data-pipeline/build.yaml

simplify input schemas
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
  data-pipeline/src/pipeline/input_schemas/gias.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/generator.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

refactor cfr transparency file schemas
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/transparency_file_schema.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/input_schemas/__init__.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

alter master list output format
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
Due: pipelines/data-pipeline/build.yaml

bug: Fix teacher number for DNS rows in the transparency file, with test case
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

doc: correct sql query
  docs/content/how-to/data-release-guide/cfr.md
Due: none

doc: correct filename
  docs/content/how-to/data-release-guide/cfr.md
Due: none

feat: surface consent flag to support analytics (#4458)
  web/src/Web.App/Views/Shared/Components/Analytics/Default.cshtml
Due: pipelines/web/build.yaml

Add `LAEstab` to census data for 2025 + 2026
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/cfr/calculations.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

Join CFR raw to census for transparency file on `LAEstab`
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
Due: pipelines/data-pipeline/build.yaml

aggregate census data by LAEstab before join in transparency file
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
  data-pipeline/tests/unit/pre_processing/test_census.py
Due: pipelines/data-pipeline/build.yaml

feat: add Clarity tracking with environment based configuration
  web/src/Web.App/Clarity/ClarityOptions.cs
  web/src/Web.App/Middleware/CustomResponseHeadersMiddleware.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewComponents/AnalyticsViewComponent.cs
  web/src/Web.App/ViewModels/Components/AnalyticsViewModel.cs
  web/src/Web.App/Views/Shared/Components/Analytics/Default.cshtml
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

test: fix currently failing tests following content security policy updates
  web/tests/Web.Tests/Middleware/WhenCustomResponseHeadersMiddlewareIsInvoked.cs
Due: pipelines/web/build.yaml

feat: add script to refresh commercial resources
  scripts/content/002-commercial-resources-2026-09.sql
Due: none

Use pupil number from census rather than SEN
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

test: normalise CSP header whitespace
  web/tests/Web.Tests/Middleware/WhenCustomResponseHeadersMiddlewareIsInvoked.cs
Due: pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: adjust ClarityOptions definition so Terraform only marks projectId as optional, keeping the object consistently present
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

fix: decouple AppInsights and Clarity analytics into independent ViewComponents with a composition partial
  web/src/Web.App/ViewComponents/AppInsightsViewComponent.cs
  web/src/Web.App/ViewComponents/ClarityViewComponent.cs
  web/src/Web.App/ViewModels/Components/AppInsightsViewModel.cs
  web/src/Web.App/ViewModels/Components/ClarityViewModel.cs
  web/src/Web.App/Views/Shared/Components/AppInsights/Default.cshtml
  web/src/Web.App/Views/Shared/Components/Clarity/Default.cshtml
  web/src/Web.App/Views/Shared/_Analytics.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

fix: Allow a floating point tolerance when grading LAA risk scores (#4461)
  data-pipeline/src/pipeline/laa_risk_scores/engine.py
Due: pipelines/data-pipeline/build.yaml

feat: CFR 2026 config (#4483)
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
  data-pipeline/src/pipeline/input_schemas/gias.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/lookup_la.py
  data-pipeline/src/pipeline/pre_processing/cfr/calculations.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/generator.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  docs/content/how-to/data-release-guide/cfr.md
Due: pipelines/data-pipeline/build.yaml

feat: add Clarity tracking with environment based configuration (#4489)
  web/src/Web.App/Clarity/ClarityOptions.cs
  web/src/Web.App/Middleware/CustomResponseHeadersMiddleware.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewComponents/AppInsightsViewComponent.cs
  web/src/Web.App/ViewComponents/ClarityViewComponent.cs
  web/src/Web.App/ViewModels/Components/AppInsightsViewModel.cs
  web/src/Web.App/ViewModels/Components/ClarityViewModel.cs
  web/src/Web.App/Views/Shared/Components/AppInsights/Default.cshtml
  web/src/Web.App/Views/Shared/Components/Clarity/Default.cshtml
  web/src/Web.App/Views/Shared/_Analytics.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
  web/tests/Web.Tests/Middleware/WhenCustomResponseHeadersMiddlewareIsInvoked.cs
Due: pipelines/web/build.yaml

docs: update terraform providers version
  core-infrastructure/terraform/README.md
Due: pipelines/core-infrastructure/build.yaml

fix: moves tracking_consent_status to envelope.data in the telemetry initializer
  web/src/Web.App/Views/Shared/Components/AppInsights/Default.cshtml
Due: pipelines/web/build.yaml

fix: whitelist scripts.clarity.ms in script-src to resolve blocked Clarity script loading
  web/src/Web.App/Middleware/CustomResponseHeadersMiddleware.cs
  web/tests/Web.Tests/Middleware/WhenCustomResponseHeadersMiddlewareIsInvoked.cs
Due: pipelines/web/build.yaml
