Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

refactored code to remove duplicate code
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
Due: pipelines/web/build.yaml

Doc/dsi test organisations overview (#1773)
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

formatted code
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
Due: pipelines/web/build.yaml

feat: Removed `identifier` dependency when submitting and polling on status of user-defined trust comparators
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserData.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/tests/Platform.ApiTests/Features/BenchmarkComparatorSet.feature
  platform/tests/Platform.ApiTests/Steps/BenchmarkComparatorSetSteps.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostComparatorSetUserDefinedRequest.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/Api.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/ComparatorSetApi.cs
  web/src/Web.App/Services/TrustComparatorSetService.cs
  web/src/Web.App/Services/UserDataService.cs
  web/src/Web.App/ViewModels/TrustComparatorsSubmittedViewModel.cs
  web/src/Web.App/Views/TrustComparatorsCreateBy/Submit.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Submitted.cshtml
  web/tests/Web.E2ETests/Features/Trust/CreateComparators.feature
  web/tests/Web.E2ETests/Features/Trust/TrustBenchmarking.feature
  web/tests/Web.E2ETests/Pages/Trust/Comparators/CreateComparatorsByCharacteristicPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Comparators/CreateComparatorsByNamePage.cs
  web/tests/Web.E2ETests/Pages/Trust/Comparators/CreateComparatorsByPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Comparators/ICreateComparatorsByPage.cs
  web/tests/Web.E2ETests/Steps/Trust/CreateComparatorsSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/TrustBenchmarkingSteps.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreateSubmit.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: split pre-processing into a modular structure
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/src/pipeline/pre_processing/__init__.py
  data-pipeline/src/pipeline/pre_processing/academies/__init__.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/src/pipeline/pre_processing/academies/central_services.py
  data-pipeline/src/pipeline/pre_processing/academies/trusts.py
  data-pipeline/src/pipeline/pre_processing/ancillary/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/bfr.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cfo.py
  data-pipeline/src/pipeline/pre_processing/ancillary/custom_data.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
  data-pipeline/src/pipeline/pre_processing/ancillary/schools.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/pre_processing/maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

chore: update content of warning message for suppression of negative and zero expenditure values
  front-end-components/src/views/compare-your-costs/view.tsx
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

fix: Resolved failing a11y tests
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsSubmit.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsSubmit.cs
Due: pipelines/web/build.yaml

fix: Resolved failing a11y tests (#1777)
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsSubmit.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsSubmit.cs
Due: pipelines/web/build.yaml

chore: bump `front-end` to `1.1.28`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

removed extra line
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
Due: pipelines/web/build.yaml

hotfix: remove tests for removed endpoint
  platform/tests/Platform.ApiTests/Features/InsightBalance.feature
  platform/tests/Platform.ApiTests/Steps/InsightBalanceSteps.cs
Due: pipelines/platform/build.yaml

chore: linting
  platform/tests/Platform.ApiTests/Steps/InsightBalanceSteps.cs
Due: pipelines/platform/build.yaml

formatted code.
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
Due: pipelines/web/build.yaml

hotfix: handle empty string in census mapper
  platform/src/apis/Platform.Api.Insight/Features/Census/CensusMapper.cs
Due: pipelines/platform/build.yaml

hotfix: fixes unit test constructor
  platform/tests/Platform.Establishment.Tests/Schools/GetSchoolFunctionTests.cs
  platform/tests/Platform.Establishment.Tests/Schools/GetSchoolsSuggestFunctionTests.cs
  platform/tests/Platform.Establishment.Tests/Trusts/GetTrustsSuggestFunctionTests.cs
Due: pipelines/platform/build.yaml

feat: Removed `identifier` dependency when submitting and polling on status of custom school data
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataService.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataUserData.cs
  platform/tests/Platform.ApiTests/Features/BenchmarkCustomData.feature
  platform/tests/Platform.ApiTests/Steps/BenchmarkComparatorSetSteps.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkCustomDataSteps.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkUserDataSteps.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateCustomDataRequest.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Domain/Pipeline.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostCustomDataRequest.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/Api.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/CustomDataApi.cs
  web/src/Web.App/Services/CustomDataService.cs
  web/src/Web.App/Services/UserDataService.cs
  web/src/Web.App/ViewModels/SchoolCustomDataSubmittedViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Submitted.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/Submitted.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Submitted.cshtml
  web/tests/Web.E2ETests/Features/School/SchoolHome.feature
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: E2E tests for Custom Data journey
  web/tests/Web.E2ETests/Features/School/CreateCustomData.feature
  web/tests/Web.E2ETests/Pages/School/CustomData/ChangeFinancialDataPage.cs
  web/tests/Web.E2ETests/Pages/School/CustomData/ChangeNonFinancialDataPage.cs
  web/tests/Web.E2ETests/Pages/School/CustomData/ChangeWorkforceDataPage.cs
  web/tests/Web.E2ETests/Pages/School/CustomData/CreateCustomDataPage.cs
  web/tests/Web.E2ETests/Pages/School/CustomData/CreateCustomDataSubmittedPage.cs
  web/tests/Web.E2ETests/Pages/School/HomePage.cs
  web/tests/Web.E2ETests/Steps/School/CreateCustomDataSteps.cs
Due: pipelines/web/build.yaml

chore: Updated custom data related API test
  platform/tests/Platform.ApiTests/Steps/BenchmarkUserDataSteps.cs
Due: pipelines/platform/build.yaml

E2E tests for supressing negative and zero (#1754)
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
  web/tests/Web.E2ETests/Steps/School/SpendingCostsSteps.cs
Due: pipelines/web/build.yaml

chore: Updated custom data related E2E test
  web/tests/Web.E2ETests/Features/School/CreateCustomData.feature
Due: pipelines/web/build.yaml

chore: add lint job to build pipeline for data-pipeline
  data-pipeline/Makefile
  pipelines/data-pipeline/build.yaml
  pipelines/data-pipeline/steps/run-lint.yaml
Due: pipelines/data-pipeline/build.yaml

chore: fix all lint errors in data-pipeline
  data-pipeline/src/pipeline/bfr.py
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/part_year/academies.py
  data-pipeline/src/pipeline/pre_processing/__init__.py
  data-pipeline/src/pipeline/pre_processing/academies/__init__.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/comparator_sets/test_part_year.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

feat: New table and view for system files
  core-infrastructure/src/db/Core.Database/Scripts/106-CreateFileTable.sql
  core-infrastructure/src/db/Core.Database/Views/015-Files.sql
Due: pipelines/core-infrastructure/build.yaml

feat: API for getting CFR and AAR files from the database
  platform/src/apis/Platform.Api.Insight/Configuration/Services.cs
  platform/src/apis/Platform.Api.Insight/Constants.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/GetAarTransparencyFilesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/GetCfrTransparencyFilesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Mapper.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Models/FileModel.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Responses/FileResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Services/FilesService.cs
  platform/tests/Platform.ApiTests/Features/InsightFiles.feature
  platform/tests/Platform.ApiTests/Steps/InsightFilesSteps.cs
  platform/tests/Platform.Insight.Tests/Files/GetAarTransparencyFilesFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Files/GetCfrTransparencyFilesFunctionTests.cs
Due: pipelines/platform/build.yaml
