Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

updated document
  documentation/quality-assurance/7_Production-Smoke-Testing.md
Due: pipelines/documentation/build.yaml

feat: aggregate lead-school data for Federations
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

build(wip): update branch validation
  pipelines/common/validate-branch.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

build: update branch validation
  pipelines/common/validate-branch.yaml
  pipelines/common/vars.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: aggregate lead-school data for Federations (#1505)
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
  pipelines/common/validate-branch.yaml
  pipelines/common/vars.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

fix: correct Federation-aggregation logic
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

updated production smoke test to how to guide
  documentation/quality-assurance/7_Create-Test-Plan-For-Release-in-DevOps.md
  documentation/quality-assurance/7_Production-Smoke-Testing.md
Due: pipelines/documentation/build.yaml

Doc/create azure devops test plan for release (#1506)
  documentation/quality-assurance/7_Create-Test-Plan-For-Release-in-DevOps.md
Due: pipelines/documentation/build.yaml

fix: correct Federation-aggregation logic (#1508)
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

updated test data
  test-data/ComparatorSet.csv
  test-data/Financial.csv
  test-data/LocalAuthority.csv
  test-data/MetricRAG.csv
  test-data/NonFinancial.csv
  test-data/Parameters.csv
  test-data/School.csv
  test-data/Trust.csv
  test-data/TrustFinancial.csv
Due: none

updated seeding document
  documentation/quality-assurance/6_Data-Seeding-in-Test-Environment.md
Due: pipelines/documentation/build.yaml

updated readme of test-data
  test-data/README.md
Due: none

delete document which has been moved
  documentation/quality-assurance/6_Data-Seeding-in-Test-Environment.md
Due: pipelines/documentation/build.yaml

updated file name
  documentation/quality-assurance/6_Create-Test-Plan-For-Release-in-DevOps.md
Due: pipelines/documentation/build.yaml

feat: Updated commercial resources and E2E tests
  web/src/Web.App/Views/Shared/CommercialResource/_AdministrativeSupplies.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_CateringStaffServices.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_EducationalIct.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_EducationalSupplies.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_NonEducationalSupportStaff.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_OtherCosts.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_PremisesStaffServices.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_TeachingStaff.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_Utilities.cshtml
  web/tests/Web.E2ETests/Features/School/CommercialResources.feature
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/CommercialResourcesPage.cs
  web/tests/Web.E2ETests/Steps/School/CommercialResourcesSteps.cs
Due: pipelines/web/build.yaml

feat: Updated commercial resources and E2E tests (#1496)
  web/src/Web.App/Views/Shared/CommercialResource/_AdministrativeSupplies.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_CateringStaffServices.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_EducationalIct.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_EducationalSupplies.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_NonEducationalSupportStaff.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_OtherCosts.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_PremisesStaffServices.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_TeachingStaff.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/_Utilities.cshtml
  web/tests/Web.E2ETests/Features/School/CommercialResources.feature
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/CommercialResourcesPage.cs
  web/tests/Web.E2ETests/Steps/School/CommercialResourcesSteps.cs
Due: pipelines/web/build.yaml

Tech debt/add test data in repo (#1509)
  documentation/quality-assurance/6_Create-Test-Plan-For-Release-in-DevOps.md
  documentation/quality-assurance/6_Data-Seeding-in-Test-Environment.md
  test-data/ComparatorSet.csv
  test-data/Financial.csv
  test-data/LocalAuthority.csv
  test-data/MetricRAG.csv
  test-data/NonFinancial.csv
  test-data/Parameters.csv
  test-data/README.md
  test-data/School.csv
  test-data/Trust.csv
  test-data/TrustFinancial.csv
Due: pipelines/documentation/build.yaml

chore: updates data pipeline documentation
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

feat: removes federation contextual data warning banner
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/School/_BannerFederation.cshtml
Due: pipelines/web/build.yaml

chore: updates tests
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
Due: pipelines/web/build.yaml

hotfix: adds dependabot to branch validation
  pipelines/common/validate-branch.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: bumps platform package versions
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Processor/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

test commit.
  web/tests/Web.E2ETests/Pages/School/CommercialResourcesPage.cs
Due: pipelines/web/build.yaml

chore: bumps web app package versions
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: version bump for public beta
  pipelines/common/vars.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: include common path on front-end pipeline
  pipelines/front-end-components/build.yaml
Due: pipelines/front-end-components/build.yaml

feat: add new default/custom queues
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

chore: remove commented-out code
  data-pipeline/terraform/container_apps.tf
Due: pipelines/data-pipeline/build.yaml

chore: bump front-end version
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: update orchestrator queue name
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: migrate Container App. to module
  data-pipeline/terraform/container_app/data.tf
  data-pipeline/terraform/container_app/main.tf
  data-pipeline/terraform/container_app/variables.tf
  data-pipeline/terraform/container_apps.tf
  data-pipeline/terraform/data.tf
Due: pipelines/data-pipeline/build.yaml

feat: limit default jobs to a single replica
  data-pipeline/terraform/container_app/main.tf
  data-pipeline/terraform/container_app/variables.tf
  data-pipeline/terraform/container_apps.tf
Due: pipelines/data-pipeline/build.yaml

fix: retrieve queue-connection string as data source
  data-pipeline/terraform/container_app/data.tf
  data-pipeline/terraform/container_app/main.tf
  data-pipeline/terraform/container_app/variables.tf
  data-pipeline/terraform/container_apps.tf
  data-pipeline/terraform/data.tf
Due: pipelines/data-pipeline/build.yaml

fix: remove "Direct revenue financing"
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
Due: pipelines/data-pipeline/build.yaml

fix: remove "Direct revenue financing" from Central Services
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

fix: remove "Direct revenue financing" (#1541)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
Due: pipelines/data-pipeline/build.yaml

fix: correct ICFP journey wording
  web/src/Web.App/Views/SchoolPlanning/View.cshtml
Due: pipelines/web/build.yaml
