Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Empty modal component rendered with `<Teleport>` and overlay styles
  web/src/Web.App/AssetSrc/ts/components/chart-actions/ChartActions.vue
  web/src/Web.App/AssetSrc/ts/components/modal-dialog/ModalDialog.vue
  web/src/Web.App/AssetSrc/ts/components/modal-dialog/index.d.ts
  web/src/Web.App/AssetSrc/ts/components/page-actions/PageActions.vue
  web/src/Web.App/AssetSrc/ts/components/page-actions/index.d.ts
  web/src/Web.App/AssetSrc/ts/index.html
  web/src/Web.App/AssetSrc/ts/main.ts
  web/src/Web.App/ViewModels/Enhancements/ChartActionsViewModel.cs
  web/src/Web.App/ViewModels/Enhancements/PageActionsViewModel.cs
  web/src/Web.App/ViewModels/Enhancements/SuggesterViewModel.cs
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Shared/Components/PageActions/Default.cshtml
  web/src/Web.App/Views/Shared/Enhancements/_PageActions.cshtml
Due: pipelines/web/build.yaml

chore: Moved enhancement CSS to its own file
  front-end-components/src/components/modals/modal/component.tsx
  web/src/Web.App/AssetSrc/scss/enhancements.scss
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

feat: add in memory cache for `Insight.CommercialResourcesApi.GetCommercialResources()`
  web/src/Web.App/Cache/CacheOptions.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/CommercialResourcesService.cs
  web/terraform/app-service.tf
  web/terraform/variables.tf
  web/tests/Web.Tests/Services/WhenCommercialResourcesServiceIsCalled.cs
Due: pipelines/web/build.yaml

docs: add documentation for the commercial resources feature
  documentation/features/8_Commercial-Resources.md
Due: pipelines/documentation/build.yaml

feat: add ILR data source
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/ilr.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/gias.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
  data-pipeline/tests/unit/pre_processing/test_gias_links.py
Due: pipelines/data-pipeline/build.yaml

fix: update pupil-comparator check logic
  data-pipeline/src/pipeline/part_year/common.py
  data-pipeline/tests/unit/part_year/test_pupil_comparator.py
Due: pipelines/data-pipeline/build.yaml

feat: Added element select check boxes to Page Actions modal
  web/src/Web.App/AssetSrc/ts/components/chart-actions/ChartActions.vue
  web/src/Web.App/AssetSrc/ts/components/chart-actions/index.d.ts
  web/src/Web.App/AssetSrc/ts/components/modal-dialog/ModalDialog.vue
  web/src/Web.App/AssetSrc/ts/components/modal-dialog/index.d.ts
  web/src/Web.App/AssetSrc/ts/components/page-actions/ElementSelector.vue
  web/src/Web.App/AssetSrc/ts/components/page-actions/PageActions.vue
  web/src/Web.App/AssetSrc/ts/components/page-actions/index.d.ts
  web/src/Web.App/AssetSrc/ts/index.html
  web/src/Web.App/AssetSrc/ts/services/DownloadService.ts
  web/src/Web.App/AssetSrc/ts/services/types.d.ts
Due: pipelines/web/build.yaml

test: add tests for ILR changes
  data-pipeline/tests/unit/pre_processing/test_ilr.py
Due: pipelines/data-pipeline/build.yaml

feat: Modal validation error
  web/src/Web.App/AssetSrc/ts/components/page-actions/ElementSelector.vue
  web/src/Web.App/AssetSrc/ts/components/page-actions/PageActions.vue
  web/src/Web.App/AssetSrc/ts/components/page-actions/index.d.ts
Due: pipelines/web/build.yaml

feat: Modal progress indicator
  front-end-components/src/components/element-selector/component.tsx
  front-end-components/src/components/element-selector/styles.scss
  front-end-components/src/components/progress/component.tsx
  front-end-components/src/components/progress/styles.scss
  web/src/Web.App/AssetSrc/scss/_variables.scss
  web/src/Web.App/AssetSrc/scss/enhancements.scss
  web/src/Web.App/AssetSrc/ts/components/page-actions/PageActions.vue
  web/src/Web.App/AssetSrc/ts/components/progress-indicator/ProgressIndicator.vue
  web/src/Web.App/AssetSrc/ts/components/progress-indicator/index.d.ts
  web/src/Web.App/AssetSrc/ts/index.html
  web/src/Web.App/AssetSrc/ts/main.ts
  web/src/Web.App/AssetSrc/ts/services/DownloadService.ts
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

docs: add data-source info. for ILR
  documentation/data/1_Sources.md
Due: pipelines/documentation/build.yaml

feat: Do not log Error to App Insights in the case of underlying task canceled upon client request
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/Api/SuggestProxyController.cs
  web/src/Web.App/Infrastructure/Extensions/ApiResultExtensions.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingExpenditure.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingSuggest.cs
  web/tests/Web.Tests/Infrastructure/GivenAHttpResponseMessage.cs
Due: pipelines/web/build.yaml

doc: Task cancellation logic
  documentation/developers/11_Task_Cancellation.md
Due: pipelines/documentation/build.yaml

doc: Progressive enhancements feature documentation
  documentation/features/8_Progressive_Enhancements.md
  web/README.md
Due: pipelines/documentation/build.yaml, pipelines/web/build.yaml

feat: Return `Ssr` suffixed views if feature enabled, rather than determine in view components or partials
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/ViewComponents/ChartActionsSsrViewComponent.cs
  web/src/Web.App/ViewComponents/PageActionsSsrViewComponent.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsSsrViewComponent.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/src/Web.App/ViewModels/Components/ChartActionsViewModel.cs
  web/src/Web.App/ViewModels/Components/PageActionsViewModel.cs
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/CustomDataSsr.cshtml
  web/src/Web.App/Views/SchoolSpending/IndexSsr.cshtml
  web/src/Web.App/Views/Shared/Components/ChartActionsSsr/Default.cshtml
  web/src/Web.App/Views/Shared/Components/PageActions/Default.cshtml
  web/src/Web.App/Views/Shared/Components/PageActionsSsr/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCostsSsr/Default.cshtml
Due: pipelines/web/build.yaml

feat: Updated integration tests
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCostsSsr/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpending.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSpending.cs
Due: pipelines/web/build.yaml

fix: Added missing `supportAlertEmail` to `sync-terraform` during Destroy pipeline
  pipelines/common/destroy-terraform.yaml
  pipelines/common/sync-terraform.yaml
  pipelines/core-infrastructure/destroy.yaml
  pipelines/destroy/destroy.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

refactor: updates to `CommercialResources` endpoint to support new db structure and simplify.
  platform/src/abstractions/Platform.Sql/QueryBuilders/CommericalResourcesQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/CommercialResourcesFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/GetCommercialResourcesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Models/CommercialResources.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Parameters/CommercialResourcesParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Responses/CommercialResourcesResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Services/CommercialResourcesService.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Services/CommercialResourcesTypeHandler.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Validators/CommericalResourcesParametersValidators.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/GetCommercialResourcesFunctionTest.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/Parameters/CommercialResourcesParametersTests.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/Services/WhenCommercialResourcesServiceQueriesAsync.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/TypeHandlers/WhenCommercialResourcesListTypeHandlerParses.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/Validators/WhenCommercialResourcesParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

feat: migration script rebuild `CommercialResources` table to allow unique `Title`. `Category` and `SubCategory` to support a json array
  core-infrastructure/src/db/Core.Database/Scripts/115-RebuildCommercialResourcesTable.sql
  core-infrastructure/src/db/Core.Database/Views/024-CommercialResources.sql
Due: pipelines/core-infrastructure/build.yaml

feat: migration script rebuild `CommercialResources` table to allow unique `Title`. `Category` and `SubCategory` to support a json array (#2401)
  core-infrastructure/src/db/Core.Database/Scripts/115-RebuildCommercialResourcesTable.sql
  core-infrastructure/src/db/Core.Database/Views/024-CommercialResources.sql
Due: pipelines/core-infrastructure/build.yaml

feat: adds API tests and resolves issues with swagger schema
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/GetCommercialResourcesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Models/CommercialResource.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Models/CommercialResources.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Services/CategoryCollectionTypeHandler.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Services/CommercialResourcesService.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Services/CommercialResourcesTypeHandler.cs
  platform/tests/Platform.ApiTests/Data/CommercialResources.json
  platform/tests/Platform.ApiTests/Features/InsightCommercialResource.feature
  platform/tests/Platform.ApiTests/Platform.ApiTests.csproj
  platform/tests/Platform.ApiTests/Steps/InsightCommercialResourceSteps.cs
  platform/tests/Platform.ApiTests/appsettings.json
  platform/tests/Platform.Insight.Tests/CommercialResources/GetCommercialResourcesFunctionTest.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/Services/WhenCommercialResourcesServiceQueriesAsync.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/TypeHandlers/WhenCategoryCollectionTypeHandlerParses.cs
Due: pipelines/platform/build.yaml

Updates to `commercial-resources` endpoint (#2386)
  platform/src/abstractions/Platform.Sql/QueryBuilders/CommericalResourcesQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/CommercialResourcesFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/GetCommercialResourcesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Models/CommercialResource.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Parameters/CommercialResourcesParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Responses/CommercialResourcesResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Services/CategoryCollectionTypeHandler.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Services/CommercialResourcesService.cs
  platform/src/apis/Platform.Api.Insight/Features/CommercialResources/Validators/CommericalResourcesParametersValidators.cs
  platform/tests/Platform.ApiTests/Data/CommercialResources.json
  platform/tests/Platform.ApiTests/Features/InsightCommercialResource.feature
  platform/tests/Platform.ApiTests/Platform.ApiTests.csproj
  platform/tests/Platform.ApiTests/Steps/InsightCommercialResourceSteps.cs
  platform/tests/Platform.ApiTests/appsettings.json
  platform/tests/Platform.Insight.Tests/CommercialResources/GetCommercialResourcesFunctionTest.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/Parameters/CommercialResourcesParametersTests.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/Services/WhenCommercialResourcesServiceQueriesAsync.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/TypeHandlers/WhenCategoryCollectionTypeHandlerParses.cs
  platform/tests/Platform.Insight.Tests/CommercialResources/Validators/WhenCommercialResourcesParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

linting
  web/src/Web.App/Controllers/SchoolSpendingController.cs
Due: pipelines/web/build.yaml
