Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: adds additional prop for s251 year to support High Needs
  core-infrastructure/src/db/Core.Database/Scripts/108-InsertS25Param.sql
  core-infrastructure/src/db/Core.Database/Views/003-Years.sql
  platform/src/apis/Platform.Api.Insight/Features/Years/GetCurrentReturnYearsFunction.cs
  platform/tests/Platform.ApiTests/Steps/InsightCommonSteps.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

refactor: combine LA Section 251 data
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/local_authority.py
  data-pipeline/src/pipeline/pre_processing/ancillary/local_authority.py
Due: pipelines/data-pipeline/build.yaml

feat: adds additional prop for s251 year to support High Needs (#2080)
  core-infrastructure/src/db/Core.Database/Scripts/108-InsertS25Param.sql
  core-infrastructure/src/db/Core.Database/Views/003-Years.sql
  platform/src/apis/Platform.Api.Insight/Features/Years/GetCurrentReturnYearsFunction.cs
  platform/tests/Platform.ApiTests/Steps/InsightCommonSteps.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

feat: Log query alert rule for excessive `429` status codes from Polly
  support-analytics/terraform/README.md
  support-analytics/terraform/alerts.tf
Due: pipelines/support-analytics/release.yaml

feat: Extended structured logging for Polly and created query to return warnings from `AppTraces`
  support-analytics/terraform/README.md
  support-analytics/terraform/queries.tf
  support-analytics/terraform/queries/functions/get-web-warnings.kql
  support-analytics/terraform/queries/polly-warnings.kql
  web/src/Web.App/Extensions/HttpClientBuilderExtensions.cs
  web/src/Web.App/Properties/launchSettings.json
  web/src/Web.App/appsettings.Development.json
Due: pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: Log query alert rule for excessive Polly warnings
  support-analytics/terraform/README.md
  support-analytics/terraform/alerts.tf
  support-analytics/terraform/queries/functions/get-web-warnings.kql
Due: pipelines/support-analytics/release.yaml

chore: Bumped Terraform dependencies
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  data-pipeline/terraform/README.md
  data-pipeline/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  prototype/terraform/README.md
  prototype/terraform/provider.tf
  support-analytics/terraform/README.md
  support-analytics/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: update Section 251 TotalHighNeeds calculation
  data-pipeline/src/pipeline/input_schemas/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_section_251.py
Due: pipelines/data-pipeline/build.yaml

fix: Added missing `DROP VIEW IF EXISTS`
  core-infrastructure/src/db/Core.Database/Views/003-Years.sql
Due: pipelines/core-infrastructure/build.yaml

feat: ONS LA population data
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/local_authority.py
  data-pipeline/src/pipeline/pre_processing/ancillary/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_ons.py
  documentation/data/1_Sources.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

feat: Local Authority Section 251 data (#2068)
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/local_authority.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/__init__.py
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_budget.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_outturn.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_section_251.py
  documentation/data/1_Sources.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

chore: Updated LA financial tools copy for High needs tool
  web/src/Web.App/Views/Shared/Components/LocalAuthorityFinanceTools/Default.cshtml
Due: pipelines/web/build.yaml

chore: Updated High needs tool copy
  web/src/Web.App/AssetSrc/scss/_link-list.scss
  web/src/Web.App/Views/LocalAuthorityHighNeeds/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsHelp/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsHistory/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsNationalRankings/Default.cshtml
Due: pipelines/web/build.yaml

feat: Updated data source component for High needs
  web/src/Web.App/Domain/FinanceYears.cs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/Views/LocalAuthorityHighNeeds/Index.cshtml
Due: pipelines/web/build.yaml

feat: Updated tests
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeeds.cs
  web/tests/Web.Tests/Services/WhenFinanceServiceIsCalled.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolFinancialBenchmarkingInsightsSummaryViewModel.cs
Due: pipelines/web/build.yaml

chore: Modified `LocalAuthorityHighNeeds` API model
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/GetHighNeedsHistoryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/HighNeeds.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/HighNeedsAmount.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/HighNeedsYear.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/History.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/PlaceFunding.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/TopFunding.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsHistoryService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsHistoryStubService.cs
  platform/tests/Platform.ApiTests/Steps/LocalAuthoritiesHighNeedsSteps.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/GetHighNeedsHistoryFunctionTests.cs
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/Api/Mappers/LocalAuthorityHighNeedsHistoryResponseMapper.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeeds.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsYear.cs
  web/src/Web.App/ViewComponents/LocalAuthorityHighNeedsHistoryViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthorityHighNeedsHistoryViewModel.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeeds.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsHistory.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenLocalAuthorityHighNeedsHistoryResponseMapperMaps.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenLocalAuthorityHighNeedsHistoryResponseMapperMapsToApiWithCode.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Modified `LocalAuthorityNumberOfPlans` API model
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Models/History.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Models/LocalAuthorityNumberOfPlans.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Models/LocalAuthorityNumberOfPlansYear.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansStubService.cs
  platform/tests/Platform.ApiTests/Features/NonFinancialEducationHealthCarePlansLocalAuthoritiesHistory.feature
  platform/tests/Platform.ApiTests/Steps/NonFinancialEducationHealthCarePlansLocalAuthoritiesHistory.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesHistoryFunctionTests.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/Parameters/EducationHealthCarePlansParametersTests.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/Validators/WhenGivenEducationHealthCarePlansParameters.cs
  web/src/Web.App/Controllers/Api/Responses/EducationHealthCarePlansHistoryResponse.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsHistory.cs
  web/src/Web.App/Domain/NonFinancial/EducationHealthCarePlansHistory.cs
  web/src/Web.App/Domain/NonFinancial/LocalAuthorityNumberOfPlans.cs
  web/src/Web.App/Domain/NonFinancial/LocalAuthorityNumberOfPlansYear.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansHistory.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenEducationHealthCarePlansHistoryResponseMapperMapsWithCode.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: High needs creative and layout updates
  web/src/Web.App/AssetSrc/images/high-needs.png
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsHelp/Default.cshtml
Due: pipelines/web/build.yaml

fix: correct chart title send 2 lead section
  front-end-components/src/views/historic-data-high-needs/partials/index.tsx
Due: pipelines/front-end-components/build.yaml

chore: update chart name in tests
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsHistoricData.feature
Due: pipelines/web/build.yaml

chore: bump `front-end` to `1.1.67`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Added new `/education-health-care-plans/local-authorities` function to `NonFinancial.EducationHealthCarePlans` feature
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Routes.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansService.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansStubService.cs
  platform/tests/Platform.ApiTests/Features/NonFinancialEducationHealthCarePlansLocalAuthoritiesHistory.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthoritiesHighNeedsSteps.cs
  platform/tests/Platform.ApiTests/Steps/NonFinancialEducationHealthCarePlansLocalAuthoritiesHistory.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunctionTests.cs
Due: pipelines/platform/build.yaml

feat: Added new `/high-needs` function to `LocalAuthorityFinances.HighNeeds` feature
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/GetHighNeedsFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/HighNeedsFeature.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/LocalAuthority.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Parameters/HighNeedsParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsStubService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Validators/HighNeedsParametersValidator.cs
  platform/tests/Platform.ApiTests/Features/LocalAuthoritiesHighNeeds.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthoritiesHighNeedsSteps.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/GetHighNeedsFunctionTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/Parameters/HighNeedsParametersTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/Validators/WhenHighNeedsParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

chore: bump `front-end` to `1.1.67` (#2090)
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml
