Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform

test: move data to fixture
  data-pipeline/tests/e2e/synthetic_data_test.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_cdc.py
Due: pipelines/data-pipeline/build.yaml

chore: merge update
  data-pipeline/workbooks/comparator-sets.ipynb
  data-pipeline/workbooks/metric-rag.ipynb
Due: pipelines/data-pipeline/build.yaml

chore: updating docs [skip ci]
  documentation/architecture/FBIT-Diagrams.drawio
Due: none

chore: clearing notebooks
  data-pipeline/workbooks/comparator-sets.ipynb
  data-pipeline/workbooks/metric-rag.ipynb
  data-pipeline/workbooks/pre-processing.ipynb
  data-pipeline/workbooks/schema_tables.ipynb
Due: pipelines/data-pipeline/build.yaml

chore: adding clear notebook tasks to make file
  data-pipeline/Makefile
Due: pipelines/data-pipeline/build.yaml

fix: fixing my broken module imports after botched rebase and
  data-pipeline/Makefile
  data-pipeline/README.md
  data-pipeline/docker/pipeline-worker/Dockerfile
  data-pipeline/pyproject.toml
  data-pipeline/scripts/trigger_pipeline_run.py
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/e2e/synthetic_data_test.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_cdc.py
  data-pipeline/tests/unit/rag/test_rag.py
  data-pipeline/workbooks/comparator-sets.ipynb
Due: pipelines/data-pipeline/build.yaml

fix: ResolvedStat formatting in historical chart composed
  front-end-components/src/composed/historic-chart-composed/component.tsx
Due: pipelines/front-end-components/build.yaml

chore: Bump front-end version to `0.1.24`
  web/src/Web.App/package-lock.json
Due: none

adds controller, view model and view for local authority resources page (#686)
  web/src/Web.App/Controllers/LocalAuthorityResourcesController.cs
  web/src/Web.App/ViewModels/LocalAuthorityResourcesViewModel.cs
  web/src/Web.App/Views/LocalAuthorityResources/index.cshtml
Due: none

bugfix: explicitly set column header for qualified status and pupils on roll
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/types.tsx
  front-end-components/src/views/historic-data/partials/census-section.tsx
Due: pipelines/front-end-components/build.yaml

chore: Removing branch tirgger ahead of merge
  pipelines/data-pipeline/build.yaml
Due: none

bugfix: explicitly set column header for qualified status and pupils on roll (#692)
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/types.tsx
  front-end-components/src/views/historic-data/partials/census-section.tsx
Due: pipelines/front-end-components/build.yaml

hard / soft federation split
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/schemas.py
Due: none

feat: Adding initial docker infrastructure, tests and simple API
  pipeline/.dockerignore
  pipeline/.gitignore
  pipeline/Makefile
  pipeline/README.md
  pipeline/docker/Dockerfile
  pipeline/docker/docker-entrypoint.sh
  pipeline/docker/gunicorn_conf.py
  pipeline/poetry.lock
  pipeline/pyproject.toml
  pipeline/src/main.py
  pipeline/tests/__init__.py
  pipeline/tests/conftest.py
  pipeline/tests/main_test.py
Due: none

updated ks2 and 4 mappings to merge into academies and maintained schools dataframes
  bau/pipeline/vmfi/pre-processing.ipynb
Due: none

KS2 and KS4 mappings
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/schemas.py
Due: none

editing mappings for academies
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/schemas.py
Due: none

updated schema for federation groups tables
  bau/pipeline/vmfi/schemas.py
Due: none

Remove all outputs
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/scratch.ipynb
Due: none

chore: Adding SEN and removing outputs to improve merges
  bau/pipeline/vmfi/comparator-sets.ipynb
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/scratch.ipynb
  bau/pipeline/vmfi/test.ipynb
Due: none

Add Columns to workforce_census Schema
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/schemas.py
  bau/pipeline/vmfi/scratch.ipynb
Due: none

fix: Update to missing SEN data on maintained schools and correction to all-through mappings
  bau/pipeline/vmfi/calculations.py
  bau/pipeline/vmfi/comparator-sets.ipynb
  bau/pipeline/vmfi/mappings.py
  bau/pipeline/vmfi/metric-rag.ipynb
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/scratch.ipynb
Due: none

Beginning federation attribute mapping
  bau/pipeline/vmfi/pre-processing.ipynb
Due: none

chore: Removing outputs
  bau/pipeline/vmfi/comparator-sets.ipynb
  bau/pipeline/vmfi/pre-processing.ipynb
Due: none

feat: adding initial building calc.
  bau/pipeline/vmfi/calculations.py
  bau/pipeline/vmfi/comparator-sets.ipynb
Due: none

feat: adding ARR mappings for academy and trust finances and match maintained schools output so both can be used in rag calcs
  bau/pipeline/vmfi/pre-processing.ipynb
Due: none

feat: adding simple timings for metric RAG
  bau/pipeline/vmfi/metric-rag.ipynb
Due: none

hard federation treatment
  bau/pipeline/vmfi/pre-processing.ipynb
Due: none

minor changes
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/schemas.py
Due: none

chore: Replaying all changes back into this branch
  bau/pipeline/vmfi/calculations.py
  bau/pipeline/vmfi/comparator-sets.ipynb
  bau/pipeline/vmfi/schemas.py
  bau/pipeline/vmfi/scratch.ipynb
Due: none

Rearrange cells for maintained schools for clarity
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/test.ipynb
Due: none

feat: Adding missing make scripts and updating deps
  pipeline/Makefile
  pipeline/docker/Dockerfile
  pipeline/poetry.lock
  pipeline/pyproject.toml
  pipeline/src/main.py
  pipeline/tests/conftest.py
  pipeline/tests/main_test.py
Due: none

feat: moving calcs to a rag.py file
  bau/pipeline/vmfi/metric-rag.ipynb
  bau/pipeline/vmfi/rag.py
Due: none

feat: initial metric rag calculation
  bau/pipeline/vmfi/metric-rag.ipynb
  bau/pipeline/vmfi/rag.py
Due: none

chore: minor update to README.md
  pipeline/README.md
Due: none

replacing academies mapping with correct data source
  bau/pipeline/vmfi/pre-processing.ipynb
Due: none

adding separate comparators
  bau/pipeline/vmfi/comparator-sets.ipynb
Due: none

feat: saving pickled version of schools snapshot
  bau/pipeline/vmfi/comparator-sets.ipynb
Due: none

edited gitignore to remove data.zip
  bau/pipeline/.gitignore
  bau/pipeline/vmfi/pre-processing.ipynb
Due: none
