Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

fix: update IIF condition gate
  core-infrastructure/src/db/Core.Database/Views/012-ExpenditureTrust.sql
Due: pipelines/core-infrastructure/build.yaml

chore: add override for @typespec/ts-http-runtime to allow npm run compile to succeed
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: bump Web.App dependencies
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump front-end dependencies
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: temporarily comment out the chart renderer due to azure issues
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

chore: temporarily remove deployment of chart renderer
  pipelines/platform/deployment.yaml
Due: pipelines/platform/build.yaml

chore: bump Web dependencies
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: bump vitest
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: temporarily ignore future updates for @types/jsdom
  .github/dependabot.yml
Due: none

chore: bump ChartRendering dependencies (#4305)
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: bump Web.App dependencies (#4306)
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: bump front-end dependencies (#4307)
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump Web.Shutter dependencies (#4303)
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: temporarily comment out chart rendering
  pipelines/platform/deployment.yaml
Due: pipelines/platform/build.yaml

chore: bump Platform dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.OpenApi/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bump Web dependencies (#4308)
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: bump terraform dependencies
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: bump Platform dependencies (#4311)
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.OpenApi/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

fix: Calculate percentage expenditure using *total* trust expenditure/income (#4302)
  core-infrastructure/src/db/Core.Database/Views/012-ExpenditureTrust.sql
Due: pipelines/core-infrastructure/build.yaml

chore: bump terraform dependencies (#4312)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: ignore updates for Microsoft.ApplicationInsights.AspNetCore pending work to update our usage of ITelemetryInitializer
  .github/dependabot.yml
Due: none

fix: add ignore rule for Microsoft.ApplicationInsights.WorkerService each valid platform package ecosystem
  .github/dependabot.yml
Due: none

chore: remove old package ecosystems for retired platform api projects
  .github/dependabot.yml
Due: none

chore: Temporarily remove IP restrictions on func apps
  platform/terraform/modules/config/main.tf
Due: pipelines/platform/build.yaml

test: add expected fields to API response
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPercentIncome.json
Due: pipelines/platform/build.yaml

test: more zero fields expected
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureNonEduStaffPercentIncomeIncludeCentral.json
Due: pipelines/platform/build.yaml

fix: Trust percentage income and expenditure test fixes (#4314)
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPercentIncome.json
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureNonEduStaffPercentIncomeIncludeCentral.json
Due: pipelines/platform/build.yaml

test: update expected response for the test
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureNonEduStaffPercentIncomeIncludeCentral.json
Due: pipelines/platform/build.yaml

fix: Trust percentage income and expenditure test fixes (#4315)
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureNonEduStaffPercentIncomeIncludeCentral.json
Due: pipelines/platform/build.yaml

chore: replace deprecated storage_account_name with storage_account_id
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

chore: align runbook_type with the current deployment avoid unnecessary destroy/create in tf build steps
  core-infrastructure/terraform/automation.tf
Due: pipelines/core-infrastructure/build.yaml

chore: update terraform config by replacing deprecated storage_account_name and updating runbook_type (#4316)
  core-infrastructure/terraform/automation.tf
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

fix: normalise trust spending only by total trust spending/income
  core-infrastructure/src/db/Core.Database/Views/005-BalanceTrust.sql
Due: pipelines/core-infrastructure/build.yaml

fix: normalise trust spending only by total trust spending/income (#4318)
  core-infrastructure/src/db/Core.Database/Views/005-BalanceTrust.sql
Due: pipelines/core-infrastructure/build.yaml

chore: constrain azurerm to 4.76.x
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

chore: constrain azurerm to 4.76.x (#4319)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

fix: use correct storage_account_id for queue resource
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

chore: include existing file in solution
  platform/Platform.sln
Due: pipelines/platform/build.yaml

fix: use correct storage_account_id for queue resource (#4320)
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml
