Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

Feature: School balance comparator set average API endpoint (#3693)
  platform/src/abstractions/Platform.Sql/QueryBuilders/BalanceQueries.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetBalanceComparatorSetAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/BalanceService.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetBalanceComparatorSetAverageHistoryFunctionTests.cs
Due: pipelines/platform/build.yaml

feat: update income tab for school history to show historic trends (#3696)
  front-end-components/index.html
  front-end-components/src/services/history-service.ts
  front-end-components/src/services/income-api.tsx
  front-end-components/src/views/historic-data-2/partials/income-section.tsx
  front-end-components/src/views/historic-data-2/partials/index.tsx
  front-end-components/src/views/historic-data-2/view.tsx
Due: pipelines/front-end-components/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: render details for each chart if present
  front-end-components/src/views/historic-data-2/partials/income-section.tsx
Due: pipelines/front-end-components/build.yaml

Chore: updated e2e tests config in pipeline (#3695)
  pipelines/web/build.yaml
  pipelines/web/steps/run-e2e-tests.yaml
Due: pipelines/web/build.yaml

tagged e2e tests using DSI sign in (#3694)
  web/tests/Web.E2ETests/Features/LocalAuthority/AccessFinancialPlanningForSchool.feature
  web/tests/Web.E2ETests/Features/School/AccessTrustForecastAsAcademy.feature
  web/tests/Web.E2ETests/Features/School/CreateComparators.feature
  web/tests/Web.E2ETests/Features/School/CreateCustomData.feature
  web/tests/Web.E2ETests/Features/School/CurriculumFinancialPlanning.feature
  web/tests/Web.E2ETests/Features/School/SchoolHome.feature
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Features/Trust/Comparators.feature
  web/tests/Web.E2ETests/Features/Trust/CreateComparators.feature
  web/tests/Web.E2ETests/Features/Trust/CurriculumFinancialPlanning.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
Due: pipelines/web/build.yaml

fix: render details for each chart if present (#3698)
  front-end-components/src/views/historic-data-2/partials/income-section.tsx
Due: pipelines/front-end-components/build.yaml

fix: correct ChartDimensions element id
  front-end-components/src/views/historic-data-2/partials/income-section.tsx
Due: pipelines/front-end-components/build.yaml

test: update and add new scenarios for school history income tab
  web/tests/Web.E2ETests/Features/School/HistoricData.feature
Due: pipelines/web/build.yaml

doc: update azureite start command to ignore API version
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

doc: update azureite start command to ignore API version (#3701)
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

test: add platform api tests for historic trends endpoints
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryActualsPrimaryMaintained.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryInvalidFinanceType.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryInvalidPhase.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryPercentExpenditureAllThroughMaintained.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryPercentIncomePost16Academy.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryPercentIncomeSecondaryAcademy.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAvgHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryActuals.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryPerUnit.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryPercentIncome.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryActualsPrimaryMaintained.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryInvalidFinanceType.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryInvalidPhase.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryPercentExpenditureAllThroughMaintained.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryPercentIncomePost16Academy.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryPercentIncomeSecondaryAcademy.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryActuals.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryPerUnit.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryPercentIncome.json
  platform/tests/Platform.ApiTests/Features/School/AccountsHistoryTrends.feature
  platform/tests/Platform.ApiTests/Steps/School/AccountsHistoryTrendsSteps.cs
Due: pipelines/platform/build.yaml

updated aar plan to reference HEXP
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2024-2025-data-release.md
Due: pipelines/documentation/build.yaml

bugfix: adds additional query param to limit to just maintained schools
  platform/src/apis/Platform.Api.Insight/Features/Census/Services/CensusService.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Services/ExpenditureService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/ExpenditureService.cs
  platform/src/apis/Platform.Api.School/Features/Census/Services/CensusService.cs
Due: pipelines/platform/build.yaml

fix: legend wrapping for `historic-chart-2`
  front-end-components/src/composed/historic-chart-2-composed/component.tsx
  front-end-components/src/composed/historic-chart-2-composed/styles.scss
Due: pipelines/front-end-components/build.yaml

updated aar plan to reference HEXP (#3708)
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2024-2025-data-release.md
Due: pipelines/documentation/build.yaml

doc: refine
  documentation/developers/20_External-Terraform-Providers.md
Due: pipelines/documentation/build.yaml

chore: bump platform dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

fix: add `flex-wrap` to `recharts-default-legend` when under `historic-chart-2`
  front-end-components/src/composed/historic-chart-2-composed/styles.scss
Due: pipelines/front-end-components/build.yaml

test: add platform api tests for historic trends endpoints (#3703)
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryActualsPrimaryMaintained.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryInvalidFinanceType.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryInvalidPhase.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryPercentExpenditureAllThroughMaintained.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryPercentIncomePost16Academy.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAverageHistoryPercentIncomeSecondaryAcademy.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceNationalAvgHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryActuals.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryPerUnit.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/BalanceSetAverageHistoryPercentIncome.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryActualsPrimaryMaintained.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryInvalidFinanceType.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryInvalidPhase.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryPercentExpenditureAllThroughMaintained.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryPercentIncomePost16Academy.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeNationalAverageHistoryPercentIncomeSecondaryAcademy.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryActuals.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryPerUnit.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/School/Accounts/IncomeSetAverageHistoryPercentIncome.json
  platform/tests/Platform.ApiTests/Features/School/AccountsHistoryTrends.feature
  platform/tests/Platform.ApiTests/Steps/School/AccountsHistoryTrendsSteps.cs
Due: pipelines/platform/build.yaml

chore: bump platform dependencies (#3710)
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

first draft with potential options
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

fix: legend wrapping for `historic-chart-2` (#3709)
  front-end-components/src/composed/historic-chart-2-composed/component.tsx
  front-end-components/src/composed/historic-chart-2-composed/styles.scss
Due: pipelines/front-end-components/build.yaml

refactor: organise s251 ancillary data like aar/cfr
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
  data-pipeline/src/pipeline/pre_processing/ancillary/la_statistical_neighbours.py
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ons_population_estimates.py
  data-pipeline/src/pipeline/pre_processing/ancillary/place_funding.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen2.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
Due: pipelines/data-pipeline/build.yaml

feat: web proxy API endpoint for school balance history
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Insight/BalanceApi.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/Infrastructure/Apis/TrustApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingBalanceHistoryComparison.cs
Due: pipelines/web/build.yaml

feat: web proxy API endpoint for school balance history (#3713)
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Insight/BalanceApi.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/Infrastructure/Apis/TrustApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingBalanceHistoryComparison.cs
Due: pipelines/web/build.yaml

Linted
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

chore: bump Platform dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Messaging/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bump Web dependencies
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.Integration.Tests/Web.Integration.Tests.csproj
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/Web.Tests.csproj
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

feat: update introduction content for benchmark high needs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/_HowDataIsPresented.cshtml
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

feat: update high needs glossary copy for outturn
  web/src/Web.App/ViewModels/HighNeedsGlossaryViewModel.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
