Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/web/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

chore: remove unused using
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
Due: pipelines/web/build.yaml

chore: linting
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesCreateComparatorSetRequest.cs
Due: pipelines/platform/build.yaml

chore: Remove duplicate tiles from OI dashboard
  core-infrastructure/terraform/dashboards/oi.tpl
Due: pipelines/core-infrastructure/build.yaml

feat: Added new WAF queries/functions
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/feature-requests-by-auth.kql
  core-infrastructure/terraform/queries/feature-requests.kql
  core-infrastructure/terraform/queries/functions/get-waf-blocked-requests.kql
  core-infrastructure/terraform/queries/functions/get-waf-logs.kql
  core-infrastructure/terraform/queries/popular-local-authority-requests.kql
  core-infrastructure/terraform/queries/popular-school-requests.kql
  core-infrastructure/terraform/queries/popular-trust-requests.kql
  core-infrastructure/terraform/queries/waf-blocked-requests-per-hour.kql
  core-infrastructure/terraform/queries/waf-requests.kql
Due: pipelines/core-infrastructure/build.yaml

chore: Add firewall queries to OI dashboard
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/oi.tpl
  core-infrastructure/terraform/queries.tf
Due: pipelines/core-infrastructure/build.yaml

refactor: assign id to div for first category in loop
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
Due: pipelines/web/build.yaml

feat: Replace `UserData` persistence to use `NameIdentifier` (Guid) claim when setting `
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataService.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkComparatorSetSteps.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkCustomDataSteps.cs
  platform/tests/Platform.ApiTests/Steps/BenchmarkUserDataSteps.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Services/UserDataService.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: adds benchmark comparator set unit tests (#1143)
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesCreateComparatorSetRequest.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesGetComparatorSetRequest.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesRemoveComparatorSetRequest.cs
Due: pipelines/platform/build.yaml

fix: set container min height to 335px to account for stat boxes and chart
  front-end-components/src/index.css
Due: pipelines/front-end-components/build.yaml

adds clickable bar chart for trust home school list (#1142)
  front-end-components/src/index.css
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
  web/src/Web.App/Views/Trust/_SchoolsSection.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

academies financial mappings
  documentation/data/2_Data-Models.md
  documentation/data/4_Data-Releases.md
  documentation/data/4_Risks.md
Due: pipelines/documentation/build.yaml

addressing comments
  documentation/data/1_Data-Sources.md
  documentation/data/2_Data-Models.md
Due: pipelines/documentation/build.yaml

fixed double counting of Academies funding
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

fixed double counting of Academies funding (#1145)
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

remove merge conflict
  pipelines/documentation/build.yaml
Due: none

addressing comments
  documentation/data/0_Title.md
  documentation/data/1_Data-Sources.md
Due: pipelines/documentation/build.yaml

chore: bump front-end
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump front-end (#1146)
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

Establisment_API peak load testing plan
  documentation/testing/performance-test-plan/Establisment_API_Peak-load-testing-plan.md
Due: pipelines/documentation/build.yaml

spike test for establishment API
  documentation/testing/performance-test-plan/Establihment_API_Spike-testing.md
Due: pipelines/documentation/build.yaml

applied fix for in year balance
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

removing 50000 from throughput as the number sounds insanely high
  documentation/testing/performance-test-plan/Establihment_API_Spike-testing.md
  documentation/testing/performance-test-plan/Establisment_API_Peak-load-testing-plan.md
Due: pipelines/documentation/build.yaml

addition correction
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

added average load test documentation.
  documentation/testing/performance-test-plan/Establishment_API_Average-load-testing.md
  documentation/testing/performance-test-plan/Establisment_API_Peak-load-testing-plan.md
Due: pipelines/documentation/build.yaml

prototype/sprint1contentupdates (#1129)
  prototype/src/app/views/latest/data-sources.html
Due: pipelines/prototype/build.yaml

chore: content updates for data sources page
  web/src/Web.App/Views/DataSource/_DataSources.cshtml
Due: pipelines/web/build.yaml

fix: OpenApiOperation tag for swagger updated
  platform/src/apis/Platform.Api.Establishment/Trusts/TrustsFunctions.cs
Due: pipelines/platform/build.yaml

fix: OpenApiOperation tag for swagger updated (#1197)
  platform/src/apis/Platform.Api.Establishment/Trusts/TrustsFunctions.cs
Due: pipelines/platform/build.yaml

Bugfix/self gen funding (#1194)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

chore: content updates for data sources page (#1195)
  web/src/Web.App/Views/DataSource/_DataSources.cshtml
Due: pipelines/web/build.yaml

chore: dependabot updates across entire monorepo
  core-infrastructure/terraform/provider.tf
  front-end-components/package-lock.json
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/terraform/modules/functions/provider.tf
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
  prototype/src/package-lock.json
  web/Directory.Packages.props
  web/src/Web.App/package-lock.json
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/core-infrastructure/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/web/build.yaml

chore: Removed .NET 7/8 `dependabot` ignored package versions
  .github/dependabot.yml
Due: none

chore: Set exact version of `govuk-frontend` to `5.4.0` due to reported encoding issues in `5.4.1`
  front-end-components/package-lock.json
  front-end-components/package.json
  web/Web.sln
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: Bump `front-end` to `1.0.28`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: Replace `Donut` chart with `UnstackedColumn` when displaying WAF hits by rule name in OI dashboard
  core-infrastructure/terraform/dashboards/oi.tpl
Due: pipelines/core-infrastructure/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
