Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

test: add a test for the transparency file generation
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

chore: lint
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

feat: filter out schools with spending < 0 from benchmarking
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

feat: ensure specific filter groups are open by default
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonFilter.cshtml
Due: pipelines/web/build.yaml

feat: add cost codes for school benchmark spending (#4236)
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonChart.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonCostCodes.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonTable.cshtml
Due: pipelines/web/build.yaml

feat: add save chart images and download data to school benchmark spending
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
Due: pipelines/web/build.yaml

feat: filter out schools with spending < 0 from benchmarking (#4273)
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

feat: ensure specific filter groups are open by default (#4274)
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonFilter.cshtml
Due: pipelines/web/build.yaml

feat: add gate for defining last year's ancillary data
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

doc: add data release docs for specific releases
  documentation/guides/data-release-guide/01_Overview.md
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/03_CFR.md
  documentation/guides/data-release-guide/04_BFR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

doc: add bullet point for AAR
  documentation/guides/data-release-guide/02_AAR.md
Due: pipelines/documentation/build.yaml

doc: HExP generation query
  documentation/data/02_Sources.md
  documentation/guides/data-release-guide/02_AAR.md
Due: pipelines/documentation/build.yaml

feat: Convert CFR transparency file generation to Python (#4230)
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
  data-pipeline/src/pipeline/input_schemas/gias.py
  data-pipeline/src/pipeline/input_schemas/hospital_schools.py
  data-pipeline/src/pipeline/input_schemas/lookup_la.py
  data-pipeline/src/pipeline/input_schemas/pru.py
  data-pipeline/src/pipeline/pre_processing/ancillary/hospital_schools.py
  data-pipeline/src/pipeline/pre_processing/ancillary/lookup_la.py
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/pru.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/pre_processing/cfr/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/generator.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
  data-pipeline/src/pipeline/utils/database.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
  data-pipeline/tests/unit/pre_processing/test_sen.py
  documentation/data/02_Sources.md
  documentation/guides/cfr-file-generation/1_Overview.md
  documentation/guides/cfr-file-generation/9_SFB-FileGeneration.md
  pipelines/destroy/release.yaml
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

feat: add save chart images and download data to school benchmark spending (#4237)
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
Due: pipelines/web/build.yaml

feat: increase page width and resolve remaining issues with checkbox styling
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Constants/LayoutClass.cs
  web/src/Web.App/Constants/ViewDataKeys.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

feat(wip): add progress 8 indicators and school performance checkboxes to school benchmark spending
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Charts/GroupType.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonDatum.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSpendingDimensions.cs
  web/src/Web.App/Domain/Insight/Expenditure.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/SchoolComparison/_ProgressBandingCell.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonTable.cshtml
Due: pipelines/web/build.yaml

test: update tests for WhenRequestingComparisonDownload and methods for custom data setup helpers
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenRequestingCensusDownload.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenRequestingComparisonDownload.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpending.cs
Due: pipelines/web/build.yaml

doc: add links to CDC python file
  documentation/guides/data-release-guide/02_AAR.md
Due: pipelines/documentation/build.yaml

feat: integration tests for school spending benchmarking
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

chore: linting
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

feat: add progress 8 indicators to school benchmark spending (#4277)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Constants/LayoutClass.cs
  web/src/Web.App/Constants/ViewDataKeys.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Charts/GroupType.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonDatum.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSpendingDimensions.cs
  web/src/Web.App/Domain/Insight/Expenditure.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/SchoolComparison/_ProgressBandingCell.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonTable.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenRequestingCensusDownload.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenRequestingComparisonDownload.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpending.cs
Due: pipelines/web/build.yaml

feat: Use .sum() in financial columns for calculations to avoid nans in calculated fields
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
Due: pipelines/data-pipeline/build.yaml

remove unused variable
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
Due: pipelines/data-pipeline/build.yaml

feat: add tooltip to charts for school benchmark spending
  web/src/Web.App/AssetSrc/ts/components/school-comparison-chart-tooltip/SchoolComparisonChartTooltip.vue
  web/src/Web.App/AssetSrc/ts/components/school-comparison-chart-tooltip/SchoolComparisonChartTooltips.vue
  web/src/Web.App/AssetSrc/ts/components/school-comparison-chart-tooltip/index.d.ts
  web/src/Web.App/AssetSrc/ts/main.ts
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/ProgressBandings.cs
  web/src/Web.App/ViewModels/SchoolComparisonChartTooltipDataViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/Shared/_SchoolComparisonChartTooltip.cshtml
Due: pipelines/web/build.yaml

feat: integration tests for school spending benchmarking (#4278)
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

feat: label pupils as including dual registrations in download file for CFR
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

feat: add tooltip to charts for school benchmark spending (#4281)
  web/src/Web.App/AssetSrc/ts/components/school-comparison-chart-tooltip/SchoolComparisonChartTooltip.vue
  web/src/Web.App/AssetSrc/ts/components/school-comparison-chart-tooltip/SchoolComparisonChartTooltips.vue
  web/src/Web.App/AssetSrc/ts/components/school-comparison-chart-tooltip/index.d.ts
  web/src/Web.App/AssetSrc/ts/main.ts
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/ProgressBandings.cs
  web/src/Web.App/ViewModels/SchoolComparisonChartTooltipDataViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/Shared/_SchoolComparisonChartTooltip.cshtml
Due: pipelines/web/build.yaml

fix: Use .sum() for column aggregations to account for NaNs (#4282)
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

feat: update school spending page when SchoolComparisonFilter is enabled. Use query param for links to school benchmark spending
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/CostCategories.cs
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonFilter.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCostsSsr/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSpending.cs
Due: pipelines/web/build.yaml

feat: update school spending page when SchoolComparisonFilter is enabled. Use query param for links to school benchmark spending (#4283)
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/CostCategories.cs
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonFilter.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCostsSsr/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSpending.cs
Due: pipelines/web/build.yaml

feat: add chart legends to school spending benchmarking
  documentation/features/13_Chart-Rendering-Api.md
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Domain/Charts/SchoolComparisonHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSeniorLeadershipHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostHorizontalBarChartRequest.cs
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

fix: prevent crash when groupedkeys not specified
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
Due: pipelines/platform/build.yaml

feat: unit testing for horizontal charts with grouped keys and legend labels
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeysLegendLabels.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeysLegendLabelsRequest.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Models/PostHorizontalBarChartRequest.cs
Due: pipelines/platform/build.yaml

fix: ensure no accordion sections open by default
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonFilter.cshtml
Due: pipelines/web/build.yaml

fix: ensure no accordion sections open by default (#4285)
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonFilter.cshtml
Due: pipelines/web/build.yaml

docs: add latest feature flags to docs
  web/README.md
Due: pipelines/web/build.yaml

fix: update options form layout to prevent compression on smaller viewports
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
Due: pipelines/web/build.yaml

fix: cap flex growth to prevent over expansion and maintain sensible apply button alignment
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/web/build.yaml

fix: options form layout (#4288)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
Due: pipelines/web/build.yaml

chore: linting
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
Due: pipelines/platform/build.yaml
