Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

fixed linting
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

tech-debt: adds characteristics end points to School API
  platform/src/apis/Platform.Api.Insight/Features/Schools/GetSchoolCharacteristicsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Schools/GetSchoolsCharacteristicsFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Constants.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/StatisticalNeighbours/Routes.cs
  platform/src/apis/Platform.Api.School/Constants.cs
  platform/src/apis/Platform.Api.School/Features/Comparators/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Details/Functions/GetSchoolCharacteristicsFunction.cs
  platform/src/apis/Platform.Api.School/Features/Details/Functions/QuerySchoolsFunction.cs
  platform/src/apis/Platform.Api.School/Features/Details/Handlers/GetSchoolCharacetristicsHandler.cs
  platform/src/apis/Platform.Api.School/Features/Details/Handlers/QuerySchoolsHandler.cs
  platform/src/apis/Platform.Api.School/Features/Details/Models/SchoolCharacteristic.cs
  platform/src/apis/Platform.Api.School/Features/Details/Parameters/SchoolsParameters.cs
  platform/src/apis/Platform.Api.School/Features/Details/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Details/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Details/Services/SchoolDetailsService.cs
  platform/src/apis/Platform.Api.Trust/Constants.cs
  platform/src/apis/Platform.Api.Trust/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Routes.cs
  platform/src/apis/Platform.Api.Trust/Features/Comparators/Routes.cs
  platform/src/apis/Platform.Api.Trust/Features/Details/Routes.cs
Due: pipelines/platform/build.yaml

tech-debt: adds metric rag end points to School API
  platform/src/apis/Platform.Api.Insight/Features/MetricRagRatings/GetDefaultMetricRagRatingsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/MetricRagRatings/GetDefaultMetricRagRatingsSummaryFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/MetricRagRatings/GetUserDefinedMetricRagRatingsFunction.cs
  platform/src/apis/Platform.Api.School/Configuration/Services.cs
  platform/src/apis/Platform.Api.School/Constants.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Functions/GetUserDefinedFunction.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Functions/QueryDetailsFunction.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Functions/QuerySummaryFunction.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Handlers/GetUserDefinedHandler.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Handlers/QueryDetailsHandler.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Handlers/QuerySummaryHandler.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Models/DetailResponse.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Models/SummaryResponse.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/OpenApiExamples.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Parameters/DetailParameters.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Parameters/SummaryParameters.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Parameters/UserDefinedParameters.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Routes.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Services/MetricRagRatingService.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Validators/DetailParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Validators/SummaryParametersValidator.cs
Due: pipelines/platform/build.yaml

tech-debt: adds IT spending end points to School API
  platform/.run/Platform.Api.Benchmark.run.xml
  platform/.run/Platform.Api.Content.run.xml
  platform/.run/Platform.Api.NonFinancial.run.xml
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendSchoolsFunction.cs
  platform/src/apis/Platform.Api.School/Configuration/Services.cs
  platform/src/apis/Platform.Api.School/Constants.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/QueryItSpendingFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/QueryItSpendingHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Models/ItSpendingResponse.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/OpenApiExamples.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Parameters/ItSpendingParameters.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/ItSpendingService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/ItSpendingParametersValidator.cs
Due: pipelines/platform/build.yaml

tech-debt: adds Income end points to Schools API
  platform/src/apis/Platform.Api.Insight/Features/Income/GetIncomeSchoolFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Income/GetIncomeSchoolHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetIncomeHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetIncomeHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Mapper.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Models/IncomeModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Models/IncomeResponse.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Models/YearsModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Parameters/IncomeParameters.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/IncomeService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/IncomeParametersValidator.cs
Due: pipelines/platform/build.yaml

tech-debt: adds balance end points to Schools API
  platform/src/apis/Platform.Api.Insight/Features/Balance/GetBalanceSchoolFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Balance/GetBalanceSchoolHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetBalanceHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetBalanceHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Mapper.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Models/BalanceModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Models/BalanceResponse.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Parameters/BalanceParameters.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/BalanceService.cs
  platform/src/apis/Platform.Api.School/Features/MetricRagRatings/Routes.cs
Due: pipelines/platform/build.yaml

fixed terminology and AAR 2025 references
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

updated responsibilties section
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

updated goal
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

updated file names
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

tech-debt: adds Census end-points to Schools API
  platform/src/apis/Platform.Api.Insight/Features/Census/GetCensusCustomFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Census/GetCensusFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Census/GetCensusHistoryComparatorSetAverageFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Census/GetCensusHistoryFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Census/GetCensusHistoryNationalAverageFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Census/GetCensusQueryFunction.cs
  platform/src/apis/Platform.Api.School/Configuration/Services.cs
  platform/src/apis/Platform.Api.School/Constants.cs
  platform/src/apis/Platform.Api.School/Features/Census/Functions/GetComparatorSetAverageHistoryFunctions.cs
  platform/src/apis/Platform.Api.School/Features/Census/Functions/GetFunction.cs
  platform/src/apis/Platform.Api.School/Features/Census/Functions/GetHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Census/Functions/GetNationalAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Census/Functions/GetUserDefinedFunction.cs
  platform/src/apis/Platform.Api.School/Features/Census/Functions/QueryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Census/Handlers/GetComparatorSetAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Census/Handlers/GetHandler.cs
  platform/src/apis/Platform.Api.School/Features/Census/Handlers/GetHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Census/Handlers/GetNationalAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Census/Handlers/GetUserDefinedHandler.cs
  platform/src/apis/Platform.Api.School/Features/Census/Handlers/QueryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Census/Mapper.cs
  platform/src/apis/Platform.Api.School/Features/Census/Models/CensusModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Census/Models/CensusResponse.cs
  platform/src/apis/Platform.Api.School/Features/Census/Models/YearsModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Census/OpenApiExamples.cs
  platform/src/apis/Platform.Api.School/Features/Census/Parameters/GetParameters.cs
  platform/src/apis/Platform.Api.School/Features/Census/Parameters/NationalAvgParameters.cs
  platform/src/apis/Platform.Api.School/Features/Census/Parameters/QueryCensusParameters.cs
  platform/src/apis/Platform.Api.School/Features/Census/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Census/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Census/Services/CensusService.cs
  platform/src/apis/Platform.Api.School/Features/Census/Validators/GetParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Census/Validators/NationalAvgParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Census/Validators/QueryParametersValidator.cs
  platform/src/apis/Platform.Api.School/Platform.Api.School.csproj
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

updated file and path names
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2025-data-release.md
Due: pipelines/documentation/build.yaml

aligned all references as 2025 instead of 2024-25
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2025-data-release.md
Due: pipelines/documentation/build.yaml

Added clarification about AAR
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2025-data-release.md
Due: pipelines/documentation/build.yaml

updated references
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2024-2025-data-release.md
Due: pipelines/documentation/build.yaml

typo fixed
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2024-2025-data-release.md
Due: pipelines/documentation/build.yaml

updated transparency file referernces
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2024-2025-data-release.md
Due: pipelines/documentation/build.yaml

tech-debt: adds Expenditure end points to Schools API
  platform/.run/Platform.Api.Benchmark.run.xml
  platform/.run/Platform.Api.Content.run.xml
  platform/.run/Platform.Api.LocalAuthorityFinances.run.xml
  platform/.run/Platform.Api.NonFinancial.run.xml
  platform/.run/docker_ Compose Deployment.run.xml
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/GetExpenditureSchoolCustomFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/GetExpenditureSchoolFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/GetExpenditureSchoolHistoryComparatorSetAverageFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/GetExpenditureSchoolHistoryFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/GetExpenditureSchoolHistoryNationalAverageFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/GetExpenditureSchoolsFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureSchoolHistoryNationalAverageFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureUserDefinedFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/QueryExpenditureFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetExpenditureComparatorSetAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetExpenditureHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetExpenditureHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetExpenditureNationalAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetExpenditureUserDefinedHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/QueryExpenditureHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Mapper.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Models/ExpenditureModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Models/ExpenditureResponse.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/OpenApiExamples.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Parameters/ExpenditureParameters.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/ExpenditureService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/ExpenditureNationalAvgParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/ExpenditureParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/ExpenditureQueryParametersValidator.cs
  platform/src/apis/Platform.Api.School/Platform.Api.School.csproj
Due: pipelines/platform/build.yaml

doc: Updated Chart Rendering API docs to cover Legend and Stacked chart (#3464)
  documentation/features/13_Chart-Rendering-Api.md
  documentation/features/images/stacked-chart-1.svg
Due: pipelines/documentation/build.yaml

docs: add new APIs to readme
  platform/README.md
Due: pipelines/platform/build.yaml

AAR data drop test plan - WIP
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

updated section for transparency file
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

docs: adds API guide
  documentation/developers/11_API-Versioning.md
  documentation/developers/11_Platform-APIs.md
Due: pipelines/documentation/build.yaml

chore: remove some dev dependencies to remove nbconvert (#3466)
  data-pipeline/Makefile
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
Due: pipelines/data-pipeline/build.yaml

release plan 28 (#3460)
  documentation/quality-assurance/release-test-plans/00028_release-test-plan.md
Due: pipelines/documentation/build.yaml

tech-debt: refactors LocalAuthority API to LocalAuthorityFinances API
  platform/.run/Debug API functions.run.xml
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsHistoricDataController.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/LocalAuthoritiesApi.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorityFinances/Api.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorityFinances/LocalAuthoritiesApi.cs
  web/src/Web.App/ViewComponents/LocalAuthorityHighNeedsHistoryViewComponent.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialFormViewComponent.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolWorkforceFormViewComponent.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Tests/Controllers/Api/HighNeeds/WhenHighNeedsApiReceivesComparisonRequest.cs
  web/tests/Web.Tests/Controllers/Api/HighNeeds/WhenHighNeedsApiReceivesHistoryRequest.cs
  web/tests/Web.Tests/Controllers/WhenLocalAuthorityControllerPosts.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolFinancialFormViewComponentTests.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolWorkforceFormViewComponentTests.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

tech-debt: adds basic configuration for new APIs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorityApi.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/Infrastructure/Apis/TrustApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/appsettings.Development.json
  web/src/Web.App/package-lock.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/data.tf
Due: pipelines/web/build.yaml

feat: add breakdown fields for SeniorLeadershipFTE from new workforce census data
  core-infrastructure/src/db/Core.Database/Scripts/131-AlterNonFinancialAddHeadteacherBreakdowns.sql
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/cfr/calculations.py
  data-pipeline/src/pipeline/pre_processing/cfr/maintained_schools.py
  data-pipeline/src/pipeline/utils/database.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

chore: lint
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/cfr/calculations.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Due: pipelines/data-pipeline/build.yaml
