Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

test: add initial comparator-set logic tests (#741)
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/output_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/comparator_sets/__init__.py
  data-pipeline/tests/unit/comparator_sets/conftest.py
  data-pipeline/tests/unit/comparator_sets/test_buildings.py
  data-pipeline/tests/unit/comparator_sets/test_pupils.py
Due: pipelines/data-pipeline/build.yaml

feat: Added missing complex validations for Workforce data
  web/src/Web.App/Attributes/CompareDecimalValueAttribute.cs
  web/src/Web.App/ViewModels/WorkforceDataCustomDataViewModel.cs
  web/tests/Web.Tests/Attributes/GivenACompareDecimalValueAttribute.cs
Due: none

feat: Moved 'Totals' out of Accordion and implemented client side calculation of totals
  web/src/Web.App/ViewModels/SchoolCustomDataChangeViewModel.cs
  web/src/Web.App/Views/SchoolCustomDataChange/FinancialData.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/NonFinancialData.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/WorkforceData.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/_CustomDataEntryTableRow.cshtml
Due: none

adding in mappings following Gavin's document
  data-pipeline/src/pipeline/output_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

adds phase filter for trust benchmarking (#751)
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ProxyController.cs
  web/src/Web.App/Controllers/TrustCensusController.cs
  web/src/Web.App/Controllers/TrustComparisonController.cs
  web/src/Web.App/ViewModels/TrustCensusViewModel.cs
  web/src/Web.App/ViewModels/TrustComparisonViewModel.cs
  web/src/Web.App/Views/TrustCensus/Index.cshtml
  web/src/Web.App/Views/TrustComparison/Index.cshtml
Due: none

aligned pupil age components
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/output_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

wip
  platform/src/abstractions/Platform.Domain/Responses/FinancesResponseModel.cs
  web/src/Web.App/Domain/Finances.cs
  web/src/Web.App/Views/SchoolComparators/ViewSchool.cshtml
Due: pipelines/platform/build.yaml

adds integration tests for trust comparison and census
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: none

linting
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
Due: none

Prototype/comparator-set-updates
  prototype/src/app/routes.js
  prototype/src/app/views/comparators/building.html
  prototype/src/app/views/comparators/create/characteristics.html
  prototype/src/app/views/comparators/create/review.html
  prototype/src/app/views/comparators/pupil.html
  prototype/src/app/views/comparators/view-school.html
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/templates/details-comparators.njk
Due: none

Prototype/comparator-set-updates (#756)
  prototype/src/app/routes.js
  prototype/src/app/views/comparators/building.html
  prototype/src/app/views/comparators/create/characteristics.html
  prototype/src/app/views/comparators/create/review.html
  prototype/src/app/views/comparators/pupil.html
  prototype/src/app/views/comparators/view-school.html
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/templates/details-comparators.njk
Due: none

adds integration tests for trust comparison and census (#754)
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: none

chore: Custom Data landing page integration tests
  web/src/Web.App/Constants/BreadcrumbNodes.cs
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: none

chore: Custom Data Financial Data integration tests
  documentation/developers/7_Rider-Configuration.md
  documentation/developers/images/rider-launch-log.png
  documentation/developers/images/rider-test-runner-diagnostics.png
  web/src/Web.App/Views/Shared/_ErrorSummary.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/DocumentAssert.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
Due: pipelines/documentation/build.yaml

chore: Custom Data Non-Financial and Workforce Data integration tests
  web/tests/Web.Integration.Tests/FixtureExtensions.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataNonFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
Due: none

chore: refactor income into seperate api group
  front-end-components/src/services/history-api.tsx
  front-end-components/src/services/income-api.tsx
  front-end-components/src/services/index.tsx
  front-end-components/src/views/historic-data/partials/income-section-direct-revenue.tsx
  front-end-components/src/views/historic-data/partials/income-section.tsx
  platform/src/abstractions/Platform.Domain/DataObjects/CensusDataObject.cs
  platform/src/abstractions/Platform.Domain/DataObjects/IncomeDataObject.cs
  platform/src/abstractions/Platform.Domain/DataObjects/QueryableFinancesDataObject.cs
  platform/src/abstractions/Platform.Domain/Income.cs
  platform/src/abstractions/Platform.Domain/Responses/IncomeResponseModel.cs
  platform/src/apis/Platform.Api.Insight/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Db/CensusDb.cs
  platform/src/apis/Platform.Api.Insight/Db/FinancesDb.cs
  platform/src/apis/Platform.Api.Insight/Db/IncomeDb.cs
  platform/src/apis/Platform.Api.Insight/Db/SchoolFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/Db/TrustFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/IncomeFunctions.cs
  platform/src/apis/Platform.Api.Insight/SchoolFinanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/SchoolsFunctions.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  platform/src/apis/Platform.Api.Insight/TrustFinanceFunctions.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeFunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/Income/WhenFunctionReceivesGetIncomeHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Income/WhenFunctionReceivesGetIncomeRequest.cs
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/src/Web.App/Controllers/Api/ProxyController.cs
  web/src/Web.App/Infrastructure/Apis/IncomeApi.cs
  web/src/Web.App/Infrastructure/Apis/InsightApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/CustomDataService.cs
  web/src/Web.App/Services/FinanceService.cs
  web/tests/Web.Tests/Infrastructure/GivenAnInsightApi.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

fix: returns correct type from proxy api
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
Due: none

add mocking for income api
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataNonFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
Due: none

linting
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: none

chore: refactor income into separate API group (#755)
  front-end-components/src/services/history-api.tsx
  front-end-components/src/services/income-api.tsx
  front-end-components/src/services/index.tsx
  front-end-components/src/views/historic-data/partials/income-section-direct-revenue.tsx
  front-end-components/src/views/historic-data/partials/income-section.tsx
  platform/src/abstractions/Platform.Domain/DataObjects/CensusDataObject.cs
  platform/src/abstractions/Platform.Domain/DataObjects/IncomeDataObject.cs
  platform/src/abstractions/Platform.Domain/DataObjects/QueryableFinancesDataObject.cs
  platform/src/abstractions/Platform.Domain/Income.cs
  platform/src/abstractions/Platform.Domain/Responses/IncomeResponseModel.cs
  platform/src/apis/Platform.Api.Insight/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Db/CensusDb.cs
  platform/src/apis/Platform.Api.Insight/Db/FinancesDb.cs
  platform/src/apis/Platform.Api.Insight/Db/IncomeDb.cs
  platform/src/apis/Platform.Api.Insight/Db/SchoolFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/Db/TrustFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/IncomeFunctions.cs
  platform/src/apis/Platform.Api.Insight/SchoolFinanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/SchoolsFunctions.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  platform/src/apis/Platform.Api.Insight/TrustFinanceFunctions.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeFunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/Income/WhenFunctionReceivesGetIncomeHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Income/WhenFunctionReceivesGetIncomeRequest.cs
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/src/Web.App/Controllers/Api/ProxyController.cs
  web/src/Web.App/Infrastructure/Apis/IncomeApi.cs
  web/src/Web.App/Infrastructure/Apis/InsightApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/CustomDataService.cs
  web/src/Web.App/Services/FinanceService.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataNonFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
  web/tests/Web.Tests/Infrastructure/GivenAnInsightApi.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

chore: Accessibility tests for Custom Data
  .gitignore
  pipelines/web/steps/run-a11y-tests.yaml
  platform/terraform/databases.tf
  web/README.md
  web/src/Web.App/Views/SchoolCustomDataChange/FinancialData.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/_AccordionSection.cshtml
  web/tests/Web.A11yTests/AuthPageBase.cs
  web/tests/Web.A11yTests/Drivers/WebDriver.cs
  web/tests/Web.A11yTests/PageBase.cs
  web/tests/Web.A11yTests/Pages/Schools/CustomData/WhenViewingCustomData.cs
  web/tests/Web.A11yTests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.A11yTests/Pages/Schools/CustomData/WhenViewingCustomDataNonFinancialData.cs
  web/tests/Web.A11yTests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
  web/tests/Web.A11yTests/Pages/Schools/FinancialPlanning/WhenViewingFinancialPlanning.cs
  web/tests/Web.A11yTests/TestConfiguration.cs
  web/tests/Web.A11yTests/appsettings.json
  web/tests/Web.Integration.Tests/TestExtensions.cs
Due: pipelines/platform/build.yaml

chore: bump front-end version
  web/src/Web.App/package-lock.json
Due: none

Prototype/comparator-set-content-updates
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/spending-and-costs/index.html
Due: none

Prototype/comparator-set-content-updates (#758)
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/spending-and-costs/index.html
Due: none

chore: adds core database and initial scripts
  core-infrastructure/Core.sln
  core-infrastructure/Directory.Packages.props
  core-infrastructure/global.json
  core-infrastructure/nuget.config
  core-infrastructure/src/db/Core.Database/Core.Database.csproj
  core-infrastructure/src/db/Core.Database/DbUpExtensions.cs
  core-infrastructure/src/db/Core.Database/Options.cs
  core-infrastructure/src/db/Core.Database/Program.cs
  core-infrastructure/src/db/Core.Database/Scripts/001-CreateComparatorSetTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/002-CreateUserDefinedComparatorSetTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/003-CreateMetricRAGTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/004-CreateLocalAuthorityTable.sql
  core-infrastructure/src/db/Core.Database/packages.lock.json
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/variables.tf
  pipelines/core-infrastructure/build.yaml
  pipelines/core-infrastructure/deployment.yaml
  pipelines/core-infrastructure/steps/build.yaml
Due: pipelines/core-infrastructure/build.yaml

fix path names
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/variables.tf
  pipelines/core-infrastructure/build.yaml
  pipelines/core-infrastructure/steps/build.yaml
Due: pipelines/core-infrastructure/build.yaml

fix nuget config path
  pipelines/core-infrastructure/steps/build.yaml
Due: none

correct cache key
  pipelines/core-infrastructure/steps/build.yaml
Due: none

fix doc generation
  documentation/developers/7_Rider-Configuration.md
Due: pipelines/documentation/build.yaml

fix: removes incorrect information from trust details
  platform/src/abstractions/Platform.Domain/Responses/TrustResponseModel.cs
  web/src/Web.App/Domain/Trust.cs
  web/src/Web.App/ViewModels/TrustDetailsViewModel.cs
  web/src/Web.App/Views/TrustDetails/index.cshtml
Due: pipelines/platform/build.yaml

fix documentation pipeline
  documentation/developers/7_Rider-Configuration.md
  documentation/developers/images/rider-launch-log.png
Due: pipelines/documentation/build.yaml

uses single core storage account for sql logs
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
Due: pipelines/core-infrastructure/build.yaml

chore: adds core database and initial scripts (#759)
  core-infrastructure/Core.sln
  core-infrastructure/Directory.Packages.props
  core-infrastructure/global.json
  core-infrastructure/nuget.config
  core-infrastructure/src/db/Core.Database/Core.Database.csproj
  core-infrastructure/src/db/Core.Database/DbUpExtensions.cs
  core-infrastructure/src/db/Core.Database/Options.cs
  core-infrastructure/src/db/Core.Database/Program.cs
  core-infrastructure/src/db/Core.Database/Scripts/001-CreateComparatorSetTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/002-CreateUserDefinedComparatorSetTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/003-CreateMetricRAGTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/004-CreateLocalAuthorityTable.sql
  core-infrastructure/src/db/Core.Database/packages.lock.json
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/variables.tf
  pipelines/core-infrastructure/build.yaml
  pipelines/core-infrastructure/deployment.yaml
  pipelines/core-infrastructure/steps/build.yaml
Due: pipelines/core-infrastructure/build.yaml

hotfix: Set AzureRM Provider to use AzureAD to connect to the Storage Blob & Queue API’s, rather than the SharedKey
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/supporting-data/build.yaml: any of: supporting-data
