Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: Generate AAR transparency files in data pipeline
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/src/pipeline/pre_processing/aar/transparency_file/transparency.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

feat: add MAT/SAT flag
  data-pipeline/src/pipeline/pre_processing/aar/transparency_file/transparency.py
Due: pipelines/data-pipeline/build.yaml

chore: revert to using systemassigned identity to communicate with sqldb
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

reformat: lint
  data-pipeline/src/pipeline/pre_processing/aar/transparency_file/transparency.py
Due: pipelines/data-pipeline/build.yaml

feat: flex consumption version of local authority func app
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

reformat: lint
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

chore: fix la func app settings
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: deploy code to local authority flex consumption func app
  pipelines/platform/deployment.yaml
Due: pipelines/platform/build.yaml

feat: implement school function app on flex cinsumption
  pipelines/platform/deployment.yaml
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: implement flex consumption trust function app
  pipelines/platform/deployment.yaml
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: implemetn benchmarking func app as flex consumption
  pipelines/platform/deployment.yaml
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: implement insight func app on flex consumption
  pipelines/platform/deployment.yaml
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: implement maintenance tasks func app as flex consumption
  pipelines/platform/deployment.yaml
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

chore: correct name of maint task fc func app
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: implement orchestrator func app w/flex consumption plan
  pipelines/platform/deployment.yaml
  platform/terraform/functions.tf
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

chore: add missing identity section into orchestrator app
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

chore: remove invalid SKU from orchestrator app
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: rework tf folder structure, keeping existing func app module for orchestrator
  pipelines/platform/deployment.yaml
  platform/Platform.sln
  platform/terraform/functions.tf
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/output.tf
  platform/terraform/modules/fc_function_app/provider.tf
  platform/terraform/modules/fc_function_app/variables.tf
  platform/terraform/modules/function_app/README.md
  platform/terraform/modules/function_app/locals.tf
  platform/terraform/modules/function_app/main.tf
  platform/terraform/modules/function_app/output.tf
  platform/terraform/modules/function_app/variables.tf
  platform/terraform/modules/functions/locals.tf
  platform/terraform/modules/functions/main.tf
Due: pipelines/platform/build.yaml

feat: implment chart rendering flex consumption func app
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: add missing identity to chart renderer
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

fix: remove invalid app setting from chart renderer
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

chore: bump terraform dependencies
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/provider.tf
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: update test setup for Redis tests to allow package upgrades for StackExchange.Redis and Microsoft.Azure.StackExchangeRedis
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheGetSetsObject.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsObject.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsObjects.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsString.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsStrings.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

Bump undici from 7.25.0 to 7.28.0
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

doc: LAA data architecture ADR
  documentation/architecture/decisions/0023-laa-risk-indicators-data-architecture.md
Due: pipelines/documentation/build.yaml

chore: update test setup for Redis tests to allow package upgrades for StackExchange.Redis and Microsoft.Azure.StackExchangeRedis (#4352)
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheGetSetsObject.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsObject.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsObjects.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsString.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsStrings.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bump undici from 7.25.0 to 7.28.0 (#4353)
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump terraform dependencies (#4351)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/provider.tf
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

doc: denormalised data
  documentation/architecture/decisions/0023-laa-risk-indicators-data-architecture.md
Due: pipelines/documentation/build.yaml

doc: lint grammar
  documentation/architecture/decisions/0023-laa-risk-indicators-data-architecture.md
Due: pipelines/documentation/build.yaml

doc: end of page formatting
  documentation/architecture/decisions/0023-laa-risk-indicators-data-architecture.md
Due: pipelines/documentation/build.yaml

feat: AAR transparency file generation
  data-pipeline/src/pipeline/pre_processing/aar/transparency_file/rollups.py
  data-pipeline/src/pipeline/pre_processing/aar/transparency_file/transparency.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

chore: bump terraform dependencies
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: bump terraform dependencies (#4356)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

test: isolate comparison API query test to avoid shared client mutation
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

fix: correctly pass dimension in GetDefaultSchoolExpenditure for user defined result
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
