Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Progressive enchancement to School search
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolSearchController.cs
  web/src/Web.App/ViewModels/Enhancements/SuggestScriptsViewModel.cs
  web/src/Web.App/ViewModels/Search/FindLocalAuthorityViewModel.cs
  web/src/Web.App/ViewModels/Search/FindSchoolViewModel.cs
  web/src/Web.App/ViewModels/Search/FindTrustViewModel.cs
  web/src/Web.App/ViewModels/Search/ISearchTermViewModel.cs
  web/src/Web.App/Views/SchoolSearch/Index.cshtml
  web/src/Web.App/Views/SchoolSearch/Search.cshtml
  web/src/Web.App/Views/Shared/Enhancements/_SuggestScripts.cshtml
Due: pipelines/web/build.yaml

feat: Keep original input value in sync with autocomplete-managed one
  web/src/Web.App/AssetSrc/ts/suggester.ts
Due: pipelines/web/build.yaml

feat: Cancelable suggest requests
  platform/src/abstractions/Platform.Search/IndexClient.cs
  platform/src/abstractions/Platform.Search/SearchService.cs
  platform/src/abstractions/tests/Platform.Search.Tests/SearchSearchTests.cs
  platform/src/apis/Platform.Api.Establishment/Features/Schools/PostSchoolsSuggestFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Schools/Services/SchoolsService.cs
  platform/tests/Platform.Establishment.Tests/Schools/PostSchoolsSuggestFunctionTests.cs
  web/src/Web.App/AssetSrc/ts/suggester.ts
  web/src/Web.App/Controllers/Api/SuggestProxyController.cs
  web/src/Web.App/Controllers/SchoolSearchController.cs
  web/src/Web.App/Infrastructure/Apis/ApiBase.cs
  web/src/Web.App/Infrastructure/Apis/Establishment/EstablishmentApi.cs
  web/src/Web.App/Services/SuggestService.cs
  web/src/Web.App/gulpfile.cjs
  web/src/Web.App/tsconfig.json
  web/src/Web.App/types/accessible-autocomplete.d.ts
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Tests/Services/WhenSchoolSuggestionsIsCalled.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Webpack to finalise bundle
  web/src/Web.App/.swcrc
  web/src/Web.App/AssetSrc/ts/suggester.ts
  web/src/Web.App/Views/Shared/Enhancements/_SuggestScripts.cshtml
  web/src/Web.App/babel.config.json
  web/src/Web.App/gulpfile.cjs
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
  web/src/Web.App/webpack.config.js
Due: pipelines/web/build.yaml

feat: Persisted TypeScript source maps
  web/src/Web.App/.swcrc
  web/src/Web.App/gulpfile.cjs
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
  web/src/Web.App/tsconfig.json
  web/src/Web.App/webpack.config.cjs
Due: pipelines/web/build.yaml

feat: ESLint config and run result
  .gitignore
  pipelines/web/steps/build.yaml
  web/src/Web.App/.prettierrc
  web/src/Web.App/.vscode/settings.json
  web/src/Web.App/AssetSrc/ts/index.ts
  web/src/Web.App/AssetSrc/ts/suggester.ts
  web/src/Web.App/eslint.config.mjs
  web/src/Web.App/gulpfile.cjs
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
  web/src/Web.App/tsconfig.json
  web/src/Web.App/webpack.config.cjs
Due: pipelines/web/build.yaml

feat: Fixed failing unit tests
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/Services/WhenLocalAuthoritiesServiceSearches.cs
  platform/tests/Platform.Establishment.Tests/Schools/Services/WhenSchoolsServiceSearches.cs
  platform/tests/Platform.Establishment.Tests/Trusts/Services/WhenTrustsServiceSearches.cs
Due: pipelines/platform/build.yaml

feat: Converted to TypeScript and bundled using SWC
  web/src/Web.App/.swcrc
  web/src/Web.App/AssetSrc/ts/index.ts
  web/src/Web.App/AssetSrc/ts/suggester.ts
  web/src/Web.App/AssetSrc/ts/types/accessible-autocomplete.d.ts
  web/src/Web.App/Views/Shared/Enhancements/_SuggestScripts.cshtml
  web/src/Web.App/babel.config.json
  web/src/Web.App/gulpfile.cjs
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
  web/src/Web.App/tsconfig.json
Due: pipelines/web/build.yaml

feat: Cache busted JS import
  web/src/Web.App/AssetSrc/ts/suggester.ts
  web/src/Web.App/Extensions/HtmlExtensions.cs
  web/src/Web.App/Views/Shared/Enhancements/_SuggestScripts.cshtml
  web/src/Web.App/gulpfile.cjs
  web/src/Web.App/package.json
  web/src/Web.App/tsconfig.json
  web/src/Web.App/types/accessible-autocomplete.d.ts
  web/src/Web.App/webpack.config.cjs
Due: pipelines/web/build.yaml

feat: Cancelable Trust suggest requests
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/PostTrustsSuggestFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Services/TrustsService.cs
  platform/tests/Platform.Establishment.Tests/Trusts/PostTrustsSuggestFunctionTests.cs
  web/src/Web.App/Controllers/Api/SuggestProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Establishment/EstablishmentApi.cs
  web/src/Web.App/Services/SuggestService.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Added autocomplete to Trust search
  web/src/Web.App/AssetSrc/ts/suggester.ts
  web/src/Web.App/Controllers/TrustSearchController.cs
  web/src/Web.App/ViewModels/Enhancements/SuggestScriptsViewModel.cs
  web/src/Web.App/Views/SchoolSearch/Index.cshtml
  web/src/Web.App/Views/SchoolSearch/Search.cshtml
  web/src/Web.App/Views/Shared/Enhancements/_SuggestScripts.cshtml
  web/src/Web.App/Views/TrustSearch/Index.cshtml
  web/src/Web.App/Views/TrustSearch/Search.cshtml
Due: pipelines/web/build.yaml

feat: Removed explicit exception handling from Benchmark functions
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/DeleteSchoolUserDefinedComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/DeleteTrustUserDefinedComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/GetSchoolCustomComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/GetSchoolDefaultComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/GetSchoolUserDefinedComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/GetTrustUserDefinedComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/PostSchoolUserDefinedComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/PostTrustUserDefinedComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/CustomData/DeleteSchoolCustomDataFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/CustomData/GetSchoolCustomDataFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/CustomData/PostSchoolCustomDataFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/FinancialPlans/DeleteFinancialPlanFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/FinancialPlans/GetDeploymentPlanFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/FinancialPlans/GetFinancialPlanFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/FinancialPlans/GetFinancialPlansFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/FinancialPlans/PutFinancialPlanFunction.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenDeleteSchoolUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenDeleteTrustUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenGetSchoolCustomComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenGetSchoolDefaultComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenGetSchoolUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenGetTrustUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenPostSchoolUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenPostTrustUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/CustomData/WhenPostSchoolCustomDataFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenDeleteFinancialPlanFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenGetDeploymentPlanFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenGetFinancialPlanFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenGetFinancialPlansRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenPutFinancialPlanFunctionRuns.cs
Due: pipelines/platform/build.yaml

feat: Improved fidelity of Benchmark API unit tests
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenDeleteSchoolUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenDeleteTrustUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenGetSchoolCustomComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenGetSchoolDefaultComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenGetSchoolUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSets/WhenGetTrustUserDefinedComparatorSetRuns.cs
  platform/tests/Platform.Benchmark.Tests/CustomData/WhenDeleteSchoolCustomDataFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenDeleteFinancialPlanFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenGetDeploymentPlanFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenGetFinancialPlanFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenGetFinancialPlansRuns.cs
  platform/tests/Platform.Benchmark.Tests/FinancialPlans/WhenPutFinancialPlanFunctionRuns.cs
Due: pipelines/platform/build.yaml

feat: update Revenue reserve calculations (#2278)
  core-infrastructure/src/db/Core.Database/Scripts/113-AlterFinancialAddShareRevenueReserve.sql
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/tests/unit/pre_processing/test_academies.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

feat: Deprecated `QueryParameters.SetValues(IQueryCollection)`
  platform/src/abstractions/Platform.Functions/QueryParameters.cs
  platform/src/abstractions/tests/Platform.Functions.Tests/WhenQueryParametersSetsValues.cs
  platform/tests/Platform.Insight.Tests/Balance/Parameters/BalanceParametersTests.cs
  platform/tests/Platform.Insight.Tests/Balance/Parameters/BalanceQueryTrustsParametersTests.cs
  platform/tests/Platform.Insight.Tests/Census/Parameters/CensusNationalAvgParametersTests.cs
  platform/tests/Platform.Insight.Tests/Census/Parameters/CensusParametersTests.cs
  platform/tests/Platform.Insight.Tests/Census/Parameters/CensusQuerySchoolsParametersTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/Parameters/ExpenditureNationalAvgParametersTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/Parameters/ExpenditureParametersTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/Parameters/ExpenditureQuerySchoolParametersTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/Parameters/ExpenditureQueryTrustParametersTests.cs
  platform/tests/Platform.Insight.Tests/Income/Parameters/IncomeParametersTests.cs
Due: pipelines/platform/build.yaml

docs: update `Incomplete-Data`
  documentation/features/3_Incomplete-Data.md
  documentation/features/images/financial-benchmarking-insights-summary-part-year.png
  documentation/features/images/incomplete-data.png
  documentation/features/images/part-year-tooltip-ui.png
Due: pipelines/documentation/build.yaml

feat: Cancelable LA suggest requests
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/PostLocalAuthoritiesSuggestFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Services/LocalAuthoritiesService.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/PostLocalAuthoritiesSuggestFunctionTests.cs
  web/src/Web.App/Controllers/Api/SuggestProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Establishment/EstablishmentApi.cs
  web/src/Web.App/Services/SuggestService.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Added autocomplete to LA search
  web/src/Web.App/Controllers/LocalAuthoritySearchController.cs
  web/src/Web.App/Views/LocalAuthoritySearch/Index.cshtml
  web/src/Web.App/Views/LocalAuthoritySearch/Search.cshtml
Due: pipelines/web/build.yaml

feat: E2E tests for progressively enhanced search boxes
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthoritySearch.feature
  web/tests/Web.E2ETests/Features/School/SchoolSearch.feature
  web/tests/Web.E2ETests/Features/Trust/TrustSearch.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/SearchPage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/SearchResultsPage.cs
  web/tests/Web.E2ETests/Pages/School/SearchResultsPage.cs
  web/tests/Web.E2ETests/Pages/Trust/SearchPage.cs
  web/tests/Web.E2ETests/Pages/Trust/SearchResultsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/SearchPageSteps.cs
  web/tests/Web.E2ETests/Steps/School/SearchPageSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/SearchPageSteps.cs
Due: pipelines/web/build.yaml

feat: Added missing API test coverage
  platform/src/apis/Platform.Api.Benchmark/Features/ComparatorSets/PostSchoolUserDefinedComparatorSetFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Features/CustomData/PostSchoolCustomDataFunction.cs
  platform/src/apis/Platform.Api.Benchmark/Shared/MultiResponse.cs
  platform/tests/Platform.Benchmark.Tests/CustomData/WhenDeleteSchoolCustomDataFunctionRuns.cs
  platform/tests/Platform.Benchmark.Tests/CustomData/WhenGetSchoolCustomDataFunctionRuns.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/Services/WhenHighNeedsServiceQueriesAsync.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/Services/WhenEducationHealthCarePlansServiceQueriesAsync.cs
Due: pipelines/platform/build.yaml

feat: Refactored functions unit test updates/additions
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/apis/Platform.Api.Insight/Features/BudgetForecast/GetBudgetForecastMetricsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/BudgetForecast/GetBudgetForecastReturnFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/BudgetForecast/Mapper.cs
  platform/src/apis/Platform.Api.Insight/Features/Schools/SchoolsFeature.cs
  platform/tests/Platform.Insight.Tests/BudgetForecast/Services/WhenBudgetForecastServiceQueriesAsync.cs
  platform/tests/Platform.Insight.Tests/BudgetForecast/WhenGetBudgetForecastCurrentYearFunctionRuns.cs
  platform/tests/Platform.Insight.Tests/BudgetForecast/WhenGetBudgetForecastMetricsFunctionRuns.cs
  platform/tests/Platform.Insight.Tests/BudgetForecast/WhenGetBudgetForecastReturnFunctionRuns.cs
  platform/tests/Platform.Insight.Tests/BudgetForecast/WhenMapperMapsToApiResponse.cs
  platform/tests/Platform.Insight.Tests/BudgetForecast/WhenMapperMapsToApiResponseForMetric.cs
  platform/tests/Platform.Insight.Tests/MetricRagRatings/Services/WhenBudgetForecastServiceQueriesAsync.cs
  platform/tests/Platform.Insight.Tests/MetricRagRatings/WhenGetDefaultMetricRagRatingsFunctionRuns.cs
  platform/tests/Platform.Insight.Tests/MetricRagRatings/WhenGetUserDefinedMetricRagRatingsFunctionRuns.cs
  platform/tests/Platform.Insight.Tests/Schools/Parameters/WhenSchoolsParametersSetsValues.cs
  platform/tests/Platform.Insight.Tests/Schools/Services/WhenSchoolsServiceQueriesAsync.cs
  platform/tests/Platform.Insight.Tests/Schools/WhenGetSchoolCharacteristicsFunctionRuns.cs
  platform/tests/Platform.Insight.Tests/Schools/WhenGetSchoolsCharacteristicsFunctionRuns.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/WhenEducationHealthCarePlansMapperMaps.cs
Due: pipelines/platform/build.yaml

chore: resolve PR feedback
  documentation/features/3_Incomplete-Data.md
Due: pipelines/documentation/build.yaml

docs: update `Incomplete-Data` (#2322)
  documentation/features/3_Incomplete-Data.md
  documentation/features/images/financial-benchmarking-insights-summary-part-year.png
  documentation/features/images/incomplete-data.png
  documentation/features/images/part-year-tooltip-ui.png
Due: pipelines/documentation/build.yaml

chore: bump `platform` dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/terraform/README.md
  platform/terraform/provider.tf
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml
