Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

doc: amend docs to new calcs
  documentation/data/sources/dsg-funding.md
Due: pipelines/documentation/build.yaml

lint
  data-pipeline/src/pipeline/input_schemas/local_authority.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
Due: pipelines/data-pipeline/build.yaml

test: add new column for new calculation
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
Due: pipelines/data-pipeline/build.yaml

Change docs wording
  documentation/data/sources/dsg-funding.md
Due: pipelines/documentation/build.yaml

feat: show additional source content info for s251 hospital education services chart
  front-end-components/src/components/source-info/component.tsx
  front-end-components/src/components/source-info/types.tsx
  front-end-components/src/views/benchmark-data-high-needs/partials/index.tsx
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsBenchmarkingViewModel.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

fix: typo in s251 chart section heading
  front-end-components/src/views/benchmark-data-high-needs/partials/index.tsx
Due: pipelines/front-end-components/build.yaml

feat: increase bottom margin for source info
  front-end-components/src/components/source-info/component.tsx
Due: pipelines/front-end-components/build.yaml

bugfix: adds additional query param to limit to just maintained schools
  platform/src/apis/Platform.Api.Insight/Features/Census/Services/CensusService.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Services/ExpenditureService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/ExpenditureService.cs
  platform/src/apis/Platform.Api.School/Features/Census/Services/CensusService.cs
Due: pipelines/platform/build.yaml

add post 16 places to secondary places
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/dsg.py
  data-pipeline/src/pipeline/input_schemas/high_needs_places.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
  documentation/data/sources/dsg-funding.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

test: update platform api tests
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureLAPrimary.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureLASecondary.json
  platform/tests/Platform.ApiTests/Features/InsightCensus.feature
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
Due: pipelines/platform/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

refactor: replace collection‑expression initializer in RouteValuesOnClear with fully supported indexer‑based initializer
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialFormViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceFormViewModel.cs
Due: pipelines/web/build.yaml

fix: adds additional query param to limit to just maintained schools (#3705)
  platform/src/apis/Platform.Api.Insight/Features/Census/Services/CensusService.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Services/ExpenditureService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/ExpenditureService.cs
  platform/src/apis/Platform.Api.School/Features/Census/Services/CensusService.cs
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureLAPrimary.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureLASecondary.json
  platform/tests/Platform.ApiTests/Features/InsightCensus.feature
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
Due: pipelines/platform/build.yaml

refactor: replace collection‑expression initializer in RouteValuesOnClear with fully supported indexer‑based initializer (#3801)
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialFormViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceFormViewModel.cs
Due: pipelines/web/build.yaml

test: update LA compare your costs E2E tests now schools are correctly filtered by FinanceType upstream
  web/tests/Web.E2ETests/Features/LocalAuthority/CompareYourCosts.feature
  web/tests/Web.E2ETests/Steps/LocalAuthority/CompareYourCostsSteps.cs
Due: pipelines/web/build.yaml

test: update LA compare your costs E2E tests now schools are correctly filtered by FinanceType upstream (#3802)
  web/tests/Web.E2ETests/Features/LocalAuthority/CompareYourCosts.feature
  web/tests/Web.E2ETests/Steps/LocalAuthority/CompareYourCostsSteps.cs
Due: pipelines/web/build.yaml

chore: bump terraform dependencies
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  prototype/terraform/README.md
  prototype/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/web/build.yaml

stash
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/src/pipeline/pre_processing/cfr/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

feat: update dsg files to march versions
  data-pipeline/src/pipeline/input_schemas/dsg.py
Due: pipelines/data-pipeline/build.yaml

remove post 16 references
  data-pipeline/src/pipeline/input_schemas/local_authority.py
Due: pipelines/data-pipeline/build.yaml

Add DSG recoupments to LA place funding outturn (#3741)
  core-infrastructure/src/db/Core.Database/Scripts/132-AlterLocalAuthorityFinancialTableAddPlaceFunding.sql
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  data-pipeline/src/pipeline/config/local_authority.py
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/dsg.py
  data-pipeline/src/pipeline/input_schemas/high_needs_places.py
  data-pipeline/src/pipeline/pre_processing/ancillary/dsg.py
  data-pipeline/src/pipeline/pre_processing/ancillary/high_needs_places.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
  data-pipeline/src/pipeline/pre_processing/ancillary/la_statistical_neighbours.py
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ons_population_estimates.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen2.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_ons.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_sen2.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_statistical_neighbours.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_local_authorities.py
  documentation/data/2_Sources.md
  documentation/data/sources/dsg-funding.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

bugfix: fix calculation of OutturnTotalPlaceFunding
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
Due: pipelines/data-pipeline/build.yaml

doc: correct OutturnTotalPlaceFunding derivation in the docs
  documentation/data/sources/dsg-funding.md
Due: pipelines/documentation/build.yaml

Updated OverCapacity to be numeric and created UnderCapacity
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

fix: add waf policy rule exclusion
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

bug: OutturnTotalPlaceFunding calculation correction (#3805)
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
  documentation/data/sources/dsg-funding.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

Added oldest and youngest building by age (from existing by year columns)
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
Due: pipelines/data-pipeline/build.yaml

chore: temporarily set feature environment front door to premium sku
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

fix: move exclusion for rule 942200 into existing SQLI block, to avoid block duplication failure.
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

feat: adjust indexing on `patch_missing_sixth_form_data`
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
Due: pipelines/data-pipeline/build.yaml

chore: revert feature front door to standard sku
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

removed unused imports
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/src/pipeline/pre_processing/cfr/maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

Add rurality score and fix typo
  data-pipeline/src/pipeline/comparator_sets/config.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

chore: bump terraform dependencies (#3803)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  prototype/terraform/README.md
  prototype/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/web/build.yaml

feat: add additional source info to "Total place funding for special schools and AP/PRUs" chart
  front-end-components/src/views/benchmark-data-high-needs/partials/index.tsx
Due: pipelines/front-end-components/build.yaml

chore: prototype dependencies
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml
