Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

Prototype tweaks
  prototype/src/app/data/trusts.json
  prototype/src/app/routes.js
Due: none

Prototype/tweaks (#771)
  prototype/src/app/data/trusts.json
  prototype/src/app/routes.js
  prototype/src/app/views/comparators/create/characteristics.html
  prototype/src/app/views/comparators/view-school.html
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/sign-in.html
  prototype/src/app/views/trust-homepage.html
Due: none

fix: Bug fixes to Custom Data journey so far
  web/src/Web.App/Attributes/CompareDecimalValueAttribute.cs
  web/src/Web.App/Views/SchoolCustomDataChange/FinancialData.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataNonFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
  web/tests/Web.Tests/Attributes/GivenACompareDecimalValueAttribute.cs
Due: none

chore: refactors balance end-points
  front-end-components/src/services/balance-api.tsx
  front-end-components/src/services/index.tsx
  front-end-components/src/views/historic-data/partials/balance-section.tsx
  platform/.run/docker_ Compose Deployment.run.xml
  platform/src/abstractions/Platform.Domain/Balance.cs
  platform/src/abstractions/Platform.Domain/DataObjects/BalanceDataObject.cs
  platform/src/abstractions/Platform.Domain/Responses/BalanceResponseModel.cs
  platform/src/apis/Platform.Api.Insight/BalanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/Db/BalanceDb.cs
  platform/src/apis/Platform.Api.Insight/Db/SchoolFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/Db/TrustFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/SchoolFinanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  platform/src/apis/Platform.Api.Insight/TrustFinanceFunctions.cs
  platform/tests/Platform.Tests/Insight/SchoolFinance/WhenFunctionReceivesGetBalanceHistoryRequest.cs
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Controllers/Api/ProxyController.cs
  web/src/Web.App/Infrastructure/Apis/BalanceApi.cs
  web/src/Web.App/Infrastructure/Apis/InsightApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/FinanceService.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

linting
  platform/src/abstractions/Platform.Domain/DataObjects/BalanceDataObject.cs
  platform/src/abstractions/Platform.Domain/Responses/BalanceResponseModel.cs
  platform/src/apis/Platform.Api.Insight/BalanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/Db/TrustFinancesDb.cs
  web/src/Web.App/Infrastructure/Apis/InsightApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/FinanceService.cs
  web/tests/Web.Tests/Infrastructure/GivenAnInsightApi.cs
Due: pipelines/platform/build.yaml

Missed file from previous commit
  web/tests/Web.Tests/Infrastructure/GivenAnInsightApi.cs
Due: none

feat: initial implementation of writing comparator sets and RAG to database
  data-pipeline/docker/docker-compose.yml
  data-pipeline/docker/pipeline-worker/Dockerfile
  data-pipeline/docker/pipeline-worker/odbc.ini
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/workbooks/comparator-sets.ipynb
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

feat: adding better logging and preventing duplicate table creation
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

Writing outputs to database (#772)
  data-pipeline/docker/docker-compose.yml
  data-pipeline/docker/pipeline-worker/Dockerfile
  data-pipeline/docker/pipeline-worker/odbc.ini
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/workbooks/comparator-sets.ipynb
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

Re-add rider config file
  platform/.run/docker_ Compose Deployment.run.xml
Due: pipelines/platform/build.yaml

chore: refactors balance end-points (#775)
  front-end-components/src/services/balance-api.tsx
  front-end-components/src/services/index.tsx
  front-end-components/src/views/historic-data/partials/balance-section.tsx
  platform/src/abstractions/Platform.Domain/Balance.cs
  platform/src/abstractions/Platform.Domain/DataObjects/BalanceDataObject.cs
  platform/src/abstractions/Platform.Domain/Responses/BalanceResponseModel.cs
  platform/src/apis/Platform.Api.Insight/BalanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/Db/BalanceDb.cs
  platform/src/apis/Platform.Api.Insight/Db/SchoolFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/Db/TrustFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/SchoolFinanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  platform/src/apis/Platform.Api.Insight/TrustFinanceFunctions.cs
  platform/tests/Platform.Tests/Insight/SchoolFinance/WhenFunctionReceivesGetBalanceHistoryRequest.cs
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Controllers/Api/ProxyController.cs
  web/src/Web.App/Infrastructure/Apis/BalanceApi.cs
  web/src/Web.App/Infrastructure/Apis/InsightApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/FinanceService.cs
  web/tests/Web.Tests/Infrastructure/GivenAnInsightApi.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

chore: bumps front-end version
  web/src/Web.App/package-lock.json
Due: none

chore: bumps Microsoft.Playwright, Deque.AxeCore.Playwright and Microsoft.AspNetCore.Authentication.OpenIdConnect in web solution
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: none

chore: bumps Microsoft.Azure.Cosmos in platform solution
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Infrastructure/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Run search app for t01 deployment
  pipelines/platform/build.yaml
Due: none

prototype/contentquickwins
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
  prototype/src/app/views/start.html
Due: none

prototype/contentquickwins (#776)
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
  prototype/src/app/views/start.html
Due: none

fix: failing unit tests
  data-pipeline/tests/unit/comparator_sets/conftest.py
  data-pipeline/tests/unit/comparator_sets/test_pupils.py
Due: pipelines/data-pipeline/build.yaml

feat: Ordered cost categories on Trust home page with stacked RAGs (first pass)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewComponents/RagStack.cs
  web/src/Web.App/ViewModels/Components/RagStackViewModel.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/Shared/Components/RagStack/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
Due: none

feat: Trust cost categories RAG stack updates, including optional `<a>` support
  web/src/Web.App/AssetSrc/scss/_headlines.scss
  web/src/Web.App/AssetSrc/scss/_variables.scss
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Domain/RagRating.cs
  web/src/Web.App/Extensions/StringExtensions.cs
  web/src/Web.App/ViewComponents/RagStack.cs
  web/src/Web.App/ViewModels/Components/RagStackViewModel.cs
  web/src/Web.App/Views/SchoolCustomDataChange/_AccordionSection.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/_CustomDataEntryTable.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/_CustomDataEntryTableRow.cshtml
  web/src/Web.App/Views/Shared/Components/RagStack/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/gulpfile.js
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
  web/tests/Web.Tests/Extensions/GivenAString.cs
Due: none

Prototype/Comparator updates
  prototype/src/app/routes.js
  prototype/src/app/views/comparators/create/characteristics.html
  prototype/src/app/views/comparators/create/index.html
Due: none

Prototype/Comparator updates (#778)
  prototype/src/app/routes.js
  prototype/src/app/views/comparators/create/characteristics.html
  prototype/src/app/views/comparators/create/index.html
Due: none

prototype/showandtellcontentchanges
  prototype/src/app/views/spending-and-costs/index.html
Due: none

prototype/showandtellcontentchanges (#779)
  prototype/src/app/views/spending-and-costs/index.html
Due: none

feat: Listed schools by phase within Trust, ordered by RAG status
  web/src/Web.App/AssetSrc/scss/_headlines.scss
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/ViewComponents/RagStack.cs
  web/src/Web.App/ViewModels/Components/RagStackViewModel.cs
  web/src/Web.App/ViewModels/RagViewModel.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/Shared/Components/RagStack/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/Views/Trust/_SchoolsSection.cshtml
Due: none

removed pre-transitioned academies from pre-processing data duplicates
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/output_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

Prototype/Comparator updates
  prototype/src/app/views/comparators/create/characteristics.html
Due: none

Prototype/comparator updates
  prototype/src/app/views/comparators/create/characteristics.html
Due: none

adds integration tests for cfp create management roles
  web/src/Web.App/Controllers/SchoolPlanningCreatePlanController.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningManagementRoles.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: none

adds year information to homepages
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
Due: none

Prototype/comparator updates4 (#781)
  prototype/src/app/views/comparators/create/characteristics.html
Due: none

adds year information to homepages (#783)
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
Due: none

adds integration tests for cfp create management roles (#784)
  web/src/Web.App/Controllers/SchoolPlanningCreatePlanController.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningManagementRoles.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: none

feat: When school financial or census data cannot be loaded, display appropriate warning rather than 404 page
  front-end-components/src/components/error-banner/component.tsx
  front-end-components/src/components/error-banner/index.tsx
  front-end-components/src/components/error-banner/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/contexts/contexts.tsx
  front-end-components/src/views/compare-your-census/partials/auxiliary-staff.tsx
  front-end-components/src/views/compare-your-census/partials/headcount.tsx
  front-end-components/src/views/compare-your-census/partials/non-classroom-support.tsx
  front-end-components/src/views/compare-your-census/partials/school-workforce.tsx
  front-end-components/src/views/compare-your-census/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census/partials/teaching-assistants.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers.tsx
  front-end-components/src/views/compare-your-costs/view.tsx
  web/src/Web.App/Extensions/DecimalExtensions.cs
  web/src/Web.App/Services/FinanceService.cs
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/gulpfile.js
Due: pipelines/front-end-components/build.yaml

chore: A11y tests for Trust landing page
  web/README.md
  web/src/Web.App/AssetSrc/scss/_variables.scss
  web/src/Web.App/Views/Shared/Components/RagStack/Default.cshtml
  web/src/Web.App/package-lock.json
  web/tests/Web.A11yTests/Pages/Trust/WhenViewingHome.cs
  web/tests/Web.A11yTests/TestConfiguration.cs
  web/tests/Web.A11yTests/appsettings.json
Due: none

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/supporting-data/build.yaml: any of: supporting-data
