Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

chore: Bumped `front-end` to `1.1.52`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump `front-end` to `1.1.53`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: SaveTitleAttr
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
Due: pipelines/web/build.yaml

feat: use JSON for logging (#1944)
  data-pipeline/src/pipeline/log.py
Due: pipelines/data-pipeline/build.yaml

fix: include python-json-logger
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
Due: pipelines/data-pipeline/build.yaml

fix: include python-json-logger (#1946)
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
Due: pipelines/data-pipeline/build.yaml

fix: pass `saveTitleAttr1 for `PageActions` in SchoolSpending view (#1945)
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
Due: pipelines/web/build.yaml

chore: bump `front-end` to `1.1.53` (#1943)
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: include cost code list in saved image for spending priorities
  front-end-components/src/components/element-selector/component.tsx
  front-end-components/src/components/element-selector/types.tsx
  front-end-components/src/components/modals/modal-save-images/modal-save-images-modal/component.tsx
  front-end-components/src/components/modals/modal-save-images/modal-save-images-modal/types.tsx
  front-end-components/src/components/share-content-by-element/component.tsx
  front-end-components/src/components/share-content/types.tsx
  front-end-components/src/hooks/useDownloadImage.ts
  front-end-components/src/main.tsx
  web/src/Web.App/ViewComponents/PageActionsViewComponent.cs
  web/src/Web.App/ViewModels/Components/PageActionsViewModel.cs
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
  web/src/Web.App/Views/Shared/Components/PageActions/Default.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: rename `CostCodesListHeight` to `costCodesListHeight`
  front-end-components/src/hooks/useDownloadImage.ts
Due: pipelines/front-end-components/build.yaml

feat: include cost code list in saved image for spending priorities (#1947)
  front-end-components/src/components/element-selector/component.tsx
  front-end-components/src/components/element-selector/types.tsx
  front-end-components/src/components/modals/modal-save-images/modal-save-images-modal/component.tsx
  front-end-components/src/components/modals/modal-save-images/modal-save-images-modal/types.tsx
  front-end-components/src/components/share-content-by-element/component.tsx
  front-end-components/src/components/share-content/types.tsx
  front-end-components/src/hooks/useDownloadImage.ts
  front-end-components/src/main.tsx
  web/src/Web.App/ViewComponents/PageActionsViewComponent.cs
  web/src/Web.App/ViewModels/Components/PageActionsViewModel.cs
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
  web/src/Web.App/Views/Shared/Components/PageActions/Default.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: add e2e test for cost codes on benchmark spending
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
Due: pipelines/web/build.yaml

chore: bump `front-end` to `1.1.54`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump `front-end` to `1.1.54` (#1949)
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: Dependency updates
  front-end-components/package-lock.json
  front-end-components/package.json
  front-end-components/vite.config.base.ts
  prototype/terraform/README.md
  prototype/terraform/provider.tf
Due: pipelines/front-end-components/build.yaml, pipelines/prototype/build.yaml

chore: add e2e test for cost codes on benchmark spending (#1948)
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
Due: pipelines/web/build.yaml

chore: Reinstate `APPINSIGHTS_INSTRUMENTATIONKEY` alongside `APPLICATIONINSIGHTS_CONNECTION_STRING` in web app service
  web/terraform/app-service.tf
Due: pipelines/web/build.yaml

fix: Resolved logic in `getEstablishmentKey()` that may have caused multiple matches when using `name` as collection lookup
  front-end-components/index.html
  front-end-components/src/components/charts/establishment-tick/component.tsx
  front-end-components/src/components/charts/establishment-tick/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
Due: pipelines/front-end-components/build.yaml

chore: Bumped `front-end` to `1.1.56`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: add `WaterSewerageCosts`, `WaterSewerageCostsCS` and `WaterSewerageCostsSchool` to additional dimension views
  core-infrastructure/src/db/Core.Database/Views/012-ExpenditureTrust.sql
Due: pipelines/core-infrastructure/build.yaml

fix: correct calc for `TotalIncomeSchool`
  core-infrastructure/src/db/Core.Database/Views/002-TrustFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

fix: add `WaterSewerageCosts`, `WaterSewerageCostsCS` and `WaterSewerageCostsSchool` to additional dimension views (#1957)
  core-infrastructure/src/db/Core.Database/Views/012-ExpenditureTrust.sql
Due: pipelines/core-infrastructure/build.yaml

fix: correct calc for `TotalIncomeSchool` (#1958)
  core-infrastructure/src/db/Core.Database/Views/002-TrustFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: Remaining unit tests for ActivityTrigger functions
  platform/src/abstractions/Platform.Test/Mocks/MockLogger.cs
  platform/src/apis/Platform.Orchestrator/Telemetry/TelemetryService.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTriggerFunctionTest.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/WhenClearCacheTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/WhenRunIndexerTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/WhenUpdateStatusTriggered.cs
Due: pipelines/platform/build.yaml

chore: Split `PipelineFunctions` into multiple files grouped by Orchestrator responsibility
  platform/src/apis/Platform.Orchestrator/ActivityTriggerFunctions.cs
  platform/src/apis/Platform.Orchestrator/Configuration/Services.cs
  platform/src/apis/Platform.Orchestrator/Extensions/LoggerExtensions.cs
  platform/src/apis/Platform.Orchestrator/OrchestratorFunctions.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/src/apis/Platform.Orchestrator/PipelineQueueTriggerFunctions.cs
  platform/src/apis/Platform.Orchestrator/Telemetry/TelemetryService.cs
  platform/src/apis/Platform.Orchestrator/TimerTriggerFunctions.cs
Due: pipelines/platform/build.yaml

chore: `PipelineDb` move and unit test coverage
  platform/src/abstractions/Platform.Sql/DatabaseConnection.cs
  platform/src/abstractions/Platform.Sql/Platform.Sql.csproj
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/Configuration/Services.cs
  platform/src/apis/Platform.Orchestrator/Extensions/LoggerExtensions.cs
  platform/src/apis/Platform.Orchestrator/Functions/ActivityTriggerFunctions.cs
  platform/src/apis/Platform.Orchestrator/Functions/OrchestratorFunctions.cs
  platform/src/apis/Platform.Orchestrator/Functions/PipelineQueueTriggerFunctions.cs
  platform/src/apis/Platform.Orchestrator/Functions/TimerTriggerFunctions.cs
  platform/src/apis/Platform.Orchestrator/PipelineDb.cs
  platform/src/apis/Platform.Orchestrator/Sql/CompletedPipelineRun.cs
  platform/src/apis/Platform.Orchestrator/Sql/PipelineDb.cs
  platform/src/apis/Platform.Orchestrator/Telemetry/TelemetryService.cs
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/Sql/WhenPipelineDbUpdatesStatus.cs
  platform/tests/Platform.Orchestrator.Tests/Sql/WhenPipelineDbWritesToLog.cs
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: `TelemetryService` unit test coverage
  platform/src/abstractions/Platform.Test/Mocks/MockTelemetryClient.cs
  platform/src/abstractions/Platform.Test/Platform.Test.csproj
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/apis/Platform.Orchestrator/Extensions/LoggerExtensions.cs
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/Platform.Orchestrator.Tests.csproj
  platform/tests/Platform.Orchestrator.Tests/Telemetry/WhenTelemetryServiceTracksEvent.cs
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

feat: Unit tests for OrchestratorTrigger function
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTrigger/ActivityTriggerFunctionTest.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTrigger/WhenClearCacheTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTrigger/WhenPipelineStartCustomJobTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTrigger/WhenPipelineStartDefaultJobTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTrigger/WhenRunIndexerTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTrigger/WhenUpdateStatusTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTriggerFunctionTest.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/MockLogger.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/OrchestrationTrigger/OrchestrationTriggerFunctionTest.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/OrchestrationTrigger/WhenPipelineJobOrchestrationTriggeredByCustomJobType.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/OrchestrationTrigger/WhenPipelineJobOrchestrationTriggeredByDefaultJobType.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/OrchestrationTrigger/WhenPipelineJobOrchestrationTriggeredByUnknownJobType.cs
Due: pipelines/platform/build.yaml

chore: Reduce noise in Platform logs
  platform/src/apis/Platform.Api.Benchmark/host.json
  platform/src/apis/Platform.Api.Establishment/host.json
  platform/src/apis/Platform.Api.Insight/host.json
  platform/src/apis/Platform.UserDataCleanUp/host.json
Due: pipelines/platform/build.yaml

feat: Unit tests for QueueTrigger and TimerTrigger functions
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTrigger/ActivityTriggerFunctionTest.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/QueueTrigger/QueueTriggerFunctionTest.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/QueueTrigger/WhenInitiatePipelineJobTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/QueueTrigger/WhenPipelineJobFinishedJobTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/TimerTrigger/WhenPipelineJobPurgeHistoryTriggered.cs
Due: pipelines/platform/build.yaml

feat: First set of unit tests for ActivityTrigger functions
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Domain/Messages/PipelinePayload.cs
  platform/src/abstractions/Platform.Domain/Messages/PipelineStartCustom.cs
  platform/src/abstractions/Platform.Domain/Messages/PipelineStartDefault.cs
  platform/src/abstractions/Platform.Test/Mocks/MockLogger.cs
  platform/src/abstractions/Platform.Test/Platform.Test.csproj
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/RedisDistributedCacheTestBase.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Platform.Cache.Tests.csproj
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/Messages/WhenPipelineStartCustomCreatesFromPending.cs
  platform/src/abstractions/tests/Platform.Domain.Tests/Messages/WhenPipelineStartDefaultCreatesFromPending.cs
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTriggerFunctionTest.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/WhenPipelineStartCustomJobTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/WhenPipelineStartDefaultJobTriggered.cs
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

docs: adds ADR 009 for review of JavaScript library selection for ASP.NET Core with GOV.UK standards
  documentation/architecture/decisions/0009-js-library.md
Due: pipelines/documentation/build.yaml

docs: adds ADR 009 for review of JavaScript library selection for ASP.NET Core with GOV.UK standards (#1960)
  documentation/architecture/decisions/0009-js-library.md
Due: pipelines/documentation/build.yaml
