Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Horizontal bar chart API tests
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Features/ChartRenderingVerticalBarChart.feature
  platform/tests/Platform.ApiTests/Models/ChartRequest.cs
  platform/tests/Platform.ApiTests/Models/PostHorizontalBarChartRequest.cs
  platform/tests/Platform.ApiTests/Models/PostVerticalBarChartRequest.cs
  platform/tests/Platform.ApiTests/Steps/ChartRenderingHorizontalBarChartSteps.cs
Due: pipelines/platform/build.yaml

feat: x-axis label for horizontal bar chart and sorting fix
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/horizontalBarChart/examples.ts
Due: pipelines/platform/build.yaml

feat: CSS styling for active bar hover and focused link tick
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/builder.ts
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: handle IT spend breakdown changes in 2025 CFR
  data-pipeline/src/pipeline/config/__init__.py
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing/maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

spike: Multiple `pre-commit`s, with different settings in each project folder
  .pre-commit-config.yaml
  .vscode/extensions.json
  README.md
  data-pipeline/.pre-commit-config.yaml
  front-end-components/.pre-commit-config.yaml
  pipelines/.pre-commit-config.yaml
  requirements.txt
  web/.pre-commit-config.yaml
Due: pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

feat: Move common `pre-commit` config to root, ready to be referenced
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

doc: `pre-commit` setup and configuration
  .pre-commit-config.yaml
  README.md
  core-infrastructure/.pre-commit-config.yaml
  data-pipeline/.pre-commit-config.yaml
  documentation/developers/11_Task-Cancellation.md
  documentation/developers/14_Pre-Commit.md
  front-end-components/.pre-commit-config.yaml
  platform/.pre-commit-config.yaml
  prototype/.pre-commit-config.yaml
  prototype/src/.pre-commit-config.yaml
  support-analytics/.pre-commit-config.yaml
  web/.pre-commit-config.yaml
  web/src/Web.App/.pre-commit-config.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: Added additional `pre-commit` config
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  core-infrastructure/.pre-commit-config.yaml
  data-pipeline/.pre-commit-config.yaml
  documentation/.pre-commit-config.yaml
  front-end-components/.pre-commit-config.yaml
  platform/.pre-commit-config.yaml
  prototype/.pre-commit-config.yaml
  prototype/src/.pre-commit-config.yaml
  support-analytics/.pre-commit-config.yaml
  web/src/Web.App/.pre-commit-config.yaml
  web/src/Web.App/package.json
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

linting
  documentation/quality-assurance/1_Test-strategy-service.md
  documentation/quality-assurance/2_Test-strategy-dynamic-conent.md
Due: pipelines/documentation/build.yaml

lint
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing/maintained_schools.py
  data-pipeline/tests/unit/test_stats_collector.py
Due: pipelines/data-pipeline/build.yaml

chore: Updated OpenApi spec for horizontal bar chart endpoint
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/ts-oas.json
Due: pipelines/platform/build.yaml

Update 7_Cost-Categories.md
  documentation/data/7_Cost-Categories.md
Due: pipelines/documentation/build.yaml

feat: Skeleton school IT spending controller/action/model/view
  web/src/Web.App/Constants/BreadcrumbNodes.cs
  web/src/Web.App/Constants/FinanceTools.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Constants/TrackedRequestType.cs
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
  web/src/Web.App/ViewModels/SchoolComparisonItSpendViewModel.cs
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/SchoolComparisonItSpend/CustomData.cshtml
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolFinanceTools/Default.cshtml
Due: pipelines/web/build.yaml

feat: Integration test coverage over skeleton School IT Spend page
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: Added missing styles to `main.css` for new SSR chart
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/horizontalBarChart/examples.ts
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Added labels and axes to horizontal chart
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/types.d.ts
Due: pipelines/platform/build.yaml

feat: Added scaffolding for horizontal bar chart to ChartRendering API
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/validator.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/horizontalBarChart/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/horizontalBarChart/examples.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/index.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/verticalBarChart/examples.ts
Due: pipelines/platform/build.yaml

feat: Customised y-axis to support `<a>` link based on format supplied in chart config
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/horizontalBarChart/examples.ts
Due: pipelines/platform/build.yaml

feat: More horizontal chart axis fixes
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Remove finance tool `app-view-component` elements and associated assets
  web/src/Web.App/AssetSrc/images/areas-for-investigation.png
  web/src/Web.App/AssetSrc/images/benchmark-census.png
  web/src/Web.App/AssetSrc/images/central-services.png
  web/src/Web.App/AssetSrc/images/compare-your-costs.png
  web/src/Web.App/AssetSrc/images/curriculum-financial-planning.png
  web/src/Web.App/AssetSrc/images/forecast-risk.png
  web/src/Web.App/AssetSrc/images/high-needs.png
  web/src/Web.App/AssetSrc/images/side-by-side.png
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/Shared/Components/CustomDataFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/TrustFinanceTools/Default.cshtml
Due: pipelines/web/build.yaml

chore: update data releases docs to link to SharePoint for access request instructions
  documentation/data/5_Releases.md
Due: pipelines/documentation/build.yaml

fixes following PR comments
  documentation/quality-assurance/7_Release-Comms.md
  documentation/quality-assurance/8_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

Resolve PR comments
  documentation/quality-assurance/1_Test-strategy-service.md
Due: pipelines/documentation/build.yaml

linting
  documentation/data/7_Cost-Categories.md
Due: pipelines/documentation/build.yaml

docs: first phase at documenting cost categories
  documentation/data/7_Cost-Categories.md
Due: pipelines/documentation/build.yaml

Doc/cost cat (#2660)
  documentation/data/7_Cost-Categories.md
Due: pipelines/documentation/build.yaml

docs: added income and balance details
  documentation/data/7_Cost-Categories.md
Due: pipelines/documentation/build.yaml
