Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Perform historical data `fetch` when each tab is loaded, rather than all tabs when view is rendered
  front-end-components/src/main.tsx
  front-end-components/src/views/historic-data-2/partials/census-section.tsx
  front-end-components/src/views/historic-data-2/partials/index.tsx
  front-end-components/src/views/historic-data-2/partials/spending-section.tsx
  front-end-components/src/views/historic-data-2/types.tsx
  front-end-components/src/views/historic-data-2/view.tsx
  front-end-components/src/views/historic-data/partials/balance-section.tsx
  front-end-components/src/views/historic-data/partials/census-section.tsx
  front-end-components/src/views/historic-data/partials/income-section.tsx
  front-end-components/src/views/historic-data/partials/spending-section.tsx
  front-end-components/src/views/historic-data/view.tsx
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Domain/Insight/HistoryComparison.cs
  web/src/Web.App/ViewModels/SchoolHistoryViewModel.cs
  web/src/Web.App/Views/School/History.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: Bumped `front-end` to `1.1.21`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Bump `Microsoft.Azure.WebJobs` and add `enableQueryStringTracing` host config
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/Platform.Api.Benchmark.csproj
  platform/src/apis/Platform.Api.Benchmark/host.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/Platform.Api.Establishment.csproj
  platform/src/apis/Platform.Api.Establishment/host.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/Platform.Api.Insight.csproj
  platform/src/apis/Platform.Api.Insight/host.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

feat: Added configurable SQL dependency telemetry to function apps
  platform/README.md
  platform/src/apis/Platform.Api.Benchmark/Configuration/Services.cs
  platform/src/apis/Platform.Api.Establishment/Configuration/Services.cs
  platform/src/apis/Platform.Api.Insight/Configuration/Services.cs
  platform/src/apis/Platform.Orchestrator/Configuration/Services.cs
  platform/src/apis/Platform.UserDataCleanUp/Configuration/Services.cs
  platform/terraform/README.md
  platform/terraform/main.tf
  platform/terraform/variables.tf
Due: pipelines/platform/build.yaml

chore: Fixed and enabled Historical Trends E2E tests
  pipelines/web/steps/run-e2e-tests.yaml
  web/terraform/variables.tf
  web/tests/Web.E2ETests/Features/School/HistoricData.feature
Due: pipelines/web/build.yaml

feat: Peak load test definitions for School Expenditure History endpoints
  documentation/quality-assurance/performance-test-plans/0002_API-peak-load-test-plan.md
  performance-tests/src/platform/peak/insight/school/expenditure/history/comparator-set/config.yaml
  performance-tests/src/platform/peak/insight/school/expenditure/history/comparator-set/dimensions.csv
  performance-tests/src/platform/peak/insight/school/expenditure/history/comparator-set/schools.csv
  performance-tests/src/platform/peak/insight/school/expenditure/history/comparator-set/url-test.json
  performance-tests/src/platform/peak/insight/school/expenditure/history/get/config.yaml
  performance-tests/src/platform/peak/insight/school/expenditure/history/get/dimensions.csv
  performance-tests/src/platform/peak/insight/school/expenditure/history/get/schools.csv
  performance-tests/src/platform/peak/insight/school/expenditure/history/get/url-test.json
  performance-tests/src/platform/peak/insight/school/expenditure/history/national-average/config.yaml
  performance-tests/src/platform/peak/insight/school/expenditure/history/national-average/dimensions.csv
  performance-tests/src/platform/peak/insight/school/expenditure/history/national-average/financeTypes.csv
  performance-tests/src/platform/peak/insight/school/expenditure/history/national-average/overallPhases.csv
  performance-tests/src/platform/peak/insight/school/expenditure/history/national-average/url-test.json
Due: pipelines/documentation/build.yaml

feat: Average load test definitions for School Expenditure History endpoints
  documentation/quality-assurance/performance-test-plans/0001_API-average-load-test-plan.md
  performance-tests/src/platform/average/insight/school/expenditure/history/comparator-set/config.yaml
  performance-tests/src/platform/average/insight/school/expenditure/history/comparator-set/dimensions.csv
  performance-tests/src/platform/average/insight/school/expenditure/history/comparator-set/schools.csv
  performance-tests/src/platform/average/insight/school/expenditure/history/comparator-set/url-test.json
  performance-tests/src/platform/average/insight/school/expenditure/history/get/config.yaml
  performance-tests/src/platform/average/insight/school/expenditure/history/get/dimensions.csv
  performance-tests/src/platform/average/insight/school/expenditure/history/get/schools.csv
  performance-tests/src/platform/average/insight/school/expenditure/history/get/url-test.json
  performance-tests/src/platform/average/insight/school/expenditure/history/national-average/config.yaml
  performance-tests/src/platform/average/insight/school/expenditure/history/national-average/dimensions.csv
  performance-tests/src/platform/average/insight/school/expenditure/history/national-average/financeTypes.csv
  performance-tests/src/platform/average/insight/school/expenditure/history/national-average/overallPhases.csv
  performance-tests/src/platform/average/insight/school/expenditure/history/national-average/url-test.json
Due: pipelines/documentation/build.yaml

feat: Added historical load testing run to its own documented file
  documentation/quality-assurance/performance-test-plans/0001_API-average-load-test-plan.md
  documentation/quality-assurance/performance-test-plans/0002_API-peak-load-test-plan.md
  documentation/quality-assurance/performance-test-plans/0006_API-school-history-load-test-plan.md
Due: pipelines/documentation/build.yaml

fix: use SchoolExpenditureHistoryResponse for insight expenditure historic trends. Update tests
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureService.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenExpenditureServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetComparatorSetAverageExpenditureHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetNationalAverageExpenditureHistoryRequest.cs
Due: pipelines/platform/build.yaml

fix: rename AdministrativeSuppliesCosts as AdministrativeSuppliesNonEducationalCosts including central and school variants in web
  web/src/Web.App/Domain/Benchmark/CustomData.cs
  web/src/Web.App/Domain/CostCategories.cs
  web/src/Web.App/Domain/CustomDataFactory.cs
  web/src/Web.App/Domain/Insight/Expenditure.cs
  web/src/Web.App/Services/CustomDataService.cs
  web/src/Web.App/ViewModels/FinancialDataCustomDataViewModel.cs
  web/src/Web.App/ViewModels/SchoolCustomDataChangeViewModel.cs
  web/src/Web.App/ViewModels/SchoolCustomDataViewModel.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolCustomDataChangeViewModel.cs
Due: pipelines/web/build.yaml

fix: rename AdministrativeSuppliesCosts prop as AdministrativeSuppliesNonEducationalCosts including central and school variants in platform
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureResponse.cs
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/AdministrationSuppliesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/Assertions.cs
Due: pipelines/platform/build.yaml

fix: rename AdministrativeSuppliesCosts prop as AdministrativeSuppliesNonEducationalCosts including central and school variants in front-end-components
  front-end-components/index.html
  front-end-components/src/services/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/types.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/types.tsx
  front-end-components/src/views/historic-data-2/partials/index.tsx
  front-end-components/src/views/historic-data/partials/spending-section-administrative-supplies.tsx
Due: pipelines/front-end-components/build.yaml

chore: feature file table formatting
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
Due: pipelines/platform/build.yaml

feat: Average load test definitions for School Census History endpoints
  documentation/quality-assurance/performance-test-plans/0006_API-school-history-load-test-plan.md
  performance-tests/src/platform/average/insight/school/census/history/comparator-set/config.yaml
  performance-tests/src/platform/average/insight/school/census/history/comparator-set/dimensions.csv
  performance-tests/src/platform/average/insight/school/census/history/comparator-set/schools.csv
  performance-tests/src/platform/average/insight/school/census/history/comparator-set/url-test.json
  performance-tests/src/platform/average/insight/school/census/history/get/config.yaml
  performance-tests/src/platform/average/insight/school/census/history/get/dimensions.csv
  performance-tests/src/platform/average/insight/school/census/history/get/schools.csv
  performance-tests/src/platform/average/insight/school/census/history/get/url-test.json
  performance-tests/src/platform/average/insight/school/census/history/national-average/config.yaml
  performance-tests/src/platform/average/insight/school/census/history/national-average/dimensions.csv
  performance-tests/src/platform/average/insight/school/census/history/national-average/financeTypes.csv
  performance-tests/src/platform/average/insight/school/census/history/national-average/overallPhases.csv
  performance-tests/src/platform/average/insight/school/census/history/national-average/url-test.json
Due: pipelines/documentation/build.yaml

test: add api tests for insight expenditure historic trends
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.ApiTests/Steps/InsightExpenditureSteps.cs
Due: pipelines/platform/build.yaml

chore: bump front-end to 1.1.22
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Peak load test definitions for School Census History endpoints
  documentation/quality-assurance/performance-test-plans/0006_API-school-history-load-test-plan.md
  performance-tests/src/platform/peak/insight/school/census/history/comparator-set/config.yaml
  performance-tests/src/platform/peak/insight/school/census/history/comparator-set/dimensions.csv
  performance-tests/src/platform/peak/insight/school/census/history/comparator-set/schools.csv
  performance-tests/src/platform/peak/insight/school/census/history/comparator-set/url-test.json
  performance-tests/src/platform/peak/insight/school/census/history/get/config.yaml
  performance-tests/src/platform/peak/insight/school/census/history/get/dimensions.csv
  performance-tests/src/platform/peak/insight/school/census/history/get/schools.csv
  performance-tests/src/platform/peak/insight/school/census/history/get/url-test.json
  performance-tests/src/platform/peak/insight/school/census/history/national-average/config.yaml
  performance-tests/src/platform/peak/insight/school/census/history/national-average/dimensions.csv
  performance-tests/src/platform/peak/insight/school/census/history/national-average/financeTypes.csv
  performance-tests/src/platform/peak/insight/school/census/history/national-average/overallPhases.csv
  performance-tests/src/platform/peak/insight/school/census/history/national-average/url-test.json
Due: pipelines/documentation/build.yaml

test: add api tests for insight expenditure historic trends (#1680)
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.ApiTests/Steps/InsightExpenditureSteps.cs
Due: pipelines/platform/build.yaml

test: add api tests for insight census historic trends
  platform/tests/Platform.ApiTests/Features/InsightCensus.feature
  platform/tests/Platform.ApiTests/Steps/InsightCensusSteps.cs
Due: pipelines/platform/build.yaml

spike: Replaced `recharts-to-png` with `html-to-image`
  front-end-components/index.html
  front-end-components/package-lock.json
  front-end-components/package.json
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/line-chart/component.tsx
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/components/charts/vertical-bar-chart/component.tsx
  front-end-components/src/hooks/useDownloadImage.ts
Due: pipelines/front-end-components/build.yaml

test: add api tests for insight census historic trends (#1682)
  platform/tests/Platform.ApiTests/Features/InsightCensus.feature
  platform/tests/Platform.ApiTests/Steps/InsightCensusSteps.cs
Due: pipelines/platform/build.yaml

feat: Updated load test configuration for 'national average' history endpoints
  documentation/quality-assurance/performance-test-plans/0006_API-school-history-load-test-plan.md
  performance-tests/src/platform/average/insight/school/census/history/national-average/config.yaml
  performance-tests/src/platform/average/insight/school/census/history/national-average/overallPhases.csv
  performance-tests/src/platform/average/insight/school/expenditure/history/national-average/config.yaml
  performance-tests/src/platform/average/insight/school/expenditure/history/national-average/overallPhases.csv
  performance-tests/src/platform/peak/insight/school/census/history/national-average/config.yaml
  performance-tests/src/platform/peak/insight/school/census/history/national-average/overallPhases.csv
  performance-tests/src/platform/peak/insight/school/expenditure/history/national-average/config.yaml
  performance-tests/src/platform/peak/insight/school/expenditure/history/national-average/overallPhases.csv
Due: pipelines/documentation/build.yaml

trust seeding
  test-data/Trust.csv
Due: none

feat: Added Redis to Platform resource group [wip]
  platform/terraform/README.md
  platform/terraform/cache.tf
  platform/terraform/functions.tf
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/variables.tf
  platform/terraform/variables.tf
Due: pipelines/platform/build.yaml

added trust financial for 2022, 2023
  test-data/TrustFinancial.csv
Due: none

added school for the new academy, updated the decimals
  test-data/School.csv
Due: none

updated LA name which was causing trouble in import
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
Due: pipelines/web/build.yaml
