Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: add additional source info to "Total place funding for special schools and AP/PRUs" chart (#3808)
  front-end-components/src/views/benchmark-data-high-needs/partials/index.tsx
Due: pipelines/front-end-components/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: add waf policy rule exclusion (#3806)
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

chore: bump platform dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bump web npm dependencies
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: bump Web.Shutter dependencies
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: pin `gts` to `6.0.2`
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: bump platform dependencies (#3812)
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bump web npm dependencies (#3811)
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: prototype dependencies (#3810)
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml

chore: bump web nuget dependencies
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: bump Web.Shutter dependencies (#3813)
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: ignore gts >=7.0.0 updates
  .github/dependabot.yml
Due: none

chore: bump web nuget dependencies (#3814)
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: ignore gts >=7.0.0 updates (#3815)
  .github/dependabot.yml
Due: none

npm audit fix
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
Due: pipelines/platform/build.yaml

chore: bump Platform.Api.ChartRendering dependencies
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

reset index after
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
  data-pipeline/tests/unit/pre_processing/test_ilr.py
Due: pipelines/data-pipeline/build.yaml

chore: bump Web npm dependencies
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

Add additional features and weights to the calculations
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/config.py
Due: pipelines/data-pipeline/build.yaml

chore: bump Platform.Api.ChartRendering dependencies (#3829)
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: bump Web npm dependencies (#3830)
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: bump Web dependencies
  web/Directory.Packages.props
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: bump Web.Shutter dependencies (#3831)
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: bump Web dependencies (#3832)
  web/Directory.Packages.props
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

Fix missing Revenue Reserves for 6th Forms/Tech Colleges (#3807)
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
  data-pipeline/src/pipeline/pre_processing/cfr/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/pre_processing/test_ilr.py
Due: pipelines/data-pipeline/build.yaml

chore: bump frontend dependencies
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

updated MFA decision
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

linting
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

chore: bump frontend dependencies (#3833)
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

Added debugger file and addressed warning about new column creation
  .vscode/launch.json
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/config.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

change order of selection from base set
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/config.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

fix typos in selection method change
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/config.py
Due: pipelines/data-pipeline/build.yaml

fix incorrect indexing in top_up_local selection method
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/config.py
Due: pipelines/data-pipeline/build.yaml

feat: new LocalAUthorityFinancial view for High Needs Deficit
  core-infrastructure/src/db/Core.Database/Views/018-LocalAuthorityFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: use LatestS251Year param to target period-specific data insead of CurrentYear
  core-infrastructure/src/db/Core.Database/Views/018-LocalAuthorityFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: rename view to be more appropriate
  core-infrastructure/src/db/Core.Database/Views/018-LocalAuthorityFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

refactor: remove unneeded terraform related to databricks access connectors
  core-infrastructure/terraform/storage.tf
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
