Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Reverted back to multiple charts per worker
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/workers/verticalBarChartWorker.ts
Due: pipelines/platform/build.yaml

feat: Elastic Plan config changes and load test results
  documentation/quality-assurance/images/school-spending-priorities-d13-004.png
  documentation/quality-assurance/images/school-spending-priorities-d13-005.png
  documentation/quality-assurance/performance-test-plans/0007_API-Web-ssr-charts-load-test-plan.md
  performance-tests/src/platform/peak/chart/vertical-bar-chart/config.yaml
  performance-tests/src/platform/peak/chart/vertical-bar-chart/url-test.json
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/output.tf
  platform/terraform/modules/functions/variables.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Bump app service plan again
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/variables.tf
Due: pipelines/platform/build.yaml

feat: Alerting for Chart Rendering function app
  support-analytics/terraform/README.md
  support-analytics/terraform/alerts.tf
  support-analytics/terraform/data.tf
  support-analytics/terraform/provider.tf
  support-analytics/terraform/variables.tf
Due: pipelines/support-analytics/release.yaml

chore: Fix new alert TF
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/terraform/README.md
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/variables.tf
  support-analytics/terraform/README.md
  support-analytics/terraform/alerts.tf
  support-analytics/terraform/data.tf
Due: pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml

feat: Always display `OverallPhase` facets relevant to the original search term in search results
  web/src/Web.App/Controllers/SchoolSearchController.cs
  web/src/Web.App/ViewModels/Search/SchoolSearchResultsViewModel.cs
  web/src/Web.App/ViewModels/Search/SchoolSearchViewModel.cs
  web/src/Web.App/ViewModels/Search/SearchResultFacetViewModel.cs
  web/src/Web.App/Views/SchoolSearch/Search.cshtml
  web/src/Web.App/Views/Shared/Search/_SchoolSearchResultsOptions.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Search/WhenViewingSchoolSearchResults.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Tests/ViewModels/Search/GivenASchoolSearchResultsViewModel.cs
Due: pipelines/web/build.yaml

chore: Renamed `FacetedSearch` to `FilteredSearch` globally
  pipelines/web/steps/run-a11y-tests.yaml
  pipelines/web/steps/run-e2e-tests.yaml
  web/README.md
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/Controllers/FindOrganisationController.cs
  web/src/Web.App/Controllers/SchoolSearchController.cs
  web/src/Web.App/Views/FindOrganisation/Index.cshtml
  web/src/Web.App/Views/Shared/_ChangeLink.cshtml
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
  web/tests/Web.A11yTests/Pages/Schools/WhenViewingSearch.cs
  web/tests/Web.A11yTests/Pages/Schools/WhenViewingSearchResults.cs
  web/tests/Web.A11yTests/Pages/WhenViewingFindOrganisation.cs
  web/tests/Web.E2ETests/Features/FindOrganisation.feature
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
  web/tests/Web.Integration.Tests/Pages/WhenAFeatureIsDisabled.cs
Due: pipelines/web/build.yaml

feat: Replaced faceted school search results with simple filter on all supported types
  platform/src/abstractions/Platform.Search/Requests/SearchRequest.cs
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/Features/Schools/Services/SchoolsService.cs
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.Resources/School/SchoolIndex.cs
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/Schools/Services/WhenSchoolsServiceIsCalled.cs
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  web/src/Web.App/Controllers/SchoolSearchController.cs
  web/src/Web.App/ViewModels/Search/SchoolSearchResultsOptionsViewModel.cs
  web/src/Web.App/ViewModels/Search/SchoolSearchResultsViewModel.cs
  web/src/Web.App/Views/SchoolSearch/Search.cshtml
  web/src/Web.App/Views/Shared/Search/_SchoolSearchResultsOptions.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Search/WhenViewingSchoolSearch.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Search/WhenViewingSchoolSearchResults.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Removed Facet assertions from School Search API tests
  platform/tests/Platform.ApiTests/Features/EstablishmentSchools.feature
  platform/tests/Platform.ApiTests/Steps/EstablishmentSchoolsSteps.cs
Due: pipelines/platform/build.yaml

feat: Sample vertical bar chart rendered with d3 via jsdom
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

feat: Provision `ChartRendering` function app
  documentation/quality-assurance/4_Performance-Testing.md
  pipelines/platform/deployment.yaml
  pipelines/platform/security-scan.yaml
  pipelines/platform/steps/build.yaml
  pipelines/platform/zaproxy/chart-rendering.prop
  platform/Platform.sln
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Logging.cs
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Services.cs
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Worker.cs
  platform/src/apis/Platform.Api.ChartRendering/Constants.cs
  platform/src/apis/Platform.Api.ChartRendering/Features/HealthCheck/GetHealthFunction.cs
  platform/src/apis/Platform.Api.ChartRendering/Features/HealthCheck/Routes.cs
  platform/src/apis/Platform.Api.ChartRendering/Platform.Api.ChartRendering.csproj
  platform/src/apis/Platform.Api.ChartRendering/Program.cs
  platform/src/apis/Platform.Api.ChartRendering/Properties/launchSettings.json
  platform/src/apis/Platform.Api.ChartRendering/host.json
  platform/src/apis/Platform.Api.ChartRendering/packages.lock.json
  platform/terraform/functions.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Skeleton TS function for generating vertical bar charts
  platform/Platform.sln
  platform/src/apis/Platform.Api.ChartRendering/.vscode/extensions.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/launch.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/tasks.json
  platform/src/apis/Platform.Api.ChartRendering/eslint.config.mjs
  platform/src/apis/Platform.Api.ChartRendering/host.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/httpTrigger1.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

feat: Support single or multiple vertical bar chart payloads
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/builders/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
Due: pipelines/platform/build.yaml

feat: Replace .NET function app with JS
  .gitignore
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/.run/chart-rendering-fa.run.xml
  platform/Platform.sln
  platform/src/apis/Platform.Api.ChartRendering/.funcignore
  platform/src/apis/Platform.Api.ChartRendering/.vscode/extensions.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/launch.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/tasks.json
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Logging.cs
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Services.cs
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Worker.cs
  platform/src/apis/Platform.Api.ChartRendering/Constants.cs
  platform/src/apis/Platform.Api.ChartRendering/Features/HealthCheck/GetHealthFunction.cs
  platform/src/apis/Platform.Api.ChartRendering/Features/HealthCheck/Routes.cs
  platform/src/apis/Platform.Api.ChartRendering/Platform.Api.ChartRendering.csproj
  platform/src/apis/Platform.Api.ChartRendering/Program.cs
  platform/src/apis/Platform.Api.ChartRendering/Properties/launchSettings.json
  platform/src/apis/Platform.Api.ChartRendering/host.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/packages.lock.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/httpTrigger1.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
  platform/src/apis/Platform.Api.Insight/host.json
  platform/terraform/README.md
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/output.tf
  platform/terraform/modules/functions/variables.tf
Due: pipelines/platform/build.yaml

feat: Replaced client rendered charts on School spending priorities with server rendered (multiple requests)
  platform/.run/Debug API functions.run.xml
  platform/.run/chart-rendering-fa.run.xml
  platform/Platform.sln
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  web/README.md
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/ApiBase.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostVerticalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiResults/ApiResponseBody.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/Api.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/ChartRenderingApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewComponents/PriorityCostCategoryViewComponent.cs
  web/src/Web.App/ViewModels/Components/PriorityCostCategoryViewModel.cs
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
  web/src/Web.App/Views/Shared/Components/PriorityCostCategory/Default.cshtml
  web/src/Web.App/Web.App.csproj
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/data.tf
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Wired up sample spending and priorities chart data
  platform/src/apis/Platform.Api.ChartRendering/.prettierrc
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

feat: Added App Insights SDK to Node function app
  performance-tests/src/platform/average/chart/vertical-bar-chart/config.yaml
  performance-tests/src/platform/average/chart/vertical-bar-chart/requests.csv
  performance-tests/src/platform/average/chart/vertical-bar-chart/url-test.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: Toggled original vs. SSR chart via config. Set feature env infra to match `t01`.
  documentation/quality-assurance/performance-test-plans/0007_Web-ssr-charts-load-test-plan.md
  platform/terraform/functions.tf
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCosts/Default.cshtml
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/front-door.tf
  web/terraform/variables.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Reverted Node function app network restrictions and run API load tests
  documentation/quality-assurance/performance-test-plans/0007_API-Web-ssr-charts-load-test-plan.md
  performance-tests/src/platform/average/chart/vertical-bar-chart/config.yaml
  performance-tests/src/platform/average/chart/vertical-bar-chart/requests.csv
  performance-tests/src/platform/average/chart/vertical-bar-chart/url-test.json
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/terraform/functions.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Worker pool using Piscina
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/workers/verticalBarChartWorker.ts
Due: pipelines/platform/build.yaml

feat: Shared JSDOM from worker instead of within builder
  platform/src/apis/Platform.Api.ChartRendering/src/builders/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/workers/verticalBarChartWorker.ts
Due: pipelines/platform/build.yaml

feat: Added App Insights dependency tracking with Piscina `runTime`
  documentation/quality-assurance/performance-test-plans/0007_API-Web-ssr-charts-load-test-plan.md
  platform/src/apis/Platform.Api.ChartRendering/src/builders/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/workers/verticalBarChartWorker.ts
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Implemented `worker_threads` for incoming chart requests
  platform/src/apis/Platform.Api.ChartRendering/src/builders/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/workers/verticalBarChartWorker.ts
Due: pipelines/platform/build.yaml

feat: Updated load test results post-SSR on feature environment
  documentation/quality-assurance/images/school-spending-priorities-d13-001.png
  documentation/quality-assurance/images/school-spending-priorities-d13-002.png
  documentation/quality-assurance/performance-test-plans/0007_Web-ssr-charts-load-test-plan.md
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Bump app service plan
  documentation/quality-assurance/images/school-spending-priorities-d13-002.png
  documentation/quality-assurance/images/school-spending-priorities-d13-003.png
  documentation/quality-assurance/performance-test-plans/0007_Web-ssr-charts-load-test-plan.md
  platform/terraform/functions.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: New worker per chart per request
  platform/src/apis/Platform.Api.ChartRendering/src/builders/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/workers/verticalBarChartWorker.ts
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: Switched out single SSR chart resolution with multiple charts per request (albeit with one request per priority level)
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostVerticalBarChartRequest.cs
  web/src/Web.App/ViewComponents/PriorityCostCategoryViewComponent.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/src/Web.App/ViewModels/Components/PriorityCostCategoryViewModel.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Shared/Components/PriorityCostCategory/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCosts/Default.cshtml
  web/src/Web.App/Web.App.csproj
Due: pipelines/web/build.yaml

feat: Downgrade active elastic instance count back to `1`
  documentation/quality-assurance/performance-test-plans/0007_API-Web-ssr-charts-load-test-plan.md
  platform/terraform/functions.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Move back to consumption plan for additional round of load testing
  documentation/quality-assurance/performance-test-plans/0007_API-Web-ssr-charts-load-test-plan.md
  platform/terraform/functions.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Added basic ChartJs version of vertical bar chart as canvas-to-svg without virtual DOM
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/builders/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartJsBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChartJs.ts
  web/src/Web.App/Infrastructure/Apis/ChartRendering/Api.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/ChartRenderingApi.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Extracted and documented Chart Rendering function app service-level configuration
  platform/README.md
  platform/terraform/README.md
  platform/terraform/functions.tf
  platform/terraform/variables.tf
Due: pipelines/platform/build.yaml

chore: Re-enable SSR using `d3` implementation
  web/src/Web.App/Infrastructure/Apis/ChartRendering/ChartRenderingApi.cs
  web/terraform/app-service.tf
Due: pipelines/web/build.yaml
