Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

try again
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

again
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

feat: Cloned `compare-your-census` view to `-2` and added new props
  front-end-components/index.html
  front-end-components/src/components/chart-progress/component.tsx
  front-end-components/src/components/chart-progress/types.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/components/index.tsx
  front-end-components/src/components/progress-banding-tag/component.tsx
  front-end-components/src/components/progress-banding-tag/types.tsx
  front-end-components/src/composed/dimensioned-chart/composed.tsx
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/constants.tsx
  front-end-components/src/contexts/contexts.tsx
  front-end-components/src/contexts/providers.tsx
  front-end-components/src/main.tsx
  front-end-components/src/views/compare-your-census-2/index.tsx
  front-end-components/src/views/compare-your-census-2/partials/auxiliary-staff.tsx
  front-end-components/src/views/compare-your-census-2/partials/headcount.tsx
  front-end-components/src/views/compare-your-census-2/partials/index.tsx
  front-end-components/src/views/compare-your-census-2/partials/non-classroom-support.tsx
  front-end-components/src/views/compare-your-census-2/partials/school-workforce.tsx
  front-end-components/src/views/compare-your-census-2/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census-2/partials/teaching-assistants.tsx
  front-end-components/src/views/compare-your-census-2/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-census-2/partials/total-teachers.tsx
  front-end-components/src/views/compare-your-census-2/partials/types.tsx
  front-end-components/src/views/compare-your-census-2/types.tsx
  front-end-components/src/views/compare-your-census-2/view.tsx
  front-end-components/src/views/compare-your-costs-2/types.tsx
  front-end-components/src/views/index.tsx
Due: pipelines/front-end-components/build.yaml

feat: Propagated progress indicators and legend from context to census charts
  front-end-components/src/views/compare-your-census-2/partials/auxiliary-staff.tsx
  front-end-components/src/views/compare-your-census-2/partials/headcount.tsx
  front-end-components/src/views/compare-your-census-2/partials/non-classroom-support.tsx
  front-end-components/src/views/compare-your-census-2/partials/school-workforce.tsx
  front-end-components/src/views/compare-your-census-2/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census-2/partials/teaching-assistants.tsx
  front-end-components/src/views/compare-your-census-2/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-census-2/partials/total-teachers.tsx
  front-end-components/src/views/compare-your-census-2/partials/types.tsx
  front-end-components/src/views/compare-your-census-2/types.tsx
Due: pipelines/front-end-components/build.yaml

feat: Consumed new progress-related props in `-2` view and updated to two-column layout
  front-end-components/src/components/chart-options-phase-mode/component.tsx
  front-end-components/src/components/chart-options-phase-mode/index.tsx
  front-end-components/src/components/chart-options-progress/index.tsx
  front-end-components/src/components/chart-options/component.tsx
  front-end-components/src/components/chart-options/index.tsx
  front-end-components/src/components/chart-options/styles.scss
  front-end-components/src/components/chart-options/types.tsx
  front-end-components/src/components/chart-phases/component.tsx
  front-end-components/src/components/chart-phases/index.tsx
  front-end-components/src/components/chart-phases/styles.scss
  front-end-components/src/components/chart-phases/types.tsx
  front-end-components/src/components/index.tsx
  front-end-components/src/views/compare-your-census-2/view.tsx
  front-end-components/src/views/compare-your-census/view.tsx
  front-end-components/src/views/compare-your-costs-2/view.tsx
  front-end-components/src/views/compare-your-costs/view.tsx
Due: pipelines/front-end-components/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: Ensured 'school performance' resource always visible if feature flags enabled
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/Views/School/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
Due: pipelines/web/build.yaml

feat: Added 'Compare school performance' resource to School homepage
  web/src/Web.App/Constants.cs
  web/src/Web.App/ViewModels/Components/ResourcesViewModel.cs
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/School/_Performance.cshtml
  web/src/Web.App/Views/Shared/Components/DataSourceInset/Default.cshtml
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
Due: pipelines/web/build.yaml

chore: Moved resources collection from school view to view model
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/Views/School/Index.cshtml
Due: pipelines/web/build.yaml

syntax
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

feat: Updated intro content on School home page when feature enabled
  web/src/Web.App/ViewComponents/DataSourceInsetViewComponent.cs
  web/src/Web.App/ViewModels/Components/DataSourceInsetViewModel.cs
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/Shared/Components/DataSourceInset/Default.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/SchoolDocumentAssert.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
Due: pipelines/web/build.yaml

chore: Resolve deprecated Azurite version error by bumping version in `docker-compose`
  platform/docker/docker-compose.yml
Due: pipelines/platform/build.yaml

refactor: DataSourceInsetViewComponent to return an empty array rather than throw when unexpected DataSourceTypes or OrganisationTypes received
  web/src/Web.App/ViewComponents/DataSourceInsetViewComponent.cs
  web/src/Web.App/Views/Shared/Components/DataSourceInset/Default.cshtml
Due: pipelines/web/build.yaml

feat: add introduction text to school census page using DataSourceInset and ComparatorSetDetails when KS4ProgressBanding feature flag is true
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
Due: pipelines/web/build.yaml

feat: add DataSourceTypes.Census content to DataSourceInsetViewComponent
  web/src/Web.App/ViewComponents/DataSourceInsetViewComponent.cs
Due: pipelines/web/build.yaml

chore: add integration test coverage over introduction text for school census page
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: update text for anchor for workforce comparators
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/BulletedList.cshtml
Due: pipelines/web/build.yaml

fix: amended ComparatorSetDetailsViewModel default view for HasCustomData to correctly use Workforce SchoolComparators when ComparatorSetType.Workforce.
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/Default.cshtml
Due: pipelines/web/build.yaml

refactor: introduce Ks4ProgressProps to couple ShowKs4Progress and Urn
  web/src/Web.App/Domain/Ks4ProgressOptions.cs
  web/src/Web.App/ViewComponents/DataSourceInsetViewComponent.cs
  web/src/Web.App/ViewModels/Components/DataSourceInsetViewModel.cs
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
  web/src/Web.App/Views/SchoolComparison/Index.cshtml
Due: pipelines/web/build.yaml

doc: databricks cicd runners context
  documentation/data/10_Databricks-Development.md
Due: pipelines/documentation/build.yaml

chore: update DataSourceInset usage in SchoolHome
  web/src/Web.App/Views/School/Index.cshtml
Due: pipelines/web/build.yaml

feat: Replace Urls from Constants with UriBuilder
  web/src/Web.App/Builders/UriBuilder.cs
  web/src/Web.App/Builders/UriOptions.cs
  web/src/Web.App/Constants.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewComponents/DataSourceInsetViewComponent.cs
  web/src/Web.App/ViewComponents/ResourcesViewComponent.cs
  web/src/Web.App/ViewModels/Components/DataSourceInsetViewModel.cs
  web/src/Web.App/ViewModels/Components/ResourcesViewModel.cs
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/School/Details.cshtml
  web/src/Web.App/Views/School/NonLeadFederation.cshtml
  web/src/Web.App/Views/School/_Performance.cshtml
  web/src/Web.App/Views/Shared/Components/DataSourceInset/Default.cshtml
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
  web/src/Web.App/Views/Trust/Details.cshtml
  web/src/Web.App/appsettings.json
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/DocumentAssert.cs
  web/tests/Web.Tests/Builders/WhenUriBuilder.cs
  web/tests/Web.Tests/WhenConstants.cs
Due: pipelines/web/build.yaml

alter
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

add variable to DAB
  databricks/education_benchmarking_and_insights/databricks.yml
Due: none

add manual trigger for dev deploy
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

manual stages can't have dependsOn
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

remove unneeded trigger
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

remove deploy to prod stage
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

chore: Added `[Required]` annotations to `UriOptions` to throw `OptionsValidationException` if values missing
  web/src/Web.App/Builders/UriBuilder.cs
  web/src/Web.App/Builders/UriOptions.cs
Due: pipelines/web/build.yaml

test
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml
