Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

fix: correct deduplication logic for merge
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

fix: correct deduplication logic for merge (#1361)
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

bugfix: correct net catering income cost calc
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

feat: Remove redundant Trust financial fields from charts
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/historic-data/partials/income-section.tsx
  front-end-components/src/views/historic-data/partials/spending-section-other.tsx
  front-end-components/src/views/historic-data/partials/spending-section.tsx
Due: pipelines/front-end-components/build.yaml

fix: updates phase mapping
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

fix: updates phase mapping (#1360)
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

chore: Disabled Local User across all storage accounts
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/storage.tf
  platform/terraform/storage.tf
  supporting-data/terraform/storage.tf
  web/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

fix: Modified Pipeline Runs query to remove dependency on current environment name
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/pipeline-runs.kql
Due: pipelines/core-infrastructure/build.yaml

chore: Use managed identity for Azure Search to SQL Server connection
  core-infrastructure/terraform/databases.tf
  pipelines/platform/deployment.yaml
  platform/terraform/provider.tf
  platform/terraform/search.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

docs: adds release comms doc
  documentation/testing/5_Release-Comms.md
Due: pipelines/documentation/build.yaml

chore: restructure docs
  documentation/quality-assurance/0_Title.md
  documentation/quality-assurance/1_Test-Approach.md
  documentation/quality-assurance/2_Test-Plan.md
  documentation/quality-assurance/3_Security-Testing.md
  documentation/quality-assurance/4_Performance-Testing.md
  documentation/quality-assurance/5_Release-Comms.md
  documentation/quality-assurance/images/agile-testing-quadrants.png
  documentation/quality-assurance/images/average-school-spending-priorities-001.png
  documentation/quality-assurance/images/average-school-spending-priorities-002.png
  documentation/quality-assurance/images/average-school-spending-priorities-003.png
  documentation/quality-assurance/images/average-school-spending-priorities-004.png
  documentation/quality-assurance/images/average-school-spending-priorities-005.png
  documentation/quality-assurance/images/average-school-spending-priorities-006.png
  documentation/quality-assurance/images/average-school-spending-priorities-007.png
  documentation/quality-assurance/images/average-school-spending-priorities-008.png
  documentation/quality-assurance/images/path-to-live.jpg
  documentation/quality-assurance/images/peak-api-benchmark-comparators-001.png
  documentation/quality-assurance/images/peak-api-benchmark-comparators-002.png
  documentation/quality-assurance/images/school-home-001.png
  documentation/quality-assurance/images/school-home-002.png
  documentation/quality-assurance/images/testing-pyramid.png
  documentation/quality-assurance/images/types-of-testing.jpg
  documentation/quality-assurance/performance-test-plans/0001_API-average-load-test-plan.md
  documentation/quality-assurance/performance-test-plans/0002_API-peak-load-test-plan.md
  documentation/quality-assurance/performance-test-plans/0003_API-spike-load-test-plan.md
  documentation/quality-assurance/performance-test-plans/0004_Web-average-load-test-plan.md
  documentation/quality-assurance/performance-test-plans/0005_Web-peak-load-test-plan.md
  documentation/quality-assurance/release-test-plans/00001_release-test-plan.md
  documentation/quality-assurance/release-test-plans/00002_release-test-plan.md
  documentation/quality-assurance/release-test-plans/00003_reelase-test-plan.md
  documentation/quality-assurance/release-test-plans/00004_reelase-test-plan.md
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

docs: add missing page breaks
  documentation/quality-assurance/5_Release-Comms.md
  documentation/quality-assurance/performance-test-plans/0003_API-spike-load-test-plan.md
  documentation/quality-assurance/release-test-plans/00001_release-test-plan.md
  documentation/quality-assurance/release-test-plans/00002_release-test-plan.md
  documentation/quality-assurance/release-test-plans/00003_reelase-test-plan.md
  documentation/quality-assurance/release-test-plans/00004_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

Disabled Local User across all storage accounts (#1369)
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/pipeline-runs.kql
  core-infrastructure/terraform/storage.tf
  platform/terraform/storage.tf
  supporting-data/terraform/storage.tf
  web/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

chore: update deprecated AzureKeyVault task
  pipelines/core-infrastructure/deployment.yaml
  pipelines/platform/deployment.yaml
  pipelines/platform/security-scan.yaml
  pipelines/web/security-scan.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/web/build.yaml

fix: Display 'comparator reverted' banner on Trust homepage when custom comparators cleared
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsRevert.cs
Due: pipelines/web/build.yaml

fix: Added `EstablishmentHeading` component to CFP views, replacing existing implementations
  web/src/Web.App/Views/SchoolPlanning/View.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/ManagementRoles.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/ManagersPerRole.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/OtherTeachingPeriods.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/OtherTeachingPeriodsConfirm.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/OtherTeachingPeriodsReview.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PrePopulateData.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PrimaryHasMixedAgeClasses.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PrimaryMixedAgeClasses.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PrimaryPupilFigures.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PupilFigures.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/SelectYear.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/Start.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TeacherPeriodAllocation.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TeachingAssistantFigures.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TeachingPeriodsManager.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TimetableCycle.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalEducationSupport.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalExpenditure.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalIncome.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalNumberTeachers.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalTeacherCosts.cshtml
  web/tests/Web.Integration.Tests/DocumentAssert.cs
Due: pipelines/web/build.yaml

feat: Show horizontal chart bar in 'warning' colour if part-year data present for school
  front-end-components/index.html
  front-end-components/src/components/charts/establishment-tick/component.tsx
  front-end-components/src/components/charts/establishment-tick/types.tsx
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/index.css
  front-end-components/src/main.tsx
  front-end-components/src/services/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs/partials/expenditure-accordion.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-costs/types.tsx
Due: pipelines/front-end-components/build.yaml

bugfix: correct net catering income cost calc (#1363)
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

chore: format and package updates
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Infrastructure/ResourceNames.cs
  platform/src/abstractions/Platform.Search/SearchConnection.cs
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorSchoolsService.cs
  platform/src/apis/Platform.Api.Benchmark/Configuration/Services.cs
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/Configuration/Services.cs
  platform/src/apis/Platform.Api.Establishment/Program.cs
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/Configuration/Services.cs
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/Insight/BudgetForecast/WhenBudgetForecastServiceQueriesAsync.cs
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

Clean up references
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Sql/DatabaseFactory.cs
  platform/src/abstractions/Platform.Sql/Platform.Sql.csproj
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.Processor/Platform.Search.Processor.csproj
  platform/src/search/Platform.Search.Processor/packages.lock.json
  platform/src/search/Platform.Search.Resources/Platform.Search.Resources.csproj
  platform/tests/Platform.ApiTests/Platform.ApiTests.csproj
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

fix: Display 'comparator reverted' banner on Trust homepage when custom comparators cleared (#1359)
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsRevert.cs
Due: pipelines/web/build.yaml

fix: Added `EstablishmentHeading` component to CFP views, replacing existing implementations (#1362)
  web/src/Web.App/Views/SchoolPlanning/View.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/ManagementRoles.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/ManagersPerRole.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/OtherTeachingPeriods.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/OtherTeachingPeriodsConfirm.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/OtherTeachingPeriodsReview.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PrePopulateData.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PrimaryHasMixedAgeClasses.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PrimaryMixedAgeClasses.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PrimaryPupilFigures.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/PupilFigures.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/SelectYear.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/Start.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TeacherPeriodAllocation.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TeachingAssistantFigures.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TeachingPeriodsManager.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TimetableCycle.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalEducationSupport.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalExpenditure.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalIncome.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalNumberTeachers.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalTeacherCosts.cshtml
  web/tests/Web.Integration.Tests/DocumentAssert.cs
Due: pipelines/web/build.yaml

feat: Remove redundant Trust financial fields from charts (#1364)
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/historic-data/partials/income-section.tsx
  front-end-components/src/views/historic-data/partials/spending-section-other.tsx
  front-end-components/src/views/historic-data/partials/spending-section.tsx
Due: pipelines/front-end-components/build.yaml

feat: Show horizontal chart bar in 'warning' colour if part-year data present for school (#1365)
  front-end-components/index.html
  front-end-components/src/components/charts/establishment-tick/component.tsx
  front-end-components/src/components/charts/establishment-tick/types.tsx
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/index.css
  front-end-components/src/main.tsx
  front-end-components/src/services/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs/partials/expenditure-accordion.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-costs/types.tsx
Due: pipelines/front-end-components/build.yaml

chore: update deprecated AzureKeyVault task (#1374)
  pipelines/core-infrastructure/deployment.yaml
  pipelines/platform/deployment.yaml
  pipelines/platform/security-scan.yaml
  pipelines/web/security-scan.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/web/build.yaml

feat: adds accessibility statement page
  web/src/Web.App/Controllers/StaticContentController.cs
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/src/Web.App/Views/StaticContent/Accessibility.cshtml
  web/tests/Web.Integration.Tests/Pages/WhenViewingAccessibility.cs
Due: pipelines/web/build.yaml

feat: Show warning message in School table if part year data present
  front-end-components/src/components/charts/part-year-data-warning/component.tsx
  front-end-components/src/components/charts/part-year-data-warning/index.tsx
  front-end-components/src/components/charts/part-year-data-warning/types.tsx
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/index.css
Due: pipelines/front-end-components/build.yaml

feat: Show warning message in School table if part year data present (#1367)
  front-end-components/src/components/charts/part-year-data-warning/component.tsx
  front-end-components/src/components/charts/part-year-data-warning/index.tsx
  front-end-components/src/components/charts/part-year-data-warning/types.tsx
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/index.css
Due: pipelines/front-end-components/build.yaml

feat: Show warning message in School tooltip if part year data present
  front-end-components/src/components/charts/school-census-tooltip/component.tsx
  front-end-components/src/components/charts/school-census-tooltip/index.tsx
  front-end-components/src/components/charts/school-data-tooltip/component.tsx
  front-end-components/src/components/charts/school-data-tooltip/index.tsx
  front-end-components/src/components/charts/school-data-tooltip/types.tsx
  front-end-components/src/components/charts/trust-data-tooltip/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/index.css
  front-end-components/src/main.tsx
Due: pipelines/front-end-components/build.yaml

feat: Displayed number of months covered in School tooltip rather than generic warning message
  front-end-components/src/components/charts/school-data-tooltip/component.tsx
  front-end-components/src/components/charts/school-data-tooltip/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

feat: adds accessibility statement page (#1370)
  web/src/Web.App/Controllers/StaticContentController.cs
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/src/Web.App/Views/StaticContent/Accessibility.cshtml
  web/tests/Web.Integration.Tests/Pages/WhenViewingAccessibility.cs
Due: pipelines/web/build.yaml

Show warning message in School tooltip if part year data present (#1366)
  front-end-components/src/components/charts/school-census-tooltip/index.tsx
  front-end-components/src/components/charts/school-data-tooltip/component.tsx
  front-end-components/src/components/charts/school-data-tooltip/index.tsx
  front-end-components/src/components/charts/school-data-tooltip/types.tsx
  front-end-components/src/components/charts/trust-data-tooltip/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/index.css
  front-end-components/src/main.tsx
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: Bumped `front-end` to `1.0.76`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

release test plan
  documentation/quality-assurance/release-test-plans/00005_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

updated release plan
  documentation/quality-assurance/release-test-plans/00005_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

updated release plan with identified risk
  documentation/quality-assurance/release-test-plans/00005_reelase-test-plan.md
Due: pipelines/documentation/build.yaml
