Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

Release test plan for 2025.3.0 (#2094)
  documentation/quality-assurance/release-test-plans/00017_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: Added optional `dimension` to `GetHighNeedsFunction`
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/abstractions/tests/Platform.Domain.Tests/WhenDimensionsChecksIsValid.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/GetHighNeedsFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/HighNeedsFeature.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Parameters/HighNeedsDimensionedParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsStubService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Validators/HighNeedsDimensionedParametersValidator.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/OpenApi/Examples/ExampleEducationHealthCarePlansExamples.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/GetHighNeedsFunctionTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/Parameters/HighNeedsDimensionedParametersTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/Validators/WhenHighNeedsDimensionedParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

feat: Added optional `dimension` to `GetEducationHealthCarePlansLocalAuthoritiesFunction`
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/abstractions/tests/Platform.Domain.Tests/WhenDimensionsChecksIsValid.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/EducationHealthCarePlansFeature.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Parameters/EducationHealthCarePlansDimensionedParameters.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansService.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansStubService.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Validators/EducationHealthCarePlansDimensionedParametersValidator.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Validators/EducationHealthCarePlansParametersValidator.cs
  platform/src/apis/Platform.Api.NonFinancial/OpenApi/Examples/ExampleEducationHealthCarePlansExamples.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunctionTests.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/Parameters/EducationHealthCarePlansDimensionedParametersTests.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/Validators/WhenEducationHealthCarePlansDimensionedParametersValidatorValidates.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/Validators/WhenEducationHealthCarePlansParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

chore: Updated API tests to explicitly include default dimension
  platform/tests/Platform.ApiTests/Features/LocalAuthoritiesHighNeeds.feature
  platform/tests/Platform.ApiTests/Features/NonFinancialEducationHealthCarePlansLocalAuthoritiesHistory.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthoritiesHighNeedsSteps.cs
  platform/tests/Platform.ApiTests/Steps/NonFinancialEducationHealthCarePlansLocalAuthoritiesHistory.cs
Due: pipelines/platform/build.yaml

chore: Split `HighNeeds.Per1000` dimension value out into `EHCP` dimension
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/abstractions/tests/Platform.Domain.Tests/WhenDimensionsChecksIsValid.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Validators/EducationHealthCarePlansDimensionedParametersValidator.cs
  platform/src/apis/Platform.Api.NonFinancial/OpenApi/Examples/ExampleEducationHealthCarePlansExamples.cs
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunctionTests.cs
Due: pipelines/platform/build.yaml

feat: Moved default `Dimension` properties into `Parameters` records from `Function`s
  platform/src/abstractions/Platform.Functions/Extensions/NameValueCollectionExtensions.cs
  platform/src/abstractions/tests/Platform.Functions.Tests/Extensions/WhenNameValueCollectionExtensionsConvertsFromQuery.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/GetHighNeedsFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Parameters/HighNeedsDimensionedParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Validators/HighNeedsDimensionedParametersValidator.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Parameters/EducationHealthCarePlansDimensionedParameters.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Validators/EducationHealthCarePlansDimensionedParametersValidator.cs
Due: pipelines/platform/build.yaml

chore: Added explicit dimensions to High needs comparator requests
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/GetHighNeedsFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunction.cs
  web/src/Web.App/Controllers/Api/EducationHealthCarePlansProxyController.cs
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

refactor: move LA Section 251 processing from ancillary
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/message.py
  data-pipeline/src/pipeline/pre_processing/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/__init__.py
  data-pipeline/src/pipeline/pre_processing/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_budget.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_ons.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_outturn.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_section_251.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_statistical_neighbours.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_local_authorities.py
Due: pipelines/data-pipeline/build.yaml

refactor: move LA Section 251 processing from ancillary (#2103)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/message.py
  data-pipeline/src/pipeline/pre_processing/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/__init__.py
  data-pipeline/src/pipeline/pre_processing/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_budget.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_ons.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_outturn.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_section_251.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_statistical_neighbours.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_local_authorities.py
Due: pipelines/data-pipeline/build.yaml

feat: Set `Actuals` as default dimension for High needs endpoints and extended stubbed data
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/abstractions/tests/Platform.Domain.Tests/WhenDimensionsChecksIsValid.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Parameters/HighNeedsDimensionedParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsStubService.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Parameters/EducationHealthCarePlansDimensionedParameters.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansStubService.cs
  platform/tests/Platform.ApiTests/Features/LocalAuthoritiesHighNeeds.feature
  platform/tests/Platform.ApiTests/Features/NonFinancialEducationHealthCarePlansLocalAuthorities.feature
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Integration tests for High needs headline figures
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsDashboard.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansComparison.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansHistory.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsComparison.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsHistory.cs
Due: pipelines/web/build.yaml

feat: Populated High needs headline figures summary card
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewComponents/LocalAuthorityHighNeedsHeadlinesViewComponent.cs
  web/src/Web.App/ViewComponents/LocalAuthorityHighNeedsHistoryViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthorityHighNeedsHeadlinesViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeeds/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsHeadlines/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsHeadlines/MissingData.cshtml
Due: pipelines/web/build.yaml

feat: adds creation script for LocalAuthorityFinancial table
  core-infrastructure/src/db/Core.Database/Scripts/109-CreateTableLaFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: adds creation script for LocalAuthorityFinancial table (#2105)
  core-infrastructure/src/db/Core.Database/Scripts/109-CreateTableLaFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: adds creation script for LocalAuthorityStatisticalNeighbour table
  core-infrastructure/src/db/Core.Database/Scripts/110-CreateTableLaStatNeighbour.sql
Due: pipelines/core-infrastructure/build.yaml

feat: adds creation script for LocalAuthorityStatisticalNeighbour table (#2106)
  core-infrastructure/src/db/Core.Database/Scripts/110-CreateTableLaStatNeighbour.sql
Due: pipelines/core-infrastructure/build.yaml

feat: Added `s251` to default pipeline message years schema in Orchestrator
  data-pipeline/README.md
  documentation/data/4_Releases.md
  platform/src/abstractions/Platform.Domain/Messages/PipelineStartDefault.cs
  platform/src/abstractions/tests/Platform.Domain.Tests/Messages/WhenPipelineStartDefaultCreatesFromPending.cs
  platform/tests/Platform.Orchestrator.Tests/Functions/ActivityTrigger/WhenPipelineStartDefaultJobTriggered.cs
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: adds creation script for LocalAuthorityNonFinancial table
  core-infrastructure/src/db/Core.Database/Scripts/111-CreateTableLaNonFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: adds creation script for LocalAuthorityNonFinancial table (#2107)
  core-infrastructure/src/db/Core.Database/Scripts/111-CreateTableLaNonFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: Wired up `GetLocalAuthorityStatisticalNeighboursFunction` to new database view
  core-infrastructure/src/db/Core.Database/Views/017-LocalAuthorityStatNeighbours.sql
  platform/src/abstractions/Platform.Sql/QueryBuilders/LocalAuthorityQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/YearsQueries.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/YearsQueryTests.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/GetLocalAuthorityStatisticalNeighboursFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Models/LocalAuthorityStatisticalNeighbour.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Models/LocalAuthorityStatisticalNeighbours.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Models/LocalAuthorityStatisticalNeighboursResponse.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Services/LocalAuthoritiesService.cs
  platform/tests/Platform.ApiTests/Features/EstablishmentLocalAuthorities.feature
  platform/tests/Platform.ApiTests/Steps/EstablishmentLocalAuthoritiesSteps.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/GetLocalAuthorityStatisticalNeighboursFunctionTests.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/WhenLocalAuthoritiesServiceQueriesAsync.cs
  web/src/Web.App/Domain/Establishment/LocalAuthorityStatisticalNeighbours.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsBenchmarkingViewModel.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Updated `d02` test data and affected API test assertions
  platform/tests/Platform.ApiTests/Features/EstablishmentLocalAuthorities.feature
  test-data/LocalAuthorityStatisticalNeighbour.csv
  test-data/README.md
Due: pipelines/platform/build.yaml

feat: Added local authority financial views over `LocalAuthorityFinancial` table
  core-infrastructure/src/db/Core.Database/Views/018-LocalAuthorityFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: Wire up `HighNeedsService.Get()` to underlying database views as override to stubbed version
  platform/src/abstractions/Platform.Sql/DatabaseConnection.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/LocalAuthorityQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Services/LocalAuthoritiesService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/HighNeedsFeature.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/HighNeeds.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/LocalAuthority.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsStubService.cs
Due: pipelines/platform/build.yaml

feat: Unit tests for `HighNeedsService` so far, plus coverage for `LocalAuthorityCurrentFinancialQuery`
  core-infrastructure/src/db/Core.Database/Views/018-LocalAuthorityFinancial.sql
  platform/src/abstractions/Platform.Sql/DatabaseConnection.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/LocalAuthorityQueryTests.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsStubService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Program.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/Services/WhenHighNeedsServiceQueriesAsync.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

docs: ADR 0010 Decommissioning Schools financial benchmarking service
  documentation/architecture/decisions/0010-sfb-decomm.md
Due: pipelines/documentation/build.yaml

chore: Moved `MultiMapToHighNeeds` function to its own `Mapper` class
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Mapper.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Program.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/Services/WhenHighNeedsServiceQueriesAsync.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/WhenHighNeedsMapperMaps.cs
Due: pipelines/platform/build.yaml
