Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

linting
  documentation/developers/02_Code-Management.md
Due: pipelines/documentation/build.yaml

bug: fix filter for moving schools, fill NA pupil numbers
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
Due: pipelines/data-pipeline/build.yaml

Implement headline statistics on LA home page (#3908)
  web/src/Web.App/AssetSrc/scss/_headlines.scss
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/Api/Mappers/LocalAuthorityHighNeedsResponseMapper.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsHistoricDataController.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthority.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthorityHeadlineStatistics.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthorityHighNeeds.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthoritySchool.cs
  web/src/Web.App/Extensions/DecimalExtensions.cs
  web/src/Web.App/Extensions/StringExtensions.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsHistoricDataViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityResourcesViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/LocalAuthority/_HeadlineStatistics.cshtml
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenRequestingLocalAuthoritySchoolsFinanceDownload.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenRequestingLocalAuthoritySchoolsWorkforceDownload.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsBenchmarking.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsHistoricData.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsComparison.cs
  web/tests/Web.Tests/Controllers/Api/HighNeeds/WhenHighNeedsApiReceivesComparisonRequest.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenLocalAuthorityHighNeedsComparisonResponseMapperMapsToApi.cs
  web/tests/Web.Tests/Controllers/WhenLocalAuthorityControllerPosts.cs
  web/tests/Web.Tests/Extensions/GivenADecimal.cs
  web/tests/Web.Tests/ViewModels/GivenALocalAuthorityHighNeedsHistoricDataViewModel.cs
  web/tests/Web.Tests/ViewModels/GivenALocalAuthorityViewModel.cs
Due: pipelines/web/build.yaml

feat: update revenue reserve apportionment to only account for pupils in trust at end of period
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/tests/unit/pre_processing/test_academies.py
Due: pipelines/data-pipeline/build.yaml

Updated based on PR feedback - Add rebase point and clarification on checks vs rules
  documentation/developers/02_Code-Management.md
Due: pipelines/documentation/build.yaml

doc: add detail about pupil numbers for RR apportionments
  documentation/data/9_Academy-Apportionments.md
Due: pipelines/documentation/build.yaml

remove newline to satisfy linting
  documentation/data/9_Academy-Apportionments.md
Due: pipelines/documentation/build.yaml

doc: add comment
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
Due: pipelines/data-pipeline/build.yaml

wording
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
Due: pipelines/data-pipeline/build.yaml

Revenue reserve changes (#3910)
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/tests/unit/pre_processing/test_academies.py
  documentation/data/9_Academy-Apportionments.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

docs: add code management documentation (#3909)
  documentation/developers/02_Code-Management.md
  documentation/developers/2_Branching-Policy.md
  documentation/developers/3_Repository-Access-Policy.md
Due: pipelines/documentation/build.yaml

Add PR compliance checks workflow
  .github/workflows/pr-compliance-checks.yml
Due: none

exp: testing workflow
  .github/workflows/pr-compliance-checks.yml
Due: none

exp: additional logging
  .github/workflows/pr-compliance-checks.yml
Due: none

exp: update comment workflow
  .github/workflows/pr-compliance-checks.yml
Due: none

feat: add web integration tests for LA headline statistics
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

update message
  .github/workflows/pr-compliance-checks.yml
Due: none

updated messaging
  .github/workflows/pr-compliance-checks.yml
Due: none

Refactor PR compliance checks and comments
  .github/workflows/pr-compliance-checks.yml
Due: none

Docs: initial draft of release plan 2026.3.0
  documentation/quality-assurance/release-test-plans/00031_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: update task version number
  .github/workflows/pr-compliance-checks.yml
  .github/workflows/require-labels.yml
  .github/workflows/updated-dependencies-pr.yml
  .github/workflows/updated-documentation-pr.yml
Due: none

feat: add web integration tests for LA headline statistics (#3915)
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

chore: remove unused prettier-eslint dependency and update docs and VS Code settings
  front-end-components/README.md
  front-end-components/package-lock.json
  front-end-components/package.json
  web/src/Web.App/.vscode/settings.json
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: remove unused prettier-eslint dependency (#3917)
  front-end-components/README.md
  front-end-components/package-lock.json
  front-end-components/package.json
  web/src/Web.App/.vscode/settings.json
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

test: add functional api tests for single local authority details endpoint
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/ValidSingleLa.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Details.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/DetailsSteps.cs
Due: pipelines/platform/build.yaml

chore: update test data with latest data for LocalAuthorityFinancial from automated test environment
  test-data/LocalAuthorityFinancial.csv
Due: none

feat: E2E tests for LA Headline Statistics
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

test: add functional api tests for single local authority details endpoint (#3924)
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/ValidSingleLa.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Details.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/DetailsSteps.cs
  test-data/LocalAuthorityFinancial.csv
Due: pipelines/platform/build.yaml

fix: linting
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

updated release plan
  documentation/quality-assurance/release-test-plans/00031_release-test-plan.md
Due: pipelines/documentation/build.yaml

minor tweaks to the plan
  documentation/quality-assurance/release-test-plans/00031_release-test-plan.md
Due: pipelines/documentation/build.yaml

fix: prevent divide by zero when calculating OutturnAsPercentageOfAllocation
  web/src/Web.App/Extensions/DecimalExtensions.cs
  web/src/Web.App/ViewModels/LocalAuthorityViewModel.cs
  web/tests/Web.Tests/Extensions/GivenADecimal.cs
Due: pipelines/web/build.yaml

feat: update heading for OutturnDsgCarriedForward tile
  web/src/Web.App/Views/LocalAuthority/_HeadlineStatistics.cshtml
Due: pipelines/web/build.yaml

fix: link to glossary in details component
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
Due: pipelines/web/build.yaml

fix: only display OutturnAsPercentageOfAllocation content for the OutturnTotalHighNeeds tile if not null
  web/src/Web.App/Views/LocalAuthority/_HeadlineStatistics.cshtml
Due: pipelines/web/build.yaml

test: update local authority high needs history tests following changes to the automated test data
  platform/tests/Platform.ApiTests/Data/LaHighNeedsHistoryActuals.json
  platform/tests/Platform.ApiTests/Data/LaHighNeedsHistoryPerHead.json
  platform/tests/Platform.ApiTests/Data/LaHighNeedsHistoryPerPupil.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsHistoryActuals.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsHistoryPerHead.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsHistoryPerPupil.json
Due: pipelines/platform/build.yaml

test: update integration test for la home page
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

bug: Add DSG recoupment amount to overall high needs total
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
Due: pipelines/data-pipeline/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
