Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data

chore: ensure tags are set on data pipepline pipeline
  pipelines/data-pipeline/build.yaml
Due: pipelines/data-pipeline/build.yaml

chore: re adds all steps to release pipeline
  pipelines/data-pipeline/build.yaml
  pipelines/production/release.yaml
Due: pipelines/data-pipeline/build.yaml

prototype/data-sources-remove-link (#986)
  prototype/src/app/views/data-sources.html
Due: pipelines/prototype/build.yaml

feat: Wired up BFR metrics table
  web/src/Web.App/ViewModels/TrustForecastMetricsViewModel.cs
  web/src/Web.App/ViewModels/TrustForecastViewModel.cs
  web/src/Web.App/Views/TrustForecast/Index.cshtml
  web/src/Web.App/Views/TrustForecast/_Metrics.cshtml
  web/src/Web.App/Views/TrustForecast/_RiskSummary.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingForecast.cs
Due: none

chore: temp remove to test release pipeline
  pipelines/web/build.yaml
Due: none

chore: add deployment steps for release
  pipelines/data-pipeline/deployment.yaml
  pipelines/production/deployment.yaml
  pipelines/production/release.yaml
Due: pipelines/data-pipeline/build.yaml

feat: add explicit message types
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/message.py
Due: pipelines/data-pipeline/build.yaml

feat: comparator-sets for custom data
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/message.py
Due: pipelines/data-pipeline/build.yaml

feat: update pre-processed data with custom
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

refactor: tidy `run_id` usage
  data-pipeline/pyproject.toml
  data-pipeline/src/pipeline/main.py
  data-pipeline/tests/unit/test_message.py
Due: pipelines/data-pipeline/build.yaml

fix: only store relevant financial data for custom
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

chore: additional feature flag and update TF vars
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/variables.tf
  platform/terraform/README.md
  platform/terraform/search.tf
  platform/terraform/variables.tf
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Controllers/TrustForecastController.cs
  web/src/Web.App/Controllers/TrustPlanningController.cs
  web/src/Web.App/appsettings.Development.json
  web/src/Web.App/appsettings.Integration.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

hotfix: missed linting
  web/src/Web.App/Controllers/TrustPlanningController.cs
Due: none

chore: consolidate core deployment
  pipelines/core-infrastructure/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml

chore: consolidate platform deployment jobs
  pipelines/platform/deployment.yaml
Due: none

hotfix: rename pipeline task
  pipelines/platform/deployment.yaml
Due: none

chore: consolidate web pipeline
  pipelines/web/deployment.yaml
Due: none

Update 0003-front-end-framework.md [skip ci]
  documentation/architecture/decisions/0003-front-end-framework.md
Due: pipelines/documentation/build.yaml

feat: current cut of BFR reporting
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/tests/unit/rag/test_rag.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

feat: Added dimension drop-down and loading spinner to BFR chart
  front-end-components/src/components/chart-dimensions/component.tsx
  front-end-components/src/components/chart-dimensions/index.tsx
  front-end-components/src/components/chart-dimensions/types.tsx
  front-end-components/src/components/charts/line-chart/component.tsx
  front-end-components/src/index.css
  front-end-components/src/services/types.tsx
  front-end-components/src/views/budget-forecast-returns/partials/year-end.tsx
  web/src/Web.App/Infrastructure/Apis/Insight/BalanceApi.cs
Due: pipelines/front-end-components/build.yaml

feat: Added BFR chart
  front-end-components/index.html
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/constants.tsx
  front-end-components/src/main.tsx
  front-end-components/src/services/balance-api.tsx
  front-end-components/src/services/types.tsx
  front-end-components/src/views/budget-forecast-returns/index.tsx
  front-end-components/src/views/budget-forecast-returns/partials/index.tsx
  front-end-components/src/views/budget-forecast-returns/partials/types.tsx
  front-end-components/src/views/budget-forecast-returns/partials/year-end.tsx
  front-end-components/src/views/budget-forecast-returns/types.tsx
  front-end-components/src/views/budget-forecast-returns/view.tsx
  web/src/Web.App/Views/TrustForecast/Index.cshtml
Due: pipelines/front-end-components/build.yaml

feat: Added BFR API endpoints to new Platform function
  front-end-components/src/services/budget-forecast-api.tsx
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastFunctions.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastModel.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastResponse.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastService.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  web/src/Web.App/Controllers/Api/BudgetForecastProxyController.cs
  web/src/Web.App/Controllers/TrustForecastController.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/Insight/BalanceApi.cs
  web/src/Web.App/Infrastructure/Apis/Insight/BudgetForecastApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingForecast.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

feat: Added BFR table
  front-end-components/src/services/balance-api.tsx
  front-end-components/src/views/budget-forecast-returns/partials/types.tsx
  front-end-components/src/views/budget-forecast-returns/partials/year-end.tsx
  web/src/Web.App/Infrastructure/Apis/Insight/BudgetForecastApi.cs
  web/src/Web.App/package-lock.json
Due: pipelines/front-end-components/build.yaml

feat: adds custom data end points
  core-infrastructure/src/db/Core.Database/Scripts/044-CreateCustomViews.sql
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSet.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetDefault.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetIds.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserDefined.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Insight/Census/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Census/CensusService.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureFunctions.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureService.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesGetComparatorSetRequest.cs
  web/src/Web.App/Constants/SessionKeys.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/ComparatorSetApi.cs
  web/src/Web.App/Infrastructure/Apis/Insight/CensusApi.cs
  web/src/Web.App/Infrastructure/Apis/Insight/ExpenditureApi.cs
  web/src/Web.App/Services/SchoolComparatorSetService.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

feat: adds custom data end points (#992)
  core-infrastructure/src/db/Core.Database/Scripts/044-CreateCustomViews.sql
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSet.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetDefault.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetIds.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserDefined.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Insight/Census/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Census/CensusService.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureFunctions.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureService.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesGetComparatorSetRequest.cs
  web/src/Web.App/Constants/SessionKeys.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/ComparatorSetApi.cs
  web/src/Web.App/Infrastructure/Apis/Insight/CensusApi.cs
  web/src/Web.App/Infrastructure/Apis/Insight/ExpenditureApi.cs
  web/src/Web.App/Services/SchoolComparatorSetService.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

feat: zero out central-services costs
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

fix: Use `xlink:href` instead of `href` in `<a>` within `<svg>` elements
  front-end-components/index.html
  front-end-components/src/components/charts/chart-link/component.tsx
  front-end-components/src/components/charts/chart-link/index.tsx
  front-end-components/src/components/charts/chart-link/types.tsx
  front-end-components/src/components/charts/establishment-tick/component.tsx
  web/src/Web.App/Views/Shared/Components/RagStack/Default.cshtml
  web/src/Web.App/package-lock.json
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparators.cs
  web/tests/Web.A11yTests/Pages/Trust/WhenViewingHome.cs
Due: pipelines/front-end-components/build.yaml

chore: Bump `front-end` to `0.2.43`
  web/src/Web.App/package-lock.json
Due: none

Adding Excel: blob_trust Adding AzureSqlTable: s198d02_Trust Adding pipeline: blob_s198d02_trust Adding dataflow: blob_s198d02_trust
  supporting-data/adf/dataflow/blob_s198d02_trust.json
  supporting-data/adf/dataset/blob_trust.json
  supporting-data/adf/dataset/s198d02_Trust.json
  supporting-data/adf/pipeline/blob_s198d02_trust.json
Due: pipelines/supporting-data/build.yaml

ARM template and parameters deployed on 6-24-2024 12:56:30, based on the collaboration branch's commit ID: bf935ecda485e9e1de778d80ac7012b39aa7881d
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_1.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_master.json
Due: none

chore: adds configuration for sign-in uri
  web/README.md
  web/src/Web.App/Identity/Models/DfeSignInSettings.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Views/Home/Index.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreate/Index.cshtml
  web/terraform/app-service.tf
  web/terraform/terraform.tfvars
Due: none

feat: updates proxy end-points for custom data
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
Due: none

chore: Updated custom data endpoint/message models in Benchmark API
  platform/Platform.sln.DotSettings
  platform/src/abstractions/Platform.Functions/PipelineMessage.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataRequest.cs
Due: pipelines/platform/build.yaml

fix: Current custom data format if value >1000
  web/src/Web.App/Views/SchoolCustomDataChange/_CustomDataEntryTableRow.cshtml
Due: none

chore: More 'workforce' custom data capture
  web/Web.sln.DotSettings
  web/src/Web.App/Domain/Benchmark/CustomData.cs
  web/src/Web.App/Domain/CustomDataFactory.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PutCustomDataRequest.cs
  web/src/Web.App/Services/CustomDataService.cs
  web/src/Web.App/ViewModels/SchoolCustomDataChangeViewModel.cs
  web/src/Web.App/ViewModels/SchoolCustomDataViewModel.cs
  web/src/Web.App/ViewModels/WorkforceDataCustomDataViewModel.cs
  web/tests/Web.Integration.Tests/DocumentAssert.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
Due: none
