Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: Reverted API and E2E validation over updated commercial resources
  platform/tests/Platform.ApiTests/Data/CommercialResources.json
  test-data/CommercialResources.csv
  web/tests/Web.E2ETests/Features/School/CommercialResources.feature
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Update commercial resources script and dependents
  platform/tests/Platform.ApiTests/Data/CommercialResources.json
  scripts/content/001-commercial-resources-2025-07.sql
  web/src/Web.App/Views/Shared/CommercialResource/AllResources.cshtml
  web/tests/Web.E2ETests/Features/School/CommercialResources.feature
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

doc: add ADR for databricks data out options
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

lint
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

feat: Added logging and tracing to Express app
  web/src/Web.Shutter/.eslintrc.json
  web/src/Web.Shutter/.markdownlint.jsonc
  web/src/Web.Shutter/.nvmrc
  web/src/Web.Shutter/.vscode/extensions.json
  web/src/Web.Shutter/.vscode/launch.json
  web/src/Web.Shutter/.vscode/settings.json
  web/src/Web.Shutter/README.md
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
  web/src/Web.Shutter/src/env.d.ts
  web/src/Web.Shutter/src/index.ts
  web/src/Web.Shutter/src/instrumentation.ts
  web/src/Web.Shutter/src/logger.ts
  web/src/Web.Shutter/src/nunjucks.ts
Due: pipelines/web/build.yaml

feat: Provision, build and deploy Shutter service
  pipelines/feature/release.yaml
  pipelines/production/deployment.yaml
  pipelines/production/release.yaml
  pipelines/web/deployment.yaml
  pipelines/web/steps/build.yaml
  web/Web.sln
  web/src/Web.Shutter/README.md
  web/src/Web.Shutter/package.json
  web/src/Web.Shutter/src/index.ts
  web/terraform/README.md
  web/terraform/shutter.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: Add and disable Front Door origin for Shutter site
  pipelines/web/deployment.yaml
  web/terraform/README.md
  web/terraform/front-door.tf
  web/terraform/shutter.tf
Due: pipelines/web/build.yaml

Suggested an extract schedule
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

chore: `checkov` and lint fixes
  pipelines/.prettierignore
  pipelines/.vscode/extensions.json
  pipelines/.vscode/settings.json
  pipelines/feature/release.yaml
  pipelines/production/deployment.yaml
  pipelines/production/release.yaml
  pipelines/web/deployment.yaml
  pipelines/web/steps/build.yaml
  web/terraform/shutter.tf
Due: pipelines/web/build.yaml

chore: update platform nuget packages
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

doc: add mermaid diagram
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

chore: Ignored changes to `MARKDOWN_CONTENT` app setting
  web/src/Web.Shutter/src/env.d.ts
  web/terraform/front-door.tf
  web/terraform/shutter.tf
Due: pipelines/web/build.yaml

Add cost considerations
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

chore: update Platform.Api.ChartRendering npm packages
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: update front-end-components npm packages
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: include additional govuk sass source for breakpoint css variables
  front-end-components/vite.config.base.ts
Due: pipelines/front-end-components/build.yaml

chore: Bumped `prototype` node dependencies
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml

chore: Bumped `web` node dependencies
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

Show options in a table to clarify tradeoffs
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

removed double title
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

Removed cost from tradeoff table
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

chore: Bumped `web` nuget dependencies
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/src/Web.Redirect/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

Add more specific cost projections
  documentation/architecture/decisions/0014-DfE-Databricks-data-out.md
Due: pipelines/documentation/build.yaml

feat: Deploy redirect and/or shutter app services based on TF input environment variables
  pipelines/common/run-terraform.yaml
  pipelines/feature/release.yaml
  pipelines/web/deployment.yaml
  web/terraform/README.md
  web/terraform/front-door.tf
  web/terraform/redirect.tf
  web/terraform/shutter.tf
  web/terraform/terraform.tfvars
  web/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
