Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform

Prototype/Index updates
  prototype/src/app/views/index.html
Due: none

Prototype/Index updates (#683)
  prototype/src/app/views/index.html
Due: none

added BFR SOFA logic
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

feat: renames workforce to cense in platform
  platform/src/abstractions/Platform.Domain/DataObjects/WorkforceDataObject.cs
  platform/src/abstractions/Platform.Domain/Dimension.cs
  platform/src/abstractions/Platform.Domain/Responses/SchoolWorkforceResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/WorkforceResponseModel.cs
  platform/src/apis/Platform.Api.Insight/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Constants.cs
  platform/src/apis/Platform.Api.Insight/Db/CensusDb.cs
  platform/src/apis/Platform.Api.Insight/Db/SchoolsDb.cs
  platform/src/apis/Platform.Api.Insight/Db/WorkforceDb.cs
  platform/src/apis/Platform.Api.Insight/SchoolsFunctions.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  platform/tests/Platform.ApiTests/Features/InsightSchools.feature
  platform/tests/Platform.ApiTests/Steps/InsightSchoolsSteps.cs
  platform/tests/Platform.Tests/Insight/Census/CensusFunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetWorkforceHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesQueryWorkforceRequest.cs
  platform/tests/Platform.Tests/Insight/Workforce/WhenFunctionReceivesGetWorkforceHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Workforce/WhenFunctionReceivesQueryWorkforceRequest.cs
  platform/tests/Platform.Tests/Insight/Workforce/WorkforceFunctionsTestBase.cs
Due: pipelines/platform/build.yaml

chore: bumps front-end version
  web/src/Web.App/package-lock.json
Due: none

pre-pull commit
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

chore: Added `<noscript>` block to Find Organisation page
  web/src/Web.App/Views/FindOrganisation/Index.cshtml
Due: none

chore: Replace home-grown autocomplete for Trust suggester with `accessible-autocomplete`
  front-end-components/src/components/auto-complete/component.tsx
  front-end-components/src/types/accessible-autocomplete.d.ts
  front-end-components/src/views/find-organisation/partials/school-input.tsx
  front-end-components/src/views/find-organisation/partials/trust-input.tsx
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/front-end-components/build.yaml

fix: Added exclusion to `accessible-autocomplete` managed `<input>`
  web/tests/Web.A11yTests/Pages/WhenViewingFindOrganisation.cs
  web/tests/Web.E2ETests/Pages/FindOrganisationPage.cs
  web/tests/Web.E2ETests/Steps/FindOrganisationSteps.cs
Due: none

fix: Update E2E tests to work with new autocomplete component
  front-end-components/src/components/auto-complete/component.tsx
  web/tests/Web.E2ETests/Features/FindOrganisation.feature
  web/tests/Web.E2ETests/Pages/FindOrganisationPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/FindOrganisationSteps.cs
Due: pipelines/front-end-components/build.yaml

chore: Updated `find-organisation` documentation
  documentation/developers/features/find-organisation.md
Due: none

chore: Replaced `AbortController` with `debounce`
  front-end-components/src/components/auto-complete/component.tsx
  front-end-components/src/views/find-organisation/partials/school-input.tsx
  front-end-components/src/views/find-organisation/partials/trust-input.tsx
Due: pipelines/front-end-components/build.yaml

chore: Replace home-grown autocomplete for School suggester with `accessible-autocomplete`
  front-end-components/package-lock.json
  front-end-components/package.json
  front-end-components/src/components/auto-complete/component.tsx
  front-end-components/src/components/auto-complete/index.tsx
  front-end-components/src/components/auto-complete/types.tsx
  front-end-components/src/index.css
  front-end-components/src/types/accessible-autocomplete.d.ts
  front-end-components/src/views/find-organisation/partials/school-input.tsx
Due: pipelines/front-end-components/build.yaml

adds controller, view model and view for local authority resources page
  web/src/Web.App/Controllers/LocalAuthorityResourcesController.cs
  web/src/Web.App/ViewModels/LocalAuthorityResourcesViewModel.cs
  web/src/Web.App/Views/LocalAuthorityResources/index.cshtml
Due: none

fix: Explicitly set `Teachers with qualified teacher status` to be a percentage value unit dimension
  front-end-components/src/components/charts/utils.test.ts
  front-end-components/src/components/charts/utils.ts
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/types.tsx
  front-end-components/src/views/historic-data/partials/census-section.tsx
Due: pipelines/front-end-components/build.yaml

chore: Update 'Find organisation' copy as per the latest designs
  front-end-components/src/views/find-organisation/view.tsx
  web/src/Web.App/Constants/PageTitles.cs
Due: pipelines/front-end-components/build.yaml

chore: Copy updates to Find Organisation page
  front-end-components/src/views/find-organisation/view.tsx
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/FindOrganisationController.cs
Due: pipelines/front-end-components/build.yaml

chore: refactor census api
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/types.tsx
  front-end-components/src/services/types.tsx
  front-end-components/src/views/compare-your-census/partials/auxiliary-staff.tsx
  front-end-components/src/views/compare-your-census/partials/headcount.tsx
  front-end-components/src/views/compare-your-census/partials/non-classroom-support.tsx
  front-end-components/src/views/compare-your-census/partials/school-workforce.tsx
  front-end-components/src/views/compare-your-census/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census/partials/teaching-assistants.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers.tsx
  front-end-components/src/views/historic-data/partials/census-section.tsx
  platform/src/abstractions/Platform.Domain/Census.cs
  platform/src/abstractions/Platform.Domain/Dimension.cs
  platform/src/abstractions/Platform.Domain/Responses/CensusResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/WorkforceResponseModel.cs
  platform/src/apis/Platform.Api.Insight/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Constants.cs
  platform/src/apis/Platform.Api.Insight/Db/CensusDb.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetWorkforceHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesQueryWorkforceRequest.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Domain/Census.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

feat: Added LA search to Find Organisation page
  front-end-components/src/main.tsx
  front-end-components/src/views/find-organisation/partials/la-input.tsx
  front-end-components/src/views/find-organisation/partials/trust-input.tsx
  front-end-components/src/views/find-organisation/types.tsx
  front-end-components/src/views/find-organisation/view.tsx
  web/src/Web.App/Controllers/FindOrganisationController.cs
  web/src/Web.App/ViewModels/FindOrganisationViewModel.cs
  web/src/Web.App/Views/FindOrganisation/Index.cshtml
  web/tests/Web.A11yTests/Pages/WhenViewingFindOrganisation.cs
Due: pipelines/front-end-components/build.yaml

chore: Bump front-end version to `0.1.22`
  web/src/Web.App/package-lock.json
Due: none

hotfix: update label on census chart
  front-end-components/src/views/historic-data/partials/census-section.tsx
Due: pipelines/front-end-components/build.yaml

hotfix: updates header for chart in e2e test
  web/src/Web.App/package-lock.json
  web/tests/Web.E2ETests/Pages/School/HistoricDataPage.cs
Due: none

chore: linting web solution
  web/tests/Web.E2ETests/Pages/School/HistoricDataPage.cs
Due: none

updated schema for federation groups tables
  bau/pipeline/vmfi/schemas.py
Due: none

adding back in academies changes
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/schemas.py
Due: none
