Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

formatting, new schemas for new ancillary files
  data-pipeline/src/pipeline/config/local_authority.py
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
  data-pipeline/src/pipeline/input_schemas/hospital_schools.py
  data-pipeline/src/pipeline/input_schemas/local_authority.py
  data-pipeline/src/pipeline/input_schemas/lookup_la.py
  data-pipeline/src/pipeline/input_schemas/pru.py
  data-pipeline/src/pipeline/pre_processing/ancillary/hospital_schools.py
  data-pipeline/src/pipeline/pre_processing/ancillary/lookup_la.py
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/pru.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/generator.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
  data-pipeline/src/pipeline/utils/database.py
Due: pipelines/data-pipeline/build.yaml

re-add
  data-pipeline/src/pipeline/input_schemas/__init__.py
Due: pipelines/data-pipeline/build.yaml

feat: add initial School Comparison Filters layout and wire up feature flagged view selection in controller (#4228)
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

restrict CFR transparency file generation to '25 onwards
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

doc: Add a note to the docs about the new CFR transparency file generation
  documentation/guides/cfr-file-generation/1_Overview.md
  documentation/guides/cfr-file-generation/9_SFB-FileGeneration.md
Due: pipelines/documentation/build.yaml

chore: revert changes to feature waf sku
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

doc: add data sources for the transparency file
  documentation/data/02_Sources.md
Due: pipelines/documentation/build.yaml

feat: correct filename
  data-pipeline/src/pipeline/input_schemas/cfr_raw.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

refactor: formatting
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
Due: pipelines/data-pipeline/build.yaml

reformat: mdlint
  documentation/guides/cfr-file-generation/1_Overview.md
  documentation/guides/cfr-file-generation/9_SFB-FileGeneration.md
Due: pipelines/documentation/build.yaml

test: New SEN column
  data-pipeline/tests/unit/pre_processing/test_sen.py
Due: pipelines/data-pipeline/build.yaml

format: whitespace
  documentation/guides/cfr-file-generation/1_Overview.md
Due: pipelines/documentation/build.yaml

chore: waf rule exclusion (#4229)
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

handle nulls better
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

remove references to hardcoded dates
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
Due: pipelines/data-pipeline/build.yaml

get rid of lint error
  documentation/guides/cfr-file-generation/1_Overview.md
Due: pipelines/documentation/build.yaml

reorder imports
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

sort imports
  data-pipeline/src/pipeline/input_schemas/__init__.py
Due: pipelines/data-pipeline/build.yaml

feat: display data as tables for school benchmarking spending
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonDatum.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSeniorLeadershipHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSpendingDimensions.cs
  web/src/Web.App/Domain/ComparatorSetTypes.cs
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/Domain/Schools/SeniorLeadershipGroup.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/ViewModels/SchoolSeniorLeadershipViewModel.cs
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonTable.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenRequestingSeniorLeadershipDownload.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenRequestingComparisonDownload.cs
Due: pipelines/web/build.yaml

feat: display data as tables for school benchmarking spending (#4231)
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonDatum.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSeniorLeadershipHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSpendingDimensions.cs
  web/src/Web.App/Domain/ComparatorSetTypes.cs
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/Domain/Schools/SeniorLeadershipGroup.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/ViewModels/SchoolSeniorLeadershipViewModel.cs
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonTable.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenRequestingSeniorLeadershipDownload.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenRequestingComparisonDownload.cs
Due: pipelines/web/build.yaml

feat: add filters to school benchmark spending
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonFilter.cshtml
Due: pipelines/web/build.yaml

feat: add filters to school benchmark spending (#4232)
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonFilter.cshtml
Due: pipelines/web/build.yaml

feat: add page options to school benchmark spending page
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Charts/SchoolSpendingDimensions.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
Due: pipelines/web/build.yaml

try to fix destroy pipeline
  pipelines/destroy/release.yaml
Due: none

feat: add page options to school benchmark spending page (#4233)
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Charts/SchoolSpendingDimensions.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
Due: pipelines/web/build.yaml

feat: add graphs to school benchmark spending page
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonHorizontalBarChartRequest.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonChart.cshtml
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: add graphs to school benchmark spending page (#4234)
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonHorizontalBarChartRequest.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonChart.cshtml
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

temp changes to purge problem resources
  pipelines/common/run-terraform.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

allow purging the keyvault
  core-infrastructure/terraform/key-vault.tf
Due: pipelines/core-infrastructure/build.yaml

change keyvault name to sidestep deployment issue
  core-infrastructure/terraform/key-vault.tf
Due: pipelines/core-infrastructure/build.yaml

reinstate protections in line with company policies but rename vault
  core-infrastructure/terraform/key-vault.tf
Due: pipelines/core-infrastructure/build.yaml

removed changes
  core-infrastructure/terraform/key-vault.tf
  pipelines/common/run-terraform.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: replace comparator selection ViewComponent with Partial View
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/ViewComponents/LocalAuthorityComparatorsViewComponent.cs
  web/src/Web.App/ViewModels/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityComparators/_ComparatorSelection.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/web/build.yaml

chore: remove unnecessary viewmodel
  web/src/Web.App/ViewModels/Components/LocalAuthorityComparatorsViewModel.cs
Due: pipelines/web/build.yaml

doc: overview of data drop process
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

stash
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
Due: pipelines/data-pipeline/build.yaml

tweaking DNS values
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
Due: pipelines/data-pipeline/build.yaml

chore: replace comparator selection ViewComponent with Partial View (#4235)
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/ViewComponents/LocalAuthorityComparatorsViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityComparators/_ComparatorSelection.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/web/build.yaml

feat: add cost codes for school benchmark spending
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Schools/SchoolSpendingCategories.cs
  web/src/Web.App/ViewModels/SpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonChart.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonCostCodes.cshtml
  web/src/Web.App/Views/SchoolComparison/_SchoolComparisonTable.cshtml
Due: pipelines/web/build.yaml

doc: move pru and hospital school data files to nonfinancial section
  documentation/data/02_Sources.md
Due: pipelines/documentation/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
