Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

chore: E2E fix post merge of 536984ada6cea7aa6d5c8d095dad85d7845832d3
  web/tests/Web.E2ETests/Pages/LocalAuthority/BenchmarkCensusPage.cs
  web/tests/Web.E2ETests/Pages/Trust/BenchmarkCensusPage.cs
Due: pipelines/web/build.yaml

hotfix: ignore download of chart images test cases
  web/tests/Web.E2ETests/Features/LocalAuthority/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/School/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/Trust/BenchmarkCensus.feature
Due: pipelines/web/build.yaml

docs: update docs. to new queue name
  data-pipeline/README.md
  data-pipeline/docker/docker-compose.yml
  data-pipeline/scripts/trigger_pipeline_run.py
  data-pipeline/src/pipeline/storage.py
  data-pipeline/tests/e2e/.env
  documentation/data/4_Releases.md
  documentation/features/6_Orchestrator.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

docs: update docs. to new queue name (#1588)
  data-pipeline/README.md
  data-pipeline/docker/docker-compose.yml
  data-pipeline/scripts/trigger_pipeline_run.py
  data-pipeline/src/pipeline/storage.py
  data-pipeline/tests/e2e/.env
  documentation/data/4_Releases.md
  documentation/features/6_Orchestrator.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

hotfix: add alias to job name for key sync jobs
  pipelines/common/app-service-settings-refresh.yaml
  pipelines/platform/deployment.yaml
  pipelines/web/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

hotfix: remove name prop and parameterise job prop with alias
  pipelines/common/app-service-settings-refresh.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

hotfix: fixes dep in e2e & a11y jobs on key sync jobs
  pipelines/web/build.yaml
Due: pipelines/web/build.yaml

hotfix: update job name in dependencies var
  pipelines/common/app-service-settings-refresh.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

draft release test plan [WiP]
  documentation/quality-assurance/release-test-plans/00011_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: Test coverage for `PipelineSearch`
  platform/src/apis/Platform.Orchestrator/Search/PipelineSearch.cs
  platform/src/apis/Platform.Orchestrator/Search/SearchIndexerClient.cs
  platform/tests/Platform.Tests/Orchestrator/Search/WhenPipelineSearchOptionsAreCreated.cs
  platform/tests/Platform.Tests/Orchestrator/Search/WhenPipelineSearchRunsIndexerAll.cs
  platform/tests/Platform.Tests/Platform.Tests.csproj
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Replaced Pipeline run and job type strings with constants
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataFunctions.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastFunctions.cs
  platform/src/apis/Platform.Api.Insight/BudgetForecast/BudgetForecastReturnParameters.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingParameters.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingService.cs
  platform/tests/Platform.Tests/Insight/MetricRagRatings/WhenMetricRagRatingParametersSetsValues.cs
Due: pipelines/platform/build.yaml

feat: Run search indexers at end of successful `default` pipeline run
  platform/README.md
  platform/src/abstractions/Platform.Functions/PipelineMessage.cs
  platform/src/abstractions/Platform.Infrastructure/ResourceNames.cs
  platform/src/apis/Platform.Orchestrator/Configuration/Services.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/src/apis/Platform.Orchestrator/Platform.Orchestrator.csproj
  platform/src/apis/Platform.Orchestrator/Search/PipelineSearch.cs
  platform/src/apis/Platform.Orchestrator/Search/PipelineSearchOptions.cs
  platform/src/apis/Platform.Orchestrator/Search/SearchIndexerClient.cs
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

feat: Forward message on `Pending` queue to `default` or `custom` start queue based on `Type`
  documentation/data/4_Releases.md
  documentation/features/6_Orchestrator.md
  platform/README.md
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/src/apis/Platform.Orchestrator/host.json
  platform/terraform/functions.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Display custom `404` page when BRCs not available to school due to its financial position
  web/src/Web.App/Controllers/SchoolBenchmarkingReportCardsController.cs
  web/src/Web.App/ViewModels/SchoolBenchmarkingReportCardsUnavailableViewModel.cs
  web/src/Web.App/Views/SchoolBenchmarkingReportCards/Unavailable.cshtml
  web/src/Web.App/Views/SchoolBenchmarkingReportCards/_Introduction.cshtml
  web/tests/Web.E2ETests/Extensions/PageExtensions.cs
  web/tests/Web.E2ETests/Features/School/SchoolBenchmarkingReportCards.feature
  web/tests/Web.E2ETests/Features/School/SchoolHome.feature
  web/tests/Web.E2ETests/Pages/School/SchoolBenchmarkingReportCardsPage.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
  web/tests/Web.E2ETests/Steps/School/SchoolBenchmarkingReportCardsSteps.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingBenchmarkingReportCards.cs
Due: pipelines/web/build.yaml

feat: Updated Web security scan to use current supported Docker image for full default scan
  pipelines/web/security-scan.yaml
Due: pipelines/web/build.yaml

feat: Updated Platform security scan to use current supported Docker image for full default API scan
  pipelines/platform/security-scan.yaml
Due: none

chore: Updated cached docker images for security scans
  pipelines/platform/security-scan.yaml
  pipelines/web/security-scan.yaml
Due: pipelines/web/build.yaml

doc: Updated web security scan documentation
  documentation/quality-assurance/security-scan-reports/web-report.md
Due: pipelines/documentation/build.yaml

hotfix: Resolved error `Error response from daemon: No such image: ghcr.io/zaproxy`
  pipelines/platform/security-scan.yaml
  pipelines/web/security-scan.yaml
Due: pipelines/web/build.yaml

finalise release test plan post-release
  documentation/quality-assurance/release-test-plans/00011_release-test-plan.md
Due: pipelines/documentation/build.yaml

Release test plan (#1571)
  documentation/quality-assurance/release-test-plans/00011_release-test-plan.md
Due: pipelines/documentation/build.yaml

fix: Resolved invalid pattern match when resolving expenditure for building comparator set
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSpending.cs
Due: pipelines/web/build.yaml

doc: draft release test plan
  documentation/quality-assurance/release-test-plans/00012_release-test-plan.md
Due: pipelines/documentation/build.yaml

Adds test summary report
  documentation/quality-assurance/release-test-plans/00012_release-test-plan.md
Due: pipelines/documentation/build.yaml

doc: Release test plan (#1600)
  documentation/quality-assurance/release-test-plans/00012_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: removes redundant queue from storage account
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml
