Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: Bump `front-end` to `0.2.11`
  web/src/Web.App/package-lock.json
Due: none

fix: Re-enabled 'chart mode' radios on historic data view
  front-end-components/index.html
  front-end-components/src/index.css
  front-end-components/src/views/compare-your-trust/partials/spending-section.tsx
  front-end-components/src/views/historic-data/partials/balance-section.tsx
  front-end-components/src/views/historic-data/partials/census-section.tsx
  front-end-components/src/views/historic-data/partials/income-section.tsx
  front-end-components/src/views/historic-data/partials/spending-section.tsx
  front-end-components/src/views/historic-data/view.tsx
Due: pipelines/front-end-components/build.yaml

chore: Bump `front-end` to `0.2.14`
  web/src/Web.App/package-lock.json
Due: none

fix: Resolved LA expenditure deserialisation issue
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
Due: none

chore: rework request & responses for exclude central services
  platform/src/apis/Platform.Api.Insight/Balance/BalanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/Balance/BalanceParameters.cs
  platform/src/apis/Platform.Api.Insight/Balance/BalanceResponse.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureFunctions.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureParameters.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureResponse.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeFunctions.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeParameters.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeResponse.cs
Due: pipelines/platform/build.yaml

feat: Two-series line chart example implementation
  front-end-components/index.html
  front-end-components/package-lock.json
  front-end-components/package.json
  front-end-components/src/components/charts/line-chart/component.tsx
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/constants.tsx
  front-end-components/src/index.css
  front-end-components/src/main.tsx
Due: pipelines/front-end-components/build.yaml

updated BFR table specification to drop existing table if it exists
  core-infrastructure/src/db/Core.Database/Scripts/017-CreateBFRTable.sql
Due: pipelines/core-infrastructure/build.yaml

minor edit
  core-infrastructure/src/db/Core.Database/Scripts/017-CreateBFRTable.sql
Due: pipelines/core-infrastructure/build.yaml

prototype/data-sources-and-contact-us
  prototype/src/app/views/contact-us.html
  prototype/src/app/views/data-sources.html
  prototype/src/app/views/index.html
Due: pipelines/prototype/build.yaml

BFR table edit, and addition of TrustUPIN to Trust table
  core-infrastructure/src/db/Core.Database/Scripts/017-CreateBFRTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/041-RebuildBFRTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/042-AddColumnsBFR.sql
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

feat: Wired up front end to modified `excludeCentralServices` query for Trust financials
  front-end-components/index.html
  front-end-components/src/components/central-services-breakdown/component.tsx
  front-end-components/src/components/central-services-breakdown/index.tsx
  front-end-components/src/components/central-services-breakdown/types.tsx
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/components/charts/trust-data-tooltip/component.tsx
  front-end-components/src/components/include-breakdown/index.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/contexts/contexts.tsx
  front-end-components/src/contexts/hooks.tsx
  front-end-components/src/contexts/providers.tsx
  front-end-components/src/services/balance-api.tsx
  front-end-components/src/services/expenditure-api.tsx
  front-end-components/src/services/income-api.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-trust/partials/balance.tsx
  front-end-components/src/views/compare-your-trust/partials/spending-section.tsx
  front-end-components/src/views/compare-your-trust/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-trust/view.tsx
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
Due: pipelines/front-end-components/build.yaml

prototype/data-sources-and-contact-us (#970)
  prototype/src/app/views/contact-us.html
  prototype/src/app/views/data-sources.html
  prototype/src/app/views/index.html
Due: pipelines/prototype/build.yaml

reverting SQL table definition for BFR
  core-infrastructure/src/db/Core.Database/Scripts/017-CreateBFRTable.sql
Due: pipelines/core-infrastructure/build.yaml

Data pipeline/bfr integration (#960)
  core-infrastructure/src/db/Core.Database/Scripts/041-RebuildBFRTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/042-AddColumnsBFR.sql
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

prototype/fix-typo
  prototype/src/app/views/data-sources.html
Due: pipelines/prototype/build.yaml

prototype/fix-typo (#971)
  prototype/src/app/views/data-sources.html
Due: pipelines/prototype/build.yaml

feat: addition provider for balance
  front-end-components/src/views/compare-your-trust/view.tsx
Due: pipelines/front-end-components/build.yaml

Feature/214279/rework inc exc cs spend (#972)
  front-end-components/index.html
  front-end-components/src/components/central-services-breakdown/component.tsx
  front-end-components/src/components/central-services-breakdown/index.tsx
  front-end-components/src/components/central-services-breakdown/types.tsx
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/components/charts/trust-data-tooltip/component.tsx
  front-end-components/src/components/include-breakdown/index.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/contexts/contexts.tsx
  front-end-components/src/contexts/hooks.tsx
  front-end-components/src/contexts/providers.tsx
  front-end-components/src/services/balance-api.tsx
  front-end-components/src/services/expenditure-api.tsx
  front-end-components/src/services/income-api.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-trust/partials/balance.tsx
  front-end-components/src/views/compare-your-trust/partials/spending-section.tsx
  front-end-components/src/views/compare-your-trust/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-trust/view.tsx
  platform/src/apis/Platform.Api.Insight/Balance/BalanceFunctions.cs
  platform/src/apis/Platform.Api.Insight/Balance/BalanceParameters.cs
  platform/src/apis/Platform.Api.Insight/Balance/BalanceResponse.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureFunctions.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureParameters.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureResponse.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeFunctions.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeParameters.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeResponse.cs
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

chore: bumps front-end version
  web/src/Web.App/package-lock.json
Due: none

hotfix: Fix for matching financial, mixed and unmixed sets
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

adds customised data page, adds skeleton for others pages in this journey
  web/src/Web.App/AssetSrc/images/side-by-side.png
  web/src/Web.App/Constants/BreadcrumbNodes.cs
  web/src/Web.App/Constants/FinanceTools.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/ViewComponents/CustomDataFinanceToolsViewComponent.cs
  web/src/Web.App/ViewModels/SchoolSpendingComparisonViewModel.cs
  web/src/Web.App/Views/School/CustomData.cshtml
  web/src/Web.App/Views/School/_CustomDataBanner.cshtml
  web/src/Web.App/Views/SchoolComparison/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpendingComparison/Index.cshtml
  web/src/Web.App/Views/Shared/Components/CustomDataFinanceTools/Default.cshtml
Due: none

feat: Initial cost and income mapping based on RAW AnM AAR data.
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

feat: Testing new AAR mappings
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

feat: adding conditional column for 2022+ schema changes
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

adds customised data page, adds skeleton for others pages in this journey (#968)
  web/src/Web.App/AssetSrc/images/side-by-side.png
  web/src/Web.App/Constants/BreadcrumbNodes.cs
  web/src/Web.App/Constants/FinanceTools.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/ViewComponents/CustomDataFinanceToolsViewComponent.cs
  web/src/Web.App/ViewModels/SchoolSpendingComparisonViewModel.cs
  web/src/Web.App/Views/School/CustomData.cshtml
  web/src/Web.App/Views/School/_CustomDataBanner.cshtml
  web/src/Web.App/Views/SchoolComparison/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpendingComparison/Index.cshtml
  web/src/Web.App/Views/Shared/Components/CustomDataFinanceTools/Default.cshtml
Due: none

feat: updating unit tests
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

fix: update company registration mappings
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

chore: lint and fixing failing BFR tests
  data-pipeline/src/pipeline/database.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

fix: Appended `data:` to CSP to re-enable 'save as image' functionality
  web/src/Web.App/Middleware/CustomResponseHeadersMiddleware.cs
Due: none

feat: adds custom data end point for metric rag
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingParameters.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingsFunctions.cs
  web/src/Web.App/Infrastructure/Apis/Insight/MetricRagRatingApi.cs
Due: pipelines/platform/build.yaml

adds custom data banner, updates census and comparison pages to pass custom data id to front end component
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/ViewComponents/CustomDataBannerViewComponent.cs
  web/src/Web.App/ViewModels/Components/CustomDataBannerViewModel.cs
  web/src/Web.App/Views/SchoolCensus/CustomData.cshtml
  web/src/Web.App/Views/SchoolComparison/CustomData.cshtml
  web/src/Web.App/Views/Shared/Components/CustomDataBanner/Default.cshtml
Due: none

linting
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/ViewModels/Components/CustomDataBannerViewModel.cs
Due: none

feat: adds custom data end point for metric rag (#975)
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingParameters.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingsFunctions.cs
  web/src/Web.App/Infrastructure/Apis/Insight/MetricRagRatingApi.cs
Due: pipelines/platform/build.yaml

hotfix: fixes incorrect value used for average difference
  front-end-components/src/composed/comparison-chart-summary/composed.tsx
Due: pipelines/front-end-components/build.yaml

chore: updating workbook
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

Prototype/minor fixes
  prototype/src/app/assets/images/charts/trust-compare-your-costs-central.png
  prototype/src/app/data/trusts.json
  prototype/src/app/views/comparators/reset.html
  prototype/src/app/views/compare-trusts/compare.html
Due: pipelines/prototype/build.yaml

updating BFR data logic
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
