Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

added financial data for the added school
  test-data/Financial.csv
Due: none

fix: permit RAG for custom-data
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

chore: Bumped `front-end` dependencies
  front-end-components/package-lock.json
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: Bumped `core-infrastructure` dependencies
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

chore: Bumped `platform` dependencies
  platform/Directory.Packages.props
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/terraform/README.md
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/provider.tf
  platform/terraform/provider.tf
  platform/tests/Platform.ApiTests/Features/InsightBalance.feature
  platform/tests/Platform.ApiTests/Features/InsightCensus.feature
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.ApiTests/Features/InsightIncome.feature
  platform/tests/Platform.ApiTests/Features/InsightSchools.feature
  platform/tests/Platform.ApiTests/Features/InsightTrusts.feature
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Bumped `web` dependencies
  web/Directory.Packages.props
  web/Web.sln
  web/src/Web.App/package-lock.json
  web/src/Web.App/packages.lock.json
  web/terraform/README.md
  web/terraform/provider.tf
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: Bumped `prototype` dependencies
  prototype/src/package-lock.json
  prototype/terraform/README.md
  prototype/terraform/provider.tf
Due: pipelines/prototype/build.yaml

fix: permit RAG for custom-data (#1739)
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

chore: Bumped `core-infrastructure` dependencies (#1741)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

chore: Bumped `web` dependencies (#1744)
  web/Directory.Packages.props
  web/Web.sln
  web/src/Web.App/package-lock.json
  web/src/Web.App/packages.lock.json
  web/terraform/README.md
  web/terraform/provider.tf
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: Bumped `prototype` dependencies (#1745)
  prototype/src/package-lock.json
  prototype/terraform/README.md
  prototype/terraform/provider.tf
Due: pipelines/prototype/build.yaml

feat: port columns from School to Financial
  core-infrastructure/src/db/Core.Database/Scripts/102-AlterFinancialTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/103-RecreateSchoolExpenditureHistoricView.sql
Due: pipelines/core-infrastructure/build.yaml

feat: include columns from School to (Non)Financial
  core-infrastructure/src/db/Core.Database/Scripts/103-AlterNonFinancialTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/104-RecreateSchoolExpenditureHistoricView.sql
  data-pipeline/src/pipeline/database.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

e2e tests for trusts benchmarking (#1689)
  web/tests/Web.E2ETests/Features/Trust/TrustBenchmarking.feature
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/CreateComparatorsByCharacteristicPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/CreateComparatorsByNamePage.cs
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/CreateComparatorsByPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/ICreateComparatorsByPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/TrustBenchmarkSpendingPage.cs
  web/tests/Web.E2ETests/Pages/Trust/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/Trust/TrustBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

trust CFP tests completed
  web/tests/Web.E2ETests/Features/Trust/CurriculumFinancialPlanning.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
  web/tests/Web.E2ETests/Pages/Trust/CurriculumFinancialPlanningPage.cs
  web/tests/Web.E2ETests/Pages/Trust/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/Trust/CurriculumFinancialPlanningSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/HomeSteps.cs
Due: pipelines/web/build.yaml

removed white spaces
  web/tests/Web.E2ETests/Steps/Trust/CurriculumFinancialPlanningSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/HomeSteps.cs
Due: pipelines/web/build.yaml

removed white spaces
  web/tests/Web.E2ETests/Pages/Trust/CurriculumFinancialPlanningPage.cs
Due: pipelines/web/build.yaml

feat: port columns from School to Financial (#1681)
  core-infrastructure/src/db/Core.Database/Scripts/102-AlterFinancialTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/103-AlterNonFinancialTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/104-RecreateSchoolExpenditureHistoricView.sql
  data-pipeline/src/pipeline/database.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

formatted code
  web/tests/Web.E2ETests/Steps/Trust/CurriculumFinancialPlanningSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/HomeSteps.cs
Due: pipelines/web/build.yaml

bfr test data files (#1692)
  test-data/BudgetForecastReturn.csv
  test-data/BudgetForecastReturnMetric.csv
  test-data/Financial.csv
  test-data/LocalAuthority.csv
  test-data/School.csv
Due: none

Tests updates after DSI changes (#1693)
  web/tests/Web.E2ETests/Features/LocalAuthority/AccessFinancialPlanningForSchool.feature
  web/tests/Web.E2ETests/Features/School/AccessTrustForecastAsAcademy.feature
Due: pipelines/web/build.yaml

trust seeding
  test-data/Trust.csv
Due: none

added trust financial for 2022, 2023
  test-data/TrustFinancial.csv
Due: none

added FinancialPlan
  test-data/FinancialPlan.csv
Due: none

added metric rag data for acadmies in the trust
  test-data/MetricRAG.csv
Due: none

removed personal account from test data
  test-data/FinancialPlan.csv
Due: none

data seeding for trusts (#1686)
  test-data/FinancialPlan.csv
  test-data/MetricRAG.csv
  test-data/Trust.csv
  test-data/TrustFinancial.csv
Due: none

trust CFP tests completed (#1690)
  web/tests/Web.E2ETests/Features/Trust/CurriculumFinancialPlanning.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
  web/tests/Web.E2ETests/Pages/Trust/CurriculumFinancialPlanningPage.cs
  web/tests/Web.E2ETests/Pages/Trust/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/Trust/CurriculumFinancialPlanningSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/HomeSteps.cs
Due: pipelines/web/build.yaml

Trust BFR test
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
  web/tests/Web.E2ETests/Pages/Trust/TrustForecastPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/Trust/HomeSteps.cs
Due: pipelines/web/build.yaml

formatted code
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
Due: pipelines/web/build.yaml

added ignore to tests which would be fixed with 243002
  web/tests/Web.E2ETests/Features/School/HistoricData.feature
Due: pipelines/web/build.yaml

Trust BFR e2e tests (#1691)
  web/tests/Web.E2ETests/Features/School/HistoricData.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
  web/tests/Web.E2ETests/Pages/Trust/TrustForecastPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/Trust/HomeSteps.cs
Due: pipelines/web/build.yaml

feat: Propagated `CancellationToken` from function trigger to service
  platform/src/apis/Platform.Api.Insight/Census/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureFunctions.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetComparatorSetAverageCensusRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetNationalAverageCensusRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetWorkforceHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetComparatorSetAverageExpenditureHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetExpenditureHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetNationalAverageExpenditureHistoryRequest.cs
Due: pipelines/platform/build.yaml

feat: Added `CancellationToken` support to all database typed `Query`s
  platform/src/abstractions/Platform.Sql/DatabaseConnection.cs
  platform/tests/Platform.Tests/Insight/Balance/WhenBalanceServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/BudgetForecast/WhenBudgetForecastServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Census/WhenCensusServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenExpenditureServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Income/WhenIncomeServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/MetricRagRatings/WhenBudgetForecastServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Schools/WhenSchoolsServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Trusts/WhenTrustsServiceQueriesAsync.cs
Due: pipelines/platform/build.yaml

feat: Added exception handling middleware to Insight function app and wired up to Expenditure and Census History endpoints
  platform/src/abstractions/Platform.Functions/Middleware/ExceptionHandlingMiddleware.cs
  platform/src/apis/Platform.Api.Insight/Census/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Configuration/Worker.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureFunctions.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetComparatorSetAverageCensusRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetNationalAverageCensusRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetWorkforceHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetComparatorSetAverageExpenditureHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetExpenditureHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetNationalAverageExpenditureHistoryRequest.cs
Due: pipelines/platform/build.yaml

feat: Added `CancellationToken` support to Expenditure and Census History methods
  platform/src/apis/Platform.Api.Insight/Census/CensusService.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureService.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetComparatorSetAverageCensusRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetNationalAverageCensusRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetWorkforceHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetComparatorSetAverageExpenditureHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetExpenditureHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetNationalAverageExpenditureHistoryRequest.cs
Due: pipelines/platform/build.yaml

feat: Added additional `AbortSignal` for Expenditure and Census history requests when Dimension is mutated
  front-end-components/src/main.tsx
  front-end-components/src/services/census-api.tsx
  front-end-components/src/services/expenditure-api.tsx
  front-end-components/src/views/historic-data-2/partials/census-section.tsx
  front-end-components/src/views/historic-data-2/partials/spending-section.tsx
  front-end-components/src/views/historic-data-2/types.tsx
Due: pipelines/front-end-components/build.yaml

feat: Propagate `CancellationToken` from aborted Web API requests to underlying HttpClient request and response builder
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Infrastructure/Apis/ApiBase.cs
  web/src/Web.App/Infrastructure/Apis/ApiResults/ApiResponseBody.cs
  web/src/Web.App/Infrastructure/Apis/ApiResults/ApiResult.cs
  web/src/Web.App/Infrastructure/Apis/Insight/CensusApi.cs
  web/src/Web.App/Infrastructure/Apis/Insight/ExpenditureApi.cs
  web/src/Web.App/Infrastructure/Extensions/HttpResponseMessageExtensions.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Tests/Controllers/Api/Census/WhenCensusApiReceivesHistoryComparisonRequest.cs
  web/tests/Web.Tests/Controllers/Api/Census/WhenCensusApiReceivesHistoryRequest.cs
  web/tests/Web.Tests/Controllers/Api/Expenditure/WhenExpenditureApiReceivesHistoryComparisonRequest.cs
  web/tests/Web.Tests/Controllers/Api/Expenditure/WhenExpenditureApiReceivesHistoryRequest.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
