Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data

chore: bump tf version
  pipelines/common/destroy-terraform.yaml
  pipelines/common/fmt-validate-terraform.yaml
  pipelines/common/run-terraform.yaml
  pipelines/common/sync-terraform.yaml
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/prototype/build.yaml
  pipelines/web/build.yaml
Due: pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml

chore: bumps front-end version
  web/src/Web.App/package-lock.json
Due: none

chore: updates total calcs for income and balance
  platform/src/apis/Platform.Api.Insight/Balance/BalanceResponse.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeFunctions.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeParameters.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeResponse.cs
Due: pipelines/platform/build.yaml

chore: updates total calcs for expenditure
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureResponse.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeResponse.cs
Due: pipelines/platform/build.yaml

chore: adds extra characteristics for schools and trusts
  core-infrastructure/src/db/Core.Database/Scripts/037-AlterCharacteristicsViews.sql
Due: pipelines/core-infrastructure/build.yaml

chore SQL queries and adds user sets to spending & costs
  support/queries/cost-category-metric-rag-financial-user-set.sql
  support/queries/cost-category-metric-rag-financial.sql
  support/queries/default-metric-rag.sql
  web/src/Web.App/Controllers/SchoolHistoryController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
Due: none

chore: adds queries without cs
  support/queries/cost-category-metric-rag-financia-without-cs.sql
  support/queries/default-metric-rag.sql
Due: none

chore: refactor trust, local authority and school controllers
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/LocalAuthorityResourcesController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolDetailsController.cs
  web/src/Web.App/Controllers/SchoolHistoryController.cs
  web/src/Web.App/Controllers/SchoolResourcesController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Controllers/TrustDetailsController.cs
  web/src/Web.App/Controllers/TrustHistoryController.cs
  web/src/Web.App/Controllers/TrustResourcesController.cs
  web/src/Web.App/ViewModels/LocalAuthorityResourcesViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityViewModel.cs
  web/src/Web.App/ViewModels/ResourceViewModel.cs
  web/src/Web.App/ViewModels/SchoolDetailsViewModel.cs
  web/src/Web.App/ViewModels/SchoolHistoryViewModel.cs
  web/src/Web.App/ViewModels/SchoolResourcesViewModel.cs
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/ViewModels/TrustDetailsViewModel.cs
  web/src/Web.App/ViewModels/TrustHistoryViewModel.cs
  web/src/Web.App/ViewModels/TrustResourcesViewModel.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Resources.cshtml
  web/src/Web.App/Views/School/Details.cshtml
  web/src/Web.App/Views/School/History.cshtml
  web/src/Web.App/Views/School/Resources.cshtml
  web/src/Web.App/Views/School/_RecommendedResources.cshtml
  web/src/Web.App/Views/SchoolResources/Index.cshtml
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
  web/src/Web.App/Views/Trust/Details.cshtml
  web/src/Web.App/Views/Trust/History.cshtml
  web/src/Web.App/Views/Trust/Resources.cshtml
  web/src/Web.App/Web.App.csproj
  web/tests/Web.Tests/ViewModels/GivenASchoolViewModel.cs
Due: none

chore: adds resilience and transient-fault api requests
  platform/src/apis/Platform.Api.Benchmark/Comparators/Characteristics.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorSchoolsRequest.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorTrustsRequest.cs
  web/Directory.Packages.props
  web/src/Web.App/Extensions/HttpClientBuilderExtensions.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Web.App.csproj
  web/src/Web.App/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: refactor controllers
  web/src/Web.App/Controllers/AccountController.cs
  web/src/Web.App/Controllers/HomeController.cs
  web/src/Web.App/Views/SchoolComparators/Index.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreate/Index.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: none

chore: remove nagivation on wait/submit pages
  web/src/Web.App/Constants/ViewDataKeys.cs
  web/src/Web.App/Controllers/HomeController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/TagHelpers/NavigationTagHelper.cs
Due: none

chore: tweak version numbering
  pipelines/core-infrastructure/build.yaml
Due: none

chore: adjust all build numbers
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/web/build.yaml
Due: pipelines/data-pipeline/build.yaml

chore: use templated vars for pipelines
  pipelines/common/vars.yaml
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/web/build.yaml
Due: pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml

hotfix: fix type in path name
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/web/build.yaml
Due: pipelines/data-pipeline/build.yaml

chore: ensure 5 year data history
  core-infrastructure/src/db/Core.Database/Scripts/038-CreateYearsViews.sql
  core-infrastructure/src/db/Core.Database/Scripts/039-AlterHistoryViews.sql
  platform/src/apis/Platform.Api.Insight/Balance/BalanceResponse.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureResponse.cs
  platform/src/apis/Platform.Api.Insight/Income/IncomeResponse.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

hotfix: fixes view name
  core-infrastructure/src/db/Core.Database/Scripts/038-CreateYearsViews.sql
Due: pipelines/core-infrastructure/build.yaml

hotfix: fixes for data consistency in RAG calculations. Note> had to disable PFI/Boarding in comparator sets to make this work
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/comparator_sets/test_top_set_urns.py
  data-pipeline/tests/unit/rag/test_rag.py
Due: pipelines/data-pipeline/build.yaml

hotfix: re-enabling PFI/Boarding logic
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

hotfix: lowering coverage to allow build to pass : after hotfix
  data-pipeline/Makefile
Due: pipelines/data-pipeline/build.yaml

hotfix: removing print after debug
  data-pipeline/src/pipeline/comparator_sets.py
Due: pipelines/data-pipeline/build.yaml

added launchsettings.json to gitignore for database
  .gitignore
Due: none

removed launchsettings.json
  core-infrastructure/src/db/Core.Database/Properties/launchSettings.json
Due: pipelines/core-infrastructure/build.yaml

fix gitignore reference
  .gitignore
Due: none

Bugfix/cfo blob location issue (#952)
  .gitignore
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

prototype/morecustomdatacontent
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/custom-data/custom-homepage.html
  prototype/src/app/views/custom-data/school-characteristics.html
  prototype/src/app/views/custom-data/side-by-side.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
Due: pipelines/prototype/build.yaml

prototype/morecustomdatacontent (#954)
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/custom-data/custom-homepage.html
  prototype/src/app/views/custom-data/school-characteristics.html
  prototype/src/app/views/custom-data/side-by-side.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
Due: pipelines/prototype/build.yaml

updated academies financial data source and extraction information
  documentation/architecture/10_Data-Processing.md
Due: pipelines/documentation/build.yaml

added database name
  documentation/architecture/10_Data-Processing.md
Due: pipelines/documentation/build.yaml

hotfix: fixes return years api end point
  platform/src/apis/Platform.Api.Insight/CommonFunctions.cs
  platform/src/apis/Platform.Api.Insight/MiscFunctions.cs
  platform/tests/Platform.Tests/Insight/MiscFunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/WhenFunctionReceivesGetFinanceYearsRequest.cs
Due: pipelines/platform/build.yaml

chore: resolve platform build warnings
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserDefinedValidator.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserData.cs
  platform/src/apis/Platform.Api.Establishment/Schools/SchoolsService.cs
  platform/src/apis/Platform.UserDataCleanUp/CleanUpFunctions.cs
  platform/src/apis/Platform.UserDataCleanUp/PipelineDb.cs
Due: pipelines/platform/build.yaml

hotfix: remove additional margin
  web/src/Web.App/Views/Shared/Components/CommercialResource/Default.cshtml
Due: none

feat: adding central services apportionment to the academies data
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

chore: fixing up unit tests
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
Due: pipelines/data-pipeline/build.yaml

hotfix: use RAG rating stats in chart component
  front-end-components/src/composed/comparison-chart-summary/composed.tsx
  front-end-components/src/composed/comparison-chart-summary/types.tsx
  front-end-components/src/index.css
  front-end-components/src/main.tsx
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
Due: pipelines/front-end-components/build.yaml

chore: bumps front-end version
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: none

addressing reviewer feedback
  documentation/architecture/10_Data-Processing.md
Due: pipelines/documentation/build.yaml

updated academies financial data source and extraction information (#955)
  documentation/architecture/10_Data-Processing.md
Due: pipelines/documentation/build.yaml
