Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

rename function
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/pre_processing/bfr/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

modularise by it spend/forecast and risk
  data-pipeline/src/pipeline/pre_processing/bfr/calculations.py
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
  data-pipeline/src/pipeline/pre_processing/bfr/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/it_spend.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

Correct Y1P1 to year
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

Only form IT spend rows for 2025 runs
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

docs: first draft for waf review process (#2970)
  documentation/developers/17_Azure-Front-Door-Review.md
Due: pipelines/documentation/build.yaml

feat: monitor commercial resources on a nightly schedule (#2954)
  platform/Platform.sln
  platform/src/abstractions/Platform.Sql/QueryBuilders/CommericalResourcesQueries.cs
  platform/src/apis/Platform.MaintenanceTasks/Configuration/Services.cs
  platform/src/apis/Platform.MaintenanceTasks/Constants.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/Models/CommercialResource.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/Models/CommercialResourceResult.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFeature.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/UserDataCleanUp/CleanUpFunctions.cs
  platform/src/apis/Platform.MaintenanceTasks/Platform.MaintenanceTasks.csproj
  platform/tests/Platform.MaintenanceTasks.Tests/MonitorCommercialResources/MonitorCommercialResourcesFunctionTests.cs
  platform/tests/Platform.MaintenanceTasks.Tests/Platform.MaintenanceTasks.Tests.csproj
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: update support analytics terraform docs
  support-analytics/terraform/README.md
Due: pipelines/support-analytics/release.yaml

feat: new alert added to Trigger on any failure on nightly commercial resources check
  support-analytics/terraform/alerts.tf
  support-analytics/terraform/queries/commercial-resources-check.kql
Due: pipelines/support-analytics/release.yaml

chore: update documentation for commercial resources
  documentation/features/9_Commercial-Resources.md
Due: pipelines/documentation/build.yaml

Only scale monetary row values
  data-pipeline/src/pipeline/pre_processing/bfr/it_spend.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

add comment
  data-pipeline/src/pipeline/pre_processing/bfr/it_spend.py
Due: pipelines/data-pipeline/build.yaml

scaling not needed for pupil numbers
  data-pipeline/src/pipeline/pre_processing/bfr/forecast_and_risk.py
Due: pipelines/data-pipeline/build.yaml

comment
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

feat: add BFR IT spend breakdown data (#2957)
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/src/pipeline/pre_processing/ancillary/bfr.py
  data-pipeline/src/pipeline/pre_processing/bfr/calculations.py
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
  data-pipeline/src/pipeline/pre_processing/bfr/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/it_spend.py
  data-pipeline/src/pipeline/pre_processing/bfr/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
Due: pipelines/data-pipeline/build.yaml

Create data-architecture.md
  documentation/data/sources/data-architecture.md
Due: pipelines/documentation/build.yaml

Account for BFR SOFA years which don't have Y3P1 and Y3P2
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/bfr.py
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
  data-pipeline/src/pipeline/pre_processing/bfr/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

chore: Mini view model refactor to support reuse for Trust IT Spend
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/Dimensions.cs
  web/src/Web.App/Domain/Charts/Views.cs
  web/src/Web.App/ViewModels/BenchmarkingViewModelCostSubCategory.cs
  web/src/Web.App/ViewModels/SchoolComparisonItSpendViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/SchoolComparisonItSpend/_ItSpendFilter.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolComparisonItSpendViewModel.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

lint
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/bfr.py
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
  data-pipeline/src/pipeline/pre_processing/bfr/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

Account for BFR SOFA years which don't have Y3P1 and Y3P2 (#2971)
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/bfr.py
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
  data-pipeline/src/pipeline/pre_processing/bfr/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

feat: adds WAF exclusions
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

feat: add exclusion for cookies with names starting with .AspNetCore.OpenIdConnect.Nonce
  core-infrastructure/terraform/README.md
  platform/terraform/README.md
  platform/terraform/modules/functions/README.md
  support-analytics/terraform/README.md
  web/terraform/README.md
  web/terraform/front-door.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: adds WAF exclusions (#2973)
  core-infrastructure/terraform/README.md
  platform/terraform/README.md
  platform/terraform/modules/functions/README.md
  support-analytics/terraform/README.md
  web/terraform/README.md
  web/terraform/front-door.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

fix import
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
Due: pipelines/data-pipeline/build.yaml

fix imports
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
Due: pipelines/data-pipeline/build.yaml

hotfix: BFR imports (#2977)
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
Due: pipelines/data-pipeline/build.yaml

feat: Sample horizontal bar chart request using `groupedKeys` to apply custom bar styles
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeys.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeysRequest.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Models/PostHorizontalBarChartRequest.cs
  platform/tests/Platform.ApiTests/TestDataHelpers/TestDataProvider.cs
  web/src/Web.App/AssetSrc/scss/_variables.scss
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

Update data-architecture.md
  documentation/data/sources/data-architecture.md
Due: pipelines/documentation/build.yaml

hotfix: correct exclusion rule
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

hotfix: linting + additional exculsions
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

feat: Trust IT spend filter and charts
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/TrustComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Insight/ItSpend.cs
  web/src/Web.App/Domain/ItSpendingCategories.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/Insight/Api.cs
  web/src/Web.App/Infrastructure/Apis/Insight/ItSpendApi.cs
  web/src/Web.App/ViewModels/SchoolComparisonSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/ViewModels/TrustComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendChart.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendFilter.cshtml
Due: pipelines/web/build.yaml

stash
  data-pipeline/src/pipeline/pre_processing/bfr/databricks-pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/spark/__init__.py
  data-pipeline/src/pipeline/pre_processing/bfr/spark/calculations.py
  data-pipeline/src/pipeline/pre_processing/bfr/spark/engine.py
  data-pipeline/src/pipeline/pre_processing/bfr/spark/logging.py
  data-pipeline/src/pipeline/pre_processing/bfr/spark/pipeline.py
Due: pipelines/data-pipeline/build.yaml

chore: Revert Trust IT spend charts as out of scope of this task
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/TrustComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostHorizontalBarChartRequest.cs
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendChart.cshtml
Due: pipelines/web/build.yaml

stash
  data-pipeline/README.md
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  data-pipeline/src/pipeline/pre_processing/bfr/spark/__init__.py
  data-pipeline/src/pipeline/pre_processing/bfr/spark/pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/__init__.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/bfr_pyspark_mocks.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/calculations.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/engine.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/logging.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
  data-pipeline/src/pipeline/pre_processing/spark.py
Due: pipelines/data-pipeline/build.yaml

feat: add two new endpoints to ItSpend to support Trust to Trust IT spend benchmarking.
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustForecastFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/ItSpendFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendTrustForecastParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendTrustsParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendTrustForecastResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendTrustResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendTrustForecastParametersValidator.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendTrustsParametersValidator.cs
  platform/tests/Platform.ApiTests/Data/ItSpendTrustForecast.json
  platform/tests/Platform.ApiTests/Data/ItSpendTrusts.json
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
  platform/tests/Platform.ApiTests/Steps/InsightItSpendSteps.cs
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendTrustForecastFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendTrustsFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendTrustForecastParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendTrustsParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendTrustForecastParametersValidatorValidates.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendTrustsParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

feat: Trust IT ViewModel and API unit tests
  web/src/Web.App/ViewModels/TrustComparisonSubCategoriesViewModel.cs
  web/tests/Web.Tests/Infrastructure/GivenAnItSpendApi.cs
  web/tests/Web.Tests/ViewModels/GivenATrustComparisonItSpendViewModel.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
