Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

fix: Replace `Donut` chart with `UnstackedColumn` when displaying WAF hits by rule name in OI dashboard
  core-infrastructure/terraform/dashboards/oi.tpl
Due: pipelines/core-infrastructure/build.yaml

removed typo
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

feat: add dead-letter queue
  core-infrastructure/terraform/storage.tf
  data-pipeline/terraform/container_apps.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

removed typo (#1204)
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

updated average load test plan - pending total number of requests
  documentation/testing/performance-test-plan/Establishment_API_Average-load-testing.md
Due: pipelines/documentation/build.yaml

feat: add DLQ processing to pipeline
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/storage.py
Due: pipelines/data-pipeline/build.yaml

combined single type of tests into one plan for all APIs.
  documentation/testing/performance-test-plan/APIs/Average-load-testing.md
  documentation/testing/performance-test-plan/APIs/Peak-load-testing-plan.md
  documentation/testing/performance-test-plan/APIs/Spike-testing.md
  documentation/testing/performance-test-plan/Establishment_API_Average-load-testing.md
Due: pipelines/documentation/build.yaml

completed average load testing
  documentation/testing/performance-test-plan/APIs/Average-load-testing.md
Due: pipelines/documentation/build.yaml

Feature/222350/dead letter queue (#1205)
  core-infrastructure/terraform/storage.tf
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/storage.py
  data-pipeline/terraform/container_apps.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

feat: display chosen school in comparator set table. Also amends count of schools in comparator set to include the chosen school now that is displayed in the table.
  web/src/Web.App/Views/SchoolComparators/Index.cshtml
  web/src/Web.App/Views/SchoolComparators/UserDefined.cshtml
  web/src/Web.App/Views/SchoolComparators/Workforce.cshtml
Due: pipelines/web/build.yaml

wip
  documentation/features/6_Data-pipeline-messaging.md
Due: pipelines/documentation/build.yaml

completed documentation
  documentation/testing/performance-test-plan/APIs/Average-load-testing.md
  documentation/testing/performance-test-plan/APIs/Peak-load-testing-plan.md
  documentation/testing/performance-test-plan/APIs/Spike-testing.md
Due: pipelines/documentation/build.yaml

release plan - WIP
  documentation/testing/test-plans/20240807_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

feat: display chosen school in comparator set table. Also amends count of schools in comparator set to include the chosen school now that is displayed in the table. (#1196)
  web/src/Web.App/Views/SchoolComparators/Index.cshtml
  web/src/Web.App/Views/SchoolComparators/UserDefined.cshtml
  web/src/Web.App/Views/SchoolComparators/Workforce.cshtml
Due: pipelines/web/build.yaml

chore: `BalanceResponseFactory.Create()` and refactored `CensusResponseFactory.Create()` unit tests
  platform/src/apis/Platform.Api.Insight/Balance/BalanceModel.cs
  platform/src/apis/Platform.Api.Insight/Balance/BalanceParameters.cs
  platform/tests/Platform.Tests/Insight/Balance/BalanceFunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/Assertions.cs
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/BalanceTestData.json
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/TestData.cs
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/TotalBalanceTestData.json
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/WhenBalanceResponseFactoryCreatesResponseFromSchoolBalance.cs
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/WhenBalanceResponseFactoryCreatesResponseFromSchoolBalanceHistory.cs
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/WhenBalanceResponseFactoryCreatesResponseFromTrustBalance.cs
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/WhenBalanceResponseFactoryCreatesResponseFromTrustBalanceHistory.cs
  platform/tests/Platform.Tests/Insight/Balance/WhenFunctionReceivesGetIncomeHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/Assertions.cs
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/AuxiliaryStaffTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/CensusTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/NonClassroomSupportStaffTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/SeniorLeadershipTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/TeachersTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/TeachingAssistantTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/TestData.cs
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/WhenCensusResponseFactoryCreatesResponseFromCensus.cs
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/WhenCensusResponseFactoryCreatesResponseFromCensusHistory.cs
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/WorkforceTestData.json
  platform/tests/Platform.Tests/Insight/Census/WhenCensusResponseFactoryCreatesResponseFromCensus.cs
  platform/tests/Platform.Tests/Insight/Census/WhenCensusResponseFactoryCreatesResponseFromCensusHistory.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/TotalIncomeTestData.json
  platform/tests/Platform.Tests/Platform.Tests.csproj
Due: pipelines/platform/build.yaml

chore: `IncomeResponseFactory.Create()` and `ExpenditureResponseFactory.Create()` unit tests
  platform/Platform.sln.DotSettings
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureParameters.cs
  platform/tests/Platform.Tests/FunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureFunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/AdministrationSuppliesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/Assertions.cs
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/CateringStaffServicesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/EducationalIctTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/EducationalSuppliesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/ExpenditureTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/NonEducationalSupportStaffTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/OtherCostsTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/PremisesStaffServicesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/TeachingTeachingSupportStaffTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/TestData.cs
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/TotalExpenditureTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/UtilitiesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/WhenIncomeResponseFactoryCreatesResponseFromSchoolExpenditure.cs
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/WhenIncomeResponseFactoryCreatesResponseFromSchoolExpenditureHistory.cs
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/WhenIncomeResponseFactoryCreatesResponseFromTrustExpenditure.cs
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/WhenIncomeResponseFactoryCreatesResponseFromTrustExpenditureHistory.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenFunctionReceivesGetIncomeHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/Assertions.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/DirectRevenueFinancingTestData.json
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/GrantFundingTestData.json
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/IncomeTestData.json
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/SelfGeneratedTestData.json
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/TestData.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/TotalIncomeTestData.json
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/WhenIncomeResponseFactoryCreatesResponseFromSchoolIncome.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/WhenIncomeResponseFactoryCreatesResponseFromSchoolIncomeHistory.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/WhenIncomeResponseFactoryCreatesResponseFromTrustIncome.cs
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/WhenIncomeResponseFactoryCreatesResponseFromTrustIncomeHistory.cs
  platform/tests/Platform.Tests/Mocks/MockHttpRequestData.cs
  platform/tests/Platform.Tests/Platform.Tests.csproj
  platform/tests/Platform.Tests/TestDataReader.cs
  platform/tests/coverlet.runsettings
Due: pipelines/platform/build.yaml

chore: Additional `ResponseFactory` test cases
  platform/tests/Platform.Tests/Insight/Balance/BalanceResponseFactoryCreate/TotalBalanceTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/AuxiliaryStaffTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/NonClassroomSupportStaffTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/SeniorLeadershipTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/TeachersTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/TeachingAssistantTestData.json
  platform/tests/Platform.Tests/Insight/Census/CensusResponseFactoryCreate/WorkforceTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/AdministrationSuppliesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/CateringStaffServicesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/EducationalIctTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/EducationalSuppliesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/NonEducationalSupportStaffTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/OtherCostsTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/PremisesStaffServicesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/TeachingTeachingSupportStaffTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/TotalExpenditureTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/UtilitiesTestData.json
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/DirectRevenueFinancingTestData.json
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/GrantFundingTestData.json
  platform/tests/Platform.Tests/Insight/Income/IncomeResponseFactoryCreate/SelfGeneratedTestData.json
Due: pipelines/platform/build.yaml

spike: Sample load test during CI
  pipelines/feature/release.yaml
  pipelines/platform/steps/run-load-tests.yaml
  pipelines/platform/tests/sample/config.yaml
  pipelines/platform/tests/sample/requests.json
  platform/terraform/test.tf
Due: pipelines/platform/build.yaml

chore: More Platform unit test coverage
  platform/src/abstractions/Platform.Functions/Extensions/JsonExtensions.cs
  platform/src/apis/Platform.Api.Establishment/OpenApi/OpenApiConfigurationOptions.cs
  platform/tests/Platform.Tests/Benchmark/WhenExpressionBuilderAddsFilterToList.cs
  platform/tests/Platform.Tests/Extensions/TestObjectType.cs
  platform/tests/Platform.Tests/Extensions/WhenHttpRequestDataGetsCorrelationId.cs
  platform/tests/Platform.Tests/Extensions/WhenHttpRequestDataReadsAsJsonAsync.cs
  platform/tests/Platform.Tests/Extensions/WhenObjectIsConvertedFromJson.cs
  platform/tests/Platform.Tests/Extensions/WhenObjectIsConvertedToJson.cs
  platform/tests/Platform.Tests/Insight/BudgetForecast/WhenBudgetForecastReturnsResponseFactoryCreatesResponseForMetric.cs
  platform/tests/Platform.Tests/TestExtensions.cs
Due: pipelines/platform/build.yaml

chore: `QueryParameter` unit tests
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureParameters.cs
  platform/tests/Platform.Tests/Functions/WhenQueryParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/Balance/WhenBalanceParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/BudgetForecast/WhenBudgetForecastReturnParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/Census/WhenCensusParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenExpenditureParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/Income/WhenIncomeParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/MetricRagRatings/WhenMetricRagRatingParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/MetricRagRatings/WhenMetricRagRatingsParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/Schools/WhenSchoolsParametersSetsValues.cs
  platform/tests/Platform.Tests/Insight/Trusts/WhenTrustsParametersSetsValues.cs
Due: pipelines/platform/build.yaml

updated release plan
  documentation/testing/test-plans/20240807_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

test: updates tests following changes to submit on edit
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsCreateSubmit.cs
Due: pipelines/web/build.yaml

fix: changes to school user defined comparator set edit journey. On edit button text amended. On submit title and heading updated.
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/SchoolComparatorsByNameViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsChosenSchoolsViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsSubmittedViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Name.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Submit.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_ChosenSchools.cshtml
Due: pipelines/web/build.yaml

chore: `CensusService` unit tests, including `IDatabaseConnection` abstraction for `Dapper` extension method mock support
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Infrastructure/Platform.Infrastructure.csproj
  platform/src/abstractions/Platform.Infrastructure/Sql/DatabaseConnection.cs
  platform/src/abstractions/Platform.Infrastructure/Sql/DatabaseFactory.cs
  platform/src/abstractions/Platform.Infrastructure/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/Census/CensusService.cs
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/Insight/Census/WhenCensusServiceQueriesAsync.cs
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Documentation for technical decision for Azure Load Testing
  documentation/architecture/decisions/0005-api-performance-testing-with-azure-load-tests.md
Due: pipelines/documentation/build.yaml

chore: Remaining Insight `Service` unit tests
  platform/Platform.sln.DotSettings
  platform/src/abstractions/Platform.Infrastructure/Sql/DatabaseConnection.cs
  platform/tests/Platform.Tests/Insight/Balance/WhenBalanceServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/BudgetForecast/WhenBudgetForecastServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Census/WhenCensusServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Expenditure/WhenExpenditureServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Income/WhenIncomeServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/MetricRagRatings/WhenBudgetForecastServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Schools/WhenSchoolsServiceQueriesAsync.cs
  platform/tests/Platform.Tests/Insight/Trusts/WhenTrustsServiceQueriesAsync.cs
  platform/tests/Platform.Tests/TestDatabase.cs
Due: pipelines/platform/build.yaml

fixes to edit school comparator set journey (#1207)
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/SchoolComparatorsByNameViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsChosenSchoolsViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsSubmittedViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Name.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Submit.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_ChosenSchools.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsCreateSubmit.cs
Due: pipelines/web/build.yaml

test: amends test to confirm behaviour following changes to submit on edit
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreateSubmit.cs
Due: pipelines/web/build.yaml

fix: changes to trust user defined comparator set edit journey. On edit button text amended. On submit title and heading updated.
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/TrustComparatorsByNameViewModel.cs
  web/src/Web.App/ViewModels/TrustComparatorsChosenTrustsViewModel.cs
  web/src/Web.App/ViewModels/TrustComparatorsSubmittedViewModel.cs
  web/src/Web.App/Views/TrustComparatorsCreateBy/Name.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Submit.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/_ChosenTrusts.cshtml
Due: pipelines/web/build.yaml

fix: updates to edit user defined trust comparator set journey (#1208)
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/TrustComparatorsByNameViewModel.cs
  web/src/Web.App/ViewModels/TrustComparatorsChosenTrustsViewModel.cs
  web/src/Web.App/ViewModels/TrustComparatorsSubmittedViewModel.cs
  web/src/Web.App/Views/TrustComparatorsCreateBy/Name.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Submit.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/_ChosenTrusts.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreateSubmit.cs
Due: pipelines/web/build.yaml
