Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: improve functional tests for the Accounts (High Needs) feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsEmptyArray.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Accounts/AccountsHighNeeds.feature
Due: pipelines/platform/build.yaml

chore: improve functional tests for the Details feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceLimit0.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceLimit101.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceLimit0.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceLimit101.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/ValidSingleLa334.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Details/Details.feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Details/MaintainedSchools.feature
Due: pipelines/platform/build.yaml

feat: update page title and cta for LocalAuthorityHighNeedsStartBenchmarking page
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
Due: pipelines/web/build.yaml

test: update tests
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

test: update E2E tests
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsStartBenchmarkingPage.cs
Due: pipelines/web/build.yaml

chore: improve functional tests for the EHCP feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Data/LocalAuthority/EHCP/EchpInvalidLa.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/EducationHealthCarePlans/EducationHealthCarePlans.feature
Due: pipelines/platform/build.yaml

chore: improve functional tests for the HealtCheck feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Features/LocalAuthority/HealthCheck/HealthCheck.feature
  platform/tests/Platform.ApiTests/Features/School/Healthcheck.feature
  platform/tests/Platform.ApiTests/Features/Trust/Healthcheck.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/HealthcheckSteps.cs
  platform/tests/Platform.ApiTests/Steps/School/HealthcheckSteps.cs
  platform/tests/Platform.ApiTests/Steps/Shared/BaseHealthcheckSteps.cs
  platform/tests/Platform.ApiTests/Steps/Trust/HealthcheckSteps.cs
Due: pipelines/platform/build.yaml

feat: add data tables and toggle between chart/table views to ehcp page (#4048)
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Domain/LocalAuthorities/EducationHealthCarePlans.cs
  web/src/Web.App/Domain/LocalAuthorities/EducationHealthCarePlansCategories.cs
  web/src/Web.App/ViewModels/BenchmarkingViewModelCostSubCategory.cs
  web/src/Web.App/ViewModels/EducationHealthCarePlansComparisonSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityEducationHealthCarePlansViewModel.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanTable.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

chore: improve functional tests for the Search feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchInvalidSearchTextNull.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSuggestInvalidSearchTextNull.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Search/Search.feature
Due: pipelines/platform/build.yaml

chore: improve functional tests for the Statistical Neighbours feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Data/LocalAuthority/StatisticalNeighbours/UnsupportedApiVersion.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/StatisticalNeighbours/StatisticalNeighbours.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/StatisticalNeighboursSteps.cs
Due: pipelines/platform/build.yaml

chore: update skill is API version details
  skills/platform-api-test-creator.skill
Due: none

linting
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/SearchSteps.cs
Due: pipelines/platform/build.yaml

feat: update page title and cta for LocalAuthorityHighNeedsStartBenchmarking page (#4049)
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsStartBenchmarkingPage.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: update LA homepage e2e tests
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

resolve conflicts
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/ChooseLocalAuthoritiesToComparePage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsStartBenchmarkingSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

format solution
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

reverted update made earlier
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
Due: pipelines/web/build.yaml

feat: add update e2e tests (#4050)
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/ChooseLocalAuthoritiesToComparePage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsStartBenchmarkingSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

chore: update e2e tests pipeline config to ignore the tagged tests (#4045)
  pipelines/web/steps/run-e2e-tests.yaml
Due: pipelines/web/build.yaml

Update 1_Monthly-Reporting.md
  documentation/guides/monthly-reporting/1_Monthly-Reporting.md
Due: pipelines/documentation/build.yaml

﻿chore: add api tests for local authority accounts feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/AccountsHighNeedsSteps.cs
Due: pipelines/platform/build.yaml

﻿chore: add api tests for local authority details feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Details/Details.feature
Due: pipelines/platform/build.yaml

chore: add apit test creator skill
  platform/README.md
  platform/fbit-api-test-creator.skill
Due: pipelines/platform/build.yaml

﻿chore: add api tests for local authority details feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/EducationHealthCarePlans/EducationHealthCarePlans.feature
Due: pipelines/platform/build.yaml

﻿chore: update skill and documentation
  platform/README.md
  platform/fbit-api-test-creator.skill
Due: pipelines/platform/build.yaml

﻿chore: improve accounts feature test cases
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Accounts/AccountsHighNeeds.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/AccountsHighNeedsSteps.cs
Due: pipelines/platform/build.yaml

﻿chore: add api tests for local authority search feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/HealthCheck/HealthCheck.feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Search/Search.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/HealthcheckSteps.cs
Due: pipelines/platform/build.yaml

﻿chore: add api tests for local authority stattstical neighbours feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/StatisticalNeighbours/StatisticalNeighbours.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/StatisticalNeighboursSteps.cs
Due: pipelines/platform/build.yaml

chore: improve functional tests for the Accounts (High Needs) feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Accounts/AccountsHighNeeds.feature
Due: pipelines/platform/build.yaml

﻿chore: improve functional tests for the Details feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Details/Details.feature
Due: pipelines/platform/build.yaml

﻿chore: improve functional tests for the EHCP feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Features/LocalAuthority/EducationHealthCarePlans/EducationHealthCarePlans.feature
Due: pipelines/platform/build.yaml

﻿chore: improve functional tests for the HealtCheck feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Features/LocalAuthority/HealthCheck/HealthCheck.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/HealthcheckSteps.cs
Due: pipelines/platform/build.yaml

chore: improve functional tests for the Search feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Search/Search.feature
Due: pipelines/platform/build.yaml

﻿chore: improve functional tests for the Statistical Neighbours feature in the LocalAuthority API
  platform/tests/Platform.ApiTests/Features/LocalAuthority/StatisticalNeighbours/StatisticalNeighbours.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/StatisticalNeighboursSteps.cs
Due: pipelines/platform/build.yaml

chore: add new skills
  documentation/developers/19_AI_Assisted_Engineering.md
  documentation/quality-assurance/api-test-plans/School-Accounts.md
  documentation/quality-assurance/api-test-plans/School-Census.md
  skills/platform-api-test-creator.skill
  skills/platform-api-test-implementer.skill
  skills/platform-api-test-planner.skill
Due: pipelines/documentation/build.yaml

improve school - accounts API documentation
  platform/src/abstractions/Platform.Domain/CostCategories.cs
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceNationalAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureSchoolHistoryNationalAverageFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetExpenditureUserDefinedFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeNationalAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/QueryExpenditureFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/QueryItSpendingFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/BalanceNationalAvgParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/BalanceParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/ExpenditureNationalAvgParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/ExpenditureParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/ExpenditureQueryParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/IncomeNationalAvgParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/IncomeParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/ItSpendingParametersValidator.cs
Due: pipelines/platform/build.yaml

chore: add School details API tests
  documentation/quality-assurance/api-test-plans/School-Details.md
  platform/src/apis/Platform.Api.School/Features/Details/Functions/GetSchoolCharacteristicsFunction.cs
  platform/src/apis/Platform.Api.School/Features/Details/Functions/GetSchoolFunction.cs
  platform/src/apis/Platform.Api.School/Features/Details/Functions/QuerySchoolsFunction.cs
  platform/src/apis/Platform.Api.School/Features/Details/Models/SchoolCharacteristic.cs
  platform/src/apis/Platform.Api.School/Features/Details/Models/SchoolResponse.cs
  platform/tests/Platform.ApiTests/Data/School/Details/SchoolsCollection.json
  platform/tests/Platform.ApiTests/Data/School/Details/SingleSchool.json
  platform/tests/Platform.ApiTests/Data/School/Details/SingleSchoolCharacteristics.json
  platform/tests/Platform.ApiTests/Features/School/Details/Details.feature
  platform/tests/Platform.ApiTests/Steps/School/Details/DetailsSteps.cs
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

chore: add School comparator API tests
  documentation/quality-assurance/api-test-plans/School-Comparators.md
  platform/src/abstractions/Platform.Domain/Characteristics.cs
  platform/src/apis/Platform.Api.School/Constants.cs
  platform/src/apis/Platform.Api.School/Features/Comparators/Functions/PostComparatorsFunction.cs
  platform/src/apis/Platform.Api.School/Features/Comparators/Models/ComparatorDto.cs
  platform/src/apis/Platform.Api.School/Features/Comparators/Models/ComparatorsRequest.cs
  platform/src/apis/Platform.Api.School/Features/Comparators/Models/ComparatorsResponse.cs
  platform/tests/Platform.ApiTests/Data/School/Comparators/bad-request-invalid-version.json
  platform/tests/Platform.ApiTests/Data/School/Comparators/comparators-empty.json
  platform/tests/Platform.ApiTests/Data/School/Comparators/comparators-fully-populated.json
  platform/tests/Platform.ApiTests/Data/School/Comparators/comparators-partially-populated.json
  platform/tests/Platform.ApiTests/Features/School/Comparators/Comparators.feature
  platform/tests/Platform.ApiTests/Steps/School/Comparators/ComparatorsSteps.cs
  platform/tests/Platform.ApiTests/packages.lock.json
  skills/platform-api-test-planner.skill
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
