Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Added custom telemetry events to Orchestrator
  platform/src/abstractions/Platform.Domain/Pipeline.cs
  platform/src/apis/Platform.Orchestrator/PipelineDb.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
Due: pipelines/platform/build.yaml

feat: Added custom event tracking for 'Save all chart images' button press
  front-end-components/src/components/share-content-by-elements/component.tsx
  front-end-components/src/main.tsx
  web/src/Web.App/Views/Shared/_SaveChartsButton.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

feat: Added scheduled query alert for excessive failed pipeline finished messages
  support-analytics/terraform/README.md
  support-analytics/terraform/alerts.tf
  support-analytics/terraform/queries/pipeline-messages-finished.kql
Due: pipelines/support-analytics/release.yaml

chore: Added recommended index for `[UserData]` table
  core-infrastructure/src/db/Core.Database/Scripts/107-CreateRecommendedIndexes.sql
Due: pipelines/core-infrastructure/build.yaml

feat: update processing of AAR file/codes (#1780)
  data-pipeline/src/pipeline/input_schemas/README.md
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/aar_academies.py
  data-pipeline/src/pipeline/input_schemas/aar_central_services.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/src/pipeline/pre_processing/academies/central_services.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
Due: pipelines/data-pipeline/build.yaml

feat: add save image functionality to spending priorities page
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
Due: pipelines/web/build.yaml

chore: update selector for spending and costs e2e tests. add test id for rag commentary
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
Due: pipelines/web/build.yaml

feat: Added 'copy to clipboard' support to (recently merged in) Spending Priorities page
  front-end-components/src/components/share-content-by-elements/component.tsx
  front-end-components/src/components/share-content/component.tsx
  front-end-components/src/components/share-content/types.tsx
  front-end-components/src/composed/historic-chart-2-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/main.tsx
  front-end-components/src/views/budget-forecast-returns/partials/year-end.tsx
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

feat: Added 'copy to clipboard' support to charts alongside 'save as image'
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/line-chart/component.tsx
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/components/charts/vertical-bar-chart/component.tsx
  front-end-components/src/components/share-content-by-element/component.tsx
  front-end-components/src/components/share-content-by-element/types.tsx
  front-end-components/src/components/share-content-by-elements/component.tsx
  front-end-components/src/components/share-content/component.tsx
  front-end-components/src/components/share-content/styles.css
  front-end-components/src/components/share-content/types.tsx
  front-end-components/src/composed/historic-chart-2-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/hooks/useDownloadImage.ts
  front-end-components/src/index.css
  front-end-components/src/main.tsx
  front-end-components/src/services/image-service.ts
  front-end-components/src/views/budget-forecast-returns/partials/bfr-chart.tsx
  front-end-components/src/views/budget-forecast-returns/partials/types.tsx
  front-end-components/src/views/budget-forecast-returns/partials/year-end.tsx
Due: pipelines/front-end-components/build.yaml

chore: Removed `.app-priorities-save-chart` wrapper and replaced with `flex-end`
  front-end-components/src/components/share-content/styles.css
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

feat: E2E test coverage for 'Copy' buttons
  web/README.md
  web/tests/Web.E2ETests/Drivers/PageDriver.cs
  web/tests/Web.E2ETests/Features/LocalAuthority/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/LocalAuthority/CompareYourCosts.feature
  web/tests/Web.E2ETests/Features/School/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Features/Trust/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/Trust/CompareYourCosts.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/BenchmarkCensusPage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Pages/School/BenchmarkCensusPage.cs
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Pages/Trust/BenchmarkCensusPage.cs
  web/tests/Web.E2ETests/Pages/Trust/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Regexes.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/BenchmarkCensusSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/CompareYourCostsSteps.cs
  web/tests/Web.E2ETests/Steps/School/BenchmarkCensusSteps.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/BenchmarkCensusSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/CompareYourCostsSteps.cs
  web/tests/Web.E2ETests/TestConfiguration.cs
  web/tests/Web.E2ETests/appsettings.json
Due: pipelines/web/build.yaml

fix: Added missing custom event ID to 'Copy' button on Spending Priorities page
  front-end-components/src/main.tsx
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: E2E for 'Save all' button
  web/src/Web.App/package-lock.json
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
Due: pipelines/web/build.yaml

fix: Ensured `documentation` pipeline triggered on PR
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

chore: Intentional markdown lint failure introduced to test pipeline change
  documentation/operational/5_Runbooks.md
Due: pipelines/documentation/build.yaml

docs: update data-model documentation
  documentation/data/2_Models.md
Due: pipelines/documentation/build.yaml

feat: add Python script for doc. tables
  documentation/tools/input_schemas.py
Due: pipelines/documentation/build.yaml

docs : Architectural Decision Record (ADR) for Rendering of Charts
  documentation/architecture/decisions/0006-chart-rendering.md
Due: pipelines/documentation/build.yaml

chore: Temporarily remove 'Save all' button due to usability issues
  web/src/Web.App/Views/Shared/_SaveChartsButton.cshtml
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

fix: Removed 'Copy' button from Census pages
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/composed/dimensioned-chart/composed.tsx
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-trust/partials/balance.tsx
  front-end-components/src/views/compare-your-trust/partials/total-expenditure.tsx
  web/tests/Web.E2ETests/Features/LocalAuthority/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/School/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/Trust/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/BenchmarkCensusPage.cs
  web/tests/Web.E2ETests/Pages/School/BenchmarkCensusPage.cs
  web/tests/Web.E2ETests/Pages/Trust/BenchmarkCensusPage.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

fix: Removed 'Copy' button from School History pages
  front-end-components/src/composed/historic-chart-2-composed/component.tsx
  front-end-components/src/composed/historic-chart-2-composed/types.tsx
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/types.tsx
Due: pipelines/front-end-components/build.yaml

docs: update data-model documentation (#1814)
  documentation/data/2_Models.md
  documentation/tools/input_schemas.py
Due: pipelines/documentation/build.yaml

chore: Added commentary from earlier `NodeReact` spike
  documentation/architecture/decisions/0006-chart-rendering.md
Due: pipelines/documentation/build.yaml

chore: Bumped `front-end` to `1.1.39`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml
