Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Application features dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/feature-requests-chart.kql
  core-infrastructure/terraform/queries/popular-local-authority-requests-chart.kql
  core-infrastructure/terraform/queries/user-counts.kql
Due: pipelines/core-infrastructure/build.yaml

chore: Renamed Dashboard resource and friendly names
  core-infrastructure/terraform/dashboards.tf
Due: pipelines/core-infrastructure/build.yaml

feat: Sessions dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/functions/get-session-length.kql
  core-infrastructure/terraform/queries/functions/get-sessions.kql
  core-infrastructure/terraform/queries/session-count-per-day.kql
  core-infrastructure/terraform/queries/session-length-per-day.kql
  core-infrastructure/terraform/queries/user-sessions.kql
Due: pipelines/core-infrastructure/build.yaml

feat: Commercial Resources dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/functions/get-commercial-resources.kql
  core-infrastructure/terraform/queries/popular-commercial-resources.kql
Due: pipelines/core-infrastructure/build.yaml

feat: Custom Data funnel dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/custom-data-funnel.kql
Due: pipelines/core-infrastructure/build.yaml

chore: Mini refactor of dashboard queries
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/oi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/failures-query-prefix.kql
  core-infrastructure/terraform/queries/functions/get-auth-users.kql
  core-infrastructure/terraform/queries/functions/get-establishment-requests.kql
  core-infrastructure/terraform/queries/functions/get-feature-requests.kql
  core-infrastructure/terraform/queries/functions/get-new-users.kql
  core-infrastructure/terraform/queries/functions/get-tracked-links.kql
  core-infrastructure/terraform/queries/functions/get-users.kql
  core-infrastructure/terraform/queries/popular-local-authority-requests-chart.kql
  core-infrastructure/terraform/queries/popular-school-requests-chart.kql
  core-infrastructure/terraform/queries/popular-trust-requests-chart.kql
  core-infrastructure/terraform/queries/session-count-per-day.kql
  core-infrastructure/terraform/queries/session-length-per-day.kql
  core-infrastructure/terraform/queries/user-auth-count-per-day.kql
  core-infrastructure/terraform/queries/user-count-per-day.kql
  core-infrastructure/terraform/queries/user-new-count-per-day.kql
Due: pipelines/core-infrastructure/build.yaml

feat: User counts dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/functions/get-new-users.kql
  core-infrastructure/terraform/queries/user-counts.kql
Due: pipelines/core-infrastructure/build.yaml

fix: GetNewUsers function fix to consume input time range
  core-infrastructure/terraform/queries/functions/get-new-users.kql
  core-infrastructure/terraform/queries/user-counts.kql
Due: pipelines/core-infrastructure/build.yaml

docs: add WiP data timeline document
  documentation/data/XX_Data-Timeline.md
Due: pipelines/documentation/build.yaml

Prototype - versioning details
  prototype/src/app/versionUpdate.sh
  prototype/src/app/views/latest/index.html
  prototype/src/app/views/v1_0_0/index.html
Due: pipelines/prototype/build.yaml

docs: adds data processing timeline
  documentation/data/XX_Data-Timeline.md
Due: pipelines/documentation/build.yaml

fix: use group name in school projection
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

fix: use gias_all_links for Trust info. (#1108)
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

updated release plan with the latest stories and progress.
  documentation/testing/test-plans/20240711_release-test-plan.md
Due: pipelines/documentation/build.yaml

hotfix: ensure trust name and company number are projected from the same source
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

feat: MI dashboard improvements
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/user-sessions.kql
  core-infrastructure/terraform/queries/weekly-active-users.kql
Due: pipelines/core-infrastructure/build.yaml

chore: tidy up feature attributes on request tracking
  web/src/Web.App/Constants/TrackedRequestType.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateController.cs
  web/src/Web.App/Controllers/SchoolPlanningCreatePlanController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
Due: pipelines/web/build.yaml

feat: MI dashboard improvements (#1111)
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/user-sessions.kql
  core-infrastructure/terraform/queries/weekly-active-users.kql
Due: pipelines/core-infrastructure/build.yaml

test: correct custom-data tests
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

test: correct custom-data tests (#1113)
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

chore: add apportionment for revenue reserve, in-year balance, total income and total expenditure
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

chore: add apportionment for revenue reserve, in-year balance, total income and total expenditure (#1112)
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

docs: example / template load test plan [skip ci]
  documentation/templates/load-test-plan.md
Due: pipelines/documentation/build.yaml

feat: Cookie page updates, including form for changing options
  web/src/Web.App/Controllers/StaticContentController.cs
  web/src/Web.App/ViewComponents/AnalyticsViewComponent.cs
  web/src/Web.App/ViewComponents/CookiesViewComponent.cs
  web/src/Web.App/ViewComponents/EmptyContentView.cs
  web/src/Web.App/ViewModels/Components/AnalyticsViewModel.cs
  web/src/Web.App/ViewModels/StaticCookiesViewModel.cs
  web/src/Web.App/Views/Shared/Components/Analytics/Default.cshtml
  web/src/Web.App/Views/StaticContent/Cookies.cshtml
Due: pipelines/web/build.yaml

feat: Cookie banner with support to opt-out of tracking cookies
  web/src/Web.App/Constants.cs
  web/src/Web.App/ViewComponents/AnalyticsViewComponent.cs
  web/src/Web.App/ViewComponents/CookiesViewComponent.cs
  web/src/Web.App/ViewModels/Components/AnalyticsViewModel.cs
  web/src/Web.App/ViewModels/Components/CookiesViewModel.cs
  web/src/Web.App/Views/Shared/Components/Analytics/Default.cshtml
  web/src/Web.App/Views/Shared/Components/Cookies/Default.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

feat: Disable default cookie choice selection
  web/src/Web.App/Controllers/CookiesController.cs
  web/src/Web.App/Controllers/StaticContentController.cs
  web/src/Web.App/ViewModels/StaticCookiesViewModel.cs
  web/src/Web.App/Views/Cookies/Index.cshtml
  web/src/Web.App/Views/Shared/Components/Cookies/Default.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/tests/Web.E2ETests/Pages/BasePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingCookies.cs
Due: pipelines/web/build.yaml

feat: Hide Cookie banner if JavaScript is disabled
  web/src/Web.App/Views/Shared/Components/Cookies/Default.cshtml
  web/tests/Web.E2ETests/Drivers/PageDriver.cs
  web/tests/Web.E2ETests/Features/ManageCookies.feature
  web/tests/Web.E2ETests/Hooks/SharedBrowserHooks.cs
  web/tests/Web.E2ETests/Pages/BasePage.cs
  web/tests/Web.E2ETests/Steps/ManageCookiesSteps.cs
Due: pipelines/web/build.yaml

chore: Integration tests for Cookie tracking toggle
  web/src/Web.App/Controllers/StaticContentController.cs
  web/src/Web.App/Views/Shared/Components/Cookies/Default.cshtml
  web/tests/Web.Integration.Tests/DocumentAssert.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsCreate.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsCreateBy.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsCreateByName.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsCreatePreview.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataNonFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataRevert.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanning.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningHasMixedAgeClasses.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningManagementRoles.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningMixedAgeClasses.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningOtherTeachingPeriodsConfirm.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningOtherTeachingPeriodsReview.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningPrimaryPupilFigures.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningPupilFigures.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningSelectYear.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningStart.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTeacherPeriodAllocation.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTeachingAssistantFigures.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTimetableCycle.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalEducationSupport.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalExpenditure.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalIncome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalNumberTeachers.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalTeacherCosts.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreateBy.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreateByName.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreatePreview.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingCookies.cs
  web/tests/Web.Integration.Tests/WebAppClientBase.cs
Due: pipelines/web/build.yaml

feat: Allowed cookie banner to be dismissed without client script enabled.
  web/src/Web.App/Controllers/StaticContentController.cs
  web/src/Web.App/ViewModels/StaticCookiesViewModel.cs
  web/src/Web.App/Views/Shared/Components/Analytics/Default.cshtml
  web/src/Web.App/Views/Shared/Components/Cookies/Default.cshtml
  web/src/Web.App/Views/StaticContent/Cookies.cshtml
Due: pipelines/web/build.yaml

chore: Updated E2E tests to cover Cookies banner and page
  web/README.md
  web/src/Web.App/Views/StaticContent/Cookies.cshtml
  web/tests/Web.E2ETests/Features/ManageCookies.feature
  web/tests/Web.E2ETests/Pages/BasePage.cs
  web/tests/Web.E2ETests/Pages/CookiesPage.cs
  web/tests/Web.E2ETests/Pages/FindOrganisationPage.cs
  web/tests/Web.E2ETests/Pages/HomePage.cs
  web/tests/Web.E2ETests/Pages/School/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/FindOrganisationSteps.cs
  web/tests/Web.E2ETests/Steps/ManageCookiesSteps.cs
Due: pipelines/web/build.yaml

specific releasee test plan
  documentation/testing/test-plans/20240711_release-test-plan.md
Due: pipelines/documentation/build.yaml

feedback updates
  documentation/testing/test-plans/20240711_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated exit criteria.
  documentation/testing/test-plans/20240711_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated exit criteria
  documentation/testing/test-plans/20240711_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated entry criteria.
  documentation/testing/test-plans/20240711_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated introduction
  documentation/testing/test-plans/20240711_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated scope.
  documentation/testing/test-plans/20240711_release-test-plan.md
Due: pipelines/documentation/build.yaml
