Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

linted file
  documentation/quality-assurance/release-test-plans/00032_release-test-plan.md
Due: pipelines/documentation/build.yaml

test: update selection in E2E of previousPeriod value
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Regexes.cs
Due: pipelines/web/build.yaml

test: update la home page tests to assert formatting for carried forward figures (#3938)
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Regexes.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

docs: updated release label
  documentation/quality-assurance/release-test-plans/00032_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: correct release label
  documentation/quality-assurance/release-test-plans/00032_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: test summary update
  documentation/quality-assurance/release-test-plans/00032_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: update architecture document numbering
  documentation/architecture/00_Title.md
  documentation/architecture/01_Introduction.md
  documentation/architecture/02_Business-Context.md
  documentation/architecture/03_Constraints-and-Principals.md
  documentation/architecture/04_Non-Functional-Requirements.md
  documentation/architecture/05_Volumetrics-Demand.md
  documentation/architecture/06_Information-Architecture.md
  documentation/architecture/07_Application-Architecture.md
  documentation/architecture/08_Logical-Architecture.md
  documentation/architecture/09_Deployment-Architecture.md
Due: pipelines/documentation/build.yaml

chore: update feature document numbering
  documentation/features/00_Title.md
  documentation/features/01_Integration-with-DfE-Signin.md
  documentation/features/02_Session-State.md
  documentation/features/03_Incomplete-Data.md
  documentation/features/04_Spending-and-Costs.md
  documentation/features/05_Find-Organisation.md
  documentation/features/06_Orchestrator.md
  documentation/features/07_Validation.md
  documentation/features/08_Progressive_Enhancements.md
  documentation/features/09_Commercial-Resources.md
Due: pipelines/documentation/build.yaml

feat: add script to merge md files for use in NotebookLM
  scripts/collect-markdown-v1.ps1
  scripts/collect-markdown.ps1
Due: none

feat: ensure bold text weight applied appropriately in headline statistics
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/LocalAuthority/_HeadlineStatistics.cshtml
Due: pipelines/web/build.yaml

chore: fix broken link
  documentation/architecture/01_Introduction.md
Due: pipelines/documentation/build.yaml

chore: update data document numbering
  documentation/data/00_Title.md
  documentation/data/01_Domain.md
  documentation/data/02_Sources.md
  documentation/data/03_Models.md
  documentation/data/04_Processing.md
  documentation/data/05_Releases.md
  documentation/data/06_Timeline.md
  documentation/data/07_Cost-Categories.md
  documentation/data/08_User-Generated-Calculations.md
  documentation/data/09_Academy-Apportionments.md
Due: pipelines/documentation/build.yaml

chore: fix broken links
  documentation/data/school-performance-measure/ks4-progress-indicator.md
  documentation/data/sources/bfr.md
  documentation/guides/cfr-file-generation/1_Overview.md
  documentation/guides/s251-file-generation/ehcp-transformation.md
  documentation/quality-assurance/3_Test-strategy-data-ingestion.md
Due: pipelines/documentation/build.yaml

chore: update PR templates
  .github/PULL_REQUEST_TEMPLATE/bug.md
  .github/PULL_REQUEST_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/tech_debt.md
Due: none

docs: completed release notes.
  documentation/quality-assurance/release-test-plans/00032_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: fixed typo in previous release plan
  documentation/quality-assurance/release-test-plans/00031_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: corrected typo in previous release plan
  documentation/quality-assurance/release-test-plans/00031_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: final tweaks
  documentation/quality-assurance/release-test-plans/00032_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: ensure bold text weight applied appropriately in headline statistics (#3977)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/LocalAuthority/_HeadlineStatistics.cshtml
Due: pipelines/web/build.yaml

chore: update architecture document numbering (#3978)
  documentation/architecture/00_Title.md
  documentation/architecture/01_Introduction.md
  documentation/architecture/02_Business-Context.md
  documentation/architecture/03_Constraints-and-Principals.md
  documentation/architecture/04_Non-Functional-Requirements.md
  documentation/architecture/05_Volumetrics-Demand.md
  documentation/architecture/06_Information-Architecture.md
  documentation/architecture/07_Application-Architecture.md
  documentation/architecture/08_Logical-Architecture.md
  documentation/architecture/09_Deployment-Architecture.md
Due: pipelines/documentation/build.yaml

chore: update data document numbering (#3979)
  documentation/data/00_Title.md
  documentation/data/01_Domain.md
  documentation/data/02_Sources.md
  documentation/data/03_Models.md
  documentation/data/04_Processing.md
  documentation/data/05_Releases.md
  documentation/data/06_Timeline.md
  documentation/data/07_Cost-Categories.md
  documentation/data/08_User-Generated-Calculations.md
  documentation/data/09_Academy-Apportionments.md
  documentation/data/school-performance-measure/ks4-progress-indicator.md
  documentation/data/sources/bfr.md
  documentation/guides/cfr-file-generation/1_Overview.md
  documentation/guides/s251-file-generation/ehcp-transformation.md
  documentation/quality-assurance/3_Test-strategy-data-ingestion.md
Due: pipelines/documentation/build.yaml

chore: update feature document numbering (#3981)
  documentation/features/00_Title.md
  documentation/features/01_Integration-with-DfE-Signin.md
  documentation/features/02_Session-State.md
  documentation/features/03_Incomplete-Data.md
  documentation/features/04_Spending-and-Costs.md
  documentation/features/05_Find-Organisation.md
  documentation/features/06_Orchestrator.md
  documentation/features/07_Validation.md
  documentation/features/08_Progressive_Enhancements.md
  documentation/features/09_Commercial-Resources.md
Due: pipelines/documentation/build.yaml

feat: add script to merge md files for use in NotebookLM (#3980)
  scripts/collect-markdown-v1.ps1
  scripts/collect-markdown.ps1
Due: none

chore: update PR templates (#3982)
  .github/PULL_REQUEST_TEMPLATE/bug.md
  .github/PULL_REQUEST_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/tech_debt.md
Due: none

chore(workflow): consolidate PR templates and enhance CI compliance
  .github/PULL_REQUEST_TEMPLATE/bug.md
  .github/PULL_REQUEST_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/tech_debt.md
  .github/pull_request_template.md
  .github/workflows/pr-compliance-checks.yml
Due: none

chore: add GEMINI.md context files for each module
  GEMINI.md
  core-infrastructure/GEMINI.md
  data-pipeline/GEMINI.md
  documentation/GEMINI.md
  front-end-components/GEMINI.md
  pipelines/GEMINI.md
  platform/GEMINI.md
  platform/src/apis/Platform.Api.ChartRendering/GEMINI.md
  support-analytics/GEMINI.md
  web/GEMINI.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: linting fixes
  GEMINI.md
  core-infrastructure/GEMINI.md
  data-pipeline/GEMINI.md
  documentation/GEMINI.md
  front-end-components/GEMINI.md
  pipelines/GEMINI.md
  platform/GEMINI.md
  platform/src/apis/Platform.Api.ChartRendering/GEMINI.md
  support-analytics/GEMINI.md
  web/GEMINI.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: add GEMINI.md context files for each module (#3983)
  GEMINI.md
  core-infrastructure/GEMINI.md
  data-pipeline/GEMINI.md
  documentation/GEMINI.md
  front-end-components/GEMINI.md
  pipelines/GEMINI.md
  platform/GEMINI.md
  platform/src/apis/Platform.Api.ChartRendering/GEMINI.md
  support-analytics/GEMINI.md
  web/GEMINI.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

docs: add release plan 2026.04.0 (#3939)
  documentation/quality-assurance/release-test-plans/00031_release-test-plan.md
  documentation/quality-assurance/release-test-plans/00032_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: temporarily ignore dependency updates pending investigations and upstream fixes (#3932)
  .github/dependabot.yml
Due: none

chore: improvements to build system
  core-infrastructure/Directory.Build.props
  core-infrastructure/Directory.Build.targets
  documentation/architecture/decisions/0022-build-logic-vs-pipeline-orchestration.md
  documentation/developers/03_Build-Configuration.md
  pipelines/common/vars.yaml
  pipelines/core-infrastructure/build.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

linting
  documentation/architecture/decisions/0022-build-logic-vs-pipeline-orchestration.md
  documentation/developers/03_Build-Configuration.md
Due: pipelines/documentation/build.yaml

chore: resolve review comments
  core-infrastructure/Directory.Build.props
  documentation/architecture/decisions/0022-build-logic-vs-pipeline-orchestration.md
  documentation/developers/03_Build-Configuration.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/documentation/build.yaml

chore: improvements to build system (#4005)
  core-infrastructure/Directory.Build.props
  core-infrastructure/Directory.Build.targets
  documentation/architecture/decisions/0022-build-logic-vs-pipeline-orchestration.md
  documentation/developers/03_Build-Configuration.md
  pipelines/common/vars.yaml
  pipelines/core-infrastructure/build.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

docs: centralise linting and formatting developer guides
  .github/workflows/pr-compliance-checks.yml
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  core-infrastructure/.markdownlint-cli2.jsonc
  core-infrastructure/GEMINI.md
  data-pipeline/.markdownlint-cli2.jsonc
  data-pipeline/README.md
  documentation/.markdownlint-cli2.jsonc
  documentation/GEMINI.md
  documentation/developers/01_Getting-Started.md
  documentation/developers/02_Code-Management.md
  documentation/developers/04_Pre-commit-Hooks.md
  documentation/developers/05_Linting-and-Formatting.md
  front-end-components/.markdownlint-cli2.jsonc
  front-end-components/GEMINI.md
  front-end-components/README.md
  pipelines/GEMINI.md
  pipelines/common/markdown-lint.yaml
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/documentation/build.yaml
  pipelines/platform/build.yaml
  pipelines/support-analytics/release.yaml
  pipelines/web/build.yaml
  platform/.markdownlint-cli2.jsonc
  platform/README.md
  support-analytics/.markdownlint-cli2.jsonc
  support-analytics/GEMINI.md
  web/.markdownlint-cli2.jsonc
  web/README.md
  web/src/Web.Shutter/.markdownlint.jsonc
  web/src/Web.Shutter/README.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

docs: add run instructions
  documentation/developers/05_Linting-and-Formatting.md
Due: pipelines/documentation/build.yaml

fix: remove redundant build step
  pipelines/front-end-components/build.yaml
Due: pipelines/front-end-components/build.yaml
