Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/supporting-data/build.yaml: any of: supporting-data

ARM template and parameters deployed on 5-17-2024 17:20:45, based on the collaboration branch's commit ID: e60181b87faaac8cec857ae9cdc9f4d2f9dd7d39
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_3.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_4.json
Due: none

ARM template and parameters deployed on 6-11-2024 11:17:5, based on the collaboration branch's commit ID: 9f99f98fa79163a374dde51369b6a869d38d000e
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_master.json
Due: none

ARM template and parameters deployed on 5-20-2024 7:5:10, based on the collaboration branch's commit ID: c90cdeb17f1ff5968a63921e34ad23befc067bbd
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_3.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_4.json
Due: none

ARM template and parameters deployed on 6-11-2024 13:46:57, based on the collaboration branch's commit ID: 00c32ca1e08acf7e552573a0a0b51aaf4cd4dfad
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
Due: none

ARM template and parameters deployed on 6-11-2024 13:20:25, based on the collaboration branch's commit ID: 7421830366901d05f5f9d5f6a8c4b173223688b9
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
Due: none

ARM template and parameters deployed on 6-11-2024 11:56:0, based on the collaboration branch's commit ID: 62c33e8eebeea1841995e598762ea9845f22fdf5
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/ARMTemplateParametersForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplateParameters_master.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_master.json
Due: none

ARM template and parameters deployed on 6-11-2024 12:6:27, based on the collaboration branch's commit ID: c21578fc8d0b90c6db1a71d78b8b3fb16a934578
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
Due: none

ARM template and parameters deployed on 6-11-2024 12:11:22, based on the collaboration branch's commit ID: 4c3fa371b4539006ccd474bb106343eeee810e11
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
Due: none

ARM template and parameters deployed on 6-11-2024 13:18:43, based on the collaboration branch's commit ID: de6cf04053025fc1e79ce00cc7a6e52eea16b2d1
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
Due: none

ARM template and parameters deployed on 6-11-2024 13:35:36, based on the collaboration branch's commit ID: fee552849672ed407fb18a196e556fd4c1943c73
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
Due: none

ARM template and parameters deployed on 6-11-2024 12:13:57, based on the collaboration branch's commit ID: aa9d32743b205d96f74e9f193c03d2c4ff404560
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
Due: none

feat: user-defined comparator sets (#916)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag.py
Due: pipelines/data-pipeline/build.yaml

chore: Wired up Trust Characteristics endpoint
  web/src/Web.App/Domain/TrustCharacteristic.cs
  web/src/Web.App/Infrastructure/Apis/TrustInsightApi.cs
  web/src/Web.App/Views/TrustComparatorsCreateBy/_ChosenTrusts.cshtml
Due: none

hotfix: several fixes to CFP
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlansService.cs
  web/src/Web.App/Constants/TagColours.cs
  web/src/Web.App/Infrastructure/Apis/FinancialPlanApi.cs
  web/src/Web.App/Infrastructure/Apis/Requests/PutFinancialPlanRequest.cs
  web/src/Web.App/Services/FinancialPlanService.cs
  web/src/Web.App/Views/SchoolPlanning/Index.cshtml
  web/src/Web.App/Views/SchoolPlanning/_CalculateCurriculumMetrics.cshtml
  web/src/Web.App/Views/SchoolPlanning/_CalculateFinancialMetrics.cshtml
  web/src/Web.App/Views/Shared/Components/Tag/Default.cshtml
Due: pipelines/platform/build.yaml

removes static content pages no longer required from service (#929)
  web/src/Web.App/Controllers/StaticContentController.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/Shared/Components/GetHelp/Default.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/src/Web.App/Views/StaticContent/Accessibility.cshtml
  web/src/Web.App/Views/StaticContent/AskForHelp.cshtml
  web/src/Web.App/Views/StaticContent/ServiceHelp.cshtml
  web/src/Web.App/Views/StaticContent/SubmitEnquiry.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingAccessibility.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingAskForHelp.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingServiceHelp.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingSubmitEnquiry.cs
Due: none

updates content for cookies page
  web/src/Web.App/Views/StaticContent/Cookies.cshtml
Due: none

update wording
  web/src/Web.App/Views/StaticContent/Cookies.cshtml
Due: none

Prototype/custom data updates
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/views/custom-data/custom-homepage.html
  prototype/src/app/views/custom-data/financial-data.html
  prototype/src/app/views/custom-data/side-by-side.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
Due: none

chore: enable features in all pre-prod environments
  web/terraform/README.md
  web/terraform/variables.tf
Due: none

feat: Trust user-defined comparator set by-characteristic search
  platform/src/apis/Platform.Api.Benchmark/Comparators/Characteristics.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorTrustsRequest.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Constants/SessionKeys.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Domain/ComparatorTrusts.cs
  web/src/Web.App/Domain/TrustComparatorSet.cs
  web/src/Web.App/Infrastructure/Apis/ComparatorApi.cs
  web/src/Web.App/Infrastructure/Apis/Requests/Characteristic.cs
  web/src/Web.App/Infrastructure/Apis/Requests/PostSchoolComparatorsRequest.cs
  web/src/Web.App/Infrastructure/Apis/Requests/PostTrustComparatorsRequest.cs
  web/src/Web.App/Services/SchoolComparatorSetService.cs
  web/src/Web.App/Services/TrustComparatorSetService.cs
  web/src/Web.App/ViewModels/AdditionalCharacteristicsSelectViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsByCharacteristicViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsPreviewViewModel.cs
  web/src/Web.App/ViewModels/TrustComparatorsByCharacteristicViewModel.cs
  web/src/Web.App/ViewModels/UserDefinedSchoolCharacteristicViewModel.cs
  web/src/Web.App/ViewModels/UserDefinedTrustCharacteristicViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Characteristic.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_LocalAuthorities.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_SchoolCategories.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_SchoolTypes.cshtml
  web/src/Web.App/Views/Shared/Characteristics/_AdditionalCharacteristicsRange.cshtml
  web/src/Web.App/Views/Shared/Characteristics/_AdditionalCharacteristicsSelect.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Characteristic.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreateBy.cs
  web/tests/Web.Tests/Infrastructure/Apis/Requests/GivenAPostSchoolComparatorsRequest.cs
  web/tests/Web.Tests/Infrastructure/Apis/Requests/GivenAPostTrustComparatorsRequest.cs
  web/tests/Web.Tests/Infrastructure/GivenAComparatorApi.cs
Due: pipelines/platform/build.yaml

Prototype/custom data updates (#931)
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/views/custom-data/custom-homepage.html
  prototype/src/app/views/custom-data/financial-data.html
  prototype/src/app/views/custom-data/side-by-side.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
Due: none

protoype/trustsdatacontentreview
  prototype/src/app/views/compare-trusts/compare.html
  prototype/src/app/views/custom-data/custom-homepage.html
  prototype/src/app/views/custom-data/financial-data.html
  prototype/src/app/views/custom-data/index.html
  prototype/src/app/views/custom-data/school-characteristics.html
  prototype/src/app/views/custom-data/workforce.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
  prototype/src/app/views/templates/priority-banner.njk
  prototype/src/app/views/templates/spending-panel.njk
Due: none

updates content for cookies page (#930)
  web/src/Web.App/Views/StaticContent/Cookies.cshtml
Due: none

chore: move deployment plan create to back-end api
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlanDeployment.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlansFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlansService.cs
  web/src/Web.App/Controllers/SchoolPlanningController.cs
  web/src/Web.App/Controllers/SchoolPlanningCreatePlanController.cs
  web/src/Web.App/Domain/DeploymentPlan.cs
  web/src/Web.App/Infrastructure/Apis/FinancialPlanApi.cs
  web/src/Web.App/Services/FinancialPlanService.cs
  web/src/Web.App/ViewModels/SchoolDeploymentPlanViewModel.cs
  web/src/Web.App/Views/SchoolPlanning/View.cshtml
Due: pipelines/platform/build.yaml

testing out cfo - historic data fix
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

feat: Preview for matching trusts by characteristic
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/TrustComparatorsPreviewViewModel.cs
  web/src/Web.App/Views/TrustComparatorsCreateBy/Preview.cshtml
Due: none

chore: Trust characteristics form and result preview integration tests
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreateByCharacteristic.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreatePreview.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: none

feat: adds change links for deployment plan AB#192004
  web/src/Web.App/Constants/Referrers.cs
  web/src/Web.App/Controllers/SchoolPlanningCreatePlanController.cs
  web/src/Web.App/Domain/FinancialPlanStages/Stage.cs
  web/src/Web.App/ViewModels/SchoolPlanCreateViewModel.cs
  web/src/Web.App/Views/SchoolPlanning/_InputMetrics.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TimetableCycle.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalEducationSupport.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalExpenditure.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalIncome.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalNumberTeachers.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/TotalTeacherCosts.cshtml
Due: none

chore: ensure queue message encoding format is none
  platform/src/apis/Platform.Api.Benchmark/host.json
  platform/src/apis/Platform.Orchestrator/JobStartMessageSender.cs
  platform/src/apis/Platform.Orchestrator/host.json
Due: pipelines/platform/build.yaml

protoype/trustsdatacontentreview (#933)
  prototype/src/app/views/compare-trusts/compare.html
  prototype/src/app/views/custom-data/custom-homepage.html
  prototype/src/app/views/custom-data/financial-data.html
  prototype/src/app/views/custom-data/index.html
  prototype/src/app/views/custom-data/school-characteristics.html
  prototype/src/app/views/custom-data/workforce.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
  prototype/src/app/views/templates/priority-banner.njk
  prototype/src/app/views/templates/spending-panel.njk
Due: none

feat: adds additional CFP columns
  core-infrastructure/src/db/Core.Database/Scripts/025-AddColumnsCFP.sql
Due: pipelines/core-infrastructure/build.yaml

fix: correct user-defined comparator-set payload check
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

fix: correct user-defined comparator-set payload check (#936)
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

hotfix: fixes precision and scale on core db tables
  core-infrastructure/src/db/Core.Database/Scripts/026-SetPrecisionScale.sql
Due: pipelines/core-infrastructure/build.yaml
