Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

bugfix: adds padding to company number claim received from DSI (#1495)
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
Due: pipelines/web/build.yaml

release test plan 2024.10.4 (#1485)
  documentation/quality-assurance/release-test-plans/00008_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

chore: Added `validate-branch` step to build pipelines
  pipelines/common/validate-branch.yaml
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/web/build.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Moved `SourceBranch` variable to `common\vars.yml` and included `main` in valid branch names
  pipelines/common/validate-branch.yaml
  pipelines/common/vars.yaml
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/web/build.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

release test plan updated
  documentation/quality-assurance/release-test-plans/00009_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

draft template from 2024.10.4 release
  documentation/quality-assurance/release-test-plans/00009_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

completed release plan
  documentation/quality-assurance/release-test-plans/00009_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

Doc/release test plan 2024.10.5 (#1499)
  documentation/quality-assurance/release-test-plans/00009_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

hotfix: don't create comparator sets when CDC information isn't available AB#234628
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/comparator_sets/test_part_year.py
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/contexts/contexts.tsx
  front-end-components/src/views/compare-your-census/partials/auxiliary-staff.tsx
  front-end-components/src/views/compare-your-census/partials/headcount.tsx
  front-end-components/src/views/compare-your-census/partials/non-classroom-support.tsx
  front-end-components/src/views/compare-your-census/partials/school-workforce.tsx
  front-end-components/src/views/compare-your-census/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census/partials/teaching-assistants.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-costs/view.tsx
  web/src/Web.App/Controllers/SchoolSpendingController.cs
Due: pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: bump front-end version
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

hotfix: fixes failing test cases AB#234628
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
Due: pipelines/web/build.yaml

feat: Adds missing categories for other costs
  web/src/Web.App/Domain/CostCategories.cs
  web/tests/Web.E2ETests/Features/CostCategoriesGuidance.feature
Due: pipelines/web/build.yaml

feat: Adds missing categories for other costs (#1500)
  web/src/Web.App/Domain/CostCategories.cs
  web/tests/Web.E2ETests/Features/CostCategoriesGuidance.feature
Due: pipelines/web/build.yaml

feat: adds banner message for lead federation
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/School/_BannerFederation.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
Due: pipelines/web/build.yaml

draft release plan
  documentation/quality-assurance/release-test-plans/00010_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

feat: adds banner message for lead federation (#1501)
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/School/_BannerFederation.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
Due: pipelines/web/build.yaml

hotfix: missing row div for federation banner
  web/src/Web.App/Views/School/_BannerFederation.cshtml
Due: pipelines/web/build.yaml

updated release docs
  documentation/quality-assurance/release-test-plans/00010_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

updated name typo
  documentation/quality-assurance/release-test-plans/00010_release-test-plan.md
Due: pipelines/documentation/build.yaml

hotfix: for academies set partial years based on number of periods covered
  data-pipeline/src/pipeline/part_year/academies.py
  data-pipeline/tests/unit/part_year/test_map_academies.py
Due: pipelines/data-pipeline/build.yaml

chore: release test plan updates
  documentation/quality-assurance/release-test-plans/00010_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: further release test plan updates
  documentation/quality-assurance/release-test-plans/00010_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: update test deliverables
  documentation/quality-assurance/release-test-plans/00010_release-test-plan.md
Due: pipelines/documentation/build.yaml

Release test plan (#1504)
  documentation/quality-assurance/release-test-plans/00010_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: revised release test plan template
  documentation/templates/release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: adds additional blockquote guidance sections to release test plan template
  documentation/templates/release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: Added `prevent_destroy` lifecycle arguments to sensitive resources
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/key-vault.tf
  core-infrastructure/terraform/storage.tf
  core-infrastructure/terraform/terraform.tfvars
  core-infrastructure/terraform/variables.tf
  pipelines/common/destroy-terraform.yaml
  pipelines/common/run-terraform.yaml
  pipelines/common/sync-terraform.yaml
  pipelines/core-infrastructure/deployment.yaml
  pipelines/destroy/destroy.yaml
  pipelines/feature/release.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Reverted variable-derived value for `prevent_destroy` as this is not supported
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/key-vault.tf
  core-infrastructure/terraform/storage.tf
  core-infrastructure/terraform/terraform.tfvars
  core-infrastructure/terraform/variables.tf
  pipelines/common/destroy-terraform.yaml
  pipelines/common/run-terraform.yaml
  pipelines/common/sync-terraform.yaml
  pipelines/core-infrastructure/deployment.yaml
  pipelines/destroy/destroy.yaml
  pipelines/feature/release.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Disable `prevent_destroy` via `.tf` find-and-replace from 'release' and `destroy' pipelines
  pipelines/common/destroy-terraform.yaml
  pipelines/common/pre-process-terraform.yaml
  pipelines/common/publish-terraform-artifacts.yaml
  pipelines/feature/release.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

Added `prevent_destroy` lifecycle arguments to sensitive resources (#1486)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/key-vault.tf
  core-infrastructure/terraform/storage.tf
  pipelines/common/destroy-terraform.yaml
  pipelines/common/pre-process-terraform.yaml
  pipelines/common/publish-terraform-artifacts.yaml
  pipelines/feature/release.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Enabled versioning and container soft delete on all storage accounts
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/storage.tf
  pipelines/common/run-terraform.yaml
  platform/terraform/storage.tf
  web/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Enabled versioning and container soft delete on all storage accounts (#1497)
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/storage.tf
  pipelines/common/run-terraform.yaml
  platform/terraform/storage.tf
  web/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Sync Key Vault references after deploying App Services
  pipelines/common/app-service-settings-refresh.yaml
  pipelines/platform/deployment.yaml
  pipelines/web/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Sync Key Vault references after deploying App Services (#1502)
  pipelines/common/app-service-settings-refresh.yaml
  pipelines/platform/deployment.yaml
  pipelines/web/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

hotfix: update failing api test
  platform/tests/Platform.ApiTests/Features/EstablishmentSchools.feature
Due: pipelines/platform/build.yaml

Added `validate-branch` step to build pipelines (#1498)
  pipelines/common/validate-branch.yaml
  pipelines/common/vars.yaml
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/web/build.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: adds starter test data files [skip ci]
  test-data/BudgetForecastReturn.csv
  test-data/BudgetForecastReturnMetric.csv
  test-data/ComparatorSet.csv
  test-data/Financial.csv
  test-data/README.md
Due: none

production smoke testing
  documentation/quality-assurance/7_Production-Smoke-Testing.md
Due: pipelines/documentation/build.yaml
