Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

Add rag config
  data-pipeline/src/pipeline/rag/calculations.py
  data-pipeline/src/pipeline/rag/config.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/rag/calculations.py
  data-pipeline/src/pipeline/rag/config.py
Due: pipelines/data-pipeline/build.yaml

rename entrypoint functions
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag/__init__.py
  data-pipeline/src/pipeline/rag/calculations.py
  data-pipeline/src/pipeline/rag/orchestrator.py
  data-pipeline/tests/unit/rag/test_orchestrator.py
Due: pipelines/data-pipeline/build.yaml

sort imports
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag/__init__.py
Due: pipelines/data-pipeline/build.yaml

sort a few type hints
  data-pipeline/src/pipeline/rag/calculations.py
  data-pipeline/src/pipeline/rag/engine.py
  data-pipeline/src/pipeline/rag/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

doc: move charting principles to a guide
  documentation/guides/chart-principles/00_Title.md
  documentation/guides/chart-principles/01_Introduction.md
  documentation/guides/chart-principles/02_line-chart.md
  documentation/guides/chart-principles/images/high-needs-historical-data-section251.png
  documentation/guides/chart-principles/images/high-needs-historical-data-send2.png
  documentation/guides/chart-principles/images/school-historic-data-spending.png
  documentation/guides/chart-principles/images/trust-forecast-and-risks-alternative-consideration.png
  documentation/guides/chart-principles/images/trust-forecast-and-risks.png
  documentation/guides/chart-principles/images/trust-historic-data-alternative-consideration.png
  documentation/guides/chart-principles/images/trust-historic-data.png
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

title updates and doc section
  documentation/guides/chart-development-workflow/0_Title.md
  documentation/guides/chart-development-workflow/1_Chart-Development-Workflow.md
Due: pipelines/documentation/build.yaml

linting
  documentation/guides/chart-principles/01_Introduction.md
Due: pipelines/documentation/build.yaml

More linting
  documentation/guides/chart-principles/01_Introduction.md
Due: pipelines/documentation/build.yaml

chore: Bumped `front-end` dependencies (#2760)
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

updated release with updates
  documentation/quality-assurance/release-test-plans/00023_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: adds explicit event tracking for Benchmarking IT spend
  web/src/Web.App/Constants/CustomEvents.cs
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
Due: pipelines/web/build.yaml

chore: Bumped `platform` npm dependencies
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
Due: pipelines/platform/build.yaml

chore: bump `prototype` dependencies
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml

feat: Reassign and deprecate WAF resources to match production environment, as per ADR 0011
  web/terraform/README.md
  web/terraform/front-door.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: Removed `GeoMatch` rule and set WAF mode to `Detection` in pre-/prod
  web/terraform/README.md
  web/terraform/front-door.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

chore: bump `prototype` dependencies (#2765)
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml

added benchmark it spent tickets
  documentation/quality-assurance/release-test-plans/00023_release-test-plan.md
Due: pipelines/documentation/build.yaml

fix: Normalise null values in SSR charts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSinglePercent.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Steps/ChartRenderingHorizontalBarChartSteps.cs
Due: pipelines/platform/build.yaml

linting
  documentation/quality-assurance/release-test-plans/00023_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: update `Web.App` dependencies
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: update `Web.App` dependencies (#2768)
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: update `Web.Shutter` dependencies
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: update `Web.Shutter` dependencies (#2769)
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

load test plan completed
  documentation/quality-assurance/performance-test-plans/0010_Web-Bencmark-IT-Spending-load-test-plan.md
Due: pipelines/documentation/build.yaml

fix: add non teachers to senior leadership
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/utils/database.py
Due: pipelines/data-pipeline/build.yaml

fix: Updated front-end formatters to ensure whole financial figures always displayed
  front-end-components/src/components/charts/utils.test.ts
  front-end-components/src/components/charts/utils.ts
Due: pipelines/front-end-components/build.yaml

fix: Updated E2E test coverage over client rendered currency values
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsHistoricData.feature
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
Due: pipelines/web/build.yaml

IT spending benchmark load test plan (#2718)
  documentation/quality-assurance/performance-test-plans/0010_Web-Bencmark-IT-Spending-load-test-plan.md
Due: pipelines/documentation/build.yaml

feat: update chart label for historic chart "Other DfE/EFA revenue grants" to "Other DfE revenue grants"
  front-end-components/src/views/historic-data/partials/income-section-grant-funding.tsx
Due: pipelines/front-end-components/build.yaml

Define Senior leadership default aggregation
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
Due: pipelines/data-pipeline/build.yaml

docs: update income sub-category name
  documentation/data/7_Cost-Categories.md
Due: pipelines/documentation/build.yaml

chore: update chart label in e2e historic data tests
  web/tests/Web.E2ETests/Pages/School/HistoricDataPage.cs
Due: pipelines/web/build.yaml

Add aggregation columns to expected test output
  data-pipeline/tests/unit/pre_processing/test_census.py
Due: pipelines/data-pipeline/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
