Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: Bumped `terraform` dependencies
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  data-pipeline/terraform/README.md
  data-pipeline/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/provider.tf
  platform/terraform/provider.tf
  prototype/terraform/README.md
  prototype/terraform/provider.tf
  support-analytics/terraform/README.md
  support-analytics/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: Improved layout of 'forecast' Trust IT spend table
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendTable.cshtml
Due: pipelines/web/build.yaml

feat: Added FBIS for Trusts link to Trust landing page
  web/src/Web.App/ViewModels/Components/ResourcesViewModel.cs
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
Due: pipelines/web/build.yaml

feat: FBIS for Trust 'Next steps' section
  web/src/Web.App/Views/TrustFinancialBenchmarkingInsightsSummary/Index.cshtml
  web/src/Web.App/Views/TrustFinancialBenchmarkingInsightsSummary/_NextSteps.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingFinancialBenchmarkingInsightsSummary.cs
Due: pipelines/web/build.yaml

feat: Top two Trust Summary spending priority categories
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/TrustFinancialBenchmarkingInsightsSummaryController.cs
  web/src/Web.App/ViewModels/TrustFinancialBenchmarkingInsightsSummaryViewModel.cs
  web/src/Web.App/Views/TrustFinancialBenchmarkingInsightsSummary/Index.cshtml
  web/src/Web.App/Views/TrustFinancialBenchmarkingInsightsSummary/_SpendingPriorities.cshtml
Due: pipelines/web/build.yaml

feat: Integration test coverage for Trust FBIS spending priorities
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingFinancialBenchmarkingInsightsSummary.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Integration.Tests/StringExtensions.cs
Due: pipelines/web/build.yaml

feat: Fix spending priorities 'key highlights' for each category
  web/src/Web.App/Views/TrustFinancialBenchmarkingInsightsSummary/_SpendingPriorities.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingFinancialBenchmarkingInsightsSummary.cs
Due: pipelines/web/build.yaml

chore: Bumped `front-end` dependencies
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: Bumped `prototype` dependencies
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml

chore: Bumped `platform` dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Domain/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Json/packages.lock.json
  platform/src/abstractions/Platform.Messaging/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: Bumped `web` npm dependencies
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: Bumped `web` nuget dependencies
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/src/Web.Redirect/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

Add it spend tables
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/it_spend_tables.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/preprocessed_tables.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/raw_tables.py
  databricks/education_benchmarking_and_insights/src/pipeline.ipynb
Due: none

WIP tests
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
  web/tests/Web.E2ETests/Pages/School/BenchmarkItSpendingPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/SignInSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/BenchmarkItSpendingSteps.cs
Due: pipelines/web/build.yaml

feat: E2E test coverage over Trust IT tables
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendTable.cshtml
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
  web/tests/Web.E2ETests/Steps/Trust/BenchmarkItSpendingSteps.cs
Due: pipelines/web/build.yaml

fix testing failing
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
Due: pipelines/web/build.yaml

Updated data for tests
  test-data/BudgetForecastReturn.csv
  test-data/Trust.csv
  test-data/TrustFinancial.csv
Due: none

added further tests continued
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
  web/tests/Web.E2ETests/Steps/Trust/BenchmarkItSpendingSteps.cs
Due: pipelines/web/build.yaml

Scenario updated contd
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
Due: pipelines/web/build.yaml

updated user defined comparators
  test-data/UserDefinedTrustComparatorSet.csv
Due: none

updated company number for trusts
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Steps/Trust/BenchmarkItSpendingSteps.cs
Due: pipelines/web/build.yaml

added comparator set for trusts
  test-data/UserDefinedTrustComparatorSet.csv
Due: none

updated BFR table
  test-data/BudgetForecastReturn.csv
Due: none

feat: E2E test coverage over Trust IT forecast charts
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
  web/tests/Web.E2ETests/Steps/SignInSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/BenchmarkItSpendingSteps.cs
Due: pipelines/web/build.yaml

formatted code
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
Due: pipelines/web/build.yaml

BFR IT Spent e2e tests (#3064)
  test-data/BudgetForecastReturn.csv
  test-data/Trust.csv
  test-data/TrustFinancial.csv
  test-data/UserDefinedTrustComparatorSet.csv
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendTable.cshtml
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
  web/tests/Web.E2ETests/Pages/School/BenchmarkItSpendingPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/SignInSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/BenchmarkItSpendingSteps.cs
Due: pipelines/web/build.yaml

feat: Added High needs help links to bottom of HN benchmarking page
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsHelp/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsBenchmarking.cs
Due: pipelines/web/build.yaml

feat: Added 'High needs' section and links to LA homepage
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

feat: additional content to trust IT spend page
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
