Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

chore: Removed orphaned Front Door ruleset
  web/terraform/README.md
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

feat: Add `Heading` to `Banner` table and update migration/view and API response
  core-infrastructure/src/db/Core.Database/Scripts/118-AlterBannerTable.sql
  core-infrastructure/src/db/Core.Database/Views/025-ActiveBanners.sql
  platform/src/abstractions/Platform.Sql/QueryBuilders/ActiveBannersQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/ActiveBannersQueryTests.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Models/Banner.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Services/BannersService.cs
  platform/tests/Platform.ApiTests/Features/ContentBanners.feature
  platform/tests/Platform.Content.Tests/Banners/Services/WhenBannersServiceQueriesAsync.cs
  test-data/Banner.csv
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

feat: First pass at notification banner via attribute and middleware
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Attributes/ServiceBannerAttribute.cs
  web/src/Web.App/Cache/CacheOptions.cs
  web/src/Web.App/Constants/BannerTargets.cs
  web/src/Web.App/Controllers/HomeController.cs
  web/src/Web.App/Domain/Content/Banner.cs
  web/src/Web.App/Domain/Content/CommercialResources.cs
  web/src/Web.App/Domain/Content/Files.cs
  web/src/Web.App/Domain/Content/FinanceYears.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/Content/Api.cs
  web/src/Web.App/Infrastructure/Apis/Content/BannerApi.cs
  web/src/Web.App/Middleware/BannerTargetMiddleware.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/BannerService.cs
  web/src/Web.App/ViewComponents/BannerViewComponent.cs
  web/src/Web.App/ViewModels/Components/BannerViewModel.cs
  web/src/Web.App/Views/Shared/Components/Banner/Default.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

chore: Moved relevant 'Content' domain classes to migrated folder and namespace
  web/src/Web.App/Controllers/DataSourceController.cs
  web/src/Web.App/Controllers/SchoolFinancialBenchmarkingInsightsSummaryController.cs
  web/src/Web.App/Domain/Content/CommercialResources.cs
  web/src/Web.App/Domain/Content/Files.cs
  web/src/Web.App/Domain/Content/FinanceYears.cs
  web/src/Web.App/Services/CommercialResourcesService.cs
  web/src/Web.App/Services/FinanceService.cs
  web/src/Web.App/ViewComponents/CommercialResourceViewComponent.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsSsrViewComponent.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/src/Web.App/ViewModels/Components/CommercialResourceViewModel.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityResourcesViewModel.cs
  web/src/Web.App/ViewModels/SchoolFinancialBenchmarkingInsightsSummaryUnavailableViewModel.cs
  web/src/Web.App/ViewModels/SchoolFinancialBenchmarkingInsightsSummaryViewModel.cs
  web/src/Web.App/ViewModels/SchoolResourcesViewModel.cs
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/ViewModels/TrustResourcesViewModel.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingDataSources.cs
  web/tests/Web.Tests/Services/WhenFinanceServiceIsCalled.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolFinancialBenchmarkingInsightsSummaryViewModel.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolSpendingViewModel.cs
Due: pipelines/web/build.yaml

feat: Added banner support for Maintained/Academy school home page split
  web/src/Web.App/Constants/BannerTargets.cs
  web/src/Web.App/Constants/ViewDataKeys.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Services/BannerService.cs
  web/src/Web.App/ViewComponents/BannerViewComponent.cs
Due: pipelines/web/build.yaml

chore: Renamed existing `Banner` component to `PhaseBanner`
  web/src/Web.App/ViewComponents/PhaseBannerViewComponent.cs
  web/src/Web.App/ViewModels/Components/PhaseBannerViewModel.cs
  web/src/Web.App/Views/Shared/Components/PhaseBanner/Default.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

feat: Replace banner attribute/middleware combination with explicit inclusion on each organisational home page
  web/src/Web.App/Attributes/ServiceBannerAttribute.cs
  web/src/Web.App/Constants/BannerTargets.cs
  web/src/Web.App/Constants/ViewDataKeys.cs
  web/src/Web.App/Controllers/HomeController.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Middleware/ServiceBannerMiddleware.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewComponents/BannerViewComponent.cs
  web/src/Web.App/Views/Home/Index.cshtml
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Tests/Middleware/WhenServiceBannerMiddlewareIsInvoked.cs
Due: pipelines/web/build.yaml

feat: Middleware unit tests
  web/src/Web.App/Middleware/CustomResponseHeadersMiddleware.cs
  web/src/Web.App/Middleware/ServiceBannerMiddleware.cs
  web/src/Web.App/Program.cs
  web/tests/Web.Tests/Middleware/WhenCustomResponseHeadersMiddlewareIsInvoked.cs
  web/tests/Web.Tests/Middleware/WhenServiceBannerMiddlewareIsInvoked.cs
Due: pipelines/web/build.yaml

feat: Service and API unit tests
  web/README.md
  web/src/Web.App/Services/CommercialResourcesService.cs
  web/src/Web.App/ViewComponents/BannerViewComponent.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Tests/Infrastructure/GivenABannerApi.cs
  web/tests/Web.Tests/Infrastructure/GivenACommercialResourcesApi.cs
  web/tests/Web.Tests/Infrastructure/GivenAYearsApi.cs
  web/tests/Web.Tests/Services/WhenBannerServiceIsCalled.cs
  web/tests/Web.Tests/Services/WhenCommercialResourcesServiceIsCalled.cs
Due: pipelines/web/build.yaml

feat: Added `Banners` cache config to Terraform
  web/README.md
  web/src/Web.App/Cache/CacheOptions.cs
  web/src/Web.App/Services/BannerService.cs
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: Integration test coverage for banner on Trust, LA, School home pages
  web/tests/Web.Integration.Tests/DocumentAssert.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
Due: pipelines/web/build.yaml

feat: Integration test coverage for banner on service home page
  web/src/Web.App/Services/BannerService.cs
  web/src/Web.App/Services/CommercialResourcesService.cs
  web/src/Web.App/Services/FinanceService.cs
  web/src/Web.App/ViewModels/Components/BannerViewModel.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/DocumentAssert.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingLandingPage.cs
  web/tests/Web.Tests/Services/WhenBannerServiceIsCalled.cs
  web/tests/Web.Tests/Services/WhenCommercialResourcesServiceIsCalled.cs
Due: pipelines/web/build.yaml

feat: Added ability to explicitly bypass cache with `Disabled` prop rather than imply with a `0` value
  web/README.md
  web/src/Web.App/Cache/CacheOptions.cs
  web/src/Web.App/Services/BannerService.cs
  web/src/Web.App/Services/CommercialResourcesService.cs
  web/src/Web.App/Services/FinanceService.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Tests/Services/WhenBannerServiceIsCalled.cs
  web/tests/Web.Tests/Services/WhenCommercialResourcesServiceIsCalled.cs
Due: pipelines/web/build.yaml

Update 10_Monthly-Reporting.md (#2565)
  documentation/developers/10_Monthly-Reporting.md
Due: pipelines/documentation/build.yaml

feat: E2E test coverage for banner on home page
  test-data/Banner.csv
  web/src/Web.App/ViewComponents/BannerViewComponent.cs
  web/src/Web.App/ViewModels/Components/BannerViewModel.cs
  web/src/Web.App/Views/Home/Index.cshtml
  web/src/Web.App/Views/Shared/Components/Banner/Default.cshtml
  web/tests/Web.E2ETests/Features/HomePage.feature
  web/tests/Web.E2ETests/Pages/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/HomePageSteps.cs
Due: pipelines/web/build.yaml

feat: E2E test coverage for banner on remaining home pages
  test-data/Banner.csv
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Features/School/SchoolHome.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Pages/School/HomePage.cs
  web/tests/Web.E2ETests/Pages/Trust/HomePage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/HomeSteps.cs
Due: pipelines/web/build.yaml

remove unused import
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

feat: remove dask parallelisation (#2566)
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

add statscollector test
  data-pipeline/src/pipeline/stats_collector.py
  data-pipeline/tests/unit/test_stats_collector.py
Due: pipelines/data-pipeline/build.yaml

format
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cfo.py
  data-pipeline/src/pipeline/pre_processing/ancillary/gias.py
  data-pipeline/src/pipeline/pre_processing/ancillary/high_exec_pay.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
Due: pipelines/data-pipeline/build.yaml

stash
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cfo.py
  data-pipeline/src/pipeline/pre_processing/ancillary/gias.py
  data-pipeline/src/pipeline/pre_processing/ancillary/high_exec_pay.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/stats_collector.py
Due: pipelines/data-pipeline/build.yaml

tweaks after rebase
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/stats_collector.py
Due: pipelines/data-pipeline/build.yaml

reorder where the statscollector gets reset
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

remove old code
  data-pipeline/tests/unit/test_stats_collector.py
Due: pipelines/data-pipeline/build.yaml

remove commented out code
  data-pipeline/src/pipeline/stats_collector.py
Due: pipelines/data-pipeline/build.yaml

rename methods to collect rather than log
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cfo.py
  data-pipeline/src/pipeline/pre_processing/ancillary/gias.py
  data-pipeline/src/pipeline/pre_processing/ancillary/high_exec_pay.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/stats_collector.py
  data-pipeline/tests/unit/test_stats_collector.py
Due: pipelines/data-pipeline/build.yaml

improve variable name
  data-pipeline/src/pipeline/stats_collector.py
Due: pipelines/data-pipeline/build.yaml

remove unused imports
  data-pipeline/src/pipeline/stats_collector.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/pre_processing/ancillary/gias.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
  data-pipeline/src/pipeline/stats_collector.py
  data-pipeline/tests/unit/test_stats_collector.py
Due: pipelines/data-pipeline/build.yaml
