Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: `499` errors from API should be treated as neutral and return an empty response rather than re-throw as an exception
  web/src/Web.App/Infrastructure/Apis/ApiResults/ApiResult.cs
  web/src/Web.App/Infrastructure/Apis/ApiResults/CancelledApiResult.cs
  web/src/Web.App/Infrastructure/Extensions/ApiResultExtensions.cs
  web/tests/Web.Tests/Infrastructure/GivenAHttpResponseMessage.cs
Due: pipelines/web/build.yaml

feat: Removed canonical link header
  web/src/Web.App/Middleware/CanonicalHeaderMiddleware.cs
  web/src/Web.App/Middleware/MiddlewareOptions.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/appsettings.Development.json
  web/terraform/app-service.tf
  web/tests/Web.E2ETests/Features/HomePage.feature
  web/tests/Web.E2ETests/Steps/HomePageSteps.cs
  web/tests/Web.Tests/Middleware/WhenCanonicalHeaderMiddlewareInvokes.cs
Due: pipelines/web/build.yaml

feat: Added missing OpenApi response types for `400`s
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Controllers/Api/BudgetForecastProxyController.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/EducationHealthCarePlansProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
Due: pipelines/web/build.yaml

feat: Added and applied `[ValidateId]` to proxy controller actions consume `id` and `type`
  web/src/Web.App/Attributes/ValidateArgumentAttribute.cs
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingCensusHistoryComparison.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingExpenditureHistoryComparison.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingExpenditureUserDefined.cs
  web/tests/Web.Tests/Attributes/GivenAValidateIdAttribute.cs
Due: pipelines/web/build.yaml

chore: Removed SFB from allowed forwarded hosts
  web/src/Web.App/Program.cs
Due: pipelines/web/build.yaml

feat: Generate OpenApi spec during build
  platform/src/apis/Platform.Api.ChartRendering/jest.config.js
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/validator.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/verticalBarChart/validator.test.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/verticalBarChart/verticalBarChartPayloadValidator.test.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

feat: Added initial unit tests to Chart Rendering API
  pipelines/common/npm-lint.yaml
  pipelines/feature/release.yaml
  pipelines/platform/build.yaml
  pipelines/platform/steps/build.yaml
  pipelines/platform/steps/run-unit-tests.yaml
  platform/.markdownlint-cli2.jsonc
  platform/Platform.sln
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/jest.config.js
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/healthCheck.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/verticalBarChart/verticalBarChartPayloadValidator.test.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
  platform/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: Provision `ChartRendering` function app as per earlier POC
  .github/dependabot.yml
  .gitignore
  pipelines/platform/deployment.yaml
  pipelines/platform/security-scan.yaml
  pipelines/platform/steps/build.yaml
  pipelines/platform/zaproxy/chart-rendering.prop
  platform/.run/Debug API functions.run.xml
  platform/.run/chart-rendering-fa.run.xml
  platform/Platform.sln
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/.funcignore
  platform/src/apis/Platform.Api.ChartRendering/.prettierrc
  platform/src/apis/Platform.Api.ChartRendering/.vscode/extensions.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/launch.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/tasks.json
  platform/src/apis/Platform.Api.ChartRendering/eslint.config.mjs
  platform/src/apis/Platform.Api.ChartRendering/host.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/healthCheck.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChartPayloadValidator.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChartWorker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
  platform/src/apis/Platform.Api.Insight/host.json
  platform/terraform/README.md
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/output.tf
  platform/terraform/modules/functions/variables.tf
  platform/terraform/variables.tf
  support-analytics/terraform/README.md
  support-analytics/terraform/alerts.tf
  support-analytics/terraform/data.tf
Due: pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml

feat: Set all `authLevel` to `admin` to enforce `master` key consumption
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/.funcignore
  platform/src/apis/Platform.Api.ChartRendering/jest.config.js
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/swagger/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/verticalBarChart/validator.test.ts
Due: pipelines/platform/build.yaml

feat: Swagger UI hooked up to Open API spec
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/swagger/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/swagger/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/healthCheck/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/index.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/tsconfig.json
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/verticalBarChart/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/verticalBarChart/examples.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

feat: add ILR data source
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/ilr.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/__init__.py
  data-pipeline/src/pipeline/pre_processing/ancillary/gias.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
Due: pipelines/data-pipeline/build.yaml

feat: add new `CommercialResources` table and view to support data driven commercial resources links
  core-infrastructure/src/db/Core.Database/Scripts/114-CreateCommercialResourcesTable.sql
  core-infrastructure/src/db/Core.Database/Views/024-CommercialResources.sql
Due: pipelines/core-infrastructure/build.yaml

chore: Updated `front-end` dependencies
  front-end-components/.npmrc
  front-end-components/.nvmrc
  front-end-components/README.md
  front-end-components/package-lock.json
Due: pipelines/front-end-components/build.yaml

chore: Updated `platform` dependencies
  platform/Directory.Packages.props
  platform/README.md
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.ChartRendering/.nvmrc
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/terraform/README.md
  platform/terraform/provider.tf
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: Fixed failing API tests since earlier `d02` test data refresh
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/tests/Platform.ApiTests/Features/EstablishmentComparators.feature
  platform/tests/Platform.ApiTests/Features/EstablishmentTrusts.feature
  platform/tests/Platform.ApiTests/Features/InsightCensus.feature
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.ApiTests/Features/InsightMetricRagRatings.feature
  platform/tests/Platform.ApiTests/Steps/EstablishmentComparatorsSteps.cs
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

feat: Wire up School Spending Priorities page to `ChartRendering` function app as per earlier POC
  web/README.md
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/ApiBase.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostVerticalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiResults/ApiResponseBody.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/Api.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/ChartRenderingApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCosts/Default.cshtml
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/data.tf
Due: pipelines/web/build.yaml

feat: Removed `style` from `<svg>` as CSP will raise error when rendered to the page
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/.nvmrc
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/builder.ts
  platform/terraform/modules/functions/variables.tf
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Moved SSR feature resolution from view component to controller
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
Due: pipelines/web/build.yaml

feat: Disabled SSR feature flag to pass integration tests
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpending.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSpending.cs
Due: pipelines/web/build.yaml

feat: Remaining integration tests for SSR charts on School Spending Priorities page dependent on feature flag
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpending.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSpending.cs
Due: pipelines/web/build.yaml

chore: Updated `platform` dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/apis/Platform.UserDataCleanUp/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/terraform/README.md
  platform/terraform/provider.tf
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

fix: resolve PR feedback
  core-infrastructure/src/db/Core.Database/Scripts/114-CreateCommercialResourcesTable.sql
Due: pipelines/core-infrastructure/build.yaml

chore: Updated `web` dependencies
  web/Directory.Packages.props
  web/src/Web.App/package-lock.json
  web/src/Web.App/packages.lock.json
  web/terraform/README.md
  web/terraform/provider.tf
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

feat: create `CommercialResources` table and view (#2353)
  core-infrastructure/src/db/Core.Database/Scripts/114-CreateCommercialResourcesTable.sql
  core-infrastructure/src/db/Core.Database/Views/024-CommercialResources.sql
Due: pipelines/core-infrastructure/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
