Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

DSI pre production overview (#1609)
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

feat: suppress negative and zero values for spending priorities page
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
Due: pipelines/web/build.yaml

feat: for rag category stat calculations suppress negative or zero values
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/rag/test_rag.py
Due: pipelines/data-pipeline/build.yaml

chore: linting / formatting solution
  platform/src/abstractions/Platform.Domain/Dimension.cs
  platform/src/abstractions/Platform.Domain/FinanceType.cs
  platform/src/abstractions/Platform.Domain/OverallPhase.cs
  platform/src/abstractions/Platform.Domain/RagRating.cs
  platform/src/abstractions/Platform.Json/NewtonsoftJsonExtensions.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
Due: pipelines/platform/build.yaml

hotfix: fixes failed api tests for removed end points
  platform/tests/Platform.ApiTests/Features/BenchmarkComparators.feature
  platform/tests/Platform.ApiTests/Steps/BenchmarkComparatorsSteps.cs
Due: pipelines/platform/build.yaml

DSI pre production overview
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

updated content
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

documented available test organisations
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

fixed category
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

fixed linting issues
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

chore: remove search processor func app from solution.
  pipelines/platform/steps/build.yaml
  platform/src/search/Platform.Search.Processor/Platform.Search.Processor.csproj
  platform/src/search/Platform.Search.Processor/Program.cs
  platform/src/search/Platform.Search.Processor/host.json
  platform/src/search/Platform.Search.Processor/packages.lock.json
Due: pipelines/platform/build.yaml

updated compare your costs tests
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
Due: pipelines/web/build.yaml

added e2e tests for the feature
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/SpendingCostsSteps.cs
Due: pipelines/web/build.yaml

formatted code
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Steps/School/SpendingCostsSteps.cs
Due: pipelines/web/build.yaml

updated spending costs tests
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Steps/School/SpendingCostsSteps.cs
Due: pipelines/web/build.yaml

Doc/dsi test organisations overivew (#1770)
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

chore: adds query builders for establishment api services
  platform/src/abstractions/Platform.Functions/ContentType.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/LocalAuthorityQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/SchoolQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/TrustQueries.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/LocalAuthorityQueryTests.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/SchoolQueryTests.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/TrustQueryTests.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/LocalAuthoritiesService.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/LocalAuthority.cs
  platform/src/apis/Platform.Api.Establishment/Features/Schools/SchoolsService.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Trust.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/TrustsService.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/LocalAuthoritiesFunctionsTestBase.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/WhenFunctionReceivesGetLocalAuthorityRequest.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/WhenFunctionReceivesSuggestLocalAuthoritiesRequest.cs
  platform/tests/Platform.Establishment.Tests/Schools/WhenFunctionReceivesGetSchoolRequest.cs
  platform/tests/Platform.Establishment.Tests/Schools/WhenFunctionReceivesSuggestSchoolsRequest.cs
  platform/tests/Platform.Establishment.Tests/Schools/WhenFunctionReceivesTrustComparatorsRequest.cs
  platform/tests/Platform.Establishment.Tests/Trusts/WhenFunctionReceivesSingleTrustRequest.cs
Due: pipelines/platform/build.yaml

feat: Removed `identifier` dependency when submitting and polling on status of user-defined school comparators
  core-infrastructure/src/db/Core.Database/Scripts/105-AddActiveToUserDataTable.sql
  platform/src/abstractions/Platform.Test/FunctionsTestBase.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserData.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserDefinedRequest.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataParameters.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataService.cs
  platform/tests/Platform.ApiTests/Features/BenchmarkComparatorSet.feature
  platform/tests/Platform.ApiTests/Steps/BenchmarkComparatorSetSteps.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSetsFunctionsTestBase.cs
  platform/tests/Platform.Benchmark.Tests/UserDataFunctionsTestBase.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesGetComparatorSetActiveRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesGetComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesQueryUserDataRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesRemoveComparatorSetRequest.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostComparatorSetUserDefinedRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PutComparatorSetUserDefinedRequest.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/Api.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/ComparatorSetApi.cs
  web/src/Web.App/Services/SchoolComparatorSetService.cs
  web/src/Web.App/Services/UserDataService.cs
  web/src/Web.App/ViewModels/SchoolComparatorsSubmittedViewModel.cs
  web/src/Web.App/ViewModels/TrustComparatorsSubmittedViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Submit.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Submitted.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparators/WhenViewingComparatorsCreateSubmit.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Revert whitespace removal between `using`s and `namespace`
  platform/Platform.sln.DotSettings
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataParameters.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataService.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSetsFunctionsTestBase.cs
  platform/tests/Platform.Benchmark.Tests/UserDataFunctionsTestBase.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesGetComparatorSetActiveRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesGetComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesQueryUserDataRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesRemoveComparatorSetRequest.cs
  web/Web.sln.DotSettings
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Services/SchoolComparatorSetService.cs
  web/src/Web.App/Services/UserDataService.cs
  web/src/Web.App/ViewModels/SchoolComparatorsSubmittedViewModel.cs
  web/src/Web.App/ViewModels/TrustComparatorsSubmittedViewModel.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Removed `active` query parameter from `user-data` endpoint
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataParameters.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataService.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesGetComparatorSetActiveRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesQueryUserDataRequest.cs
  web/src/Web.App/Services/UserDataService.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Removed redundant `UserDefinedSchoolComparatorSetActiveAsync` function
  platform/Platform.sln.DotSettings
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/tests/Platform.ApiTests/Features/BenchmarkComparatorSet.feature
  platform/tests/Platform.ApiTests/Steps/BenchmarkComparatorSetSteps.cs
  platform/tests/Platform.Benchmark.Tests/ComparatorSetsFunctionsTestBase.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesGetComparatorSetActiveRequest.cs
  web/Web.sln.DotSettings
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/Api.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/ComparatorSetApi.cs
  web/src/Web.App/Services/UserDataService.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: `ComparatorSetsService` method rename and tidy
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserData.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataParameters.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
Due: pipelines/platform/build.yaml

chore: Fixed simple array formatting rules
  platform/Platform.sln.DotSettings
  platform/tests/Platform.Benchmark.Tests/ComparatorSetsFunctionsTestBase.cs
  platform/tests/Platform.Benchmark.Tests/UserDataFunctionsTestBase.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesGetComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesRemoveComparatorSetRequest.cs
  web/Web.sln.DotSettings
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Used constants instead of Pipeline-related magic strings
  platform/src/abstractions/Platform.Domain/Pipeline.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserData.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataService.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/Api.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/ComparatorSetApi.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

fixed linting error for a new line at the bottom
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

added another line
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

fixed linting issue which is one line at the end of document
  documentation/quality-assurance/7_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

chore: Refactored `HttpResponseData` assertions
  platform/src/abstractions/Platform.Functions/Extensions/HttpResponseDataExtensions.cs
  platform/src/abstractions/Platform.Test/Extensions/HttpResponseDataExtensions.cs
  platform/tests/Platform.Benchmark.Tests/UserDataFunctionsTestBase.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesQueryUserDataRequest.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/WhenFunctionReceivesGetLocalAuthorityRequest.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/WhenFunctionReceivesSuggestLocalAuthoritiesRequest.cs
  platform/tests/Platform.Establishment.Tests/Schools/WhenFunctionReceivesGetSchoolRequest.cs
  platform/tests/Platform.Establishment.Tests/Schools/WhenFunctionReceivesSuggestSchoolsRequest.cs
  platform/tests/Platform.Establishment.Tests/Schools/WhenFunctionReceivesTrustComparatorsRequest.cs
  platform/tests/Platform.Establishment.Tests/Trusts/WhenFunctionReceivesSingleTrustRequest.cs
  platform/tests/Platform.Establishment.Tests/Trusts/WhenFunctionReceivesSuggestTrustsRequest.cs
  platform/tests/Platform.Establishment.Tests/Trusts/WhenFunctionReceivesTrustComparatorsRequest.cs
  web/src/Web.App/Services/UserDataService.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: Removed `identifier` dependency when submitting and polling on status of user-defined trust comparators
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserData.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/tests/Platform.ApiTests/Features/BenchmarkComparatorSet.feature
  platform/tests/Platform.ApiTests/Steps/BenchmarkComparatorSetSteps.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostComparatorSetUserDefinedRequest.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/Api.cs
  web/src/Web.App/Infrastructure/Apis/Benchmark/ComparatorSetApi.cs
  web/src/Web.App/Services/TrustComparatorSetService.cs
  web/src/Web.App/Services/UserDataService.cs
  web/src/Web.App/ViewModels/TrustComparatorsSubmittedViewModel.cs
  web/src/Web.App/Views/TrustComparatorsCreateBy/Submit.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Submitted.cshtml
  web/tests/Web.E2ETests/Features/Trust/CreateComparators.feature
  web/tests/Web.E2ETests/Features/Trust/TrustBenchmarking.feature
  web/tests/Web.E2ETests/Pages/Trust/Comparators/CreateComparatorsByCharacteristicPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Comparators/CreateComparatorsByNamePage.cs
  web/tests/Web.E2ETests/Pages/Trust/Comparators/CreateComparatorsByPage.cs
  web/tests/Web.E2ETests/Pages/Trust/Comparators/ICreateComparatorsByPage.cs
  web/tests/Web.E2ETests/Steps/Trust/CreateComparatorsSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/TrustBenchmarkingSteps.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparators/WhenViewingComparatorsCreateSubmit.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

refactor method from list-dictionary to list-string
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
Due: pipelines/web/build.yaml
