Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: add database permission to sp (#1229)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

feat: update db migration to use MI
  pipelines/core-infrastructure/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml

feat: update db migration to use MI (#1231)
  pipelines/core-infrastructure/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml

hotfix: remove login step
  pipelines/core-infrastructure/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml

hotfix: set sp name
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/main.tf
Due: pipelines/core-infrastructure/build.yaml

hotfix: fixes tf error
  core-infrastructure/terraform/main.tf
Due: pipelines/core-infrastructure/build.yaml

hotfix: use CLI task
  pipelines/core-infrastructure/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml

hotfix: correct working dir
  pipelines/core-infrastructure/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml

hotfix: use default mode
  core-infrastructure/terraform/databases.tf
  pipelines/core-infrastructure/deployment.yaml
Due: pipelines/core-infrastructure/build.yaml

shortened code for testing, and fixed error in metrics calculation
  data-pipeline/src/pipeline/bfr.py
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

chore: setup support analytics pipeline
  pipelines/support-analytics/deployment.yaml
  pipelines/support-analytics/release.yaml
  scripts/terraform.ps1
  support-analytics/log_analytics/pipeline_runs.query
  support-analytics/queries/cost-category-metric-rag-financial-user-set.sql
  support-analytics/queries/cost-category-metric-rag-financial.sql
  support-analytics/queries/default-metric-rag.sql
  support-analytics/queries/fix-school-trust-company-number.sql
  support-analytics/queries/rag-check.sql
  support-analytics/terraform/README.md
  support-analytics/terraform/data.tf
  support-analytics/terraform/main.tf
  support-analytics/terraform/provider.tf
  support-analytics/terraform/terraform.tfvars
  support-analytics/terraform/variables.tf
Due: none

hotfix: add prefix for pre-prod
  pipelines/support-analytics/release.yaml
Due: none

hotfix: fixes stage names
  pipelines/support-analytics/release.yaml
Due: none

chore: Added App Insights event tracking to 'Save chart as image' buttons
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/functions/get-tracked-save-charts.kql
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/views/budget-forecast-returns/partials/year-end.tsx
Due: pipelines/core-infrastructure/build.yaml, pipelines/front-end-components/build.yaml

remove unused passed arguments
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
  web/src/Web.App/Views/TrustCensus/Index.cshtml
Due: pipelines/web/build.yaml

fix: data source for benchmark census DataSource component updated to use sourceType, all usage updated
  web/src/Web.App/Constants/DataSourceTypes.cs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/ViewModels/Components/DataSourceViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityCensus/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityComparison/Index.cshtml
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
  web/src/Web.App/Views/SchoolComparison/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Shared/Components/DataSource/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/Views/TrustCensus/Index.cshtml
  web/src/Web.App/Views/TrustComparators/Index.cshtml
  web/src/Web.App/Views/TrustComparison/Index.cshtml
  web/src/Web.App/Views/TrustSpending/Index.cshtml
Due: pipelines/web/build.yaml

chore: adds manual validation step
  pipelines/support-analytics/release.yaml
Due: none

hotfix: fixes validation steo
  pipelines/support-analytics/release.yaml
Due: none

corrected BFR 2023 vs AAR table, still need to test 2022, 2021 for BFR following change
  data-pipeline/src/pipeline/bfr.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

fix: data source for benchmark census (#1228)
  web/src/Web.App/Constants/DataSourceTypes.cs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/ViewModels/Components/DataSourceViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityCensus/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityComparison/Index.cshtml
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
  web/src/Web.App/Views/SchoolComparison/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Shared/Components/DataSource/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/Views/TrustCensus/Index.cshtml
  web/src/Web.App/Views/TrustComparators/Index.cshtml
  web/src/Web.App/Views/TrustComparison/Index.cshtml
  web/src/Web.App/Views/TrustSpending/Index.cshtml
Due: pipelines/web/build.yaml

chore: bump front-end version
  pipelines/support-analytics/release.yaml
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: Added `TotalNetCateringCosts` alongside `TotalGrossCateringCosts` in Expenditure API responses
  core-infrastructure/src/db/Core.Database/Scripts/049-AddTotalNetCateringCostsToExpenditureViews.sql
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureFunctions.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureModel.cs
  platform/src/apis/Platform.Api.Insight/Expenditure/ExpenditureResponse.cs
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/Assertions.cs
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/CateringStaffServicesTestData.json
  platform/tests/Platform.Tests/Insight/Expenditure/ExpenditureResponseFactoryCreate/ExpenditureTestData.json
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

chore: Temporarily assert `null` in API Tests for all 'net' total catering expenses until `d02` has been updated
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
Due: pipelines/platform/build.yaml

docs: updates documentation to include support & analytics
  documentation/developers/1_Getting-Started.md
Due: pipelines/documentation/build.yaml

run check over historic BFR
  data-pipeline/src/pipeline/bfr.py
Due: pipelines/data-pipeline/build.yaml

hotfix: remove unsupported attribute
  documentation/developers/1_Getting-Started.md
Due: pipelines/documentation/build.yaml

uncommented full process following testing
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

chore: Revert e1da2a9cdfef3d71e841fd00b66256aa19137ffa
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
Due: pipelines/platform/build.yaml

added comment to reflect Y2P1 + Y2P2 logic
  data-pipeline/src/pipeline/bfr.py
Due: pipelines/data-pipeline/build.yaml

Bug fix/bfr testing errors (#1234)
  data-pipeline/src/pipeline/bfr.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

feat: Allow toggle between Gross and Net total catering income in UI
  front-end-components/src/components/total-catering-costs-type/component.tsx
  front-end-components/src/components/total-catering-costs-type/index.tsx
  front-end-components/src/components/total-catering-costs-type/types.tsx
  front-end-components/src/services/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/types.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/types.tsx
  front-end-components/src/views/historic-data/partials/spending-section-catering-services.tsx
  web/src/Web.App/Domain/Insight/Expenditure.cs
  web/tests/Web.E2ETests/Pages/School/HistoricDataPage.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: Fixed formatting of `0` reference line when only negative values present
  front-end-components/index.html
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
Due: pipelines/front-end-components/build.yaml

feat: adds additional fields to suggest response
  platform/src/apis/Platform.Api.Establishment/Schools/SchoolsService.cs
Due: pipelines/platform/build.yaml

feat: updates suggest service response for schools
  web/src/Web.App/Services/SuggestService.cs
Due: pipelines/web/build.yaml

chore: E2E tests for catering totals type toggle
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
Due: pipelines/web/build.yaml

feat: adds additional fields to suggest response (#1235)
  platform/src/apis/Platform.Api.Establishment/Schools/SchoolsService.cs
Due: pipelines/platform/build.yaml
