Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: update `data-pipeline` dependencies
  data-pipeline/pyproject.toml
Due: pipelines/data-pipeline/build.yaml

chore: update `poetry.lock`
  data-pipeline/poetry.lock
Due: pipelines/data-pipeline/build.yaml

fix: Clear any previously selected comparator Trusts during E2E run
  web/tests/Web.E2ETests/Features/Trust/Comparators.feature
  web/tests/Web.E2ETests/Features/Trust/CreateComparators.feature
  web/tests/Web.E2ETests/Pages/Trust/Comparators/RevertComparatorsPage.cs
  web/tests/Web.E2ETests/Steps/Trust/ComparatorsSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/CreateComparatorsSteps.cs
Due: pipelines/web/build.yaml

chore: update `data-pipeline` dependencies (#2344)
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
Due: pipelines/data-pipeline/build.yaml

feat: Added `SchoolSpendingPrioritiesSsrCharts` feature flag and enabled in feature environment only
  web/.markdownlint-cli2.jsonc
  web/README.md
  web/Web.sln
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/web/build.yaml

feat: Added and applied `[ValidateLaCode]` to actions and controllers that consume `code`
  web/src/Web.App/Attributes/ValidateArgumentAttribute.cs
  web/src/Web.App/Controllers/Api/EducationHealthCarePlansProxyController.cs
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/LocalAuthorityCensusController.cs
  web/src/Web.App/Controllers/LocalAuthorityComparisonController.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsHistoricDataController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsNationalRankingsController.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/Search/WhenViewingLocalAuthoritySearch.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/Search/WhenViewingLocalAuthoritySearchResults.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsBenchmarking.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsDashboard.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsHistoricData.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingResources.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansComparison.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansHistory.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsComparison.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsHistory.cs
  web/tests/Web.Tests/Attributes/GivenAValidateLaCodeAttribute.cs
Due: pipelines/web/build.yaml

feat: Added and applied `[ValidateId]` to proxy controller actions consume `id` and `type`
  web/src/Web.App/Attributes/ValidateArgumentAttribute.cs
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingCensusHistoryComparison.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingExpenditureHistoryComparison.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingExpenditureUserDefined.cs
  web/tests/Web.Tests/Attributes/GivenAValidateIdAttribute.cs
Due: pipelines/web/build.yaml

feat: Added missing OpenApi response types for `400`s
  web/src/Web.App/Controllers/Api/BalanceProxyController.cs
  web/src/Web.App/Controllers/Api/BudgetForecastProxyController.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/EducationHealthCarePlansProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
Due: pipelines/web/build.yaml

draft release plan
  documentation/quality-assurance/release-test-plans/00019_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: Created Front Door redirect rule to ensure all traffic to non-primary host names is sent to the root path of the primary host name
  web/terraform/README.md
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

updated risk section.
  documentation/quality-assurance/release-test-plans/00019_release-test-plan.md
Due: pipelines/documentation/build.yaml

fixed linting
  documentation/quality-assurance/release-test-plans/00019_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: Enabled `HighNeeds` feature in pre-/prod
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: Provision `ChartRendering` function app as per earlier POC
  .github/dependabot.yml
  .gitignore
  pipelines/platform/deployment.yaml
  pipelines/platform/security-scan.yaml
  pipelines/platform/steps/build.yaml
  pipelines/platform/zaproxy/chart-rendering.prop
  platform/.run/Debug API functions.run.xml
  platform/.run/chart-rendering-fa.run.xml
  platform/Platform.sln
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/.funcignore
  platform/src/apis/Platform.Api.ChartRendering/.prettierrc
  platform/src/apis/Platform.Api.ChartRendering/.vscode/extensions.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/launch.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/tasks.json
  platform/src/apis/Platform.Api.ChartRendering/eslint.config.mjs
  platform/src/apis/Platform.Api.ChartRendering/host.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/healthCheck.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChartPayloadValidator.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChartWorker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
  platform/src/apis/Platform.Api.Insight/host.json
  platform/terraform/README.md
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/output.tf
  platform/terraform/modules/functions/variables.tf
  platform/terraform/variables.tf
  support-analytics/terraform/README.md
  support-analytics/terraform/alerts.tf
  support-analytics/terraform/data.tf
Due: pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml

feat: Added initial unit tests to Chart Rendering API
  pipelines/common/npm-lint.yaml
  pipelines/feature/release.yaml
  pipelines/platform/build.yaml
  pipelines/platform/steps/build.yaml
  pipelines/platform/steps/run-unit-tests.yaml
  platform/.markdownlint-cli2.jsonc
  platform/Platform.sln
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/jest.config.js
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/healthCheck.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/verticalBarChart/verticalBarChartPayloadValidator.test.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
  platform/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

updated release plan with abandoned release.
  documentation/quality-assurance/release-test-plans/00019_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated release date
  documentation/quality-assurance/release-test-plans/00019_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: Generate OpenApi spec during build
  platform/src/apis/Platform.Api.ChartRendering/jest.config.js
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/api.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/validator.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/verticalBarChart/validator.test.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/verticalBarChart/verticalBarChartPayloadValidator.test.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

completed release docs
  documentation/quality-assurance/release-test-plans/00019_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: Refactored `ValidateArgumentAttribute` to consume new `AbstractValidator` instead of Regex
  web/README.md
  web/src/Web.App/Attributes/ValidateArgumentAttribute.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Validators/OrganisationIdentifierValidator.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingDetails.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingDetails.cs
  web/tests/Web.Tests/Attributes/GivenAValidateCompanyNumberAttribute.cs
  web/tests/Web.Tests/Attributes/GivenAValidateLaCodeAttribute.cs
  web/tests/Web.Tests/Attributes/GivenAValidateUrnAttribute.cs
  web/tests/Web.Tests/Validators/GivenAnOrganisationIdentifierValidator.cs
Due: pipelines/web/build.yaml

feat: Added additional identifier validation on negative numbers of the correct length for each type
  web/src/Web.App/Validators/OrganisationIdentifierValidator.cs
  web/tests/Web.Tests/Validators/GivenAnOrganisationIdentifierValidator.cs
Due: pipelines/web/build.yaml

updated summary
  documentation/quality-assurance/release-test-plans/00019_release-test-plan.md
Due: pipelines/documentation/build.yaml

update config to set descriptive link false
  documentation/.markdownlint-cli2.jsonc
Due: pipelines/documentation/build.yaml

release plan (#2346)
  documentation/.markdownlint-cli2.jsonc
  documentation/quality-assurance/release-test-plans/00019_release-test-plan.md
Due: pipelines/documentation/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
