Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Added 'show all' and 'no results' functionality to LA school financials table
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilter.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsShowAll.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolFinancialViewComponent.cs
Due: pipelines/web/build.yaml

feat: Set LA financials filters to be hidden rather than visible by default
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilterHidden.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolFinancialViewComponent.cs
Due: pipelines/web/build.yaml

feat: Wired up LA code, dimension, sort and limit to LA school financials API
  web/src/Web.App/Domain/Insight/LocalAuthoritySchoolFinancial.cs
  web/src/Web.App/Infrastructure/Apis/ApiResults/ApiQuery.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/Api.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/LocalAuthoritiesApi.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialViewComponent.cs
  web/src/Web.App/ViewComponents/SortableTableHeaderCellViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsTable.cshtml
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolFinancialViewComponent.cs
  web/tests/Web.Tests/ViewComponents/GivenASortableTableHeaderCellViewComponent.cs
Due: pipelines/web/build.yaml

feat: Wired up overall phase and other provisions to LA school financials API
  web/src/Web.App/Domain/NurseryProvisions.cs
  web/src/Web.App/Domain/OverallPhaseTypes.cs
  web/src/Web.App/Domain/SixthFormProvisions.cs
  web/src/Web.App/Domain/SpecialProvisions.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialViewComponent.cs
  web/tests/Web.Tests/Domain/GivenANurseryProvisions.cs
  web/tests/Web.Tests/Domain/GivenASixthFormProvisions.cs
  web/tests/Web.Tests/Domain/GivenASpecialProvisions.cs
  web/tests/Web.Tests/Domain/GivenAnOverallPhaseTypes.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolFinancialViewComponent.cs
Due: pipelines/web/build.yaml

feat: Fixed integration tests by mocking LA financials API
  web/src/Web.App/Infrastructure/Apis/LocalAuthorities/LocalAuthoritiesApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

feat: Integration test coverage over zero or less than maximum rows in LA financial results
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

feat: Prevent large financials from wrapping in LA schools table
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsTable.cshtml
Due: pipelines/web/build.yaml

feat: Implemented 'Save table data' button within LA financials filter panel
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilter.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenRequestingComparisonItSpendDownload.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Tests/Controllers/WhenLocalAuthorityControllerPosts.cs
Due: pipelines/web/build.yaml

feat: Added selected filters section to LA financials filter
  web/src/Web.App/AssetSrc/scss/_filter.scss
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilter.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilterSelected.cshtml
Due: pipelines/web/build.yaml

feat: Refactored selected financial filters and added test coverage
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialFilterSelectedItemsViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilterSelected.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilterSelectedItems.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolFinancialViewComponent.cs
Due: pipelines/web/build.yaml

simplified test
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
Due: pipelines/web/build.yaml

fixed flaky test
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
Due: pipelines/web/build.yaml

fix: convert urn to int for the comparator set pipeline
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

chore: add platform api test over local authority school finance summary endpoint
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceActuals.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceFilteredNursery.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceFilteredPhase.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceFilteredSixthForm.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceFilteredSpecial.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceInvalidLimit.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceInvalidNurseryProvision.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceInvalidPhase.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceInvalidSixthFormProvision.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceInvalidSortField.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceInvalidSortOrder.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceInvalidSpecialProvision.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinancePerUnit.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinancePercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinancePercentIncome.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsFinanceSortedTotalExpDesc.json
  platform/tests/Platform.ApiTests/Features/LocalAuthoritiesSchools.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthoritiesSchoolsSteps.cs
Due: pipelines/platform/build.yaml

chore: persist newly updated School test seed data with additional gias datapoints
  test-data/School.csv
Due: none

fix: convert urn to int for the comparator set pipeline (#3139)
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

Bugfix/287007/fix flaky test (#3138)
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/BenchmarkItSpendingPage.cs
Due: pipelines/web/build.yaml

fix: dimension should not be labelled as required in open api specs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetFinanceSummaryFunction.cs
Due: pipelines/platform/build.yaml

fix: target_urn needs to be an int for RAG too
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag/engine.py
  data-pipeline/src/pipeline/rag/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

fix: Custom data journey (#3142)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag/engine.py
  data-pipeline/src/pipeline/rag/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

feat: persist SEN and EHCP pupil counts
  core-infrastructure/src/db/Core.Database/Scripts/126-AlterNonFinancialTable.sql
  data-pipeline/src/pipeline/utils/database.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

check NonFinancial table exists before altering it
  core-infrastructure/src/db/Core.Database/Scripts/126-AlterNonFinancialTable.sql
Due: pipelines/core-infrastructure/build.yaml

exp: explicitly add overrides for BadBots, GoodBots & UnknownBots to match Azure defaults
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: add explicit rules to match Azure defaults
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: correct rule id's
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: set as block
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

exp: flip the actions
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

fix: write empty comparator set file
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
  data-pipeline/tests/unit/rag/test_orchestrator.py
Due: pipelines/data-pipeline/build.yaml
