Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

docs: add latest feature flags to docs (#4287)
  web/README.md
Due: pipelines/web/build.yaml

test: add integration tests for school benchmark spending to cover progress indicators
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

feat: chart legend for progress 8 in school spending benchmarking (#4284)
  documentation/features/13_Chart-Rendering-Api.md
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeysLegendLabels.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeysLegendLabelsRequest.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Models/PostHorizontalBarChartRequest.cs
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Domain/Charts/SchoolComparisonHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSeniorLeadershipHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostHorizontalBarChartRequest.cs
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

test: a11y tests for school benchmark spending
  web/tests/Web.A11yTests/Pages/Schools/WhenViewingCompareYourCosts.cs
Due: pipelines/web/build.yaml

test: update tests
  web/tests/Web.A11yTests/Pages/Schools/WhenViewingCompareYourCosts.cs
Due: pipelines/web/build.yaml

chore: ignore SchoolComparisonFilterEnabled a11y tests
  pipelines/web/steps/run-a11y-tests.yaml
Due: pipelines/web/build.yaml

test: add integration tests for school benchmark spending to cover progress indicators (#4286)
  web/src/Web.App/Views/SchoolComparison/IndexFilters.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

test: a11y tests for school benchmark spending (#4289)
  pipelines/web/steps/run-a11y-tests.yaml
  web/tests/Web.A11yTests/Pages/Schools/WhenViewingCompareYourCosts.cs
Due: pipelines/web/build.yaml

test: add e2e tests for the page when the filter feature is enabled
  web/tests/Web.E2ETests/Features/School/BenchmarkSpending.feature
  web/tests/Web.E2ETests/Pages/School/BenchmarkSpendingPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/BenchmarkSpendingSteps.cs
Due: pipelines/web/build.yaml

added tag for old benchmarking test
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
Due: pipelines/web/build.yaml

chore: enable a11y and e2e tests in the pipeline
  pipelines/web/steps/run-a11y-tests.yaml
  pipelines/web/steps/run-e2e-tests.yaml
Due: pipelines/web/build.yaml

chore: enable schoolComparisonFilter feature flag in autoamteed test
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

test: add e2e tests for the school benchmark spending page (#4290)
  pipelines/web/steps/run-a11y-tests.yaml
  pipelines/web/steps/run-e2e-tests.yaml
  web/terraform/variables.tf
  web/tests/Web.E2ETests/Features/School/BenchmarkSpending.feature
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Pages/School/BenchmarkSpendingPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/BenchmarkSpendingSteps.cs
Due: pipelines/web/build.yaml

fix: correctly pass query parameters for trust income and balance history queries
  web/src/Web.App/Infrastructure/Apis/TrustApi.cs
Due: pipelines/web/build.yaml

test: update E2E tests for trust history
  web/tests/Web.E2ETests/Features/Trust/HistoricData.feature
Due: pipelines/web/build.yaml

test: decouple navigation tests for compare your costs from full page validation
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
  web/tests/Web.E2ETests/Steps/School/SchoolFinancialBenchmarkingInsightsSummarySteps.cs
  web/tests/Web.E2ETests/Steps/School/SpendingCostsSteps.cs
Due: pipelines/web/build.yaml

test: update tests for spending costs with a new test for navigation to benchmark spending when feature SpendingComparisonFilters is enabled
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/BenchmarkSpendingPage.cs
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/SpendingCostsSteps.cs
Due: pipelines/web/build.yaml

fix: typo in FilterCategory
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
Due: pipelines/web/build.yaml

test: update e2e tests for compare your costs and spending costs (#4293)
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/BenchmarkSpendingPage.cs
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
  web/tests/Web.E2ETests/Steps/School/SchoolFinancialBenchmarkingInsightsSummarySteps.cs
  web/tests/Web.E2ETests/Steps/School/SpendingCostsSteps.cs
Due: pipelines/web/build.yaml

fix: income and balance for trust dimension (#4292)
  web/src/Web.App/Infrastructure/Apis/TrustApi.cs
  web/tests/Web.E2ETests/Features/Trust/HistoricData.feature
Due: pipelines/web/build.yaml

doc: add detail to the overview
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

doc: add link to AAR transparency file generation script
  documentation/guides/data-release-guide/02_AAR.md
Due: pipelines/documentation/build.yaml

chore: remove "Fixes" from PR template
  .github/pull_request_template.md
Due: none

Apply typo corrections from code review
  documentation/guides/data-release-guide/01_Overview.md
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/04_BFR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

chore: bump Web.App dependencies
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: update codeowners file to use child team
  .github/CODEOWNERS
Due: none

chore: remove "Fixes" from PR template (#4295)
  .github/pull_request_template.md
Due: none

chore: bump front-end dependencies
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

doc: add draft release plan
  documentation/quality-assurance/release-test-plans/00034_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: remove ignore for front-end-components eslint and @eslint/js
  .github/dependabot.yml
Due: none

chore: ignore major updates for vite and @vitejs/plugin-react
  .github/dependabot.yml
Due: none

doc: Data release process (#4275)
  documentation/data/02_Sources.md
  documentation/guides/data-release-guide/00_Title.md
  documentation/guides/data-release-guide/01_Overview.md
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/03_CFR.md
  documentation/guides/data-release-guide/04_BFR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

fix: Show percentage expenditure using *total* trust expenditure/income rather than splitting central services
  core-infrastructure/src/db/Core.Database/Views/012-ExpenditureTrust.sql
Due: pipelines/core-infrastructure/build.yaml

chore: bump Web.App dependencies (#4297)
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: update codeowners file to use child team (#4298)
  .github/CODEOWNERS
Due: none

chore: bump front-end dependencies (#4299)
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump ChartRendering dependencies
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: bump Web.Shutter dependencies
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: npm audit fix to address vulnerabilities
  web/src/Web.Shutter/package-lock.json
Due: pipelines/web/build.yaml
