Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: add e2e tests for the la homepage schools workforce tab
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
Due: pipelines/web/build.yaml

chore: Bumped `platform` dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Messaging/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

test: change pytest spark config
  databricks/education_benchmarking_and_insights/tests/conftest.py
Due: none

Use DatabricksSession over SparkSession
  databricks/education_benchmarking_and_insights/tests/conftest.py
Due: none

chore: update expected column headings in la homepage e2e tests
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
Due: pipelines/web/build.yaml

chore: Bumped `web` dependencies
  web/Directory.Packages.props
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
  web/src/Web.App/packages.lock.json
  web/src/Web.Redirect/packages.lock.json
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

tweak installed libraries
  databricks/education_benchmarking_and_insights/pyproject.toml
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

remove step
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

use sparksession
  databricks/education_benchmarking_and_insights/tests/conftest.py
Due: none

conftest changes
  databricks/education_benchmarking_and_insights/tests/conftest.py
Due: none

check how databricks cli works
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

install databricks cli using just pip
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

different databricks install
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

databricks cli curl install
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

install temurin
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

sudo
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

set JAVA_HOME
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

retry tests
  databricks/education_benchmarking_and_insights/pyproject.toml
  databricks/education_benchmarking_and_insights/tests/conftest.py
Due: none

reactivate tests
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

activate all tests
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Add pyarrow to dependencies
  databricks/education_benchmarking_and_insights/pyproject.toml
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

uv dependency groups
  databricks/education_benchmarking_and_insights/uv.lock
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

add unit test dependency group
  databricks/education_benchmarking_and_insights/pyproject.toml
Due: none

feat: Added `KS4ProgressBanding` feature flag
  web/README.md
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/web/build.yaml

Refine dependency groups
  databricks/education_benchmarking_and_insights/pyproject.toml
Due: none

Add triggers
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

feat: add KS4ProgressBanding to SchoolCharacteristic view
  core-infrastructure/src/db/Core.Database/Scripts/127-RefreshCurrentDefaultNonFinancial.sql
  core-infrastructure/src/db/Core.Database/Scripts/128-AlterSchoolCharacteristicViewAddKS4ProgressBanding.sql
Due: pipelines/core-infrastructure/build.yaml

chore: Bumped `web` dependencies (#3240)
  web/Directory.Packages.props
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
  web/src/Web.App/packages.lock.json
  web/src/Web.Redirect/packages.lock.json
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

feat: include KS4ProgressBanding in SchoolCharacteristic platform model
  platform/src/apis/Platform.Api.Insight/Features/Schools/Models/SchoolCharacteristic.cs
  platform/tests/Platform.ApiTests/Data/SchoolCharacteristics.json
  platform/tests/Platform.ApiTests/Data/SchoolsCharacteristics.json
  platform/tests/Platform.ApiTests/Features/InsightSchools.feature
  platform/tests/Platform.ApiTests/Steps/InsightSchoolsSteps.cs
Due: pipelines/platform/build.yaml

doc: Add pipeline flow graph
  documentation/data/10_Databricks-Development.md
Due: pipelines/documentation/build.yaml

chore: lint
  platform/tests/Platform.ApiTests/Steps/InsightSchoolsSteps.cs
Due: pipelines/platform/build.yaml

chore: update expected response for api tests
  platform/tests/Platform.ApiTests/Data/SchoolCharacteristics.json
  platform/tests/Platform.ApiTests/Data/SchoolsCharacteristics.json
Due: pipelines/platform/build.yaml

chore: update test-data with latest d02 NonFinancial table values
  test-data/NonFinancial.csv
Due: none

chore: remove unused using directives
  platform/tests/Platform.ApiTests/Steps/InsightSchoolsSteps.cs
Due: pipelines/platform/build.yaml

feat: include KS4ProgressBanding in SchoolCharacteristic platform model (#3243)
  platform/src/apis/Platform.Api.Insight/Features/Schools/Models/SchoolCharacteristic.cs
  platform/tests/Platform.ApiTests/Data/SchoolCharacteristics.json
  platform/tests/Platform.ApiTests/Data/SchoolsCharacteristics.json
  platform/tests/Platform.ApiTests/Features/InsightSchools.feature
  platform/tests/Platform.ApiTests/Steps/InsightSchoolsSteps.cs
  test-data/NonFinancial.csv
Due: pipelines/platform/build.yaml

feat: Resolve `KS4ProgressBanding`s from School Characteristics lookup for given comparator set
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Domain/Insight/SchoolCharacteristic.cs
  web/src/Web.App/Domain/ProgressBandings.cs
  web/src/Web.App/Infrastructure/Apis/Insight/SchoolInsightApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/ProgressBandingsService.cs
  web/src/Web.App/ViewModels/SchoolComparisonViewModel.cs
  web/src/Web.App/Views/SchoolComparison/Index.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
