Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

docs: establish standards for defensive and idempotent database migration scripts (#4065)
  core-infrastructure/README.md
  documentation/developers/20_Database-Migrations-and-Scripts.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/documentation/build.yaml

Correct linting of MI report guide documentation based on recommendations from markdownlint plugin
  documentation/guides/monthly-reporting/1_Monthly-Reporting.md
Due: pipelines/documentation/build.yaml

chore: migrate and standardize repository scripts from PowerShell to NET 10 C# apps (#4064)
  .gitignore
  core-infrastructure/terraform/README.md
  platform/terraform/README.md
  scripts/README.md
  scripts/collect-markdown-v1.ps1
  scripts/collect-markdown.ps1
  scripts/db-copy-tool/app.cs
  scripts/db-copy-tool/settings.example.json
  scripts/env-tool/app.cs
  scripts/env-tool/settings.example.json
  scripts/markdown-tool/app.cs
  scripts/markdown-tool/settings.example.json
  scripts/switch-api-env.ps1
  scripts/switch-api-tests-env.ps1
  scripts/terraform-tool/app.cs
  scripts/terraform-tool/settings.example.json
  scripts/terraform.ps1
  support-analytics/terraform/README.md
  web/terraform/README.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: add save chart images and download page data to ehcp page
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanChart.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenRequestingEducationHealthCarePlansDownload.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

chore: critical dep updates
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: critical dependency updates in Platform.Api.ChartRendering (#4067)
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

feat: add a11y tests
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingEducationHealthCareBenchmarking.cs
Due: pipelines/web/build.yaml

refactor: restructure platform functions module using structured variables and shared locals
  platform/terraform/README.md
  platform/terraform/functions.tf
  platform/terraform/locals.tf
  platform/terraform/main.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/locals.tf
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/output.tf
  platform/terraform/modules/functions/variables.tf
  support-analytics/terraform/README.md
  web/terraform/README.md
Due: pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: add a11y tests (#4069)
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingEducationHealthCareBenchmarking.cs
Due: pipelines/web/build.yaml

chore: cleanup using statements in platform apis and generators
  platform/src/abstractions/Platform.Generators/OpenApiExampleGenerator.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Functions/QueryHighNeedsFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Functions/QueryHighNeedsHistoryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Functions/GetLocalAuthorityFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Functions/QueryLocalAuthoritiesFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Functions/QueryMaintainedSchoolsFinanceFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Functions/QueryMaintainedSchoolsWorkforceFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Functions/QueryEducationHealthCarePlansFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Functions/QueryEducationHealthCarePlansHistoryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Search/Functions/PostSearchFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Search/Functions/PostSuggestFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/StatisticalNeighbours/Functions/GetStatisticalNeighboursFunction.cs
Due: pipelines/platform/build.yaml

refactor: implement configuration module and consolidate platform storage resources
  platform/Platform.sln
  platform/terraform/README.md
  platform/terraform/cache.tf
  platform/terraform/functions.tf
  platform/terraform/locals.tf
  platform/terraform/main.tf
  platform/terraform/modules/config/main.tf
  platform/terraform/modules/config/outputs.tf
  platform/terraform/modules/config/variables.tf
  platform/terraform/output.tf
  platform/terraform/search.tf
  platform/terraform/storage.tf
  platform/terraform/variables.tf
Due: pipelines/platform/build.yaml

hotfix: re-add checkov ignores
  platform/terraform/search.tf
Due: pipelines/platform/build.yaml

hotfix: resolve storage state conflict with moved blocks
  platform/terraform/storage.tf
Due: pipelines/platform/build.yaml

feat: add save chart images and download page data to ehcp page (#4068)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanChart.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenRequestingEducationHealthCarePlansDownload.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

hotfix: set ip restrictions
  platform/terraform/README.md
  platform/terraform/functions.tf
  platform/terraform/modules/config/main.tf
  platform/terraform/modules/config/outputs.tf
  platform/terraform/modules/functions/output.tf
  platform/terraform/output.tf
Due: pipelines/platform/build.yaml

hotfix: resolve platform build warnings
  platform/src/abstractions/Platform.Generators/Platform.Generators.csproj
  platform/src/apis/Platform.Api.Insight/Features/Census/GetCensusHistoryNationalAverageFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/GetExpenditureSchoolHistoryNationalAverageFunction.cs
Due: pipelines/platform/build.yaml

hotfix: fix script directory resolution and configuration lookup
  scripts/db-copy-tool/app.cs
  scripts/env-tool/app.cs
  scripts/markdown-tool/app.cs
  scripts/terraform-tool/app.cs
Due: none

hotfix: fix script directory resolution and configuration lookup
  Makefile
  README.md
  documentation/developers/01_Getting-Started.md
Due: pipelines/documentation/build.yaml

feat: support positional arguments for set-env make target
  Makefile
  documentation/developers/01_Getting-Started.md
Due: pipelines/documentation/build.yaml

Correct tables
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/forecast_and_risk_tables.py
  databricks/education_benchmarking_and_insights/src/notebook.ipynb
Due: none

feat: integration tests for ehcp charts
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
Due: pipelines/web/build.yaml

revert
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/forecast_and_risk_tables.py
Due: none

feat: update and create new db views for high needs spending
  core-infrastructure/src/db/Core.Database/Views/018-LocalAuthorityFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: linting
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
Due: pipelines/web/build.yaml

feat: integration tests for ehcp filters (#4074)
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
Due: pipelines/web/build.yaml

feat: remove links from la names in charts
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Domain/Charts/EducationHealthCarePlanHorizontalBarChartRequest.cs
Due: pipelines/web/build.yaml

feat: remove links from LA names in EHCP charts (#4076)
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Domain/Charts/EducationHealthCarePlanHorizontalBarChartRequest.cs
Due: pipelines/web/build.yaml

feat: add help and support section
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
Due: pipelines/web/build.yaml

fix: drop views correctly before creation and join LocalAuthorityNonFinancial on RunId to prevent duplicate rows
  core-infrastructure/src/db/Core.Database/Views/018-LocalAuthorityFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

feat: optimize terraform checks and integrate docker-based checkov
  data-pipeline/terraform/container_app/README.md
  platform/terraform/modules/config/README.md
  platform/terraform/modules/functions/README.md
  platform/tests/Platform.ApiTests/AGENTS.md
  scripts/terraform-tool/app.cs
  scripts/terraform-tool/settings.example.json
Due: pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml

docs: mandate readme review in agent instructions across all modules
  AGENTS.md
  core-infrastructure/AGENTS.md
  data-pipeline/AGENTS.md
  documentation/AGENTS.md
  front-end-components/AGENTS.md
  pipelines/AGENTS.md
  platform/AGENTS.md
  platform/tests/Platform.ApiTests/AGENTS.md
  support-analytics/AGENTS.md
  web/AGENTS.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: add new endpoint and handler/service support for high needs spending by transaction type
  platform/src/abstractions/Platform.Domain/Dimensions.cs
  platform/src/abstractions/Platform.Domain/TransactionType.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/LocalAuthorityQueries.cs
  platform/src/abstractions/tests/Platform.Domain.Tests/WhenDimensionsChecksIsValid.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Functions/QueryHighNeedsByTransactionTypeFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Handlers/QueryHighNeedsByTransactionTypeHandler.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Mapper.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/CentralSenServices.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/HighNeeds.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/HighNeedsFields.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/LocalAuthority.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/SenTransport.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Parameters/HighNeedsParametersByTransactionType.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Services/HighNeedsService.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Validators/HighNeedsParametersByTransactionTypeValidator.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Validators/HighNeedsParametersValidator.cs
Due: pipelines/platform/build.yaml

feat: bootstrap pipeline setup into docker-compose
  docker/docker-compose.yml
Due: none

doc: remove some instructions which are handled in the docker-compose
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

doc: update docs
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

feat: add help and support section to EHCP benchmarking (#4077)
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
Due: pipelines/web/build.yaml
