Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

historic data fix
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

build fail resolution
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

merge conflict resolution
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

Prototype/custom-data updates (#905)
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/views/compare-trusts/preview.html
  prototype/src/app/views/custom-data/custom-homepage.html
  prototype/src/app/views/custom-data/financial-data.html
  prototype/src/app/views/custom-data/index.html
  prototype/src/app/views/custom-data/school-characteristics.html
  prototype/src/app/views/custom-data/workforce.html
  prototype/src/app/views/index.html
  prototype/src/app/views/loading.html
Due: none

Data pipeline/bfr logic2 (#906)
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

feat: Implemented validation for maximum of 30 schools in user defined comparator set
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/SchoolComparatorsByNameViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Name.cshtml
Due: none

feat: Exclude self, and other previously selected schools when suggesting new schools
  front-end-components/index.html
  front-end-components/src/main.tsx
  front-end-components/src/views/find-organisation/partials/school-input.tsx
  front-end-components/src/views/find-organisation/types.tsx
  web/src/Web.App/Controllers/Api/SuggestProxyController.cs
  web/src/Web.App/ViewModels/SchoolComparatorsByNameViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Name.cshtml
Due: pipelines/front-end-components/build.yaml

feat: Allow multiple LAs to be selected on Characteristic builder
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Infrastructure/Apis/Requests/PostSchoolComparatorsRequest.cs
  web/src/Web.App/ViewModels/UserDefinedCharacteristicViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Characteristic.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_LocalAuthorities.cshtml
  web/src/Web.App/package-lock.json
Due: none

feat: Allow exclusion of local authorities from the `<LaInput>` front end component
  front-end-components/index.html
  front-end-components/src/main.tsx
  front-end-components/src/views/find-organisation/partials/la-input.tsx
  front-end-components/src/views/find-organisation/types.tsx
  platform/src/apis/Platform.Api.Establishment/LocalAuthorities/LocalAuthoritiesFunctions.cs
  platform/src/apis/Platform.Api.Establishment/LocalAuthorities/LocalAuthoritiesService.cs
  platform/tests/Platform.Tests/Establishment/WhenFunctionReceivesSuggestLocalAuthoritiesRequest.cs
  web/src/Web.App/Controllers/Api/SuggestProxyController.cs
  web/src/Web.App/Infrastructure/Apis/EstablishmentApi.cs
  web/src/Web.App/Services/SuggestService.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_LocalAuthorities.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

chore: drop redundant non financial columns
  core-infrastructure/src/db/Core.Database/Scripts/018-CreateTrustCharacteristicView.sql
  core-infrastructure/src/db/Core.Database/Scripts/019-DropNonFinancialColumns.sql
Due: pipelines/core-infrastructure/build.yaml

chore: Replaced `TempData` with session storage for `UserDefinedCharacteristicViewModel` persistence
  web/src/Web.App/Constants/SessionKeys.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Services/ComparatorSetService.cs
  web/src/Web.App/ViewModels/SchoolComparatorsPreviewViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Preview.cshtml
  web/src/Web.App/package-lock.json
Due: none

hotfix: refresh non financial view
  core-infrastructure/src/db/Core.Database/Scripts/020-RefreshCurrentDefaultNonFinancialView.sql
Due: pipelines/core-infrastructure/build.yaml

chore: adds end-points for trust comparators
  platform/src/abstractions/Platform.Infrastructure/Search/SearchResourceNames.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserData.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetUserDefined.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsService.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/Characteristics.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorSchoolsRequest.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorSchoolsService.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorTrust.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorTrusts.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorTrustsRequest.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorTrustsService.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/Startup.cs
  platform/src/search/Platform.Search/SearchMaintenanceService.cs
  platform/src/search/Platform.Search/TrustComparators/TrustComparatorsDataSourceConnectionBuilder.cs
  platform/src/search/Platform.Search/TrustComparators/TrustComparatorsIndex.cs
  platform/src/search/Platform.Search/TrustComparators/TrustComparatorsIndexBuilder.cs
  platform/src/search/Platform.Search/TrustComparators/TrustComparatorsIndexerBuilder.cs
Due: pipelines/platform/build.yaml

chore: Improved usability of LA chooser in characteristics builder
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/UserDefinedCharacteristicViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Characteristic.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_LocalAuthorities.cshtml
Due: none

chore: Modified characteristics displayed for each comparator school in Preview
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/SchoolComparatorsPreviewViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Characteristic.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Preview.cshtml
Due: none

chore: Updated the default characteristics
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/UserDefinedCharacteristicViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Preview.cshtml
Due: none

chore: Update trust view
  core-infrastructure/src/db/Core.Database/Scripts/021-AlterTrustCharacteristicView.sql
Due: pipelines/core-infrastructure/build.yaml

hotfix: fixes data types for search index mapping
  core-infrastructure/src/db/Core.Database/Scripts/022-AlterTrustCharacteristicView.sql
Due: pipelines/core-infrastructure/build.yaml

chore: adds phases covered to characteristics
  core-infrastructure/src/db/Core.Database/Scripts/023-AlterCharacteristicsViews.sql
Due: pipelines/core-infrastructure/build.yaml

chore: A11y tests for User Defined comparator sets
  pipelines/web/steps/run-a11y-tests.yaml
  web/README.md
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Characteristic.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Preview.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_ChosenSchools.cshtml
  web/tests/Web.A11yTests/AuthPageBase.cs
  web/tests/Web.A11yTests/Drivers/WebDriver.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparators.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsBy.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsByCharacteristic.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsByName.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsPreview.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsSubmit.cs
Due: none

feat: adds a consideration for duplicate pupils registrations for AB# 211663
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

feat: adding unit tests AB# 211663 + lint
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/tests/unit/pre_processing/test_census.py
Due: pipelines/data-pipeline/build.yaml

feat: Added SEN characteristics
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Infrastructure/Apis/Requests/PostSchoolComparatorsRequest.cs
  web/src/Web.App/ViewModels/SchoolComparatorsPreviewViewModel.cs
  web/src/Web.App/ViewModels/UserDefinedCharacteristicViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Characteristic.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Preview.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_SchoolCategories.cshtml
Due: none

Handling Duplicate Pupil Registrations (#912)
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/tests/unit/pre_processing/test_census.py
Due: pipelines/data-pipeline/build.yaml

Prototype/trust updates
  prototype/src/app/assets/images/charts/trust-compare-your-costs-central-hover.png
  prototype/src/app/assets/images/charts/trust-compare-your-costs-central.png
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/routes.js
  prototype/src/app/views/compare-trusts/by-name.html
  prototype/src/app/views/compare-trusts/characteristics.html
  prototype/src/app/views/compare-trusts/compare.html
  prototype/src/app/views/compare-trusts/view.html
  prototype/src/app/views/loading.html
  prototype/src/app/views/trust-homepage.html
Due: none

Prototype/trust updates (#914)
  prototype/src/app/assets/images/charts/trust-compare-your-costs-central-hover.png
  prototype/src/app/assets/images/charts/trust-compare-your-costs-central.png
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/routes.js
  prototype/src/app/views/compare-trusts/by-name.html
  prototype/src/app/views/compare-trusts/characteristics.html
  prototype/src/app/views/compare-trusts/compare.html
  prototype/src/app/views/compare-trusts/view.html
  prototype/src/app/views/loading.html
  prototype/src/app/views/trust-homepage.html
Due: none

chore: adds ip addresses for ITHC
  platform/terraform/modules/functions/main.tf
Due: pipelines/platform/build.yaml

feat: initial mappings for financial data across MS and academies
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

stash: minor changes to commit while AB# 212289 blocked
  data-pipeline/src/pipeline/config.py
Due: pipelines/data-pipeline/build.yaml

hotfix: fixes counts on comparator sets to exclude target school
  web/src/Web.App/Views/SchoolComparators/Index.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Name.cshtml
Due: none

fix: unit tests
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_census.py
Due: pipelines/data-pipeline/build.yaml

chore: adds central services fields for financial data
  core-infrastructure/src/db/Core.Database/Scripts/024-RebuildFinancialTableCentralServices.sql
Due: pipelines/core-infrastructure/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/supporting-data/build.yaml: any of: supporting-data
