Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: add page scaffolding for the Local Authority Education, Health and Care Plans (EHCP) benchmarking (#4039)
  web/src/Web.App/Constants/LocalAuthorityBenchmarkType.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Constants/Referrers.cs
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityEducationHealthCarePlansViewModel.cs
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Index.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsBenchmarking.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: add page scaffolding for high needs spending
  web/src/Web.App/Constants/LocalAuthorityBenchmarkType.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Constants/Referrers.cs
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
Due: pipelines/web/build.yaml

chore: set dotnet 10 in global.json
  web/global.json
Due: pipelines/web/build.yaml

chore: update target framework across all web projects
  web/src/Web.App/Web.App.csproj
  web/src/Web.Redirect/Web.Redirect.csproj
  web/tests/Web.A11yTests/Web.A11yTests.csproj
  web/tests/Web.E2ETests/Web.E2ETests.csproj
  web/tests/Web.Integration.Tests/Web.Integration.Tests.csproj
  web/tests/Web.Tests/Web.Tests.csproj
Due: pipelines/web/build.yaml

feat: add page scaffolding for the Local Authority High Needs spending benchmarking (#4040)
  web/src/Web.App/Constants/LocalAuthorityBenchmarkType.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Constants/Referrers.cs
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
Due: pipelines/web/build.yaml

chore: dependency updates following dotnet build
  web/src/Web.App/packages.lock.json
  web/src/Web.Redirect/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

chore: suppress NU1510 for Microsoft.Extensions.* packages
  web/src/Web.App/Web.App.csproj
  web/tests/Web.Integration.Tests/Web.Integration.Tests.csproj
Due: pipelines/web/build.yaml

chore: set dotnet 10 in global.json
  platform/global.json
Due: pipelines/platform/build.yaml

chore: update target framework across all web projects
  platform/src/abstractions/Platform.Cache/Platform.Cache.csproj
  platform/src/abstractions/Platform.Domain/Platform.Domain.csproj
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Infrastructure/Platform.Infrastructure.csproj
  platform/src/abstractions/Platform.Json/Platform.Json.csproj
  platform/src/abstractions/Platform.Messaging/Platform.Messaging.csproj
  platform/src/abstractions/Platform.Search/Platform.Search.csproj
  platform/src/abstractions/Platform.Sql/Platform.Sql.csproj
  platform/src/abstractions/Platform.Test/Platform.Test.csproj
  platform/src/abstractions/tests/Platform.Cache.Tests/Platform.Cache.Tests.csproj
  platform/src/abstractions/tests/Platform.Domain.Tests/Platform.Domain.Tests.csproj
  platform/src/abstractions/tests/Platform.Functions.Tests/Platform.Functions.Tests.csproj
  platform/src/abstractions/tests/Platform.Search.Tests/Platform.Search.Tests.csproj
  platform/src/abstractions/tests/Platform.Sql.Tests/Platform.Sql.Tests.csproj
  platform/src/apis/Platform.Api.Benchmark/Platform.Api.Benchmark.csproj
  platform/src/apis/Platform.Api.Content/Platform.Api.Content.csproj
  platform/src/apis/Platform.Api.Establishment/Platform.Api.Establishment.csproj
  platform/src/apis/Platform.Api.Insight/Platform.Api.Insight.csproj
  platform/src/apis/Platform.Api.LocalAuthority/Platform.Api.LocalAuthority.csproj
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Platform.Api.LocalAuthorityFinances.csproj
  platform/src/apis/Platform.Api.NonFinancial/Platform.Api.NonFinancial.csproj
  platform/src/apis/Platform.Api.School/Platform.Api.School.csproj
  platform/src/apis/Platform.Api.Trust/Platform.Api.Trust.csproj
  platform/src/apis/Platform.MaintenanceTasks/Platform.MaintenanceTasks.csproj
  platform/src/apis/Platform.Orchestrator/Platform.Orchestrator.csproj
  platform/src/search/Platform.Search.App/Platform.Search.App.csproj
  platform/src/search/Platform.Search.Resources/Platform.Search.Resources.csproj
  platform/tests/Platform.ApiTests/Platform.ApiTests.csproj
  platform/tests/Platform.Benchmark.Tests/Platform.Benchmark.Tests.csproj
  platform/tests/Platform.Content.Tests/Platform.Content.Tests.csproj
  platform/tests/Platform.Establishment.Tests/Platform.Establishment.Tests.csproj
  platform/tests/Platform.Insight.Tests/Platform.Insight.Tests.csproj
  platform/tests/Platform.LocalAuthority.Tests/Platform.LocalAuthority.Tests.csproj
  platform/tests/Platform.LocalAuthorityFinances.Tests/Platform.LocalAuthorityFinances.Tests.csproj
  platform/tests/Platform.MaintenanceTasks.Tests/Platform.MaintenanceTasks.Tests.csproj
  platform/tests/Platform.NonFinancial.Tests/Platform.NonFinancial.Tests.csproj
  platform/tests/Platform.Orchestrator.Tests/Platform.Orchestrator.Tests.csproj
  platform/tests/Platform.School.Tests/Platform.School.Tests.csproj
  platform/tests/Platform.Trust.Tests/Platform.Trust.Tests.csproj
Due: pipelines/platform/build.yaml

chore: dependency updates following dotnet build
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Domain/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Infrastructure/packages.lock.json
  platform/src/abstractions/Platform.Json/packages.lock.json
  platform/src/abstractions/Platform.Messaging/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: suppress NU1510 for Microsoft.Extensions.* packages
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
Due: pipelines/platform/build.yaml

chore: remove -f net8.0 from CI publish step (fixes NETSDK1005)
  pipelines/platform/steps/build.yaml
Due: pipelines/platform/build.yaml

feat: add basic page details for EHCP benchmarking
  web/src/Web.App/Constants/DataSourceTypes.cs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_HowDataIsPresented.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_UnderstandTheDataWeUse.cshtml
Due: pipelines/web/build.yaml

feat: add basic page details for EHCP benchmarking (#4043)
  web/src/Web.App/Constants/DataSourceTypes.cs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_HowDataIsPresented.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_UnderstandTheDataWeUse.cshtml
Due: pipelines/web/build.yaml

feat: add basic page details for High Needs spending benchmarking
  web/src/Web.App/Constants/DataSourceTypes.cs
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_HowDataIsPresented.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_UnderstandTheDataWeUse.cshtml
Due: pipelines/web/build.yaml

chore: fix regex in openapi spec generation to work on Win & Mac
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: upgrade solution to s.lnx format
  core-infrastructure/Core.sln
  core-infrastructure/Core.slnx
Due: pipelines/core-infrastructure/build.yaml

feat: add basic page details for High Need Spending benchmarking (#4044)
  web/src/Web.App/Constants/DataSourceTypes.cs
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_HowDataIsPresented.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_UnderstandTheDataWeUse.cshtml
Due: pipelines/web/build.yaml

Various minor changes to comparator calculation
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/config.py
  data-pipeline/src/pipeline/input_schemas/gias.py
Due: pipelines/data-pipeline/build.yaml

Added options for including absolute geographic distance explicitly in comparator selection process
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/config.py
Due: pipelines/data-pipeline/build.yaml

Add missing weights for ew_with_geog weight scheme
  data-pipeline/src/pipeline/comparator_sets/config.py
Due: pipelines/data-pipeline/build.yaml

add geographic distance afe weights
  data-pipeline/src/pipeline/comparator_sets/config.py
Due: pipelines/data-pipeline/build.yaml

Chore: update e2e tests pipeline config to ignore the tagged tests
  pipelines/web/steps/run-e2e-tests.yaml
Due: pipelines/web/build.yaml

docs: updated with research info about clustered bar charts
  documentation/features/13_Chart-Rendering-Api.md
Due: pipelines/documentation/build.yaml

docs: update references to .NET 8 for Web to .NET 10
  documentation/developers/01_Getting-Started.md
  web/GEMINI.md
  web/README.md
Due: pipelines/documentation/build.yaml, pipelines/web/build.yaml

chore: upgrade web to dotnet 10 (#4041)
  documentation/developers/01_Getting-Started.md
  web/GEMINI.md
  web/README.md
  web/global.json
  web/src/Web.App/Web.App.csproj
  web/src/Web.App/packages.lock.json
  web/src/Web.Redirect/Web.Redirect.csproj
  web/src/Web.Redirect/packages.lock.json
  web/tests/Web.A11yTests/Web.A11yTests.csproj
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/Web.E2ETests.csproj
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/Web.Integration.Tests.csproj
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/Web.Tests.csproj
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/documentation/build.yaml, pipelines/web/build.yaml

docs: multi series horizontal bar charts (#4046)
  documentation/features/13_Chart-Rendering-Api.md
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

hotfix: remove key data resources from tf
  web/terraform/data.tf
Due: pipelines/web/build.yaml

chore: add api tests for local authority accounts feature
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsEmptyCodes.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsHistoryEmptyCodes.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsHistoryTooManyCodes.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Accounts/HighNeeds/LaHighNeedsTooManyCodes.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/AccountsHighNeeds.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/AccountsHighNeedsSteps.cs
Due: pipelines/platform/build.yaml

chore: add api tests for local authority details feature
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceActuals.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceFilteredNursery.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceFilteredPhase.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceFilteredSixthForm.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceFilteredSpecial.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceInvalidLimit.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceInvalidNurseryProvision.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceInvalidPhase.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceInvalidSixthFormProvision.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceInvalidSortField.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceInvalidSortOrder.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceInvalidSpecialProvision.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinancePerUnit.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinancePercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinancePercentIncome.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsFinanceSortedTotalExpDesc.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceActuals.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceFilteredNursery.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceFilteredPhase.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceFilteredSixthForm.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceFilteredSpecial.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceInvalidLimit.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceInvalidNurseryProvision.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceInvalidPhase.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceInvalidSixthFormProvision.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceInvalidSortField.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceInvalidSortOrder.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceInvalidSpecialProvision.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforcePercentPupil.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/MaintainedSchools/LaSchoolsWorkforceSortedPupilTeacherRatioDesc.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Details/ValidLaCollection.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Details/Details.feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Details/MaintainedSchools.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/DetailsSteps.cs
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/MaintainedSchoolsSteps.cs
Due: pipelines/platform/build.yaml

chore: add project mandate
  platform/tests/Platform.ApiTests/GEMINI.md
Due: pipelines/platform/build.yaml

chore: add apit test creator skill
  platform/README.md
  platform/fbit-api-test-creator.skill
Due: pipelines/platform/build.yaml

chore: add api tests for local authority details feature
  platform/tests/Platform.ApiTests/Data/LocalAuthority/EHCP/EchpEmptyCodes.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/EHCP/EchpHistoryEmptyCodes.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/EHCP/EchpHistoryInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/EHCP/EchpHistoryTooManyCodes.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/EHCP/EchpInvalidDimension.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/EHCP/EchpTooManyCodes.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/EducationHealthCarePlans.feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/EducationHealthCarePlans/EducationHealthCarePlans.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/EducationHealthCarePlans.cs
Due: pipelines/platform/build.yaml

chore: update skill and documentation
  .gitignore
  documentation/developers/19_AI_Assisted_Engineering.md
  platform/README.md
  platform/fbit-api-test-creator.skill
  skills/platform-api-test-creator.skill
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

chore: improve accounts feature test cases
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Accounts/AccountsHighNeeds.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/AccountsHighNeedsSteps.cs
Due: pipelines/platform/build.yaml

chore: add api tests for local authority search feature
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchAscending.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchDescending.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchExactCode.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchInvalidOrderByField.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchInvalidOrderByValue.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchInvalidSearchTextTooLong.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchInvalidSearchTextTooShort.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchNoResults.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSearchPartialName.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSuggestExactCode.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSuggestInvalidSearchTextTooLong.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSuggestInvalidSearchTextTooShort.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSuggestInvalidSize.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSuggestNoResults.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Search/LaSuggestPartialName.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/HealthCheck/HealthCheck.feature
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Search/Search.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/HealthcheckSteps.cs
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/SearchSteps.cs
  platform/tests/Platform.ApiTests/packages.lock.json
Due: pipelines/platform/build.yaml

feat: add data tables and toggle between chart/table views to ehcp page
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Domain/LocalAuthorities/EducationHealthCarePlans.cs
  web/src/Web.App/Domain/LocalAuthorities/EducationHealthCarePlansCategories.cs
  web/src/Web.App/ViewModels/BenchmarkingViewModelCostSubCategory.cs
  web/src/Web.App/ViewModels/EducationHealthCarePlansComparisonSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityEducationHealthCarePlansViewModel.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanTable.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

chore: add api tests for local authority stattstical neighbours feature
  platform/tests/Platform.ApiTests/Data/LocalAuthority/StatisticalNeighbours/ValidStatisticalNeighbours.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/StatisticalNeighbours/StatisticalNeighbours.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/StatisticalNeighboursSteps.cs
Due: pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
