Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: add configuration for secondary region with container app environment
  data-pipeline/terraform/main.tf
  data-pipeline/terraform/terraform.tfvars
  data-pipeline/terraform/variables.tf
  pipelines/common/run-terraform.yaml
  pipelines/data-pipeline/deployment.yaml
  pipelines/feature/release.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

doc: updated plan
  documentation/quality-assurance/release-test-plans/00034_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: add configuration for secondary region with container app environment (#4321)
  data-pipeline/terraform/main.tf
  data-pipeline/terraform/terraform.tfvars
  data-pipeline/terraform/variables.tf
  pipelines/common/run-terraform.yaml
  pipelines/data-pipeline/deployment.yaml
  pipelines/feature/release.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: add container app environment ip to sql firewall rules
  data-pipeline/terraform/container_apps.tf
  data-pipeline/terraform/data.tf
Due: pipelines/data-pipeline/build.yaml

chore: harden dependabot configuration
  .github/dependabot.yml
Due: none

feat: add container app environment ip to sql firewall rules (#4317)
  data-pipeline/terraform/container_apps.tf
  data-pipeline/terraform/data.tf
Due: pipelines/data-pipeline/build.yaml

feat: add private link for search service
  platform/terraform/search.tf
Due: pipelines/platform/build.yaml

doc: step-by-step testing instructions
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

doc: complete release notes
  documentation/quality-assurance/release-test-plans/00034_release-test-plan.md
Due: pipelines/documentation/build.yaml

doc: fix typo
  documentation/quality-assurance/release-test-plans/00034_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: add release plan for upcoming planned release (#4300)
  documentation/quality-assurance/release-test-plans/00034_release-test-plan.md
Due: pipelines/documentation/build.yaml

doc: step-by-step data drops
  documentation/guides/data-release-guide/01_Overview.md
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/03_CFR.md
  documentation/guides/data-release-guide/04_BFR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

chore: enable SchoolComparisonFilter feature flag in all environments
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

chore: enable SchoolComparisonFilter feature flag in all environments (#4323)
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

doc: add SQL snippets
  documentation/guides/data-release-guide/01_Overview.md
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/03_CFR.md
  documentation/guides/data-release-guide/04_BFR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

doc: section headings
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

doc: extra sentence
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

doc: add chronology thing
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

feat: add outbound ip from container app to sql firewall rules
  data-pipeline/terraform/container_app/outputs.tf
  data-pipeline/terraform/container_apps.tf
Due: pipelines/data-pipeline/build.yaml

doc: add more sql queries
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/04_BFR.md
Due: pipelines/documentation/build.yaml

feat: first cut of new module for flex consumption function apps
  platform/Platform.sln
  platform/terraform/functions.tf
  platform/terraform/modules/function_app/locals.tf
  platform/terraform/modules/function_app/main.tf
  platform/terraform/modules/function_app/output.tf
  platform/terraform/modules/function_app/provider.tf
  platform/terraform/modules/function_app/variables.tf
Due: pipelines/platform/build.yaml

feat: add short name param to contnet-fc app
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

chore: remove underscore from storage container name
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

chore: remove invalid params from funcrtion app tf
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

doc: restructure data drop guide overview to flow better
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

chore: fix problems with resource names
  platform/terraform/modules/function_app/locals.tf
Due: pipelines/platform/build.yaml

doc: fix link
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

doc: link specific data drop release plans in QA section
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/03_CFR.md
  documentation/guides/data-release-guide/04_BFR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

doc: add a note to use the azure console to upload data files
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

doc: reorder sections in data drop guide
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/documentation/build.yaml

doc: correct double full stop
  documentation/guides/data-release-guide/02_AAR.md
Due: pipelines/documentation/build.yaml

doc: add notes about additional preprocessing pivots for AAR and S251
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

doc: typos
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

chore: remove invalid app setting
  platform/terraform/modules/function_app/locals.tf
Due: pipelines/platform/build.yaml

chore: correct runtime version
  platform/terraform/modules/function_app/variables.tf
Due: pipelines/platform/build.yaml

feat: add outbound ip from container app to sql firewall rules (#4326)
  data-pipeline/terraform/container_app/outputs.tf
  data-pipeline/terraform/container_apps.tf
Due: pipelines/data-pipeline/build.yaml

chore: fix tenant/object ods for key vault access policy
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

chore: tweak identity used for mssql user
  platform/terraform/modules/function_app/main.tf
Due: pipelines/platform/build.yaml

feat: deploy code to flex consumption version of content function app
  pipelines/platform/deployment.yaml
Due: pipelines/platform/build.yaml

chore: specify flex consumption when deploying new func apps
  pipelines/platform/deployment.yaml
Due: pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
