Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: remove Microsoft.Azure.StackExchangeRedis from dependabot ignore for Platform
  .github/dependabot.yml
Due: none

fix: correctly pass dimension for user defined result in school benchmark spending (#4355)
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

feat: update referrer policy
  web/src/Web.App/web.config
Due: pipelines/web/build.yaml

docs: LAA data strategy ADR (#4354)
  documentation/architecture/decisions/0023-laa-risk-indicators-data-architecture.md
Due: pipelines/documentation/build.yaml

chore: remove Microsoft.Azure.StackExchangeRedis from dependabot ignore for Platform (#4357)
  .github/dependabot.yml
Due: none

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: comment out settings refresh for chart rendering
  pipelines/platform/deployment.yaml
Due: pipelines/platform/build.yaml

chore: bump prettier from 3.8.4 to 3.9.4
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: lint
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/index.d.ts
Due: pipelines/platform/build.yaml

chore: bump prettier from 3.8.4 to 3.9.4
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: lint
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/views/historic-data-2/types.tsx
Due: pipelines/front-end-components/build.yaml

chore: add tf files as solution files
  platform/Platform.sln
Due: pipelines/platform/build.yaml

chore: linting
  platform/terraform/functions.tf
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/variables.tf
Due: pipelines/platform/build.yaml

fix: restit public access to storage accounts and key vaults
  platform/terraform/modules/fc_function_app/main.tf
Due: pipelines/platform/build.yaml

fix: add analysis rules for storage account
  platform/terraform/modules/fc_function_app/main.tf
Due: pipelines/platform/build.yaml

fix: set min tls version for storage account
  platform/terraform/modules/fc_function_app/main.tf
Due: pipelines/platform/build.yaml

fix: set storage account replication type
  platform/terraform/modules/fc_function_app/locals.tf
Due: pipelines/platform/build.yaml

fix: set key vault analysis rules, and key vault secret content types
  platform/terraform/modules/fc_function_app/main.tf
Due: pipelines/platform/build.yaml

fix: add analysis exclusions on key vaule secrets
  platform/terraform/modules/fc_function_app/main.tf
Due: pipelines/platform/build.yaml

fix: add delete retention policy to storage account
  platform/terraform/modules/fc_function_app/main.tf
Due: pipelines/platform/build.yaml

fix: add analysis exception to storage container
  platform/terraform/modules/fc_function_app/main.tf
Due: pipelines/platform/build.yaml

fix: remove specific public access prevention
  platform/terraform/modules/fc_function_app/main.tf
Due: pipelines/platform/build.yaml

doc: update QA docs for data release
  documentation/quality-assurance/10_Data-Release-Test-Approach.md
  documentation/quality-assurance/11_Data-Release-Test-Plan.md
  documentation/quality-assurance/3_Test-strategy-data-ingestion.md
Due: pipelines/documentation/build.yaml

chore: rearrange solution folders for platform terraform modules
  platform/Platform.sln
Due: pipelines/platform/build.yaml

feat: function apps on flex consumption plan (#4371)
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/Platform.sln
  platform/terraform/functions.tf
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/output.tf
  platform/terraform/modules/fc_function_app/provider.tf
  platform/terraform/modules/fc_function_app/variables.tf
  platform/terraform/modules/function_app/README.md
  platform/terraform/modules/function_app/locals.tf
  platform/terraform/modules/function_app/main.tf
  platform/terraform/modules/function_app/output.tf
  platform/terraform/modules/function_app/provider.tf
  platform/terraform/modules/function_app/variables.tf
Due: pipelines/platform/build.yaml

feat: join function apps onto platform subnet
  core-infrastructure/terraform/vnet.tf
  platform/Platform.sln
  platform/terraform/functions.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/variables.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

fix: reference subnet id
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

chore: add config module as solution folder
  platform/Platform.sln
Due: pipelines/platform/build.yaml

feat: set up subnets to allow connections from in fc function apps
  platform/terraform/functions.tf
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/variables.tf
Due: pipelines/platform/build.yaml

feat: changes after QA
  data-pipeline/src/pipeline/pre_processing/aar/transparency_file/output_cols.py
  data-pipeline/src/pipeline/pre_processing/aar/transparency_file/rollups.py
  data-pipeline/src/pipeline/pre_processing/aar/transparency_file/transparency.py
Due: pipelines/data-pipeline/build.yaml

chore: temporarily enable ip restrictions on feature deployments for testing
  platform/terraform/modules/config/main.tf
Due: pipelines/platform/build.yaml

chore: suspend IP restrictions on feature deploys again
  platform/terraform/modules/config/main.tf
Due: pipelines/platform/build.yaml

feat: join orchestrator app onto vnet if specified
  platform/terraform/functions.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/function_app/main.tf
  platform/terraform/modules/function_app/variables.tf
Due: pipelines/platform/build.yaml

feat: create new subnet for orchestrator app and join func app onto it
  core-infrastructure/terraform/vnet.tf
  platform/terraform/data.tf
  platform/terraform/functions.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

fix: add delegation to Microsft.Web/serverFarms to orchestrator subnet
  core-infrastructure/terraform/vnet.tf
Due: pipelines/core-infrastructure/build.yaml

chore: linting
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

fix: add nsg association to orchestrator subnet
  core-infrastructure/terraform/vnet.tf
Due: pipelines/core-infrastructure/build.yaml

feat: join function apps onto virtual network (#4374)
  core-infrastructure/terraform/vnet.tf
  platform/Platform.sln
  platform/terraform/data.tf
  platform/terraform/functions.tf
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/variables.tf
  platform/terraform/modules/function_app/main.tf
  platform/terraform/modules/function_app/variables.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

Update out of scope section
  documentation/quality-assurance/11_Data-Release-Test-Plan.md
Due: pipelines/documentation/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
