Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

hotfix: fixes precision and scale on rag db table
  core-infrastructure/src/db/Core.Database/Scripts/027-SetPrecisionScaleRag.sql
Due: pipelines/core-infrastructure/build.yaml

feat: adds school CFP dashboard AB#192305
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlan.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlanDeployment.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlanSummary.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlansService.cs
  web/src/Web.App/Domain/Deciles.cs
  web/src/Web.App/Domain/DeploymentPlan.cs
  web/src/Web.App/Domain/FinancialPlan.cs
  web/src/Web.App/Domain/RatingCalculations.cs
  web/src/Web.App/Extensions/DecimalExtensions.cs
  web/src/Web.App/ViewModels/SchoolDeploymentPlanViewModel.cs
  web/src/Web.App/ViewModels/SchoolPlanViewModel.cs
  web/src/Web.App/Views/SchoolPlanning/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanning.cs
  web/tests/Web.Tests/Domain/GivenValuesRatingCalculations.cs
  web/tests/Web.Tests/Domain/WhenCalculatingDecilesFindFromHighest.cs
  web/tests/Web.Tests/Domain/WhenCalculatingDecilesFindFromLowest.cs
Due: pipelines/platform/build.yaml

fix: correct comparator-set URN restriction
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/rag/test_user_defined_comparator_sets.py
Due: pipelines/data-pipeline/build.yaml

fix: correct comparator-set URN restriction (#937)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/rag/test_user_defined_comparator_sets.py
Due: pipelines/data-pipeline/build.yaml

chore: adds additional logging for orchestrator
  platform/src/abstractions/Platform.Domain/Messages/PipelineMessage.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
Due: pipelines/platform/build.yaml

feat: Trust user-defined comparator set submission, polling and result display
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Constants/SessionKeys.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Domain/TrustComparatorSet.cs
  web/src/Web.App/Infrastructure/Apis/ComparatorSetApi.cs
  web/src/Web.App/Infrastructure/Apis/Requests/PutComparatorSetUserDefinedRequest.cs
  web/src/Web.App/Services/SchoolComparatorSetService.cs
  web/src/Web.App/Services/TrustComparatorSetService.cs
  web/src/Web.App/ViewModels/TrustComparatorsSubmittedViewModel.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Submit.cshtml
Due: none

hotfix: correct type on switch to update user data
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
Due: pipelines/platform/build.yaml

chore: linting solution
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
Due: pipelines/platform/build.yaml

feat: wire up user defined RAG for school home page
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingService.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingsFunctions.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Infrastructure/Apis/MetricRagRatingApi.cs
Due: pipelines/platform/build.yaml

hotfix: adds missing pupil group
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlanDeployment.cs
Due: pipelines/platform/build.yaml

feat: initial mappings for financial data across MS and academies
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

stash: minor changes to commit while AB# 212289 blocked
  data-pipeline/src/pipeline/config.py
Due: pipelines/data-pipeline/build.yaml

fix: unit tests
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_census.py
Due: pipelines/data-pipeline/build.yaml

feat: lots of mapping updates for financial data
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

feat: changes to include total catering net and gross
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

feat: more mapping changes for financial data
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

feat: Fixes for loading financial data to db
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

feat: fixing unit tests following financial DB changes
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

feat: View set of user-defined Trusts
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Services/UserDataService.cs
  web/src/Web.App/ViewModels/TrustComparatorsViewModel.cs
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/Views/TrustComparators/UserDefined.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/_ChosenTrusts.cshtml
Due: none

feat: Revert user defined Trust comparator set
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/Views/TrustComparators/Revert.cshtml
  web/src/Web.App/Views/TrustComparatorsCreateBy/Name.cshtml
Due: none

prototype/customdatacontentchanges
  prototype/src/app/views/custom-data/index.html
  prototype/src/app/views/custom-data/school-characteristics.html
  prototype/src/app/views/spending-and-costs/index.html
Due: none

prototype/customdatacontentchanges (#941)
  prototype/src/app/views/custom-data/index.html
  prototype/src/app/views/custom-data/school-characteristics.html
  prototype/src/app/views/spending-and-costs/index.html
Due: none

Prorotype/Custom data
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/custom-data/financial-data.html
  prototype/src/app/views/custom-data/school-characteristics.html
  prototype/src/app/views/custom-data/workforce.html
Due: none

Prorotype/Custom data (#942)
  prototype/src/app/views/comparators/view.html
  prototype/src/app/views/custom-data/financial-data.html
  prototype/src/app/views/custom-data/school-characteristics.html
Due: none

chore: Axe tests for user defined Trust comparator sets
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsPreview.cs
  web/tests/Web.A11yTests/Pages/Schools/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsBy.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsByCharacteristic.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsByName.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsPreview.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsRevert.cs
  web/tests/Web.A11yTests/Pages/Trust/Comparators/WhenViewingComparatorsSubmit.cs
Due: none

Adding dataflow: blob_s198d02_ComparatorSet
  supporting-data/adf/dataflow/blob_s198d02_ComparatorSet.json
  supporting-data/adf/dataset/blob_comparatorSet.json
  supporting-data/adf/dataset/s198d02_ComparatorSet.json
Due: pipelines/supporting-data/build.yaml

Updating pipeline: blob_s198d02
  supporting-data/adf/pipeline/blob_s198d02.json
Due: pipelines/supporting-data/build.yaml

ARM template and parameters deployed on 6-13-2024 12:46:40, based on the collaboration branch's commit ID: 5e11b3c1eda0375696da111d4c86e54293767e37
  s198d98-ebis-adf/ARMTemplateForFactory.json
  s198d98-ebis-adf/linkedTemplates/ArmTemplate_0.json
Due: none

chore: linting
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

Finalising the financial data upload (#934)
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

Updating pipeline: blob_s198d02 Adding pipeline: blob_s198d02_comparatorSet
  supporting-data/adf/pipeline/blob_s198d02.json
  supporting-data/adf/pipeline/blob_s198d02_comparatorSet.json
Due: pipelines/supporting-data/build.yaml

trailing fix to duplication error
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

Updating dataflow: blob_s198d02_ComparatorSet
  supporting-data/adf/dataflow/blob_s198d02_ComparatorSet.json
Due: pipelines/supporting-data/build.yaml

Updating pipeline: blob_s198d02_comparatorSet
  supporting-data/adf/pipeline/blob_s198d02_comparatorSet.json
Due: pipelines/supporting-data/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/supporting-data/build.yaml: any of: supporting-data
