Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

Standardise "No risk" value to None
  data-pipeline/src/pipeline/laa_risk_scores/config.py
  data-pipeline/src/pipeline/laa_risk_scores/metrics.py
Due: pipelines/data-pipeline/build.yaml

fix ks2 preprocessing for new column
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
Due: pipelines/data-pipeline/build.yaml

guard against divion by zero giving infinite metric values
  data-pipeline/src/pipeline/laa_risk_scores/metrics.py
  data-pipeline/tests/unit/laa_risk_scores/test_metrics.py
Due: pipelines/data-pipeline/build.yaml

test: add a11y tests for local authority risks page
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingRisks.cs
Due: pipelines/web/build.yaml

chore: d02 LASchoolRiskIndicatorsHeaders table to test data
  test-data/LASchoolRiskIndicatorsHeaders.csv
Due: none

lint
  data-pipeline/src/pipeline/laa_risk_scores/config.py
  data-pipeline/src/pipeline/laa_risk_scores/loader.py
  data-pipeline/tests/unit/laa_risk_scores/test_metrics.py
Due: pipelines/data-pipeline/build.yaml

test: add functional api tests for local authority risks endpoint
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/InvalidNoCodes.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/InvalidPage.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/InvalidPageSize.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/InvalidPhase.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/InvalidSortField.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/InvalidSortOrder.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/InvalidTooManyCodes.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/SingleCodeSortedByFinancialDescendingDefaultPage.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/SingleCodeSortedByUrnDefaultOrderDefaultPage.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/TwoCodesSortedByDefaultAscendingPrimaryPage2.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/TwoCodesSortedByDefaultDescendingDefaultPage.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/TwoCodesSortedByFinancialDefaultOrderPrimaryPage1.json
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/TwoCodesSortedByUrnAscendingPrimaryPage1.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Risks/Risks.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/RisksSteps.cs
Due: pipelines/platform/build.yaml

Change scoring for ParentalPreferenceMetric for special schools
  data-pipeline/src/pipeline/laa_risk_scores/config.py
  data-pipeline/src/pipeline/laa_risk_scores/metrics.py
  data-pipeline/tests/unit/laa_risk_scores/test_metrics.py
Due: pipelines/data-pipeline/build.yaml

Further QA corrections
  data-pipeline/src/pipeline/laa_risk_scores/config.py
  data-pipeline/src/pipeline/laa_risk_scores/metrics.py
Due: pipelines/data-pipeline/build.yaml

Change in expenditure over 4 years should be as a % income!
  data-pipeline/src/pipeline/laa_risk_scores/metrics.py
Due: pipelines/data-pipeline/build.yaml

remove stray code
  data-pipeline/src/pipeline/laa_risk_scores/engine.py
Due: pipelines/data-pipeline/build.yaml

typo on upper threshold for PerformanceTables
  data-pipeline/src/pipeline/laa_risk_scores/config.py
Due: pipelines/data-pipeline/build.yaml

chore: share gemini folder (#4436)
  .gemini/commands/api-metadata-enrich.toml
  .gemini/commands/api-test-implement.toml
  .gemini/commands/api-test-plan.toml
  .gemini/instructions/metadata-enrichment.md
  .gemini/instructions/shared-api-discovery.md
  .gemini/instructions/test-implementation.md
  .gemini/instructions/test-planning.md
  .gemini/settings.json
  .gemini/templates/test-plan-template.md
  .gitignore
  ai-tools/README.md
  ai-tools/commands/staged-commit.toml
  ai-tools/scripts/install-tools.ps1
  ai-tools/scripts/install-tools.sh
Due: none

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump web dependencies
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

test: add test to cover page beyond results scenario
  platform/tests/Platform.ApiTests/Data/LocalAuthority/Risks/SingleCodePageBeyondResults.json
  platform/tests/Platform.ApiTests/Features/LocalAuthority/Risks/Risks.feature
Due: pipelines/platform/build.yaml

test: add integration tests for local authority risks page (#4444)
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingRisks.cs
Due: pipelines/web/build.yaml

test: add a11y tests for local authority risks page (#4445)
  test-data/LASchoolRiskIndicatorsHeaders.csv
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingRisks.cs
Due: pipelines/web/build.yaml

bugfix: Correct preprocessing of PTRWM_EXP field
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
Due: pipelines/data-pipeline/build.yaml

fix: join to laa risk scores ancillary data
  data-pipeline/src/pipeline/laa_risk_scores/loader.py
Due: pipelines/data-pipeline/build.yaml

fix: Correct preprocessing of PTRWM_EXP field (#4450)
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
Due: pipelines/data-pipeline/build.yaml

chore: bump web dependencies (#4447)
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: join to laa risk scores ancillary data (#4451)
  data-pipeline/src/pipeline/laa_risk_scores/loader.py
Due: pipelines/data-pipeline/build.yaml

chore: comment out risks a11y test requiring dsi organisation assignment
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingRisks.cs
Due: pipelines/web/build.yaml

fix: re-order laa risk score calculations to be directly after preprocessing, add run_until gate for RAG
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

bugfix: Refactoring and bug fixes for data loading
  data-pipeline/src/pipeline/laa_risk_scores/config.py
  data-pipeline/src/pipeline/laa_risk_scores/loader.py
  data-pipeline/src/pipeline/laa_risk_scores/orchestrator.py
  data-pipeline/src/pipeline/laa_risk_scores/preprocessing.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/tests/unit/laa_risk_scores/test_pipeline.py
Due: pipelines/data-pipeline/build.yaml

fix: fix merges between ancillary data and LAA CFR data
  data-pipeline/src/pipeline/laa_risk_scores/loader.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/tests/unit/laa_risk_scores/test_pipeline.py
Due: pipelines/data-pipeline/build.yaml

fix: preparation of PTRWM_EXP field
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/laa_risk_scores/loader.py
  data-pipeline/src/pipeline/laa_risk_scores/orchestrator.py
  data-pipeline/src/pipeline/laa_risk_scores/preprocessing.py
Due: pipelines/data-pipeline/build.yaml

doc: add new data source to docs
  docs/content/reference/data/sources.md
Due: none

chore: comment out risks a11y test requiring dsi organisation assignment (#4452)
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingRisks.cs
Due: pipelines/web/build.yaml

fix: Add special school capacity, fix parental preference aggregation. (#4449)
  data-pipeline/src/pipeline/laa_risk_scores/config.py
  data-pipeline/src/pipeline/laa_risk_scores/loader.py
  data-pipeline/src/pipeline/laa_risk_scores/orchestrator.py
  data-pipeline/src/pipeline/laa_risk_scores/preprocessing.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/tests/unit/laa_risk_scores/test_pipeline.py
  docs/content/reference/data/sources.md
Due: pipelines/data-pipeline/build.yaml

docs: update terraform docs
  core-infrastructure/terraform/README.md
  platform/terraform/README.md
  platform/terraform/modules/fc_function_app/README.md
  platform/terraform/modules/function_app/README.md
  platform/terraform/modules/functions/README.md
  web/terraform/README.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: bump front-end-components dependencies
  front-end-components/package-lock.json
Due: pipelines/front-end-components/build.yaml
