Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

chore: Update existing validation error messages on CFP pages
  web/src/Web.App/Validators/FinancialPlanStages/ManagementRolesStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/ManagersPerRoleStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/OtherTeachingPeriodsConfirmStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/PrePopulateDataStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/PrimaryHasMixedAgeClassesStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/PrimaryPupilFiguresStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/PupilFiguresStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/SelectYearStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/TeacherPeriodAllocationStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/TeachingPeriodsManagerStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/TimetableCycleStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/TotalEducationSupportStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/TotalNumberTeachersStageValidator.cs
  web/src/Web.App/Validators/FinancialPlanStages/TotalTeacherCostsStageValidator.cs
  web/src/Web.App/Views/SchoolPlanningCreate/Start.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningHasMixedAgeClasses.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningManagementRoles.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningOtherTeachingPeriodsConfirm.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningPupilFigures.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningSelectYear.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTimetableCycle.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalEducationSupport.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalNumberTeachers.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningTotalTeacherCosts.cs
Due: pipelines/web/build.yaml

chore: update content for resources
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
Due: pipelines/web/build.yaml

fix: prevent custom-data adding rows
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

chore: update wording on cfp start page
  web/src/Web.App/Views/SchoolPlanningCreate/Start.cshtml
Due: pipelines/web/build.yaml

fix: skip comparator-set when no target
  data-pipeline/src/pipeline/comparator_sets.py
Due: pipelines/data-pipeline/build.yaml

Revert "chore: update wording on cfp start page"
  web/src/Web.App/Views/SchoolPlanningCreate/Start.cshtml
Due: pipelines/web/build.yaml

Revert "chore: update content for cfp start"
  web/src/Web.App/Views/SchoolPlanningCreate/Start.cshtml
Due: pipelines/web/build.yaml

chore: use category constants for display changes for headings and sub section links
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
Due: pipelines/web/build.yaml

chore: update test following changes
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanningStart.cs
Due: pipelines/web/build.yaml

fix: Do not display `undefined` if stat value could not be resolved
  front-end-components/src/components/charts/resolved-stat/component.tsx
Due: pipelines/front-end-components/build.yaml

chore: add tracked links
  web/src/Web.App/Constants/TrackedLinks.cs
  web/src/Web.App/Views/Home/Index.cshtml
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/Shared/Components/EstablishmentHeading/Default.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
Due: pipelines/web/build.yaml

content updates (#1067)
  front-end-components/src/views/find-organisation/view.tsx
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
  web/src/Web.App/Views/SchoolComparators/Index.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Name.cshtml
  web/src/Web.App/Views/SchoolComparison/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolFinanceTools/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanning.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: Do not display 'Green' BFR guidance. Include year for Metrics data.
  web/src/Web.App/ViewModels/TrustForecastViewModel.cs
  web/src/Web.App/Views/TrustForecast/_Metrics.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingForecast.cs
Due: pipelines/web/build.yaml

fix: skip irrelevant RAG for custom-data
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/rag.py
Due: pipelines/data-pipeline/build.yaml

chore: Bump `front-end` to `0.2.84`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: adds feature flag for trust comparison
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparisonController.cs
  web/src/Web.App/Views/Home/Index.cshtml
  web/src/Web.App/Views/Shared/Components/TrustFinanceTools/Default.cshtml
  web/src/Web.App/appsettings.Development.json
  web/src/Web.App/appsettings.Integration.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: fully working across 2021-2023 datasets.
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

chore: fixing up unit tests
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
Due: pipelines/data-pipeline/build.yaml

hotfix: e2e test fixes
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/HomePage.cs
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
  web/tests/Web.E2ETests/Steps/School/SpendingCostsSteps.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

chore: add configured for using test environment settings
  .gitignore
  web/src/Web.App/Properties/launchSettings.json
Due: pipelines/web/build.yaml

hotfix: fixes find/replace error
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

feat: Log analytics query pack
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/ai.tf
Due: pipelines/core-infrastructure/build.yaml

chore: update availability test to use custom domain for production
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

chore: BFR copy update
  web/src/Web.App/Views/TrustForecast/_Metrics.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingForecast.cs
Due: pipelines/web/build.yaml

feat: Updated log analytics query and function
  core-infrastructure/terraform/ai.tf
Due: pipelines/core-infrastructure/build.yaml

fix: using FTE rather than headcount.
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_census.py
Due: pipelines/data-pipeline/build.yaml

feat: Added log analytics query and function for tracked links
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/ai.tf
  core-infrastructure/terraform/queries.tf
Due: pipelines/core-infrastructure/build.yaml

fix: using FTE rather than headcount. (#1072)
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_census.py
Due: pipelines/data-pipeline/build.yaml

Avoid unecessary processing for custom-data (#1068)
  data-pipeline/src/pipeline/comparator_sets.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

chore: content updates
  front-end-components/src/views/compare-your-census/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-trust/partials/total-expenditure.tsx
  front-end-components/src/views/historic-data/partials/census-section.tsx
  front-end-components/src/views/historic-data/partials/spending-section.tsx
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Views/LocalAuthorityCensus/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityComparison/Index.cshtml
  web/src/Web.App/Views/Shared/Components/CustomDataFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
  web/src/Web.App/Views/Shared/Components/TrustFinanceTools/Default.cshtml
  web/src/Web.App/Views/Trust/Details.cshtml
  web/src/Web.App/Views/TrustCensus/Index.cshtml
  web/src/Web.App/Views/TrustComparators/Index.cshtml
  web/src/Web.App/Views/TrustComparison/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataCensus.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpendingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomisedData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingDetails.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: content updates (#1074)
  front-end-components/src/views/compare-your-census/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-trust/partials/total-expenditure.tsx
  front-end-components/src/views/historic-data/partials/census-section.tsx
  front-end-components/src/views/historic-data/partials/spending-section.tsx
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Views/LocalAuthorityCensus/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityComparison/Index.cshtml
  web/src/Web.App/Views/Shared/Components/CustomDataFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
  web/src/Web.App/Views/Shared/Components/TrustFinanceTools/Default.cshtml
  web/src/Web.App/Views/Trust/Details.cshtml
  web/src/Web.App/Views/TrustCensus/Index.cshtml
  web/src/Web.App/Views/TrustComparators/Index.cshtml
  web/src/Web.App/Views/TrustComparison/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataCensus.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpendingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomisedData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingDetails.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: bump front-end version
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Modfied log analytics query for tracked links
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/variables.tf
  platform/terraform/README.md
  prototype/terraform/README.md
  web/src/Web.App/Constants/TrackedRequestType.cs
  web/src/Web.App/Controllers/LocalAuthorityCensusController.cs
  web/src/Web.App/Controllers/LocalAuthorityComparisonController.cs
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Controllers/TrustCensusController.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparisonController.cs
  web/src/Web.App/Controllers/TrustSpendingController.cs
  web/terraform/README.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/web/build.yaml

Initial cost and income mapping based on RAW AnM AAR data. (#963)
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

feat: Modfied log analytics query for tracked links (#1075)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/variables.tf
  platform/terraform/README.md
  prototype/terraform/README.md
  web/src/Web.App/Constants/TrackedRequestType.cs
  web/src/Web.App/Controllers/LocalAuthorityCensusController.cs
  web/src/Web.App/Controllers/LocalAuthorityComparisonController.cs
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Controllers/TrustCensusController.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparisonController.cs
  web/src/Web.App/Controllers/TrustSpendingController.cs
  web/terraform/README.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/web/build.yaml

fix: Analytics workspace function syntax fix
  core-infrastructure/terraform/queries.tf
Due: pipelines/core-infrastructure/build.yaml
