Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

fix
  data-pipeline/src/pipeline/comparator_sets/calculations.py
Due: pipelines/data-pipeline/build.yaml

skip test
  data-pipeline/tests/unit/comparator_sets/test_calculations.py
Due: pipelines/data-pipeline/build.yaml

feat: Added new route for vertical bar chart using string templates instead of DOM
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/shared/pool.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/shared/worker.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/index.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/verticalBarChart/api.ts
Due: pipelines/platform/build.yaml

stash
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
  data-pipeline/tests/unit/comparator_sets/conftest.py
  data-pipeline/tests/unit/comparator_sets/test_calculations.py
Due: pipelines/data-pipeline/build.yaml

feat: Updated API tests for SSR vertical bar charts
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.svg
  platform/tests/Platform.ApiTests/Data/VerticalBarChartValidMultiple.json
  platform/tests/Platform.ApiTests/Data/VerticalBarChartValidSingle.json
  platform/tests/Platform.ApiTests/Data/VerticalBarChartValidSingle.svg
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Features/ChartRenderingVerticalBarChart.feature
  platform/tests/Platform.ApiTests/Steps/ChartRenderingVerticalBarChartSteps.cs
Due: pipelines/platform/build.yaml

prepare data
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

feat: Enabled auto-start of save images dialog
  web/src/Web.App/AssetSrc/ts/components/page-actions/PageActions.vue
  web/src/Web.App/AssetSrc/ts/components/page-actions/index.d.ts
  web/src/Web.App/AssetSrc/ts/index.html
Due: pipelines/web/build.yaml

chore: Explicitly define names for directly imported Vue components and document process
  web/README.md
  web/src/Web.App/AssetSrc/ts/components/chart-actions/ChartActions.vue
  web/src/Web.App/AssetSrc/ts/components/page-actions/PageActions.vue
  web/src/Web.App/AssetSrc/ts/components/school-chart-tooltip/SchoolChartTooltips.vue
Due: pipelines/web/build.yaml

feat: Integration test for presence of 'save chart images' button on Chart view only
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
Due: pipelines/web/build.yaml

feat: E2E test coverage over 'save chart images' button on IT spend
  web/tests/Web.E2ETests/Features/School/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Pages/School/BenchmarkItSpendingPage.cs
  web/tests/Web.E2ETests/Steps/School/BenchmarkItSpendingSteps.cs
Due: pipelines/web/build.yaml

feat: Added 'Save chart images' button to filter panel for chart view only
  web/src/Web.App/ViewModels/Enhancements/PageActionsViewModel.cs
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/SchoolComparisonItSpend/_ItSpendFilter.cshtml
  web/src/Web.App/Views/Shared/Enhancements/_PageActions.cshtml
Due: pipelines/web/build.yaml

fix
  data-pipeline/tests/unit/comparator_sets/conftest.py
  data-pipeline/tests/unit/comparator_sets/test_calculations.py
Due: pipelines/data-pipeline/build.yaml

remove comments
  data-pipeline/tests/unit/comparator_sets/test_calculations.py
Due: pipelines/data-pipeline/build.yaml

rename function
  data-pipeline/src/pipeline/comparator_sets/__init__.py
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

feat: Exclude `d3` DOM endpoints and Swagger route/assets from release builds
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/dom/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/dom/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.dev.json
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

lint
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/tests/unit/comparator_sets/test_calculations.py
Due: pipelines/data-pipeline/build.yaml

code around filename oddity
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

feat: Replace part year 'warning' with 'tag' in IT spend chart tooltip
  web/src/Web.App/AssetSrc/scss/_school-chart-tooltip.scss
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/AssetSrc/ts/components/school-chart-tooltip/SchoolChartTooltip.vue
  web/src/Web.App/AssetSrc/ts/components/school-chart-tooltip/index.d.ts
  web/src/Web.App/AssetSrc/ts/index.html
  web/src/Web.App/ViewModels/SchoolChartTooltipViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonItSpendViewModel.cs
  web/tests/Web.E2ETests/Pages/School/BenchmarkItSpendingPage.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolComparisonItSpendViewModel.cs
Due: pipelines/web/build.yaml

feat: Removed exclamation mark displayed before part-year school name in SSR chart
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
Due: pipelines/platform/build.yaml

note
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

feat: Replace part year 'warning' with 'tag' in IT spend chart table
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewModels/SchoolComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/SchoolComparisonItSpend/_ItSpendChart.cshtml
  web/src/Web.App/Views/SchoolComparisonItSpend/_ItSpendTable.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

select specific cols for comparators parquet
  data-pipeline/src/pipeline/comparator_sets/config.py
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

persist raw prepared data
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

correct numbering
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
Due: pipelines/data-pipeline/build.yaml

fix: Updated `VW_TrustFinancialDefault` to fix `LearningResourcesIctCostsSchool` calculation
  core-infrastructure/src/db/Core.Database/Views/002-TrustFinancial.sql
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureEducationalIctActualsExcludeCentral.json
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureEducationalIctActualsIncludeCentral.json
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.ApiTests/Steps/InsightExpenditureSteps.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

reinstate all pipeline
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

chore: Updated failing API tests
  platform/tests/Platform.ApiTests/Data/TrustExpenditureActuals.json
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureQuery.json
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.ApiTests/Steps/InsightExpenditureSteps.cs
Due: pipelines/platform/build.yaml

fix: Updated AAR code code for Grounds Maintenance Costs to `BAE170`
  web/src/Web.App/Domain/CostCodes.cs
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Features/Trust/CompareYourCosts.feature
  web/tests/Web.Tests/Domain/GivenASubCategoryCostCodes.cs
Due: pipelines/web/build.yaml

chore: Update Terraform provider versions and affected deprecations
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/provider.tf
  core-infrastructure/terraform/storage.tf
  data-pipeline/terraform/README.md
  data-pipeline/terraform/container_app/README.md
  data-pipeline/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/provider.tf
  platform/terraform/provider.tf
  platform/terraform/storage.tf
  prototype/terraform/README.md
  prototype/terraform/provider.tf
  support-analytics/terraform/README.md
  support-analytics/terraform/provider.tf
  web/terraform/README.md
  web/terraform/front-door.tf
  web/terraform/provider.tf
  web/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Added checkov exclusions for `CKV_AZURE_33`
  core-infrastructure/terraform/databases.tf
  core-infrastructure/terraform/storage.tf
  platform/terraform/storage.tf
  web/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
