Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

docs: centralise linting and formatting developer guides (#4010)
  .github/workflows/pr-compliance-checks.yml
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  core-infrastructure/.markdownlint-cli2.jsonc
  core-infrastructure/GEMINI.md
  data-pipeline/.markdownlint-cli2.jsonc
  data-pipeline/README.md
  documentation/.markdownlint-cli2.jsonc
  documentation/GEMINI.md
  documentation/developers/01_Getting-Started.md
  documentation/developers/02_Code-Management.md
  documentation/developers/04_Pre-commit-Hooks.md
  documentation/developers/05_Linting-and-Formatting.md
  front-end-components/.markdownlint-cli2.jsonc
  front-end-components/GEMINI.md
  front-end-components/README.md
  pipelines/GEMINI.md
  pipelines/common/markdown-lint.yaml
  pipelines/core-infrastructure/build.yaml
  pipelines/data-pipeline/build.yaml
  pipelines/documentation/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/support-analytics/release.yaml
  pipelines/web/build.yaml
  platform/.markdownlint-cli2.jsonc
  platform/README.md
  support-analytics/.markdownlint-cli2.jsonc
  support-analytics/GEMINI.md
  web/.markdownlint-cli2.jsonc
  web/README.md
  web/src/Web.Shutter/.markdownlint.jsonc
  web/src/Web.Shutter/README.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: consolidates docker compose setup
  data-pipeline/Makefile
  data-pipeline/pipeline-worker/Dockerfile
  data-pipeline/pipeline-worker/docker-entrypoint.sh
  data-pipeline/pipeline-worker/odbc.ini
  docker/docker-compose.yml
  platform/docker/docker-compose.macos.json
  platform/docker/docker-compose.yml
Due: pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml

﻿docs: add centeralised documentation
  core-infrastructure/README.md
  data-pipeline/README.md
  documentation/developers/01_Getting-Started.md
  documentation/developers/06_Local-Environment-with-Docker.md
  platform/README.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/platform/build.yaml

docs: linting fixes
  documentation/developers/06_Local-Environment-with-Docker.md
Due: pipelines/documentation/build.yaml

chore: consolidates docker compose setup (#4009)
  core-infrastructure/README.md
  data-pipeline/Makefile
  data-pipeline/README.md
  data-pipeline/pipeline-worker/Dockerfile
  data-pipeline/pipeline-worker/docker-entrypoint.sh
  data-pipeline/pipeline-worker/odbc.ini
  docker/docker-compose.yml
  documentation/developers/01_Getting-Started.md
  documentation/developers/06_Local-Environment-with-Docker.md
  platform/README.md
  platform/docker/docker-compose.macos.json
  platform/docker/docker-compose.yml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/platform/build.yaml

chore: clean up git ignore file and tracked files
  .gitignore
  .vscode/settings.json
  data-pipeline/.gitignore
  data-pipeline/tests/e2e/.env-example
  data-pipeline/tests/e2e/.env.local
  documentation/.vscode/settings.json
  front-end-components/.gitignore
  pipelines/.vscode/extensions.json
  pipelines/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/launch.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/tasks.json
  web/src/Web.App/.vscode/settings.json
  web/src/Web.Shutter/.vscode/launch.json
  web/src/Web.Shutter/.vscode/settings.json
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

hotfix: fixes line endings
  data-pipeline/pipeline-worker/docker-entrypoint.sh
Due: pipelines/data-pipeline/build.yaml

chore: add .gitattributes file at the root of the repository to enforce LF line endings for shell and INI files.
  .gitattributes
Due: none

wip
  .github/dependabot.yml
  core-infrastructure/Directory.Packages.props
  core-infrastructure/GEMINI.md
  core-infrastructure/global.json
  core-infrastructure/src/db/Core.Database/Core.Database.csproj
  core-infrastructure/src/db/Core.Database/packages.lock.json
  documentation/developers/01_Getting-Started.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/documentation/build.yaml

chore: add build task to validate script naming
  core-infrastructure/src/db/Core.Database/Core.Database.csproj
Due: pipelines/core-infrastructure/build.yaml

docs: update to readme
  core-infrastructure/README.md
Due: pipelines/core-infrastructure/build.yaml

wip
  .github/dependabot.yml
  core-infrastructure/Directory.Packages.props
  core-infrastructure/GEMINI.md
  core-infrastructure/README.md
  core-infrastructure/src/db/Core.Database/Core.Database.csproj
  core-infrastructure/src/db/Core.Database/packages.lock.json
Due: pipelines/core-infrastructure/build.yaml

chore: upgrade db migration app
  .github/dependabot.yml
  core-infrastructure/Directory.Packages.props
  core-infrastructure/GEMINI.md
  core-infrastructure/README.md
  core-infrastructure/global.json
  core-infrastructure/src/db/Core.Database/Core.Database.csproj
  core-infrastructure/src/db/Core.Database/packages.lock.json
  documentation/developers/01_Getting-Started.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/documentation/build.yaml

docs: adds and consolidates design documents
  README.md
  documentation/Makefile
  documentation/design/00_Title.md
  documentation/design/01_Chart-Development-Workflow.md
  documentation/design/02_User-Testing.md
  documentation/design/03_Progressive-Enhancement.md
  documentation/design/04_Branding.md
  documentation/design/images/dfe-rebrand.png
  documentation/design/images/gds-rebrand-progressive.png
  documentation/design/images/gds-rebrand.png
  documentation/developers/19_Gov-Uk-Design-System-Refresh.md
  documentation/features/12_Branding.md
  documentation/features/13_Chart-Rendering-Api.md
  documentation/guides/chart-inconsistency-rationale/01_Inconsistency-Rationale.md
Due: pipelines/documentation/build.yaml

fix: update build pipeline
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

docs: adds and consolidates design documents (#4015)
  README.md
  documentation/Makefile
  documentation/design/00_Title.md
  documentation/design/01_Chart-Development-Workflow.md
  documentation/design/02_User-Testing.md
  documentation/design/03_Progressive-Enhancement.md
  documentation/design/04_Branding.md
  documentation/design/images/dfe-rebrand.png
  documentation/design/images/gds-rebrand-progressive.png
  documentation/design/images/gds-rebrand.png
  documentation/developers/19_Gov-Uk-Design-System-Refresh.md
  documentation/features/12_Branding.md
  documentation/features/13_Chart-Rendering-Api.md
  documentation/guides/chart-inconsistency-rationale/01_Inconsistency-Rationale.md
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

chore: upgrade db migration app (#4014)
  .github/dependabot.yml
  core-infrastructure/Directory.Packages.props
  core-infrastructure/GEMINI.md
  core-infrastructure/README.md
  core-infrastructure/global.json
  core-infrastructure/src/db/Core.Database/Core.Database.csproj
  core-infrastructure/src/db/Core.Database/packages.lock.json
  documentation/developers/01_Getting-Started.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/documentation/build.yaml

feat: add new feature flag for high needs benchmarking
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: add new feature flag for high needs benchmarking (#4035)
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: add new links to LA homepage, conditional based on feature flag
  platform/src/apis/Platform.Api.Content/Properties/launchSettings.json
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

linting
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
Due: pipelines/web/build.yaml

linting
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

revised ADR as per feedback.
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

first draft with potential options
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

Linted
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

Updated ADR as per feedback
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

updated MFA decision
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

fixed typo
  documentation/architecture/decisions/0021-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

rebased main
  documentation/architecture/decisions/0023-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

doc tweak
  documentation/architecture/decisions/0023-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

linted
  documentation/architecture/decisions/0023-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

docs: update ADR as per feedback
  documentation/architecture/decisions/0023-MFA-Handing-in-Automated-tests.md
Due: pipelines/documentation/build.yaml

feat: add new links to LA homepage, conditional based on feature flag (#4036)
  platform/src/apis/Platform.Api.Content/Properties/launchSettings.json
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: refactor local authority comparator selection into a seperate controller
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityComparatorSelectionViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: update uri in a11y & e2e test suite
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingHighNeedsBenchmarking.cs
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingHighNeedsStartBenchmarking.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsStartBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

chore: refactor local authority comparator selection (#4038)
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityComparatorSelectionViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingHighNeedsBenchmarking.cs
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingHighNeedsStartBenchmarking.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsStartBenchmarkingSteps.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: add page scaffolding for education health care plans
  web/src/Web.App/Constants/LocalAuthorityBenchmarkType.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Constants/Referrers.cs
  web/src/Web.App/Controllers/LocalAuthorityComparatorsController.cs
  web/src/Web.App/Controllers/LocalAuthorityEducationHealthCarePlansController.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityEducationHealthCarePlansViewModel.cs
  web/src/Web.App/Views/LocalAuthority/_HighNeeds.cshtml
  web/src/Web.App/Views/LocalAuthorityComparators/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Index.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsBenchmarking.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
