Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: Enabled `931130` (RFI) rule exclusion in WAF policy managed rules
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

Fix grammar and clarify Progress 8 data source details
  documentation/data/sources/ks4-progress-indicator.md
Due: pipelines/documentation/build.yaml

chore: Enabled `TrustItSpendBreakdown` feature by default across all environments
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

chore: Enabled `FbisForTrust` feature by default across all environments
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

completed release notes
  documentation/quality-assurance/release-test-plans/00024_release-test-plan.md
Due: pipelines/documentation/build.yaml

exp: Temporarily allow `feature` environment to be deployed using AFD Premium SKU
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

chore: Purge protection is now enforced via Azure policy, so enable for feature deployments
  pipelines/destroy/destroy.yaml
  pipelines/feature/release.yaml
Due: none

chore: Fixed Azure policy issue when creating a new storage account for Terraform assets
  pipelines/common/run-terraform.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: Integration and unit test coverage over LA financial sort/filter/form post
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/Controllers/WhenLocalAuthorityControllerPosts.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolFinancialViewComponent.cs
Due: pipelines/web/build.yaml

feat: Added remaining columns to LA financials table and stubbed some data
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Domain/Insight/LocalAuthoritySchoolFinancial.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialViewComponent.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsTable.cshtml
Due: pipelines/web/build.yaml

feat: Resolve usability of different combinations of show/hide filter, apply filter and sort data
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialViewComponent.cs
  web/src/Web.App/ViewComponents/SortableTableHeaderCellViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilter.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsTable.cshtml
Due: pipelines/web/build.yaml

feat: Stubbed data and added first columns to LA school financials table
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Domain/Charts/Dimensions.cs
  web/src/Web.App/Domain/Insight/LocalAuthoritySchoolFinancial.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilterHidden.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsTable.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/Domain/Charts/GivenDimensions.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolFinancialViewComponent.cs
Due: pipelines/web/build.yaml

feat: add SpecialClasses (name) column to gias input schemas for all years
  data-pipeline/src/pipeline/input_schemas/gias.py
Due: pipelines/data-pipeline/build.yaml

feat: ingest `SpecialClasses (name)` from gias and persist the values from the raw data to parquet, replace blanks with "Not recorded"
  data-pipeline/src/pipeline/pre_processing/ancillary/combined_gias.py
Due: pipelines/data-pipeline/build.yaml

chore: update data documentation to add new gias columns
  documentation/data/3_Models.md
Due: pipelines/documentation/build.yaml

feat: add new projections to `insert_schools_and_local_authorities()` for the School table - NurseryProvision, SpecialClassProvision, SixthFormProvision
  data-pipeline/src/pipeline/utils/database.py
Due: pipelines/data-pipeline/build.yaml

feat: add new columns for School table to persist gias school data
  core-infrastructure/src/db/Core.Database/Scripts/125-AlterSchoolTable.sql
Due: pipelines/core-infrastructure/build.yaml

chore: update existing tests to assert presence of newly ingested gias column
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_gias.py
Due: pipelines/data-pipeline/build.yaml

fix: add column SchoolName
  core-infrastructure/src/db/Core.Database/Views/030-SchoolsFinancialSummary.sql
Due: pipelines/core-infrastructure/build.yaml

fix: typo in view name
  core-infrastructure/src/db/Core.Database/Views/030-SchoolsFinancialSummary.sql
Due: pipelines/core-infrastructure/build.yaml

feat: create schools financial summary views
  core-infrastructure/src/db/Core.Database/Views/030-SchoolsFinancialSummary.sql
Due: pipelines/core-infrastructure/build.yaml

feat: include PeriodCoveredByReturn
  core-infrastructure/src/db/Core.Database/Views/030-SchoolsFinancialSummary.sql
Due: pipelines/core-infrastructure/build.yaml

wording
  documentation/operational/metrics/014_la-homepage-school-breakdown-table-elements-usage.md
  documentation/operational/metrics/015_la-homepage-high-needs-comparators-clicks.md
  documentation/operational/metrics/016_la-homepage-school-journeys-started.md
Due: pipelines/documentation/build.yaml

Update documentation/data/sources/ks4-progress-indicator.md
  documentation/data/sources/ks4-progress-indicator.md
Due: pipelines/documentation/build.yaml

Fix link format in KS4 progress indicator documentation
  documentation/data/sources/ks4-progress-indicator.md
Due: pipelines/documentation/build.yaml

release plan 2025.10.3 (#3117)
  documentation/quality-assurance/release-test-plans/00024_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: Added 'show all' and 'no results' functionality to LA school financials table
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilter.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsShowAll.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/ViewComponents/GivenALocalAuthoritySchoolFinancialViewComponent.cs
Due: pipelines/web/build.yaml

feat: create schools financial summary views (#3124)
  core-infrastructure/src/db/Core.Database/Views/030-SchoolsFinancialSummary.sql
Due: pipelines/core-infrastructure/build.yaml

feat: add new endpoint to `LocalAuthorityFinances` to return schools financial summary
  platform/src/abstractions/Platform.Domain/NurseryProvision.cs
  platform/src/abstractions/Platform.Domain/SixthFormProvision.cs
  platform/src/abstractions/Platform.Domain/SpecialClassProvision.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/SchoolsFinanceSummaryQueries.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Configuration/Services.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Constants.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetFinanceSummaryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Models/FinanceSummarySortFields.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Parameters/FinanceSummaryParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Responses/FinanceSummaryResponse.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/SchoolsFeature.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Services/SchoolsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Validators/FinanceSummaryParametersValidator.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/GetFinanceSummaryFunctionTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Parameters/FinanceSummaryParametersTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Validators/WhenFinanceSummaryParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

fix: typo in `PeriodCoveredByReturn`
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Responses/FinanceSummaryResponse.cs
Due: pipelines/platform/build.yaml

fix: stray commented out line
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Services/SchoolsService.cs
Due: pipelines/platform/build.yaml

doc: LA Homepage design metrics (#3125)
  documentation/operational/7_Metrics.md
  documentation/operational/metrics/014_la-homepage-school-breakdown-table-elements-usage.md
  documentation/operational/metrics/015_la-homepage-high-needs-comparators-clicks.md
  documentation/operational/metrics/016_la-homepage-school-journeys-started.md
  documentation/operational/metrics/017_la-homepage-change-authority-button-usage.md
Due: pipelines/documentation/build.yaml

fix: support a collection for overallPhase rather than single value
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetFinanceSummaryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Parameters/FinanceSummaryParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Services/SchoolsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Validators/FinanceSummaryParametersValidator.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/GetFinanceSummaryFunctionTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Parameters/FinanceSummaryParametersTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Validators/WhenFinanceSummaryParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

feat: add new endpoint to `LocalAuthorityFinances` to return schools financial summary (#3134)
  platform/src/abstractions/Platform.Domain/NurseryProvision.cs
  platform/src/abstractions/Platform.Domain/SixthFormProvision.cs
  platform/src/abstractions/Platform.Domain/SpecialClassProvision.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/SchoolsFinanceSummaryQueries.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Configuration/Services.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Constants.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetFinanceSummaryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Models/FinanceSummarySortFields.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Parameters/FinanceSummaryParameters.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Responses/FinanceSummaryResponse.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/SchoolsFeature.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Services/SchoolsService.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Validators/FinanceSummaryParametersValidator.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/GetFinanceSummaryFunctionTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Parameters/FinanceSummaryParametersTests.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/Schools/Validators/WhenFinanceSummaryParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
