Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: switch secret refresh to use new func apps
  pipelines/platform/deployment.yaml
Due: pipelines/platform/build.yaml

Update data-pipeline/README.md
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

Revert "Update data-pipeline/README.md"
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

docs: content tweak
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

fix: correct reference to orcherstrator
  pipelines/platform/deployment.yaml
Due: pipelines/platform/build.yaml

docs: Update docs to run the pipeline (#4379)
  data-pipeline/README.md
  documentation/guides/data-release-guide/01_Overview.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

docs: resovle comments
  documentation/guides/transparency-file/1_Current-As-Is-Process.md
  documentation/guides/transparency-file/images/transparency-file-as-is-process.png
Due: pipelines/documentation/build.yaml

docs: add doc for the new way of generating the transparency file
  documentation/guides/transparency-file/2_Pipeline-Generation-Change.md
  documentation/guides/transparency-file/images/transparency-file-change-and-decisions.png
Due: pipelines/documentation/build.yaml

fix: Trust percentage income and expenditure test fixes (#4315)
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureNonEduStaffPercentIncomeIncludeCentral.json
Due: pipelines/platform/build.yaml

fix: use correct storage_account_id for queue resource (#4320)
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

chore: constrain azurerm to 4.76.x (#4319)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

chore: update terraform config by replacing deprecated storage_account_name and updating runbook_type (#4316)
  core-infrastructure/terraform/automation.tf
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

chore: enable SchoolComparisonFilter feature flag in all environments (#4323)
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

chore: bump terraform dependencies (#4312)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: bump Web.App dependencies (#4306)
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

docs: add release plan for upcoming planned release (#4300)
  documentation/quality-assurance/release-test-plans/00034_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: bump Web dependencies (#4308)
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

fix: Trust percentage income and expenditure test fixes (#4314)
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPercentIncome.json
  platform/tests/Platform.ApiTests/Data/TrustsExpenditureNonEduStaffPercentIncomeIncludeCentral.json
Due: pipelines/platform/build.yaml

fix: Calculate percentage expenditure using *total* trust expenditure/income (#4302)
  core-infrastructure/src/db/Core.Database/Views/012-ExpenditureTrust.sql
Due: pipelines/core-infrastructure/build.yaml

chore: bump Platform dependencies (#4311)
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.OpenApi/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthority/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Api.Trust/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthority.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
  platform/tests/Platform.Trust.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bump Web.Shutter dependencies (#4303)
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

fix: normalise trust spending only by total trust spending/income (#4318)
  core-infrastructure/src/db/Core.Database/Views/005-BalanceTrust.sql
Due: pipelines/core-infrastructure/build.yaml

chore: bump ChartRendering dependencies (#4305)
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: bump front-end dependencies (#4307)
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

docs: 313860/data drop step by step (#4325)
  documentation/guides/data-release-guide/01_Overview.md
  documentation/guides/data-release-guide/02_AAR.md
  documentation/guides/data-release-guide/03_CFR.md
  documentation/guides/data-release-guide/04_BFR.md
  documentation/guides/data-release-guide/05_S251.md
Due: pipelines/documentation/build.yaml

docs: LAA data strategy ADR (#4354)
  documentation/architecture/decisions/0023-laa-risk-indicators-data-architecture.md
Due: pipelines/documentation/build.yaml

chore: bump undici from 7.25.0 to 7.28.0 (#4353)
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump terraform dependencies (#4356)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: remove Microsoft.Azure.StackExchangeRedis from dependabot ignore for Platform (#4357)
  .github/dependabot.yml
Due: none

chore: updates to Dependabot configuration (#4301)
  .github/dependabot.yml
Due: none

feat: update referrer policy (#4366)
  web/src/Web.App/web.config
Due: pipelines/web/build.yaml

chore: bump prettier from 3.8.4 to 3.9.4 and lint project (#4369)
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/index.d.ts
Due: pipelines/platform/build.yaml

chore: bump terraform dependencies (#4351)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/modules/fc_function_app/provider.tf
  platform/terraform/modules/function_app/README.md
  platform/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: bump prettier from 3.8.4 to 3.9.4 and lint project (#4370)
  front-end-components/package-lock.json
  front-end-components/package.json
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/views/historic-data-2/types.tsx
Due: pipelines/front-end-components/build.yaml

chore: update test setup for Redis tests to allow package upgrades for StackExchange.Redis and Microsoft.Azure.StackExchangeRedis (#4352)
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheGetSetsObject.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsObject.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsObjects.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsString.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/Cache/WhenRedisDistributedCacheSetsStrings.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.School/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
  platform/tests/Platform.School.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

fix: correctly pass dimension for user defined result in school benchmark spending (#4355)
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

docs: update QA docs for data releases (#4373)
  documentation/quality-assurance/10_Data-Release-Test-Approach.md
  documentation/quality-assurance/11_Data-Release-Test-Plan.md
  documentation/quality-assurance/3_Test-strategy-data-ingestion.md
Due: pipelines/documentation/build.yaml

chore: bump ts-oas to 0.6.0 and remove examples from open api specs (#4377)
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/horizontalBarChart/examples.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/verticalBarChart/examples.ts
Due: pipelines/platform/build.yaml

feat: function apps on flex consumption plan (#4371)
  platform/terraform/modules/fc_function_app/locals.tf
  platform/terraform/modules/fc_function_app/main.tf
  platform/terraform/modules/fc_function_app/variables.tf
Due: pipelines/platform/build.yaml
