Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/web/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

fix: exclude catering net costs for custom-data (#1102)
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

Prototype versioning script
  prototype/src/app/versionUpdate.sh
Due: pipelines/prototype/build.yaml

Prototype update script
  prototype/src/app/versionUpdate.sh
Due: pipelines/prototype/build.yaml

Prototype - Add versioning README
  README.md
  documentation/prototype/0_Title.md
  documentation/prototype/1_Versioning.md
  prototype/src/app/views/compare-trusts/compare.html
Due: pipelines/documentation/build.yaml, pipelines/prototype/build.yaml

feat: User and session queries
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/get-establishment-requests.kql
  core-infrastructure/terraform/queries/get-feature-requests.kql
  core-infrastructure/terraform/queries/get-tracked-links.kql
  core-infrastructure/terraform/queries/session-count-per-day.kql
  core-infrastructure/terraform/queries/session-length-per-day.kql
  core-infrastructure/terraform/queries/user-auth-count-per-day.kql
  core-infrastructure/terraform/queries/user-count-per-day.kql
  core-infrastructure/terraform/queries/user-new-count-per-day.kql
Due: pipelines/core-infrastructure/build.yaml

chore: Replaced `azapi_resource` with `azurerm_portal_dashboard`
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
Due: pipelines/core-infrastructure/build.yaml

feat: Starter MI dashboard
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/feature-requests.kql
  core-infrastructure/terraform/queries/get-establishment-requests.kql
  core-infrastructure/terraform/queries/get-feature-requests.kql
  core-infrastructure/terraform/queries/get-tracked-links.kql
  core-infrastructure/terraform/queries/pipeline-runs.kql
  core-infrastructure/terraform/queries/popular-local-authority-requests-chart.kql
  core-infrastructure/terraform/queries/popular-school-requests-chart.kql
  core-infrastructure/terraform/queries/popular-trust-requests-chart.kql
  core-infrastructure/terraform/queries/tracked-links.kql
Due: pipelines/core-infrastructure/build.yaml

fix: Stopped purge protection being turned on for Key Vaults being synced as part of Destroy pipeline
  pipelines/common/sync-terraform.yaml
  pipelines/core-infrastructure/sync.yaml
  pipelines/destroy/destroy.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/web/build.yaml

feat: Added Operational Information dashboard
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/oi.tpl
  core-infrastructure/terraform/main.tf
Due: pipelines/core-infrastructure/build.yaml

chore: first draft on test plan documentation
  documentation/templates/release-test-plan.md
  documentation/testing/test-plans/20240710_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: update spacing in docs [skip ci]
  documentation/templates/release-test-plan.md
  documentation/testing/test-plans/20240710_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: Assigned app service system defined identity to Cosmos account with read/write role
  web/Directory.Packages.props
  web/src/Web.App/Infrastructure/Cosmos/ClientFactory.cs
  web/src/Web.App/Web.App.csproj
  web/src/Web.App/packages.lock.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/cache.tf
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

release test plan
  documentation/testing/test-plans/20240710_release-test-plan.md
Due: pipelines/documentation/build.yaml

fix: gracefully handle when there is no comparator set
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Domain/Benchmark/SchoolComparatorSet.cs
  web/src/Web.App/Services/SchoolComparatorSetService.cs
  web/src/Web.App/TagHelpers/NavigationTagHelper.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingCensus.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingExpenditure.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

update dfe sign documentation with dsi configuration
  documentation/features/1_Integration-with-DfE-Signin.md
Due: pipelines/documentation/build.yaml

update dfe sign documentation with dsi configuration (#1106)
  documentation/features/1_Integration-with-DfE-Signin.md
Due: pipelines/documentation/build.yaml

fix: fixes response from authorization attribute to return 403 rather than 401
  web/src/Web.App/Attributes/SchoolAuthorizationAttribute.cs
  web/src/Web.App/Attributes/TrustAuthorizationAttribute.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingForecast.cs
Due: pipelines/web/build.yaml

chore: Register managed identity user for each function app service as SQL Server user
  platform/terraform/README.md
  platform/terraform/data.tf
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/provider.tf
  platform/terraform/modules/functions/variables.tf
  platform/terraform/provider.tf
Due: pipelines/platform/build.yaml

chore: Added and consumed managed identity SQL connection string from function app
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/databases.tf
  platform/terraform/data.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

chore: minor formatting change for readability
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

Prototype versioning - Adding version 0.1.0
  prototype/src/app/assets/sass/_v0_1_0.scss
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/routes.js
  prototype/src/app/routes/v0_1_0.js
  prototype/src/app/views/latest/index.html
  prototype/src/app/views/layouts/v0_1_0.html
  prototype/src/app/views/v0_1_0/comparators/building.html
  prototype/src/app/views/v0_1_0/comparators/create.html
  prototype/src/app/views/v0_1_0/comparators/index.html
  prototype/src/app/views/v0_1_0/comparators/pupil.html
  prototype/src/app/views/v0_1_0/comparators/reset.html
  prototype/src/app/views/v0_1_0/find-school.html
  prototype/src/app/views/v0_1_0/find-ways-to-spend-less.html
  prototype/src/app/views/v0_1_0/index.html
  prototype/src/app/views/v0_1_0/layouts/main.html
  prototype/src/app/views/v0_1_0/school-homepage.html
  prototype/src/app/views/v0_1_0/spending-and-costs/category.html
  prototype/src/app/views/v0_1_0/spending-and-costs/index.html
  prototype/src/app/views/v0_1_0/start.html
  prototype/src/app/views/v0_1_0/templates/details-comparators.njk
  prototype/src/app/views/v0_1_0/templates/priority-banner.njk
  prototype/src/app/views/v0_1_0/templates/schools_postcodes.njk
  prototype/src/app/views/v0_1_0/templates/spend-category-details.njk
  prototype/src/app/views/v0_1_0/templates/spend-category.njk
  prototype/src/app/views/v0_1_0/templates/spending-panel.njk
Due: pipelines/prototype/build.yaml

fix: fixes response from authorization attribute to return 403 rather than 401 (#1107)
  web/src/Web.App/Attributes/SchoolAuthorizationAttribute.cs
  web/src/Web.App/Attributes/TrustAuthorizationAttribute.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingForecast.cs
Due: pipelines/web/build.yaml

fix: gracefully handle when there is no comparator set (#1105)
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Domain/Benchmark/SchoolComparatorSet.cs
  web/src/Web.App/Services/SchoolComparatorSetService.cs
  web/src/Web.App/TagHelpers/NavigationTagHelper.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingCensus.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingExpenditure.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

fix: use gias_all_links for Trust info.
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

Prototype - Added version 0.2.0
  prototype/src/app/assets/sass/_v0_2_0.scss
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/routes.js
  prototype/src/app/routes/v0_2_0.js
  prototype/src/app/versionUpdate.sh
  prototype/src/app/views/latest/index.html
  prototype/src/app/views/layouts/v0_2_0.html
  prototype/src/app/views/v0_2_0/comparators/building.html
  prototype/src/app/views/v0_2_0/comparators/create/characteristics.html
  prototype/src/app/views/v0_2_0/comparators/create/index.html
  prototype/src/app/views/v0_2_0/comparators/create/local-authority.html
  prototype/src/app/views/v0_2_0/comparators/create/phase.html
  prototype/src/app/views/v0_2_0/comparators/create/review.html
  prototype/src/app/views/v0_2_0/comparators/create/type.html
  prototype/src/app/views/v0_2_0/comparators/index.html
  prototype/src/app/views/v0_2_0/comparators/pupil.html
  prototype/src/app/views/v0_2_0/comparators/reset.html
  prototype/src/app/views/v0_2_0/find-school.html
  prototype/src/app/views/v0_2_0/find-ways-to-spend-less.html
  prototype/src/app/views/v0_2_0/index.html
  prototype/src/app/views/v0_2_0/local-authority.html
  prototype/src/app/views/v0_2_0/main.html
  prototype/src/app/views/v0_2_0/school-homepage.html
  prototype/src/app/views/v0_2_0/spending-and-costs/category.html
  prototype/src/app/views/v0_2_0/spending-and-costs/index.html
  prototype/src/app/views/v0_2_0/start.html
  prototype/src/app/views/v0_2_0/templates/authorities.json
  prototype/src/app/views/v0_2_0/templates/details-comparators.njk
  prototype/src/app/views/v0_2_0/templates/priority-banner.njk
  prototype/src/app/views/v0_2_0/templates/schools.json
  prototype/src/app/views/v0_2_0/templates/spend-category-details.njk
  prototype/src/app/views/v0_2_0/templates/spend-category.njk
  prototype/src/app/views/v0_2_0/templates/spending-panel.njk
Due: pipelines/prototype/build.yaml

updated the release plan
  documentation/testing/test-plans/20240710_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: bump front-end version
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Sessions dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/functions/get-session-length.kql
  core-infrastructure/terraform/queries/functions/get-sessions.kql
  core-infrastructure/terraform/queries/session-count-per-day.kql
  core-infrastructure/terraform/queries/session-length-per-day.kql
  core-infrastructure/terraform/queries/user-sessions.kql
Due: pipelines/core-infrastructure/build.yaml

feat: Custom Data funnel dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/custom-data-funnel.kql
Due: pipelines/core-infrastructure/build.yaml

chore: Mini refactor of dashboard queries
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/oi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/failures-query-prefix.kql
  core-infrastructure/terraform/queries/functions/get-auth-users.kql
  core-infrastructure/terraform/queries/functions/get-establishment-requests.kql
  core-infrastructure/terraform/queries/functions/get-feature-requests.kql
  core-infrastructure/terraform/queries/functions/get-new-users.kql
  core-infrastructure/terraform/queries/functions/get-tracked-links.kql
  core-infrastructure/terraform/queries/functions/get-users.kql
  core-infrastructure/terraform/queries/popular-local-authority-requests-chart.kql
  core-infrastructure/terraform/queries/popular-school-requests-chart.kql
  core-infrastructure/terraform/queries/popular-trust-requests-chart.kql
  core-infrastructure/terraform/queries/session-count-per-day.kql
  core-infrastructure/terraform/queries/session-length-per-day.kql
  core-infrastructure/terraform/queries/user-auth-count-per-day.kql
  core-infrastructure/terraform/queries/user-count-per-day.kql
  core-infrastructure/terraform/queries/user-new-count-per-day.kql
Due: pipelines/core-infrastructure/build.yaml

feat: Commercial Resources dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/functions/get-commercial-resources.kql
  core-infrastructure/terraform/queries/popular-commercial-resources.kql
Due: pipelines/core-infrastructure/build.yaml

feat: User counts dashboard part
  core-infrastructure/terraform/dashboards.tf
  core-infrastructure/terraform/dashboards/mi.tpl
  core-infrastructure/terraform/queries.tf
  core-infrastructure/terraform/queries/functions/get-new-users.kql
  core-infrastructure/terraform/queries/user-counts.kql
Due: pipelines/core-infrastructure/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
