Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: lint
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: set statistical neighbours as default for high needs comparators (#3653)
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: display selected high needs benchmarking comparators grouped as neighbours or other
  web/src/Web.App/ViewComponents/LocalAuthorityComparatorsViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsStartBenchmarkingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: display selected high needs benchmarking comparators grouped as neighbours or other (#3654)
  web/src/Web.App/ViewComponents/LocalAuthorityComparatorsViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsStartBenchmarkingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: add new form action clear
  web/src/Web.App/Domain/FormAction.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
Due: pipelines/web/build.yaml

feat: add additional buttons to page
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
Due: pipelines/web/build.yaml

feat: add new form options to switch on post
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
Due: pipelines/web/build.yaml

test: add integration test cover for reset and clear behaviour
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

refactor: return `List<string>` from InitialComparatorSetFromNeighbours to simplify controller usage
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
Due: pipelines/web/build.yaml

fix: remove all only displayed when there are comparators
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: add remove all and reset to statistical neighbour buttons to high needs comparators page (#3656)
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/src/Web.App/Domain/FormAction.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: add back link to high needs comparator selection page
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

test: update `CanNavigateBack()`
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: add back link to high needs comparator selection page (#3655)
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: display selected LAs as a grid of cards
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewComponents/RemovableItemCardViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/ViewModels/Components/RemovableItemCardGridViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/src/Web.App/Views/Shared/Components/RemovableItemCardGrid/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

refactor: remove `RemovableItemCardGridViewComponent` and refactor into a shared partial
  web/src/Web.App/ViewComponents/RemovableItemCardViewComponent.cs
  web/src/Web.App/ViewModels/RemovableItemCardGridViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/src/Web.App/Views/Shared/_RemovableItemCardGrid.cshtml
Due: pipelines/web/build.yaml

feat: display selected LAs as a grid of cards (#3657)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewModels/Components/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/ViewModels/RemovableItemCardGridViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
  web/src/Web.App/Views/Shared/_RemovableItemCardGrid.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: update validation for ehcp and high needs endpoints to allow up to 30 la codes
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Validators/HighNeedsParametersValidator.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Validators/EducationHealthCarePlansParametersValidator.cs
  platform/tests/Platform.ApiTests/Features/LocalAuthority/EducationHealthCarePlans.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/EducationHealthCarePlans.cs
  platform/tests/Platform.LocalAuthority.Tests/Features/Accounts/Validators/WhenHighNeedsParametersValidatorValidates.cs
  platform/tests/Platform.LocalAuthority.Tests/Features/EducationHealthCarePlans/Validators/WhenEducationHealthCarePlansParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

test: add test for 19+ comparator validation, and refactor assertions
  web/tests/Web.Integration.Tests/HtmlExtensions.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

feat: update validation for ehcp and high needs endpoints to allow up to 30 la codes (#3658)
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Validators/HighNeedsParametersValidator.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Validators/EducationHealthCarePlansParametersValidator.cs
  platform/tests/Platform.ApiTests/Features/LocalAuthority/EducationHealthCarePlans.feature
  platform/tests/Platform.ApiTests/Steps/LocalAuthority/EducationHealthCarePlans.cs
  platform/tests/Platform.LocalAuthority.Tests/Features/Accounts/Validators/WhenHighNeedsParametersValidatorValidates.cs
  platform/tests/Platform.LocalAuthority.Tests/Features/EducationHealthCarePlans/Validators/WhenEducationHealthCarePlansParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

test: add test for 19+ comparator validation, and refactor assertions (#3660)
  web/tests/Web.Integration.Tests/HtmlExtensions.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

test: update E2E tests for high needs benchmarking journey
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsStartBenchmarking.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsStartBenchmarkingPage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsStartBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

chore: bump additional platform npm dependencies
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

test: update E2E tests for high needs benchmarking journey (#3661)
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsStartBenchmarking.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsStartBenchmarkingPage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsStartBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

chore: bump additional platform npm dependencies (#3662)
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

fix: apply two-thirds width contraint to detail text
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
Due: pipelines/web/build.yaml

fix: add govuk classes to link
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
Due: pipelines/web/build.yaml

fix: create optional section in main layout for backlinks
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

fix: implement backlink as override of main layout section, rather than inside main page content
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
Due: pipelines/web/build.yaml

fix: apply two-thirds width constraint to detail text (#3663)
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
Due: pipelines/web/build.yaml

feat: add copy to page component
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
Due: pipelines/web/build.yaml

fix: remove orderby name to preserve ordering of passed-in neighbour comparators
  web/src/Web.App/ViewModels/Components/LocalAuthorityComparatorsViewModel.cs
Due: pipelines/web/build.yaml

Feature/280605/301014 statistical neighbour ordering (#3665)
  web/src/Web.App/ViewModels/Components/LocalAuthorityComparatorsViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthorityComparators/Default.cshtml
Due: pipelines/web/build.yaml

Feature/280605/300819 reposition back link (#3664)
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Comparators.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

doc: first draft release plan
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

fix: spelling
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: add details for bug fix
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: update test plans
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

fix: correct test summary
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: update risk analysis following discussion
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
