Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

bugfix: fixes period covered by return logic (#1438)
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

bugfix: ensures finance values are written when CS is nan
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

bugfix: ensures finance values are written when CS is nan (#1442)
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

updated release plan with the tickets.
  documentation/quality-assurance/release-test-plans/00007_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

updated release plan
  documentation/quality-assurance/release-test-plans/00007_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

bugfix: fixes null direct revenue values
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
Due: pipelines/data-pipeline/build.yaml

fix: fix casing for PupilReferralUnit
  web/src/Web.App/Domain/OverallPhaseTypes.cs
Due: pipelines/web/build.yaml

chore: update test
  web/tests/Web.Tests/Infrastructure/Apis/Requests/GivenAPostSchoolComparatorsRequest.cs
Due: pipelines/web/build.yaml

feat: Automation runbook to backup database and publish to blob storage [wip]
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/automation.tf
  core-infrastructure/terraform/logic-app.tf
  core-infrastructure/terraform/scripts/backup-database.ps1
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

fix: correct Revenue Reserve calculations
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_academies.py
Due: pipelines/data-pipeline/build.yaml

fix: casing for PupilReferralUnit (#1444)
  web/src/Web.App/Domain/OverallPhaseTypes.cs
  web/tests/Web.Tests/Infrastructure/Apis/Requests/GivenAPostSchoolComparatorsRequest.cs
Due: pipelines/web/build.yaml

bugfix: fixes period covered by return
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

chore: Revert 191e6c204bcfb460748d5551189e96471ada14dd (#1384)
  pipelines/support-analytics/release.yaml
Due: pipelines/support-analytics/release.yaml

bugfix: fixes null direct revenue values (#1443)
  data-pipeline/src/pipeline/config.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
Due: pipelines/data-pipeline/build.yaml

fix: correct Revenue Reserve calculations (#1445)
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_academies.py
Due: pipelines/data-pipeline/build.yaml

completed release plan
  documentation/quality-assurance/release-test-plans/00007_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

typo correct
  documentation/quality-assurance/release-test-plans/00007_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

﻿removed status mappings
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

Rename methods to be more explicit
  data-pipeline/src/pipeline/mappings.py
Due: pipelines/data-pipeline/build.yaml

Doc/release test plan 09 10 24 (#1447)
  documentation/quality-assurance/release-test-plans/00007_reelase-test-plan.md
Due: pipelines/documentation/build.yaml

remove TODO comment
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

bugfix: only show schools that are in current submission for la's & trust's
  platform/src/apis/Platform.Api.Establishment/LocalAuthorities/LocalAuthoritiesService.cs
  platform/src/apis/Platform.Api.Establishment/Trusts/TrustsService.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

fix: retain Trust Revenue reserve column
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

bugfix: year mismatch to return data (#1446)
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

fix: retain Trust Revenue reserve column (#1449)
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

data seeding in testing environment.
  documentation/quality-assurance/6_Data-Seeding-in-Test-Environment.md
Due: pipelines/documentation/build.yaml

feat: Automation runbook to backup database and publish to blob storage [wip]
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/automation.tf
  core-infrastructure/terraform/scripts/backup-database.ps1
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

feat: Logic App to backup database and publish to blob storage [wip]
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/logic-app.tf
Due: pipelines/core-infrastructure/build.yaml

feat: Use `SqlPackage` instead of `New-AzSqlDatabaseExport` in automation runbook
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/automation.tf
  core-infrastructure/terraform/logic-app.tf
  core-infrastructure/terraform/scripts/backup-database.ps1
Due: pipelines/core-infrastructure/build.yaml

chore: Resolve TF static analysis
  core-infrastructure/terraform/automation.tf
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

chore: Publish security scan results back to repo [WIP]
  .gitignore
  pipelines/common/push-repo-artifacts.yaml
  pipelines/common/scripts/.env
  pipelines/common/scripts/index.ts
  pipelines/common/scripts/package-lock.json
  pipelines/common/scripts/package.json
  pipelines/common/scripts/tsconfig.json
  pipelines/common/scripts/types.d.ts
  pipelines/platform/security-scan.yaml
  pipelines/platform/zaproxy/.artifactignore
  pipelines/web/security-scan.yaml
  pipelines/web/zaproxy/.artifactignore
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Abandon `octokit` and instead tag commit to trigger Pull Request via GHA
  .github/workflows/updated-documentation-pr.yml
  .gitignore
  pipelines/common/push-repo-artifacts.yaml
  pipelines/common/scripts/.env
  pipelines/common/scripts/index.ts
  pipelines/common/scripts/package-lock.json
  pipelines/common/scripts/package.json
  pipelines/common/scripts/tsconfig.json
  pipelines/common/scripts/types.d.ts
  pipelines/platform/security-scan.yaml
  pipelines/web/security-scan.yaml
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

bugfix: only show schools that are in current submission for la's & trust's (#1448)
  platform/src/apis/Platform.Api.Establishment/LocalAuthorities/LocalAuthoritiesService.cs
  platform/src/apis/Platform.Api.Establishment/Trusts/TrustsService.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ExpenditureProxyController.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
