Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra make
  - task: Npm@1
    inputs:
      command: custom
      customCommand: install -g @mermaid-js/mermaid-cli
  - bash: make architecture-pdf
    workingDirectory: $(WorkingDir)
  - task: PublishPipelineArtifact@1
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: use make in pipeline [skip ci]
  pipelines/documentation/build.yaml
Due: none

chore: call build script directly [skip ci]
  pipelines/documentation/build.yaml
Due: none

chore: updates template path [skip ci]
  pipelines/documentation/build.yaml
Due: none

chore: set data dir [skip ci]
  pipelines/documentation/build.yaml
Due: none

chore: install extra fonts [skip ci]
  pipelines/documentation/build.yaml
Due: none

chore: adjust params [skip ci]
  pipelines/documentation/build.yaml
Due: none

chore: update output path [skip ci]
  pipelines/documentation/build.yaml
Due: none

feat: initial infrastructure work for api deployment.
  data-pipeline/Makefile
  data-pipeline/docker/api/Dockerfile
  data-pipeline/docker/api/docker-entrypoint.sh
  data-pipeline/docker/docker-compose.yml
  data-pipeline/terraform/container_apps.tf
  data-pipeline/terraform/terraform.tfvars
  data-pipeline/terraform/variables.tf
  pipelines/common/run-terraform.yaml
  pipelines/data-pipeline/deployment.yaml
  pipelines/data-pipeline/steps/build-push-image.yaml
Due: pipelines/data-pipeline/build.yaml

chore: making images work in PDF
  .gitignore
  documentation/tools/build-docs.sh
Due: pipelines/documentation/build.yaml

chore: Doc updates
  documentation/architecture/3_Constraints-and-Principals.md
  documentation/architecture/decisions/0001-data-storage.md
  documentation/architecture/decisions/0001-decision-option-template.md
  documentation/architecture/decisions/0002-development-data.md
  documentation/architecture/decisions/0003-front-end-framework.md
  documentation/architecture/decisions/0004-pipeline-processing-development-language.md
  documentation/architecture/decisions/0005-pipeline-processing-development-language.md
Due: pipelines/documentation/build.yaml

feat: Updated APIs and models based on Platform changes
  web/src/Web.App/Domain/Finances.cs
  web/src/Web.App/Domain/FloorAreaMetric.cs
  web/src/Web.App/Infrastructure/Apis/CensusApi.cs
  web/src/Web.App/Infrastructure/Apis/InsightApi.cs
  web/src/Web.App/Services/FinanceService.cs
  web/tests/Web.Tests/Infrastructure/GivenACensusApi.cs
  web/tests/Web.Tests/Infrastructure/GivenAnInsightApi.cs
Due: none

feat: Skeleton for Custom Data journey, with `/change` route behind Auth and Feature guards
  web/src/Web.App/Constants/BreadcrumbNodes.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/Controllers/SchoolCustomDataController.cs
  web/src/Web.App/ViewModels/SchoolCustomDataChangeViewModel.cs
  web/src/Web.App/ViewModels/SchoolCustomDataViewModel.cs
  web/src/Web.App/Views/SchoolCustomData/Index.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/Index.cshtml
Due: none

chore: Lint fixes
  platform/src/abstractions/Platform.Domain/Census.cs
  platform/src/abstractions/Platform.Domain/Responses/FloorAreaResponseModel.cs
  platform/src/apis/Platform.Api.Insight/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Db/CensusDb.cs
  platform/src/apis/Platform.Api.Insight/Db/FinancesDb.cs
  platform/src/apis/Platform.Api.Insight/Db/SchoolFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/SchoolFinanceFunctions.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/Controllers/SchoolCustomDataController.cs
  web/src/Web.App/Infrastructure/Apis/CensusApi.cs
  web/src/Web.App/Infrastructure/Apis/InsightApi.cs
  web/src/Web.App/Services/FinanceService.cs
  web/src/Web.App/ViewModels/SchoolCustomDataChangeViewModel.cs
  web/tests/Web.Tests/Infrastructure/GivenACensusApi.cs
  web/tests/Web.Tests/Infrastructure/GivenAnInsightApi.cs
Due: pipelines/platform/build.yaml

feat: Updated functions to get `Census` data by single school URN
  platform/src/abstractions/Platform.Domain/Census.cs
  platform/src/apis/Platform.Api.Insight/CensusFunctions.cs
  platform/src/apis/Platform.Api.Insight/Db/CensusDb.cs
  platform/tests/Platform.Tests/Insight/Census/CensusFunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetCensusRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesGetWorkforceHistoryRequest.cs
  platform/tests/Platform.Tests/Insight/Census/WhenFunctionReceivesQueryWorkforceRequest.cs
Due: pipelines/platform/build.yaml

feat: Added and documented `CustomData` feature flag
  web/README.md
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/appsettings.Development.json
  web/src/Web.App/appsettings.Integration.json
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: none

feat: New API endpoint to return `FloorArea` metric for a given school
  platform/src/abstractions/Platform.Domain/Responses/FloorAreaResponseModel.cs
  platform/src/apis/Platform.Api.Insight/Db/SchoolMetricsDb.cs
  platform/src/apis/Platform.Api.Insight/SchoolMetricFunctions.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  platform/tests/Platform.Tests/Insight/SchoolMetric/SchoolMetricFunctionsTestBase.cs
  platform/tests/Platform.Tests/Insight/SchoolMetric/WhenFunctionReceivesGetWorkforceHistoryRequest.cs
Due: pipelines/platform/build.yaml

feat: Updated functions to get `Income` and `Expenditure` data by single school URN
  platform/src/abstractions/Platform.Domain/Responses/FinancesResponseModel.cs
  platform/src/apis/Platform.Api.Insight/Db/FinancesDb.cs
  platform/src/apis/Platform.Api.Insight/Db/SchoolFinancesDb.cs
  platform/src/apis/Platform.Api.Insight/SchoolFinanceFunctions.cs
  platform/tests/Platform.Tests/Insight/SchoolFinance/WhenFunctionReceivesGetExpenditureRequest.cs
  platform/tests/Platform.Tests/Insight/SchoolFinance/WhenFunctionReceivesGetIncomeRequest.cs
Due: pipelines/platform/build.yaml

chore: Config and doc updates
  platform/.run/Debug API functions.run.xml
  platform/.run/Platform.Api.Benchmark.run.xml
  platform/.run/Platform.Api.Establishment.run.xml
  platform/.run/Platform.Api.Insight.run.xml
  platform/.run/Platform.Orchestrator.run.xml
  platform/.run/docker_ Compose Deployment.run.xml
  platform/README.md
  platform/src/apis/Platform.Orchestrator/Platform.Orchestrator.csproj
Due: pipelines/platform/build.yaml

chore: Added Azure Data Factory linked service for SQL Database
  supporting-data/terraform/data-factory.tf
Due: pipelines/supporting-data/build.yaml

chore: updates developer documentation
  README.md
  documentation/developers/0_Title.md
  documentation/developers/1_Getting-Started.md
  documentation/developers/2_Branching-Policy.md
  documentation/developers/3_Repository-Access-Policy.md
  documentation/developers/4_Session-Data.md
  documentation/developers/5_Cookies.md
  documentation/developers/6_Integration-with-DfE-Signin.md
  documentation/developers/7_Features.md
  documentation/developers/8_Troubleshooting.md
  documentation/developers/9_Additional-Resources.md
  documentation/developers/features/0001_find-organisation.md
  documentation/developers/features/0002_spending-and-costs.md
  documentation/developers/features/0003_incomplete-data.md
  documentation/introduction-goals.md
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

chore: tweaks to formatting and layout
  documentation/architecture/0_Title.md
  documentation/developers/0_Title.md
  documentation/developers/1_Getting-Started.md
  documentation/developers/2_Branching-Policy.md
  documentation/developers/3_Repository-Access-Policy.md
  documentation/developers/4_Session-State.md
  documentation/developers/5_Cookies.md
  documentation/developers/6_Integration-with-DfE-Signin.md
  documentation/developers/7_Features.md
  documentation/developers/7_Troubleshooting.md
  documentation/developers/8_Additional-Resources.md
  documentation/developers/9_Additional-Resources.md
  documentation/developers/features/0001_find-organisation.md
  documentation/developers/features/0002_spending-and-costs.md
  documentation/developers/features/0003_incomplete-data.md
Due: pipelines/documentation/build.yaml

chore: move images to relevent folder
  documentation/developers/features/0001_find-organisation.md
  documentation/developers/features/0002_spending-and-costs.md
  documentation/developers/features/0003_incomplete-data.md
  documentation/developers/images/find-organisation-ui-1.png
  documentation/developers/images/find-organisation-ui-2.png
  documentation/developers/images/find-organisation-ui-3.png
  documentation/developers/images/find-organisation-ui-4.png
  documentation/developers/images/spending-and-costs-ui-1.png
  documentation/developers/images/spending-and-costs-ui-2.png
  documentation/testing/images/agile-testing-quadrants.png
  documentation/testing/images/path-to-live.jpg
  documentation/testing/images/testing-pyramid.png
  documentation/testing/images/types-of-testing.jpg
Due: pipelines/documentation/build.yaml

chore: restructure folders and update pipeline
  documentation/architecture/10_Data-Processing.md
  documentation/developers/4_Cookies.md
  documentation/developers/5_Troubleshooting.md
  documentation/developers/6_Additional-Resources.md
  documentation/features/0_Title.md
  documentation/features/1_Integration-with-DfE-Signin.md
  documentation/features/2_Session-State.md
  documentation/features/3_Incomplete-Data.md
  documentation/features/4_Spending-and-Costs.md
  documentation/features/5_Find-Organisation.md
  documentation/features/images/find-organisation-ui-1.png
  documentation/features/images/find-organisation-ui-2.png
  documentation/features/images/find-organisation-ui-3.png
  documentation/features/images/find-organisation-ui-4.png
  documentation/features/images/spending-and-costs-ui-1.png
  documentation/features/images/spending-and-costs-ui-2.png
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

chore: formatting updates
  documentation/architecture/10_Data-Processing.md
  documentation/architecture/11_Decisions.md
  documentation/architecture/1_Introduction.md
  documentation/architecture/2_Business-Context.md
  documentation/architecture/3_Constraints-and-Principals.md
  documentation/architecture/4_Non-Functional-Requirements.md
  documentation/architecture/5_Information-Architecture.md
  documentation/architecture/6_Application-Architecture.md
  documentation/architecture/7_Logical-Architecture.md
  documentation/architecture/8_Deployment-Architecture.md
  documentation/architecture/9_Security-Architecture.md
  documentation/architecture/decisions/0001-data-storage.md
  documentation/architecture/decisions/0002-development-data.md
  documentation/architecture/decisions/0003-front-end-framework.md
  documentation/architecture/decisions/0004-pipeline-processing-development-language.md
Due: pipelines/documentation/build.yaml

chore: reverst table formatting
  documentation/architecture/10_Data-Processing.md
  documentation/architecture/11_Decisions.md
  documentation/architecture/1_Introduction.md
  documentation/architecture/2_Business-Context.md
  documentation/architecture/3_Constraints-and-Principals.md
  documentation/architecture/4_Non-Functional-Requirements.md
  documentation/architecture/5_Information-Architecture.md
  documentation/architecture/6_Application-Architecture.md
  documentation/architecture/7_Logical-Architecture.md
  documentation/architecture/8_Deployment-Architecture.md
  documentation/architecture/9_Security-Architecture.md
  documentation/architecture/decisions/0001-data-storage.md
  documentation/architecture/decisions/0002-development-data.md
  documentation/architecture/decisions/0003-front-end-framework.md
  documentation/developers/4_Cookies.md
  documentation/features/1_Integration-with-DfE-Signin.md
  documentation/features/4_Spending-and-Costs.md
  documentation/features/5_Find-Organisation.md
Due: pipelines/documentation/build.yaml

chore: add testing documentation to pipeline
  README.md
  core-infrastructure/README.md
  documentation/.adr-dir
  documentation/architecture/8_Deployment-Architecture.md
  documentation/developers/1_Getting-Started.md
  documentation/developers/2_Branching-Policy.md
  documentation/developers/3_Repository-Access-Policy.md
  documentation/developers/4_Cookies.md
  documentation/features/1_Integration-with-DfE-Signin.md
  documentation/features/2_Session-State.md
  documentation/features/5_Find-Organisation.md
  documentation/glossary.md
  documentation/testing/1_Test-Approach.md
  documentation/testing/2_Test-Plan.md
  documentation/testing/3_Security-Testing.md
  documentation/testing/4_Test-Data-Prep.md
  documentation/testing/Decisions/0001_Test-Data-Storage-and-Retrieval.md
  documentation/testing/Decisions/0002_Testing-Pipeline-Setup-Options.md
  documentation/testing/Decisions/Test-Data-Storage-and-Retrieval.md
  front-end-components/README.md
  pipelines/documentation/build.yaml
  platform/README.md
  web/README.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

chore: adds missing title page
  core-infrastructure/terraform/acr.tf
  documentation/testing/0_Title.md
  documentation/testing/images/agile-testing-quadrants.png
  documentation/testing/images/testing-pyramid.png
Due: pipelines/core-infrastructure/build.yaml, pipelines/documentation/build.yaml

chore: testing doc formatting
  documentation/testing/1_Test-Approach.md
Due: pipelines/documentation/build.yaml

chore: add currnent date to template
  documentation/tools/templates/pdf-template.latex
Due: pipelines/documentation/build.yaml

chore: try again to add currnent date to template
  documentation/tools/templates/pdf-template.latex
Due: pipelines/documentation/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/supporting-data/build.yaml: any of: supporting-data
