Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

preferentially use self.year
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/it_spend.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/preprocessor.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_forecast_and_risk.py
Due: pipelines/data-pipeline/build.yaml

imports
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/it_spend.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/preprocessor.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/conftest.py
Due: pipelines/data-pipeline/build.yaml

it spend tests
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_it_spend.py
Due: pipelines/data-pipeline/build.yaml

fluff delete
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_it_spend.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_it_spend.py
Due: pipelines/data-pipeline/build.yaml

fix it spend tests
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_it_spend.py
Due: pipelines/data-pipeline/build.yaml

half fixes
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_forecast_and_risk.py
Due: pipelines/data-pipeline/build.yaml

fix 1
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_forecast_and_risk.py
Due: pipelines/data-pipeline/build.yaml

rejig mcks
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/loader.py
Due: pipelines/data-pipeline/build.yaml

feat: add download data to trust to trust it spend benchmarking page for previous year data only. Adds integration tests.
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendFilter.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenRequestingComparisonItSpendDownload.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

preprocessing tests
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/bfr_pyspark_mocks.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/preprocessor.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_preprocessing.py
Due: pipelines/data-pipeline/build.yaml

feat: Get and de-aggregate Trust forecast per-IT subcategory if authorised to do so
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Domain/Insight/ItSpend.cs
  web/src/Web.App/Infrastructure/Apis/Insight/Api.cs
  web/src/Web.App/Infrastructure/Apis/Insight/ItSpendApi.cs
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/ViewModels/TrustComparisonSubCategoriesViewModel.cs
  web/tests/Web.Tests/Infrastructure/GivenAnItSpendApi.cs
  web/tests/Web.Tests/ViewModels/GivenATrustComparisonItSpendViewModel.cs
  web/tests/Web.Tests/ViewModels/GivenATrustComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

feat: Added 'trust authorisation' check to Trust IT page
  web/src/Web.App/Attributes/TrustAuthorizationAttribute.cs
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Extensions/ClaimsPrincipalExtensions.cs
  web/tests/Web.Tests/Attributes/GivenATrustAuthorizationAttribute.cs
  web/tests/Web.Tests/Extensions/GivenAClaimsPrincipal.cs
Due: pipelines/web/build.yaml

feat: Set domain for Trust IT spend charts if forecast data available
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/TrustComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/ChartRequest.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Tests/Domain/Charts/GivenATrustComparisonItSpendHorizontalBarChartRequest.cs
  web/tests/Web.Tests/Domain/Charts/GivenATrustForecastItSpendHorizontalBarChartRequest.cs
Due: pipelines/web/build.yaml

chore: add basic unit tests for TrustItSpendChartService
  web/tests/Web.Tests/Services/WhenTrustItSpendChartServiceIsCalled.cs
Due: pipelines/web/build.yaml

chore: extract methods for chart request building and api calls into service
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/Services/TrustItSpendChartService.cs
Due: pipelines/web/build.yaml

feat: Added Trust IT spend forecast chart to page if authorised to view
  web/src/Web.App/Domain/Charts/TrustComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendChart.cshtml
  web/tests/Web.Tests/Domain/Charts/GivenATrustForecastItSpendHorizontalBarChartRequest.cs
Due: pipelines/web/build.yaml

chore: add integration test for forecast chart on trust benchmark IT spending
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
Due: pipelines/web/build.yaml

feat: Request Trust IT spend forecast SSR charts if user authorised to do so
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/GroupType.cs
  web/src/Web.App/Domain/Charts/TrustComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/ViewModels/TrustComparisonSubCategoriesViewModel.cs
  web/tests/Web.Tests/Domain/Charts/GivenATrustForecastItSpendHorizontalBarChartRequest.cs
  web/tests/Web.Tests/ViewModels/GivenATrustComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

chore: Additional test coverage over `TrustItSpendChartService`
  web/src/Web.App/Services/TrustItSpendChartService.cs
  web/tests/Web.Tests/Services/WhenTrustItSpendChartServiceIsCalled.cs
Due: pipelines/web/build.yaml

chore: update test setup for chartRenderingApi to deal with both types required for PostHorizontalBarCharts. Reverted changes to SetupChartRendering<T> method
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
Due: pipelines/web/build.yaml

chore: remove filtering by negative and zero values
  web/src/Web.App/ViewModels/TrustComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

chore: Prevented `[0,0]` domains by using arbitrary max value
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
Due: pipelines/platform/build.yaml

stash
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/bfr_pyspark_mocks.py
Due: pipelines/data-pipeline/build.yaml

tests for forecast and risk
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_forecast_and_risk.py
Due: pipelines/data-pipeline/build.yaml

tests for forecast and risk
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/forecast_and_risk.py
Due: pipelines/data-pipeline/build.yaml

expand test coverage
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_forecast_and_risk.py
Due: pipelines/data-pipeline/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
