Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

docs: add Clarity explanation docs (#4507)
  docs/content/explanation/developers/microsoft-clarity.md
Due: none

feat: create initial school risks and history pages (#4506)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolRisksController.cs
  web/src/Web.App/ViewModels/SchoolRisksHistoryViewModel.cs
  web/src/Web.App/ViewModels/SchoolRisksViewModel.cs
  web/src/Web.App/Views/LocalAuthorityRisks/_SortablePagedTable.cshtml
  web/src/Web.App/Views/SchoolRisks/History.cshtml
  web/src/Web.App/Views/SchoolRisks/Index.cshtml
  web/src/Web.App/Views/SchoolRisks/_HistoryIntroduction.cshtml
  web/src/Web.App/Views/SchoolRisks/_HistoryPageActions.cshtml
  web/tests/Web.Integration.Tests/Pages/WhenAFeatureIsDisabled.cs
  web/tests/Web.Integration.Tests/Pages/WhenAUserWithoutValidClaim.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: create get school risks history api endpoint (#4509)
  platform/src/abstractions/Platform.Sql/QueryBuilders/SchoolRisksQueries.cs
  platform/src/apis/Platform.Api.School/Configuration/Services.cs
  platform/src/apis/Platform.Api.School/Constants.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Functions/GetSchoolRisksHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Handlers/GetSchoolRisksHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Mapper.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Models/RisksHistoryModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Models/SchoolRisksHistoryResponse.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Models/SchoolRisksResponse.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Models/YearsModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Risks/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Services/SchoolRisksService.cs
  platform/tests/Platform.School.Tests/Features/Risks/Functions/GetSchoolRisksHistoryFunctionTests.cs
  platform/tests/Platform.School.Tests/Features/Risks/Handlers/GetSchoolRisksHistoryHandlerTests.cs
  platform/tests/Platform.School.Tests/Features/Risks/Mappers/WhenMappingSchoolRisksHistory.cs
Due: pipelines/platform/build.yaml

feat: implement line chart generator using string templates
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/index.html
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/styles.css
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/validator.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/index.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/lineChart/api.ts
Due: pipelines/platform/build.yaml

chore: rename LineChart directory to lineChart
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/dom/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/validator.ts
Due: pipelines/platform/build.yaml

test: add validator tests
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/lineChart/validator.test.ts
Due: pipelines/platform/build.yaml

feat: implement DOM line chart generator
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/dom/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/index.html
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/styles.css
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/index.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/lineChart/api.ts
Due: pipelines/platform/build.yaml

chore(local-dev): remove temporary index.html and styles used for local testing
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/index.html
  platform/src/apis/Platform.Api.ChartRendering/src/functions/LineChart/styles.css
Due: pipelines/platform/build.yaml

chore: lint
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/lineChart/validator.test.ts
Due: pipelines/platform/build.yaml

feat: add lineChart endpoint to Platform.ChartRendering (#4510)
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/dom/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/route.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/validator.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/index.ts
  platform/src/apis/Platform.Api.ChartRendering/src/openapi/lineChart/api.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/lineChart/validator.test.ts
Due: pipelines/platform/build.yaml

docs: final tweaks
  documentation/quality-assurance/data-release-test-plans/00005_CFR-2025-2026-data-release.md
  documentation/quality-assurance/release-test-plans/00036_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: formatting table
  documentation/quality-assurance/data-release-test-plans/00005_CFR-2025-2026-data-release.md
Due: pipelines/documentation/build.yaml

feat: wire up school risk history page to display chart and table data
  platform/src/apis/Platform.Api.School/Features/Risks/Mapper.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Models/RisksHistoryModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Models/SchoolRisksResponse.cs
  platform/tests/Platform.School.Tests/Features/Risks/Mappers/WhenMappingSchoolRisksHistory.cs
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolRisksController.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthorityRiskIndicators.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostLineChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ChartRenderingApi.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/ViewModels/SchoolRisksHistoryViewModel.cs
  web/src/Web.App/Views/SchoolRisks/History.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryChart.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistorySections.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryTable.cshtml
  web/src/Web.App/Views/SchoolRisks/_HistoryIntroduction.cshtml
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

docs: update responsibilities section
  documentation/quality-assurance/data-release-test-plans/00005_CFR-2025-2026-data-release.md
Due: pipelines/documentation/build.yaml

chore: resolve PR feedback
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostLineChartRequest.cs
Due: pipelines/web/build.yaml

docs: test plan for CFR 2025/26 data release (#4464)
  documentation/quality-assurance/data-release-test-plans/00005_CFR-2025-2026-data-release.md
  documentation/quality-assurance/release-test-plans/00036_release-test-plan.md
Due: pipelines/documentation/build.yaml

feat: wire up school risk history page to display chart and table data (#4511)
  platform/src/apis/Platform.Api.School/Features/Risks/Mapper.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Models/RisksHistoryModelDto.cs
  platform/src/apis/Platform.Api.School/Features/Risks/Models/SchoolRisksResponse.cs
  platform/tests/Platform.School.Tests/Features/Risks/Mappers/WhenMappingSchoolRisksHistory.cs
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolRisksController.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthorityRiskIndicators.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostLineChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ChartRenderingApi.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/ViewModels/SchoolRisksHistoryViewModel.cs
  web/src/Web.App/Views/SchoolRisks/History.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryChart.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistorySections.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryTable.cshtml
  web/src/Web.App/Views/SchoolRisks/_HistoryIntroduction.cshtml
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: add page actions to school risk history page
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolRisksController.cs
  web/src/Web.App/Views/SchoolRisks/History.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryChart.cshtml
  web/src/Web.App/Views/SchoolRisks/_HistoryPageActions.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Risks/WhenRequestingRisksDownload.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

Update pipeline-trigger-message.md
  docs/content/explanation/data/pipeline-trigger-message.md
Due: none

Update pipeline-trigger-message.md
  docs/content/reference/data/pipeline-trigger-message.md
Due: none

feat: add site verification meta tag to head
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

docs: Schema and notes for data pipeline triggers (#4420)
  AGENTS.md
  docs/content/explanation/data/pipeline-trigger-message.md
  docs/content/how-to/data-release-guide/index.md
  docs/content/reference/data/pipeline-trigger-message.md
  docs/content/reference/data/releases.md
Due: none

feat: add page actions to school risk history page (#4513)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolRisksController.cs
  web/src/Web.App/Views/SchoolRisks/History.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryChart.cshtml
  web/src/Web.App/Views/SchoolRisks/_HistoryPageActions.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Risks/WhenRequestingRisksDownload.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

test: add integration tests for school risks history
  web/src/Web.App/Views/SchoolRisks/_DisplayHistorySections.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Risks/WhenViewingRisksHistory.cs
Due: pipelines/web/build.yaml

fix: gracefully handle chart rendering api failure
  web/src/Web.App/Controllers/SchoolRisksController.cs
Due: pipelines/web/build.yaml

fix: ensure table formatting for school risks history tables are consistent
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryTable.cshtml
Due: pipelines/web/build.yaml

test: add integration tests for school risks history (#4514)
  web/src/Web.App/Controllers/SchoolRisksController.cs
  web/src/Web.App/Views/SchoolRisks/_DisplayHistorySections.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryTable.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Risks/WhenViewingRisksHistory.cs
Due: pipelines/web/build.yaml

test: add template for WhenViewingRisksHistory a11y test
  web/tests/Web.A11yTests/Pages/Schools/Risks/WhenViewingRisksHistory.cs
Due: pipelines/web/build.yaml

test: add template for WhenViewingRisksHistory a11y test (#4515)
  web/tests/Web.A11yTests/Pages/Schools/Risks/WhenViewingRisksHistory.cs
Due: pipelines/web/build.yaml

feat: add site verification meta tag to head (#4517)
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

feat: add 2026 schemas for BFR
  data-pipeline/src/pipeline/input_schemas/bfr.py
Due: pipelines/data-pipeline/build.yaml

feat: improvements to school risks history for line charts and chart/table headings
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/lineChart/template.ts
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolRisksController.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthorityRiskIndicators.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostLineChartRequest.cs
  web/src/Web.App/ViewModels/SchoolRisksHistoryViewModel.cs
  web/src/Web.App/Views/SchoolRisks/_DisplayHistorySections.cshtml
  web/src/Web.App/Views/SchoolRisks/_DisplayHistoryTable.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Risks/WhenViewingRisksHistory.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: add 2026 schemas for BFR (#4518)
  data-pipeline/src/pipeline/input_schemas/bfr.py
Due: pipelines/data-pipeline/build.yaml

docs: add test plan for BFR release
  documentation/quality-assurance/data-release-test-plans/00006_BFR-2025-2026-data-release.md
Due: pipelines/documentation/build.yaml

test: add functional api tests for school risks history endpoint
  platform/tests/Platform.ApiTests/Data/School/Risks/history.json
  platform/tests/Platform.ApiTests/Features/School/Risks/Risks.feature
  platform/tests/Platform.ApiTests/Steps/School/Risks/RisksSteps.cs
  test-data/LASchoolRiskIndicatorsHeaders.csv
Due: pipelines/platform/build.yaml

bugfix: slope and slope flag shouldn't be null
  data-pipeline/src/pipeline/pre_processing/bfr/calculations.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
Due: pipelines/data-pipeline/build.yaml

fix: Slope and slope flag are null in BFR metrics (#4522)
  data-pipeline/src/pipeline/pre_processing/bfr/calculations.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
Due: pipelines/data-pipeline/build.yaml

feat: change CFR Community Grant aggregation from I16+I18 to I16+I17
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/financials.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
Due: pipelines/data-pipeline/build.yaml

feat: transparency file tweaks
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/ancillary_data.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/generator.py
  data-pipeline/src/pipeline/pre_processing/common/mappings.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/pre_processing/cfr_transparency_file/test_generator.py
  data-pipeline/tests/unit/pre_processing/test_mappings.py
Due: pipelines/data-pipeline/build.yaml

refactor CFR transparency file schemas
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/formatting.py
  data-pipeline/src/pipeline/pre_processing/cfr/transparency_file/transparency_file_schema.py
Due: pipelines/data-pipeline/build.yaml
