Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: create school balance national average views
  core-infrastructure/src/db/Core.Database/Views/036-BalanceSchoolNationalAve.sql
Due: pipelines/core-infrastructure/build.yaml

feat: add school income comparator set average history endpoint (#3682)
  platform/src/abstractions/Platform.Sql/QueryBuilders/IncomeQueries.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetIncomeComparatorSetAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/IncomeService.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetIncomeComparatorSetAverageHistoryFunctionTests.cs
Due: pipelines/platform/build.yaml

test: unit tests for income history parameters and validators
  platform/tests/Platform.School.Tests/Features/Accounts/Parameters/IncomeNationalAvgParametersTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Parameters/IncomeParametersTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Validators/WhenIncomeNationalAvgParametersValidatorValidates.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Validators/WhenIncomeParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

feat: add school income national average history endpoint
  platform/src/abstractions/Platform.Cache/CacheKeyFactory.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/IncomeQueries.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/CacheKey/WhenCacheKeyFactoryCreatesCacheKey.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeNationalAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetIncomeNationalAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Parameters/IncomeParameters.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/IncomeService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/IncomeNationalAvgParametersValidator.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetIncomeNationalAverageHistoryFunctionTests.cs
Due: pipelines/platform/build.yaml

Feature/296814/databricks connectors iam (#3685)
  core-infrastructure/terraform/storage.tf
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

fix: add databricks variables to config object
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

fix: typo
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

fix: format
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

Feature/290722/301831 balance views (#3686)
  core-infrastructure/src/db/Core.Database/Views/004-BalanceSchool.sql
  core-infrastructure/src/db/Core.Database/Views/035-BalanceSchoolComparatorAve.sql
  core-infrastructure/src/db/Core.Database/Views/036-BalanceSchoolNationalAve.sql
Due: pipelines/core-infrastructure/build.yaml

fix: add Databricks variables to config object (#3687)
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

fix: configure subscription IDs for databricks connectors
  core-infrastructure/terraform/storage.tf
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

hotfix: comment out config for databrick connectors for now
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

hotfix: comment out config for databricks connectors for now (#3689)
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

configure external provider
  core-infrastructure/terraform/provider.tf
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

format
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

add empty features block
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

feat: create api endpoint for school balance national average
  platform/src/abstractions/Platform.Cache/CacheKeyFactory.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/BalanceQueries.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/CacheKey/WhenCacheKeyFactoryCreatesCacheKey.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceNationalAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetBalanceNationalAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Parameters/BalanceParameters.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/BalanceService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/BalanceNationalAvgParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/BalanceParametersValidator.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetBalanceNationalAverageHistoryFunctionTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Parameters/BalanceNationalAvgParametersTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Parameters/BalanceParametersTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Validators/WhenBalanceNationalAvgParametersValidatorValidates.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Validators/WhenBalanceParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

fix: dotnet linting
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceNationalAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/BalanceService.cs
Due: pipelines/platform/build.yaml

doc: extra terraform provider
  documentation/developers/20_External-Terraform-Providers.md
Due: pipelines/documentation/build.yaml

try hardcoding sub id
  core-infrastructure/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml

define principal_type in role assignment
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

try group principal type
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

chore: bump Web dependencies (#3679)
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: bump Web dependencies (#3681)
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/src/Web.Redirect/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

tagged e2e tests using DSI sign in
  web/tests/Web.E2ETests/Features/LocalAuthority/AccessFinancialPlanningForSchool.feature
  web/tests/Web.E2ETests/Features/School/AccessTrustForecastAsAcademy.feature
  web/tests/Web.E2ETests/Features/School/CreateComparators.feature
  web/tests/Web.E2ETests/Features/School/CreateCustomData.feature
  web/tests/Web.E2ETests/Features/School/CurriculumFinancialPlanning.feature
  web/tests/Web.E2ETests/Features/School/SchoolHome.feature
  web/tests/Web.E2ETests/Features/Trust/BenchmarkItSpending.feature
  web/tests/Web.E2ETests/Features/Trust/Comparators.feature
  web/tests/Web.E2ETests/Features/Trust/CreateComparators.feature
  web/tests/Web.E2ETests/Features/Trust/CurriculumFinancialPlanning.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
Due: pipelines/web/build.yaml

refactor: in `IncomeProxyController` replace `IncomeApi` with `SchoolApi` and `TrustApi` for the respective calls to provide school and trust income history data
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Insight/IncomeApi.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/Infrastructure/Apis/TrustApi.cs
Due: pipelines/web/build.yaml

test: integration tests added for `IncomeProxyController.HistoryComparison()`
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingIncomeHistoryComparison.cs
Due: pipelines/web/build.yaml

feat: add new `HistoryComparison()` method to `IncomeProxyController`
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
Due: pipelines/web/build.yaml

Feature: School balance national avg api endpoint (#3690)
  platform/src/abstractions/Platform.Cache/CacheKeyFactory.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/BalanceQueries.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/CacheKey/WhenCacheKeyFactoryCreatesCacheKey.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceNationalAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetBalanceNationalAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Parameters/BalanceParameters.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/BalanceService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/BalanceNationalAvgParametersValidator.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/BalanceParametersValidator.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetBalanceNationalAverageHistoryFunctionTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Parameters/BalanceNationalAvgParametersTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Parameters/BalanceParametersTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Validators/WhenBalanceNationalAvgParametersValidatorValidates.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Validators/WhenBalanceParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

try a workaround
  core-infrastructure/terraform/provider.tf
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

fix: rename view
  core-infrastructure/src/db/Core.Database/Views/035-BalanceSchoolComparatorAve.sql
Due: pipelines/core-infrastructure/build.yaml

fix: rename view (#3692)
  core-infrastructure/src/db/Core.Database/Views/035-BalanceSchoolComparatorAve.sql
Due: pipelines/core-infrastructure/build.yaml

feat: school balance comparator set average API endpoint
  platform/src/abstractions/Platform.Sql/QueryBuilders/BalanceQueries.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetBalanceComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetBalanceComparatorSetAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/BalanceService.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetBalanceComparatorSetAverageHistoryFunctionTests.cs
Due: pipelines/platform/build.yaml

fix: dotnet linting
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/BalanceService.cs
Due: pipelines/platform/build.yaml

fix: error in `QueryIncomeComparatorSetAverageHistory()` route
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
Due: pipelines/web/build.yaml

updated e2e configs
  pipelines/web/steps/run-e2e-tests.yaml
Due: pipelines/web/build.yaml

enable e2e tests in pipeline
  pipelines/web/build.yaml
Due: pipelines/web/build.yaml

feat: add new proxy endpoint for school income historic trends (#3691)
  web/src/Web.App/Controllers/Api/IncomeProxyController.cs
  web/src/Web.App/Infrastructure/Apis/Insight/IncomeApi.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/Infrastructure/Apis/TrustApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Paths.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingIncomeHistoryComparison.cs
Due: pipelines/web/build.yaml

feat: update income tab for school history to show historic trends
  front-end-components/index.html
  front-end-components/src/services/history-service.ts
  front-end-components/src/services/income-api.tsx
  front-end-components/src/views/historic-data-2/partials/income-section.tsx
  front-end-components/src/views/historic-data-2/partials/index.tsx
  front-end-components/src/views/historic-data-2/view.tsx
Due: pipelines/front-end-components/build.yaml
