Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: configure databricks storage account to comply with policies
  pipelines/data-pipeline/databricks-landing-zone.yaml
Due: pipelines/data-pipeline/build.yaml

feat: comply with DfE Tagging policy
  pipelines/data-pipeline/databricks-landing-zone.yaml
Due: pipelines/data-pipeline/build.yaml

feat: shorten storage account name to sub 24 chars
  pipelines/data-pipeline/databricks-landing-zone.yaml
Due: pipelines/data-pipeline/build.yaml

feat: comply with storage account naming policy
  pipelines/data-pipeline/databricks-landing-zone.yaml
Due: pipelines/data-pipeline/build.yaml

feat: restrict pipeline triggers to manual
  pipelines/data-pipeline/databricks-landing-zone.yaml
Due: pipelines/data-pipeline/build.yaml

chore: move senior leadership to the `SchoolCensusController`
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolSeniorLeadershipController.cs
  web/src/Web.App/Views/SchoolCensus/SeniorLeadership.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataCensus.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpendingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanning.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: add skeleton school senior leadership page
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolSeniorLeadershipController.cs
  web/src/Web.App/ViewModels/SchoolSeniorLeadershipViewModel.cs
  web/src/Web.App/Views/SchoolSeniorLeadership/Index.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSeniorLeadership.cs
  web/tests/Web.Integration.Tests/Pages/WhenAFeatureIsDisabled.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: add table to senior leadership page to display senior leadership data
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Domain/Charts/CensusDimensions.cs
  web/src/Web.App/Domain/School/SeniorLeadershipGroup.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/ViewModels/SchoolSeniorLeadershipViewModel.cs
  web/src/Web.App/Views/SchoolCensus/SeniorLeadership.cshtml
  web/src/Web.App/Views/SchoolCensus/_SeniorLeadershipTable.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/HtmlExtensions.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
Due: pipelines/web/build.yaml

feat: add viewAs/resultAs form inputs and POST redirect to GET for senior leadership page
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Domain/Charts/CensusDimensions.cs
  web/src/Web.App/ViewModels/SchoolSeniorLeadershipViewModel.cs
  web/src/Web.App/Views/SchoolCensus/SeniorLeadership.cshtml
  web/src/Web.App/Views/SchoolCensus/_SeniorLeadershipTable.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
Due: pipelines/web/build.yaml

feat: remove credential validation stage, rename resource group
  pipelines/data-pipeline/databricks-landing-zone.yaml
Due: pipelines/data-pipeline/build.yaml

remove stage dependency
  pipelines/data-pipeline/databricks-landing-zone.yaml
Due: pipelines/data-pipeline/build.yaml

chore: update table anchor hrefs to use Url.ActionLink
  web/src/Web.App/Views/SchoolCensus/_SeniorLeadershipTable.cshtml
Due: pipelines/web/build.yaml

feat: adds senior leadership page form inputs and displays table (#3560)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Domain/Charts/CensusDimensions.cs
  web/src/Web.App/Domain/School/SeniorLeadershipGroup.cs
  web/src/Web.App/Infrastructure/Apis/SchoolApi.cs
  web/src/Web.App/ViewModels/SchoolSeniorLeadershipViewModel.cs
  web/src/Web.App/Views/SchoolCensus/SeniorLeadership.cshtml
  web/src/Web.App/Views/SchoolCensus/_SeniorLeadershipTable.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/HtmlExtensions.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
Due: pipelines/web/build.yaml

296817: Databricks Landing Zone (#3559)
  pipelines/data-pipeline/databricks-landing-zone.yaml
Due: pipelines/data-pipeline/build.yaml

chore: poetry updates
  data-pipeline/poetry.lock
Due: pipelines/data-pipeline/build.yaml

chore: poetry updates (#3563)
  data-pipeline/poetry.lock
Due: pipelines/data-pipeline/build.yaml

feat: surface senior leadership url behind feature flag and pass as a dataset prop on the census page for React component consumption
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
Due: pipelines/web/build.yaml

feat: update `CompareYourCensus` and `CompareYourCensus2` to display senior leadership link
  front-end-components/src/main.tsx
  front-end-components/src/views/compare-your-census-2/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census-2/types.tsx
  front-end-components/src/views/compare-your-census-2/view.tsx
  front-end-components/src/views/compare-your-census/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census/types.tsx
  front-end-components/src/views/compare-your-census/view.tsx
Due: pipelines/front-end-components/build.yaml

refactor: replace `<feature>` blocks with direct FeatureManager checks
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
Due: pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: adds download page data functionality for senior leadership page
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Views/SchoolCensus/SeniorLeadership.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenRequestingSeniorLeadershipDownload.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: first pass to wire up senior leadership for stacked horizontal bar chart
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Domain/Charts/CensusDimensions.cs
  web/src/Web.App/Domain/Charts/SchoolSeniorLeadershipHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/ValueType.cs
  web/src/Web.App/ViewModels/SchoolSeniorLeadershipViewModel.cs
  web/src/Web.App/Views/SchoolCensus/SeniorLeadership.cshtml
  web/src/Web.App/Views/SchoolCensus/_SeniorLeadershipChart.cshtml
Due: pipelines/web/build.yaml

feat: first pass to wire up senior leadership for stacked horizontal bar chart (#3564)
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Domain/Charts/CensusDimensions.cs
  web/src/Web.App/Domain/Charts/SchoolSeniorLeadershipHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/ValueType.cs
  web/src/Web.App/ViewModels/SchoolSeniorLeadershipViewModel.cs
  web/src/Web.App/Views/SchoolCensus/SeniorLeadership.cshtml
  web/src/Web.App/Views/SchoolCensus/_SeniorLeadershipChart.cshtml
Due: pipelines/web/build.yaml

feat: adds download page data functionality for senior leadership page (#3566)
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Views/SchoolCensus/SeniorLeadership.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenRequestingSeniorLeadershipDownload.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

fix: response containing chart svg from `PostHorizontalBarChart` as string rather than `ChartResponse`
  web/src/Web.App/Controllers/SchoolCensusController.cs
Due: pipelines/web/build.yaml

fix: response containing chart svg from `PostHorizontalBarChart` as string rather than `ChartResponse` (#3568)
  web/src/Web.App/Controllers/SchoolCensusController.cs
Due: pipelines/web/build.yaml

WiP: implement horizontal stacked bar chart
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/dom/builder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: add LegendLabels aligned with ValueField in chart request
  web/src/Web.App/Domain/Charts/SchoolSeniorLeadershipHorizontalBarChartRequest.cs
Due: pipelines/web/build.yaml

chore: fix linting issues
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/dom/function.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/function.ts
Due: pipelines/platform/build.yaml

feat: add error handling for building chart and adds integration tests
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingSeniorLeadership.cs
Due: pipelines/web/build.yaml

chore: fix linting issues
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
Due: pipelines/platform/build.yaml

style: adjust colour of stacked bars
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/web/build.yaml

fix: ensure missing data sums as null, not 0
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
Due: pipelines/platform/build.yaml

test: update existing horizontal chart tests to expect stacked charts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidMultipleCurrency.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidMultiplePercent.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyCustomDomain.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeys.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyMissingDataLabel.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyNoSiUnits.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSinglePercent.json
Due: pipelines/platform/build.yaml

test: add test for horizontal stacked bar charts
  platform/tests/Platform.ApiTests/Data/HorizontalStackedBarChartValidSingleCurrency.svg
  platform/tests/Platform.ApiTests/Data/HorizontalStackedBarChartValidSingleCurrencyRequest.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Models/ChartRequest.cs
  platform/tests/Platform.ApiTests/Models/PostHorizontalStackedBarChartRequest.cs
  platform/tests/Platform.ApiTests/Models/PostVerticalBarChartRequest.cs
  platform/tests/Platform.ApiTests/Steps/ChartRenderingHorizontalBarChartSteps.cs
Due: pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
