Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: Load test definitions and results for High needs dashboard
  documentation/quality-assurance/4_Performance-Testing.md
  documentation/quality-assurance/performance-test-plans/0008_Web-high-needs-load-test-plan.md
  performance-tests/src/web/url/average/local-authority/high-needs/config.yaml
  performance-tests/src/web/url/average/local-authority/high-needs/local-authorities.csv
  performance-tests/src/web/url/average/local-authority/high-needs/url-test.json
  performance-tests/src/web/url/peak/local-authority/high-needs/config.yaml
  performance-tests/src/web/url/peak/local-authority/high-needs/local-authorities.csv
  performance-tests/src/web/url/peak/local-authority/high-needs/url-test.json
Due: pipelines/documentation/build.yaml

feat: Exclude LAs from national ranking if they are unable to be ranked
  front-end-components/index.html
  front-end-components/src/views/la-national-rank/partials/chart.tsx
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Services/LocalAuthorityRankingService.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/WhenHighNeedsServiceQueriesAsync.cs
  test-data/LocalAuthorityFinancial.csv
  test-data/LocalAuthorityNonFinancial.csv
  web/src/Web.App/ViewModels/Components/LocalAuthorityHighNeedsNationalRankingsViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthorityHighNeedsNationalRankings/Default.cshtml
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsNationalRankings.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsNationalRankingsPage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsNationalRankingsSteps.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsDashboard.cs
  web/tests/Web.Tests/ViewModels/Components/GivenALocalAuthorityHighNeedsNationalRankingsViewModel.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Bumped `front-end` to `1.1.79`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Provision `ChartRendering` function app
  documentation/quality-assurance/4_Performance-Testing.md
  pipelines/platform/deployment.yaml
  pipelines/platform/security-scan.yaml
  pipelines/platform/steps/build.yaml
  pipelines/platform/zaproxy/chart-rendering.prop
  platform/Platform.sln
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Logging.cs
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Services.cs
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Worker.cs
  platform/src/apis/Platform.Api.ChartRendering/Constants.cs
  platform/src/apis/Platform.Api.ChartRendering/Features/HealthCheck/GetHealthFunction.cs
  platform/src/apis/Platform.Api.ChartRendering/Features/HealthCheck/Routes.cs
  platform/src/apis/Platform.Api.ChartRendering/Platform.Api.ChartRendering.csproj
  platform/src/apis/Platform.Api.ChartRendering/Program.cs
  platform/src/apis/Platform.Api.ChartRendering/Properties/launchSettings.json
  platform/src/apis/Platform.Api.ChartRendering/host.json
  platform/src/apis/Platform.Api.ChartRendering/packages.lock.json
  platform/terraform/functions.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Replace .NET function app with JS
  .gitignore
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/.run/chart-rendering-fa.run.xml
  platform/Platform.sln
  platform/src/apis/Platform.Api.ChartRendering/.funcignore
  platform/src/apis/Platform.Api.ChartRendering/.vscode/extensions.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/launch.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/tasks.json
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Logging.cs
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Services.cs
  platform/src/apis/Platform.Api.ChartRendering/Configuration/Worker.cs
  platform/src/apis/Platform.Api.ChartRendering/Constants.cs
  platform/src/apis/Platform.Api.ChartRendering/Features/HealthCheck/GetHealthFunction.cs
  platform/src/apis/Platform.Api.ChartRendering/Features/HealthCheck/Routes.cs
  platform/src/apis/Platform.Api.ChartRendering/Platform.Api.ChartRendering.csproj
  platform/src/apis/Platform.Api.ChartRendering/Program.cs
  platform/src/apis/Platform.Api.ChartRendering/Properties/launchSettings.json
  platform/src/apis/Platform.Api.ChartRendering/host.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/packages.lock.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/httpTrigger1.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
  platform/src/apis/Platform.Api.Insight/host.json
  platform/terraform/README.md
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/output.tf
  platform/terraform/modules/functions/variables.tf
Due: pipelines/platform/build.yaml

feat: update CFO data ingest
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/cfo.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cfo.py
Due: pipelines/data-pipeline/build.yaml

feat: update CFO data ingest (#2151)
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/cfo.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cfo.py
Due: pipelines/data-pipeline/build.yaml

feat: Skeleton TS function for generating vertical bar charts
  platform/Platform.sln
  platform/src/apis/Platform.Api.ChartRendering/.vscode/extensions.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/launch.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/.vscode/tasks.json
  platform/src/apis/Platform.Api.ChartRendering/eslint.config.mjs
  platform/src/apis/Platform.Api.ChartRendering/host.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/healthCheck.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/httpTrigger1.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/src/index.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

feat: Sample vertical bar chart rendered with d3 via jsdom
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

feat: Wired up sample spending and priorities chart data
  platform/src/apis/Platform.Api.ChartRendering/.prettierrc
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  platform/src/apis/Platform.Api.ChartRendering/tsconfig.json
Due: pipelines/platform/build.yaml

feat: Support single or multiple vertical bar chart payloads
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.ChartRendering/src/builders/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
Due: pipelines/platform/build.yaml

feat: Baseline load tests against `d13` feature environment
  documentation/quality-assurance/performance-test-plans/0007_Web-ssr-charts-load-test-plan.md
  performance-tests/src/web/jmeter/average/school/spending-and-costs/config.yaml
  performance-tests/src/web/jmeter/average/school/spending-and-costs/jmeter-test.jmx
  performance-tests/src/web/jmeter/peak/school/spending-and-costs/config.yaml
  performance-tests/src/web/jmeter/peak/school/spending-and-costs/jmeter-test.jmx
Due: pipelines/documentation/build.yaml

feat: Replaced client rendered charts on School spending priorities with server rendered (multiple requests)
  platform/.run/Debug API functions.run.xml
  platform/.run/chart-rendering-fa.run.xml
  platform/Platform.sln
  platform/README.md
  platform/src/apis/Platform.Api.ChartRendering/src/builders/verticalBarChartBuilder.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
  web/README.md
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/ApiBase.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostVerticalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiResults/ApiResponseBody.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/Api.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/ChartRenderingApi.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewComponents/PriorityCostCategoryViewComponent.cs
  web/src/Web.App/ViewModels/Components/PriorityCostCategoryViewModel.cs
  web/src/Web.App/Views/SchoolSpending/_Costs.cshtml
  web/src/Web.App/Views/Shared/Components/PriorityCostCategory/Default.cshtml
  web/src/Web.App/Web.App.csproj
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/data.tf
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: create new index to support school faceted search
  platform/src/abstractions/Platform.Infrastructure/ResourceNames.cs
  platform/src/search/Platform.Search.Resources/School/SchoolFacetedIndex.cs
  platform/src/search/Platform.Search.Resources/School/SchoolFacetedIndexBuilder.cs
  platform/src/search/Platform.Search.Resources/School/SchoolFacetedIndexerBuilder.cs
  platform/src/search/Platform.Search.Resources/SearchMaintenanceService.cs
Due: pipelines/platform/build.yaml

feat: add dict variant for multiple-keys
  data-pipeline/src/pipeline/utils/__init__.py
  data-pipeline/src/pipeline/utils/input.py
  data-pipeline/tests/unit/test_utils.py
Due: pipelines/data-pipeline/build.yaml

feat: Switched out single SSR chart resolution with multiple charts per request (albeit with one request per priority level)
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostVerticalBarChartRequest.cs
  web/src/Web.App/ViewComponents/PriorityCostCategoryViewComponent.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/src/Web.App/ViewModels/Components/PriorityCostCategoryViewModel.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Shared/Components/PriorityCostCategory/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCosts/Default.cshtml
  web/src/Web.App/Web.App.csproj
Due: pipelines/web/build.yaml

feat: create new index to support school faceted search (#2155)
  platform/src/abstractions/Platform.Infrastructure/ResourceNames.cs
  platform/src/search/Platform.Search.Resources/School/SchoolFacetedIndex.cs
  platform/src/search/Platform.Search.Resources/School/SchoolFacetedIndexBuilder.cs
  platform/src/search/Platform.Search.Resources/School/SchoolFacetedIndexerBuilder.cs
  platform/src/search/Platform.Search.Resources/SearchMaintenanceService.cs
Due: pipelines/platform/build.yaml

feat: Updated load test results post-SSR on feature environment
  documentation/quality-assurance/images/school-spending-priorities-d13-001.png
  documentation/quality-assurance/images/school-spending-priorities-d13-002.png
  documentation/quality-assurance/performance-test-plans/0007_Web-ssr-charts-load-test-plan.md
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart.ts
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Bump app service plan
  documentation/quality-assurance/images/school-spending-priorities-d13-002.png
  documentation/quality-assurance/images/school-spending-priorities-d13-003.png
  documentation/quality-assurance/performance-test-plans/0007_Web-ssr-charts-load-test-plan.md
  platform/terraform/functions.tf
Due: pipelines/documentation/build.yaml, pipelines/platform/build.yaml

feat: Created feature flag for faceted search
  web/README.md
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

feat: Consumed feature flag and displayed alternative 'find organisation' content for faceted search
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/FindOrganisationController.cs
  web/src/Web.App/ViewModels/ChangeLinkViewModel.cs
  web/src/Web.App/ViewModels/FindOrganisationSelectViewModel.cs
  web/src/Web.App/ViewModels/FindOrganisationViewModel.cs
  web/src/Web.App/Views/FindOrganisation/Index.cshtml
  web/src/Web.App/Views/FindOrganisation/School.cshtml
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/School/NonLeadFederation.cshtml
  web/src/Web.App/Views/Shared/_ChangeLink.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/WhenAFeatureIsDisabled.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: Integration test for new Find Organisation logic when feature flag enabled
  web/src/Web.App/Controllers/FindOrganisationController.cs
  web/src/Web.App/Views/Shared/_ChangeLink.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingFindOrganisation.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
