Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

docs: updates branch naming section
  documentation/developers/2_Branching-Policy.md
Due: pipelines/documentation/build.yaml

linting
  documentation/developers/2_Branching-Policy.md
Due: pipelines/documentation/build.yaml

feat: Added `Population2To18` to `GET /api/high-needs` response
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Mapper.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Models/LocalAuthority.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/Services/HighNeedsService.cs
  platform/tests/Platform.ApiTests/Features/LocalAuthoritiesHighNeeds.feature
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/Services/WhenHighNeedsServiceQueriesAsync.cs
  platform/tests/Platform.LocalAuthorityFinances.Tests/HighNeeds/WhenHighNeedsMapperMaps.cs
Due: pipelines/platform/build.yaml

feat: Added `Population2To18` to `GET /api/education-health-care-plans/local-authorities` response
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Mapper.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Models/LocalAuthorityNumberOfPlans.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/Models/LocalAuthorityNumberOfPlansResponse.cs
  platform/tests/Platform.ApiTests/Features/NonFinancialEducationHealthCarePlansLocalAuthorities.feature
  platform/tests/Platform.NonFinancial.Tests/EducationHealthCarePlans/WhenEducationHealthCarePlansMapperMaps.cs
Due: pipelines/platform/build.yaml

docs: updates branch naming section (#2269)
  documentation/developers/2_Branching-Policy.md
Due: pipelines/documentation/build.yaml

feat: Added `Population2To18` to `GET /api/local-authorities/high-needs/comparison` response
  web/src/Web.App/Controllers/Api/HighNeedsProxyController.cs
  web/src/Web.App/Controllers/Api/Mappers/LocalAuthorityHighNeedsResponseMapper.cs
  web/src/Web.App/Controllers/Api/Responses/LocalAuthorityHighNeedsResponse.cs
  web/src/Web.App/Domain/LocalAuthorities/LocalAuthority.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingHighNeedsComparison.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenLocalAuthorityHighNeedsComparisonResponseMapperMapsToApi.cs
Due: pipelines/web/build.yaml

feat: Added `Population2To18` to `GET /api/local-authorities/education-health-care-plans/comparison` response
  web/src/Web.App/Controllers/Api/Mappers/EducationHealthCarePlansHistoryResponseMapper.cs
  web/src/Web.App/Controllers/Api/Responses/EducationHealthCarePlansResponse.cs
  web/src/Web.App/Domain/NonFinancial/LocalAuthorityNumberOfPlans.cs
  web/tests/Web.Integration.Tests/Proxy/WhenRequestingEducationHealthCarePlansComparison.cs
  web/tests/Web.Tests/Controllers/Api/Mappers/WhenEducationHealthCarePlansComparisonResponseMapperMaps.cs
Due: pipelines/web/build.yaml

feat: Rendered `2 to 18 Population` as additional column in High needs tables
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/components/charts/table-chart/partials/table-cell-establishment-name.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/composed/benchmark-chart-section-251/component.tsx
  front-end-components/src/composed/benchmark-chart-send-2/component.tsx
  front-end-components/src/services/types.tsx
Due: pipelines/front-end-components/build.yaml

feat: E2E updates for validation of Population data in High needs benchmarking tables
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsStartBenchmarking.cs
Due: pipelines/web/build.yaml

fix: population data ingestion for the year previous to the `run_id` (#2262)
  data-pipeline/src/pipeline/pre_processing/local_authority.py
Due: pipelines/data-pipeline/build.yaml

feat: Created new `VW_LocalAuthoritySummary` view and wired up to LA 'suggest' endpoint
  core-infrastructure/src/db/Core.Database/Views/023-LocalAuthoritySummary.sql
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Models/LocalAuthoritySummary.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/PostLocalAuthoritiesSuggestFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Services/LocalAuthoritiesService.cs
  platform/src/search/Platform.Search.Resources/LocalAuthority/LocalAuthorityDataSourceConnectionBuilder.cs
  platform/src/search/Platform.Search.Resources/LocalAuthority/LocalAuthorityIndex.cs
  platform/src/search/Platform.Search.Resources/LocalAuthority/LocalAuthorityIndexerBuilder.cs
  platform/tests/Platform.ApiTests/Steps/EstablishmentLocalAuthoritiesSteps.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/PostLocalAuthoritiesSuggestFunctionTests.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

refactor: creates a `ContextCodesList` component for use outside of the school cost codes
  front-end-components/src/components/context-codes-list/component.tsx
  front-end-components/src/components/context-codes-list/index.tsx
  front-end-components/src/components/context-codes-list/types.tsx
  front-end-components/src/components/cost-codes-list/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/composed.tsx
Due: pipelines/front-end-components/build.yaml

feat: adds section 251 line codes to high needs benchmarking charts
  front-end-components/src/composed/benchmark-chart-section-251/component.tsx
  front-end-components/src/composed/benchmark-chart-section-251/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/types.tsx
  front-end-components/src/views/benchmark-data-high-needs/partials/index.tsx
  front-end-components/src/views/benchmark-data-high-needs/partials/section-251-section.tsx
  front-end-components/src/views/benchmark-data-high-needs/types.tsx
Due: pipelines/front-end-components/build.yaml

chore: bump `front-end` to `1.1.87`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump `front-end` to `1.1.87` (#2277)
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Added `/api/local-authorities/search` endpoint to Establishment API
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/LocalAuthoritiesFeature.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/PostLocalAuthoritiesSearchFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/PostLocalAuthoritiesSuggestFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Routes.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Services/LocalAuthoritiesService.cs
  platform/src/apis/Platform.Api.Establishment/Features/LocalAuthorities/Validators/LocalAuthoritiesSearchValidator.cs
  platform/src/apis/Platform.Api.Establishment/Features/Schools/PostSchoolsSearchFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Schools/PostSchoolsSuggestFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Schools/SchoolsFeature.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/TrustsFeature.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Validators/TrustsSearchValidator.cs
  platform/tests/Platform.ApiTests/Features/EstablishmentLocalAuthorities.feature
  platform/tests/Platform.ApiTests/Steps/EstablishmentLocalAuthoritiesSteps.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/PostLocalAuthoritiesSearchFunctionTests.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/PostLocalAuthoritiesSuggestFunctionTests.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/Services/WhenHighNeedsServiceQueriesAsync.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/Services/WhenLocalAuthoritiesServiceQueriesAsync.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/Services/WhenLocalAuthoritiesServiceSearches.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/Validators/WhenHighNeedsParametersValidatorValidates.cs
  platform/tests/Platform.Establishment.Tests/LocalAuthorities/Validators/WhenLocalAuthoritiesSearchValidatorValidates.cs
  platform/tests/Platform.Establishment.Tests/Schools/Services/WhenSchoolsServiceSearches.cs
  platform/tests/Platform.Establishment.Tests/Trusts/Services/WhenTrustsServiceSearches.cs
  platform/tests/Platform.Establishment.Tests/Trusts/Validators/WhenTrustsSearchValidatorValidates.cs
Due: pipelines/platform/build.yaml

feat: update Revenue reserve calculations
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/tests/unit/pre_processing/test_academies.py
Due: pipelines/data-pipeline/build.yaml

feat: persist Share Revenue reserve
  data-pipeline/src/pipeline/database.py
Due: pipelines/data-pipeline/build.yaml

chore: add e2e tests to confirm line codes are present for high needs benchmarking page
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

feat: add Financial.ShareRevenueReserve column
  core-infrastructure/src/db/Core.Database/Scripts/113-AlterFinancialAddShareRevenueReserve.sql
Due: pipelines/core-infrastructure/build.yaml

chore: add e2e tests to confirm line codes are present for high needs benchmarking page (#2276)
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

feat: Local Authority search page
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/FindOrganisationController.cs
  web/src/Web.App/Controllers/LocalAuthoritySearchController.cs
  web/src/Web.App/Domain/Establishment/LocalAuthoritySummary.cs
  web/src/Web.App/Domain/Establishment/TrustSummary.cs
  web/src/Web.App/Infrastructure/Apis/Establishment/EstablishmentApi.cs
  web/src/Web.App/ViewModels/Search/FindLocalAuthorityViewModel.cs
  web/src/Web.App/Views/LocalAuthoritySearch/Index.cshtml
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingSearch.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/Search/WhenViewingLocalAuthoritySearch.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingFindOrganisation.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

feat: Wired up Web to Local Authority Search API
  web/src/Web.App/Controllers/LocalAuthoritySearchController.cs
  web/src/Web.App/Infrastructure/Apis/Establishment/Api.cs
  web/src/Web.App/Infrastructure/Apis/Establishment/EstablishmentApi.cs
  web/src/Web.App/Services/SearchService.cs
  web/tests/Web.Tests/Infrastructure/GivenAnEstablishmentApi.cs
  web/tests/Web.Tests/Services/WhenLocalAuthoritySearchServiceIsCalled.cs
Due: pipelines/web/build.yaml

feat: Updated 'change link' URLs and integration tests
  web/src/Web.App/Views/Shared/_ChangeLink.cshtml
  web/tests/Web.E2ETests/Pages/School/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
Due: pipelines/web/build.yaml

feat: Added Local Authority search results page
  web/src/Web.App/Controllers/LocalAuthoritySearchController.cs
  web/src/Web.App/ViewModels/Search/LocalAuthoritySearchResultViewModel.cs
  web/src/Web.App/ViewModels/Search/LocalAuthoritySearchResultsViewModel.cs
  web/src/Web.App/ViewModels/Search/LocalAuthoritySearchViewModel.cs
  web/src/Web.App/ViewModels/Search/TrustSearchResultViewModel.cs
  web/src/Web.App/Views/LocalAuthoritySearch/Search.cshtml
  web/src/Web.App/Views/Shared/Search/_LocalAuthoritySearchResults.cshtml
  web/tests/Web.A11yTests/Pages/LocalAuthority/WhenViewingSearchResults.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/Search/WhenViewingLocalAuthoritySearch.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/Search/WhenViewingLocalAuthoritySearchResults.cs
  web/tests/Web.Tests/ViewModels/Search/GivenALocalAuthoritySearchResultViewModel.cs
  web/tests/Web.Tests/ViewModels/Search/GivenATrustSearchResultViewModel.cs
Due: pipelines/web/build.yaml

fix: resolve SettingWithCopyWarning for AAR
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
Due: pipelines/data-pipeline/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
