Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: consolidate two identical simple classes into single class
  web/src/Web.App/ViewModels/LocalAuthorityEducationHealthCarePlansViewModel.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanChart.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanTable.cshtml
Due: pipelines/web/build.yaml

feat: Bootstrap pipeline setup into Docker compose (#4080)
  Makefile
  core-infrastructure/src/db/Core.Database/Dockerfile.migrate
  data-pipeline/README.md
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  docker/.env.example
  docker/docker-compose.debug-data-pipeline.yml
  docker/docker-compose.yml
  docker/launch.json.example
  documentation/developers/06_Local-Environment-with-Docker.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

feat: display missing data message on ehcp tables
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanTable.cshtml
Due: pipelines/web/build.yaml

feat: add e2e tests
  web/tests/Web.E2ETests/Features/LocalAuthority/EducationHealthCarePlanBenchmarking.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/ChooseLocalAuthoritiesToComparePage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/EducationHealthCarePlanBenchmarkingPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/EducationHealthCarePlanBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

update data seeding
  test-data/LocalAuthorityNonFinancial.csv
Due: none

Update comparator feature weights
  data-pipeline/src/pipeline/comparator_sets/config.py
Due: pipelines/data-pipeline/build.yaml

chore: consolidate two identical simple classes into single class (#4085)
  web/src/Web.App/ViewModels/LocalAuthorityEducationHealthCarePlansViewModel.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanChart.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanTable.cshtml
Due: pipelines/web/build.yaml

feat: ensure current LA bold in EHCP tables
  web/src/Web.App/ViewModels/LocalAuthorityEducationHealthCarePlansViewModel.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanTable.cshtml
Due: pipelines/web/build.yaml

feat: add api call for high needs spending. Adds categories and dimensions to domain. Adds framework for view and VMs.
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/Domain/Charts/HighNeedsDimensions.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsCategories.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsSpending.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorityApi.cs
  web/src/Web.App/ViewModels/HighNeedsSpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
Due: pipelines/web/build.yaml

fix: update SubmissionType constants
  platform/src/abstractions/Platform.Domain/SubmissionType.cs
Due: pipelines/platform/build.yaml

chore: rename HighNeedsCategories to HighNeedsSpendingCategories
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsSpendingCategories.cs
Due: pipelines/web/build.yaml

chore: make BuildSubCategory method static
  web/src/Web.App/ViewModels/HighNeedsSpendingComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

feat: update ehcp tables (#4133)
  web/src/Web.App/ViewModels/LocalAuthorityEducationHealthCarePlansViewModel.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/_EhcPlanTable.cshtml
Due: pipelines/web/build.yaml

fixed failing test due to data change
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
Due: pipelines/web/build.yaml

feat: add e2e tests for benchmark EHCP page (#4134)
  test-data/LocalAuthorityNonFinancial.csv
  web/tests/Web.E2ETests/Features/LocalAuthority/EducationHealthCarePlanBenchmarking.feature
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/ChooseLocalAuthoritiesToComparePage.cs
  web/tests/Web.E2ETests/Pages/LocalAuthority/EducationHealthCarePlanBenchmarkingPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/EducationHealthCarePlanBenchmarkingSteps.cs
Due: pipelines/web/build.yaml

feat: add API call for high needs benchmarking and populate view models with required data (#4135)
  platform/src/abstractions/Platform.Domain/SubmissionType.cs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/Domain/Charts/HighNeedsDimensions.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsSpending.cs
  web/src/Web.App/Domain/LocalAuthorities/HighNeedsSpendingCategories.cs
  web/src/Web.App/Infrastructure/Apis/LocalAuthorityApi.cs
  web/src/Web.App/ViewModels/HighNeedsSpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

wip(local-dev): set default view as option to table
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
Due: pipelines/web/build.yaml

feat: add table partial for high needs spending data
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_HighNeedsSpendingTable.cshtml
Due: pipelines/web/build.yaml

Revert "wip(local-dev): set default view as option to table"
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
Due: pipelines/web/build.yaml

revert data changes
  test-data/LocalAuthorityNonFinancial.csv
Due: none

feat: Tweaks to docker config to run on DfE machines
  data-pipeline/pipeline-worker/Dockerfile
  docker/docker-compose.yml
Due: pipelines/data-pipeline/build.yaml

feat: remove problem command
  data-pipeline/pipeline-worker/Dockerfile
Due: pipelines/data-pipeline/build.yaml

add note to mssql runa s root
  docker/docker-compose.yml
Due: none

update test to use newly seeded LA
  web/tests/Web.E2ETests/Features/LocalAuthority/EducationHealthCarePlanBenchmarking.feature
Due: pipelines/web/build.yaml

fix failing of test
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
Due: pipelines/web/build.yaml

add data for LA '211' used in test
  test-data/LocalAuthorityNonFinancial.csv
  test-data/LocalAuthorityStatisticalNeighbour.csv
Due: none

fix: update defaults for results as and submission type options in controller and vm
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
Due: pipelines/web/build.yaml

feat: update e2e tests for benchmark EHCP page (#4139)
  test-data/LocalAuthorityNonFinancial.csv
  test-data/LocalAuthorityStatisticalNeighbour.csv
  web/tests/Web.E2ETests/Features/LocalAuthority/EducationHealthCarePlanBenchmarking.feature
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
Due: pipelines/web/build.yaml

feat: add table partial for high needs spending data (#4136)
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_HighNeedsSpendingTable.cshtml
Due: pipelines/web/build.yaml

feat: add chart/table and compare by options to benchmark high needs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/Domain/Charts/HighNeedsDimensions.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
Due: pipelines/web/build.yaml

feat: update font weight across all form-actions labels for ehcp and high needs spending
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
Due: pipelines/web/build.yaml

feat: add filters to benchmark high needs
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/Domain/Charts/HighNeedsDimensions.cs
  web/src/Web.App/ViewModels/BenchmarkingViewModelCostSubCategory.cs
  web/src/Web.App/ViewModels/HighNeedsSpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_Filter.cshtml
Due: pipelines/web/build.yaml

feat: align styling for options with design for ehcp and hn spending
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
Due: pipelines/web/build.yaml

refactor: extract selection state into VM and remove view level data shaping
  web/src/Web.App/ViewModels/HighNeedsSpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_Filter.cshtml
Due: pipelines/web/build.yaml

chore: amend chart render api tests
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidMultipleCurrency.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidMultiplePercent.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyCustomDomain.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeys.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyMissingDataLabel.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyNoSiUnits.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSinglePercent.json
  platform/tests/Platform.ApiTests/Data/HorizontalStackedBarChartValidSingleCurrency.svg
Due: pipelines/platform/build.yaml

refactor: update BuildQuery() for readability and clarity
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
Due: pipelines/web/build.yaml

fix: add missing result as and type to removeable tags in selected filters
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_Filter.cshtml
Due: pipelines/web/build.yaml

test: update selector following changes to form
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
Due: pipelines/web/build.yaml

chore: fix chart rendering api tests (#4140)
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidMultipleCurrency.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidMultiplePercent.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.json
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrency.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyCustomDomain.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeys.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyMissingDataLabel.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyNoSiUnits.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSinglePercent.json
  platform/tests/Platform.ApiTests/Data/HorizontalStackedBarChartValidSingleCurrency.svg
Due: pipelines/platform/build.yaml

feat: add controls for filtering and chart options to high needs spending (#4141)
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsSpendingController.cs
  web/src/Web.App/Domain/Charts/HighNeedsDimensions.cs
  web/src/Web.App/ViewModels/BenchmarkingViewModelCostSubCategory.cs
  web/src/Web.App/ViewModels/HighNeedsSpendingComparisonSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsSpendingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityEducationHealthCarePlans/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/Index.cshtml
  web/src/Web.App/Views/LocalAuthorityHighNeedsSpending/_Filter.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingEducationHealthCarePlans.cs
Due: pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
