Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Additional `aria-` attributes on both button and link versions of sortable header
  web/src/Web.App/ViewComponents/SortableTableHeaderCellViewComponent.cs
  web/src/Web.App/ViewModels/Components/SortableTableHeaderCellViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Button.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Link.cshtml
  web/tests/Web.Tests/ViewComponents/GivenASortableTableHeaderCellViewComponent.cs
Due: pipelines/web/build.yaml

chore: add assertion to integration tests for the school name cta in the priority rag section
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

doc: Document implementation of sortable column headers using `<button>`s
  documentation/developers/18_Sortable-Html-Tables.md
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Button.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Link.cshtml
  web/tests/Web.Tests/ViewComponents/GivenASortableTableHeaderCellViewComponent.cs
Due: pipelines/documentation/build.yaml, pipelines/web/build.yaml

fix: update priority rag section school names cta to navigate to school home
  web/src/Web.App/Views/LocalAuthority/_SchoolsSection.cshtml
Due: pipelines/web/build.yaml

updated ticket
  documentation/quality-assurance/release-test-plans/00024_release-test-plan.md
Due: pipelines/documentation/build.yaml

updates contd.
  documentation/quality-assurance/release-test-plans/00024_release-test-plan.md
Due: pipelines/documentation/build.yaml

Update 02_line-chart.md
  documentation/guides/chart-principles/02_line-chart.md
Due: pipelines/documentation/build.yaml

chore: update existing tests to assert presence of newly ingested gias column
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_gias.py
Due: pipelines/data-pipeline/build.yaml

feat: add new columns for School table to persist gias school data
  core-infrastructure/src/db/Core.Database/Scripts/125-AlterSchoolTable.sql
Due: pipelines/core-infrastructure/build.yaml

feat: add new projections to `insert_schools_and_local_authorities()` for the School table - NurseryProvision, SpecialClassProvision, SixthFormProvision
  data-pipeline/src/pipeline/utils/database.py
Due: pipelines/data-pipeline/build.yaml

chore: update data documentation to add new gias columns
  documentation/data/3_Models.md
Due: pipelines/documentation/build.yaml

feat: add SpecialClasses (name) column to gias input schemas for all years
  data-pipeline/src/pipeline/input_schemas/gias.py
Due: pipelines/data-pipeline/build.yaml

feat: ingest `SpecialClasses (name)` from gias and persist the values from the raw data to parquet, replace blanks with "Not recorded"
  data-pipeline/src/pipeline/pre_processing/ancillary/combined_gias.py
Due: pipelines/data-pipeline/build.yaml

Doc/284999/progress indicator (#3113)
  documentation/data/sources/progress-indicator.md
  documentation/guides/chart-principles/02_line-chart.md
Due: pipelines/documentation/build.yaml

Remove old non-DLT pyspark code
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/base.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/forecast_and_risk.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/it_spend.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/loader.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/pipeline.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/preprocessor.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/config.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/main.py
  databricks/education_benchmarking_and_insights/tests/test_base.py
Due: none

release notes updated
  documentation/quality-assurance/release-test-plans/00024_release-test-plan.md
Due: pipelines/documentation/build.yaml

test: get the tests working for dlt
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/bfr_pyspark_mocks.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/forecast_and_risk_tables.py
  databricks/education_benchmarking_and_insights/src/education_benchmarking_and_insights/bfr/preprocessed_tables.py
  databricks/education_benchmarking_and_insights/tests/bfr/test_forecast_and_risk.py
  databricks/education_benchmarking_and_insights/tests/bfr/test_it_spend.py
  databricks/education_benchmarking_and_insights/tests/bfr/test_preprocessing.py
  databricks/education_benchmarking_and_insights/tests/conftest.py
  databricks/education_benchmarking_and_insights/tests/mock_pipelines.py
Due: none

feat: `<button>` alternative to `<a>` for dynamic column heading sort
  web/Web.sln.DotSettings
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewComponents/SortableTableHeaderCellViewComponent.cs
  web/src/Web.App/ViewModels/Components/SortableTableHeaderCellViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/_SchoolsFilter.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Button.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Link.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/_Icon.cshtml
  web/tests/Web.Tests/ViewComponents/GivenASortableTableHeaderCellViewComponent.cs
Due: pipelines/web/build.yaml

feat: Removed `<a>` rendering option for `SortableTableHeaderCellViewComponent`
  documentation/developers/18_Sortable-Html-Tables.md
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewComponents/SortableTableHeaderCellViewComponent.cs
  web/src/Web.App/ViewModels/Components/SortableTableHeaderCellViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancial/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Button.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/Link.cshtml
  web/src/Web.App/Views/Shared/Components/SortableTableHeaderCell/_Icon.cshtml
  web/tests/Web.Tests/ViewComponents/GivenASortableTableHeaderCellViewComponent.cs
Due: pipelines/documentation/build.yaml, pipelines/web/build.yaml

Banding edge cases
  documentation/data/sources/ks4-performance-indicator.md
Due: pipelines/documentation/build.yaml

draft update
  documentation/data/sources/ks4-progress-indicator.md
Due: pipelines/documentation/build.yaml

Update ks4-progress-indicator.md
  documentation/data/sources/ks4-progress-indicator.md
Due: pipelines/documentation/build.yaml

fix: Resolve syntax error with `override` managed AFD WAF policy rule
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

doc: LA Homepage metrics
  documentation/operational/7_Metrics.md
  documentation/operational/metrics/014_la-homepage-school-breakdown-table-elements-usage.md
  documentation/operational/metrics/015_la-homepage-high-needs-comparators-clicks.md
  documentation/operational/metrics/016_la-homepage-school-journeys-started.md
  documentation/operational/metrics/017_la-homepage-change-authority-button-usage.md
Due: pipelines/documentation/build.yaml

specify
  documentation/operational/metrics/017_la-homepage-change-authority-button-usage.md
Due: pipelines/documentation/build.yaml

add links
  documentation/operational/7_Metrics.md
Due: pipelines/documentation/build.yaml

Update ks4-progress-indicator.md (#3126)
  documentation/data/sources/ks4-progress-indicator.md
Due: pipelines/documentation/build.yaml

fix: Replaced `RequestFormPostParamNames` with `RequestBodyPostArgNames`
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

chore: Enabled `TrustItSpendBreakdown` feature by default across all environments
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/web/build.yaml
