Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: New table and view for system files
  core-infrastructure/src/db/Core.Database/Scripts/106-CreateFileTable.sql
  core-infrastructure/src/db/Core.Database/Views/015-Files.sql
Due: pipelines/core-infrastructure/build.yaml

feat: API for getting CFR and AAR files from the database
  platform/src/apis/Platform.Api.Insight/Configuration/Services.cs
  platform/src/apis/Platform.Api.Insight/Constants.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/GetAarTransparencyFilesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/GetCfrTransparencyFilesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Mapper.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Models/FileModel.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Responses/FileResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Services/FilesService.cs
  platform/tests/Platform.ApiTests/Features/InsightFiles.feature
  platform/tests/Platform.ApiTests/Steps/InsightFilesSteps.cs
  platform/tests/Platform.Insight.Tests/Files/GetAarTransparencyFilesFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Files/GetCfrTransparencyFilesFunctionTests.cs
Due: pipelines/platform/build.yaml

feat: Consume API and write transparency files to Data Sources page
  web/src/Web.App/Controllers/DataSourceController.cs
  web/src/Web.App/Domain/Insight/Files.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/Insight/Api.cs
  web/src/Web.App/Infrastructure/Apis/Insight/FilesApi.cs
  web/src/Web.App/ViewModels/DataSourceViewModel.cs
  web/src/Web.App/Views/DataSource/_DataSources.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingDataSources.cs
Due: pipelines/web/build.yaml

chore: Replaced `recharts-to-png` with `html-to-image`
  front-end-components/index.html
  front-end-components/package-lock.json
  front-end-components/package.json
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/line-chart/component.tsx
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/components/charts/vertical-bar-chart/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/hooks/useDownloadImage.ts
  front-end-components/src/views/budget-forecast-returns/partials/year-end.tsx
Due: pipelines/front-end-components/build.yaml

feat: update processing of AAR file/codes
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/aar_academies.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
Due: pipelines/data-pipeline/build.yaml

chore: adds unit test coverage for expenditure feature in insights api.
  platform/tests/Platform.Insight.Tests/Census/GetCensusFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/ExpenditureNationalAvgParametersTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/ExpenditureParametersTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/ExpenditureQuerySchoolParametersTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/ExpenditureQueryTrustParametersTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/GetExpenditureSchoolCustomFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/GetExpenditureSchoolFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/GetExpenditureSchoolHistoryComparatorSetAverageFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/GetExpenditureSchoolHistoryNationalAverageFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/GetExpenditureSchoolsFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/GetExpenditureTrustFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/GetExpenditureTrustHistoryFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Expenditure/GetExpenditureTrustsFunctionTests.cs
Due: pipelines/platform/build.yaml

chore: adds trust charaeristrics view
  core-infrastructure/src/db/Core.Database/Views/016-TrustCharacteristic.sql
Due: pipelines/core-infrastructure/build.yaml

hotfix: adds missing dimensions to query builder for trust balance
  platform/src/abstractions/Platform.Sql/QueryBuilders/BalanceQueries.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/BalanceQueryTests.cs
Due: pipelines/platform/build.yaml

hotfix: adds missing dimensions to query builder for trust balance (#1787)
  platform/src/abstractions/Platform.Sql/QueryBuilders/BalanceQueries.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/BalanceQueryTests.cs
Due: pipelines/platform/build.yaml

chore: restructure/refactor trusts feature within insights api. Adds unit test coverage for feature.
  platform/src/abstractions/Platform.Sql/QueryBuilders/TrustQueries.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/TrustQueryTests.cs
  platform/src/apis/Platform.Api.Insight/Configuration/Services.cs
  platform/src/apis/Platform.Api.Insight/Constants.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/GetTrustsCharacteristicsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/Models/TrustCharacteristic.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/Models/TrustPhase.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/Parameters/TrustsParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/Services/TrustsService.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/TrustsFunctions.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/TrustsParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/Trusts/TrustsService.cs
  platform/src/search/Platform.Search.Resources/LocalAuthority/LocalAuthorityDataSourceConnectionBuilder.cs
  platform/src/search/Platform.Search.Resources/School/SchoolDataSourceConnectionBuilder.cs
  platform/src/search/Platform.Search.Resources/SchoolComparators/SchoolComparatorsDataSourceConnectionBuilder.cs
  platform/src/search/Platform.Search.Resources/Trust/TrustDataSourceConnectionBuilder.cs
  platform/src/search/Platform.Search.Resources/TrustComparators/TrustComparatorsDataSourceConnectionBuilder.cs
  platform/tests/Platform.ApiTests/Steps/InsightTrustsSteps.cs
  platform/tests/Platform.Insight.Tests/Expenditure/ExpenditureQueryTrustParametersTests.cs
  platform/tests/Platform.Insight.Tests/Trusts/GetTrustsCharacteristicsFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Trusts/TrustsParametersTests.cs
  platform/tests/Platform.Insight.Tests/Trusts/WhenTrustsParametersSetsValues.cs
  platform/tests/Platform.Insight.Tests/Trusts/WhenTrustsServiceQueriesAsync.cs
Due: pipelines/platform/build.yaml

chore: Moved `<AccordionSection />` and `<DimensionedChart />` to composed components
  front-end-components/index.html
  front-end-components/src/composed/accordion-section/composed.tsx
  front-end-components/src/composed/accordion-section/index.tsx
  front-end-components/src/composed/accordion-section/types.tsx
  front-end-components/src/composed/dimensioned-chart/composed.tsx
  front-end-components/src/composed/dimensioned-chart/index.tsx
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/index.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs/partials/index.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-costs/partials/types.tsx
Due: pipelines/front-end-components/build.yaml

feat: Added 'chart title' to School compare your costs chart image downloads
  front-end-components/index.html
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/types.tsx
  front-end-components/src/hooks/useDownloadImage.ts
  front-end-components/src/services/image-service.ts
  front-end-components/src/services/index.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/accordion-section.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/index.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/types.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs/partials/index.tsx
  front-end-components/src/views/compare-your-costs/partials/section.tsx
  front-end-components/src/views/compare-your-costs/partials/total-expenditure.tsx
  front-end-components/src/views/compare-your-costs/partials/types.tsx
  web/tests/Web.E2ETests/Features/School/CompareYourCosts.feature
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

feat: Added 'chart title' to Trust compare your costs and balance chart image downloads
  front-end-components/index.html
  front-end-components/src/composed/dimensioned-chart/composed.tsx
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-trust/partials/balance.tsx
  front-end-components/src/views/compare-your-trust/partials/total-expenditure.tsx
Due: pipelines/front-end-components/build.yaml

chore: Deprecated `chartName` common chart prop
  front-end-components/index.html
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/line-chart/component.tsx
  front-end-components/src/components/charts/stat/component.tsx
  front-end-components/src/components/charts/stat/types.tsx
  front-end-components/src/components/charts/types.tsx
  front-end-components/src/components/charts/vertical-bar-chart/component.tsx
  front-end-components/src/composed/comparison-chart-summary/composed.tsx
  front-end-components/src/composed/comparison-chart-summary/types.tsx
  front-end-components/src/composed/dimensioned-chart/composed.tsx
  front-end-components/src/composed/historic-chart-2-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/types.tsx
  front-end-components/src/hooks/useDownloadImage.ts
  front-end-components/src/main.tsx
  front-end-components/src/views/budget-forecast-returns/partials/bfr-chart.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers-qualified.tsx
  front-end-components/src/views/deployment-plan/view.tsx
Due: pipelines/front-end-components/build.yaml

feat: Added 'chart title' to School compare census chart image downloads
  front-end-components/index.html
  front-end-components/src/composed/dimensioned-chart/composed.tsx
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/views/compare-your-census/partials/auxiliary-staff.tsx
  front-end-components/src/views/compare-your-census/partials/headcount.tsx
  front-end-components/src/views/compare-your-census/partials/non-classroom-support.tsx
  front-end-components/src/views/compare-your-census/partials/school-workforce.tsx
  front-end-components/src/views/compare-your-census/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census/partials/teaching-assistants.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers.tsx
  front-end-components/src/views/compare-your-costs/partials/accordion-sections/premises-staff-services.tsx
  web/tests/Web.E2ETests/Features/LocalAuthority/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/LocalAuthority/CompareYourCosts.feature
  web/tests/Web.E2ETests/Features/School/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/Trust/BenchmarkCensus.feature
  web/tests/Web.E2ETests/Features/Trust/CompareYourCosts.feature
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/BenchmarkCensusSteps.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/CompareYourCostsSteps.cs
  web/tests/Web.E2ETests/Steps/School/BenchmarkCensusSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/BenchmarkCensusSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/CompareYourCostsSteps.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

hotfix: fixes api test to include total income data
  platform/tests/Platform.ApiTests/Features/InsightTrusts.feature
Due: pipelines/platform/build.yaml

chore: linting feature file
  platform/tests/Platform.ApiTests/Features/InsightTrusts.feature
Due: pipelines/platform/build.yaml

chore: re-enables platform build quality gate
  pipelines/platform/steps/run-unit-tests.yaml
Due: pipelines/platform/build.yaml

hotfix: fixes datatype in view
  core-infrastructure/src/db/Core.Database/Views/016-TrustCharacteristic.sql
Due: pipelines/core-infrastructure/build.yaml

chore: Replaced multiple Files API endpoints for transparency files with single endpoint
  core-infrastructure/src/db/Core.Database/Views/001-CleanUp.sql
  core-infrastructure/src/db/Core.Database/Views/015-Files.sql
  platform/src/abstractions/Platform.Sql/QueryBuilders/ActiveFilesQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/ActiveFilesQueryTests.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/GetAarTransparencyFilesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/GetTransparencyFilesFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Mapper.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Models/FileModel.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Responses/FileResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/Files/Services/FilesService.cs
  platform/tests/Platform.ApiTests/Features/InsightFiles.feature
  platform/tests/Platform.ApiTests/Steps/InsightFilesSteps.cs
  platform/tests/Platform.Insight.Tests/Files/GetAarTransparencyFilesFunctionTests.cs
  platform/tests/Platform.Insight.Tests/Files/GetTransparencyFilesFunctionTests.cs
  web/src/Web.App/Controllers/DataSourceController.cs
  web/src/Web.App/Domain/Insight/Files.cs
  web/src/Web.App/Infrastructure/Apis/Insight/Api.cs
  web/src/Web.App/Infrastructure/Apis/Insight/FilesApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/WhenViewingDataSources.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: Bumped `front-end` to `1.1.30`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: Added mising prop to `trust` cost comparison charts, post refactor
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/utilities.tsx
Due: pipelines/front-end-components/build.yaml

chore: Bumped `front-end` to `1.1.31`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: Revert pipeline message payload `kind` from commit 1303232a16a1b790512be150d7c3795e51ea0ce0
  platform/src/abstractions/Platform.Domain/Messages/PipelinePayload.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateCustomDataRequest.cs
Due: pipelines/platform/build.yaml

chore: Renamed `PipelinePayload` types back to previous class names whilst persisting `kind` values
  platform/src/abstractions/Platform.Domain/Messages/PipelinePayload.cs
  platform/src/abstractions/Platform.Domain/Pipeline.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetsFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateComparatorSetRequest.cs
  platform/tests/Platform.Benchmark.Tests/WhenFunctionReceivesCreateCustomDataRequest.cs
Due: pipelines/platform/build.yaml

chore: Refactored 'save as image' button into `<ShareContent />` component
  front-end-components/src/components/share-content/component.tsx
  front-end-components/src/components/share-content/index.tsx
  front-end-components/src/components/share-content/styles.css
  front-end-components/src/components/share-content/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/views/budget-forecast-returns/partials/year-end.tsx
Due: pipelines/front-end-components/build.yaml

feat: update processing of AAR CS file/codes
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/aar_academies.py
  data-pipeline/src/pipeline/input_schemas/aar_central_services.py
  data-pipeline/src/pipeline/pre_processing/academies/central_services.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
Due: pipelines/data-pipeline/build.yaml

feat: Added `<ShareContentByElement />` component for use with any HTMLElement
  front-end-components/index.html
  front-end-components/src/components/charts/horizontal-bar-chart/component.tsx
  front-end-components/src/components/charts/line-chart/component.tsx
  front-end-components/src/components/charts/vertical-bar-chart/component.tsx
  front-end-components/src/components/share-content-by-element/component.tsx
  front-end-components/src/components/share-content-by-element/index.tsx
  front-end-components/src/components/share-content-by-element/types.tsx
  front-end-components/src/components/share-content/types.tsx
  front-end-components/src/constants.tsx
  front-end-components/src/hooks/useDownloadImage.ts
  front-end-components/src/main.tsx
Due: pipelines/front-end-components/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
