Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: integrates data pipeline for comparator set data
  platform/src/abstractions/Platform.Domain/ComparatorSetTypes.cs
  platform/src/abstractions/Platform.Domain/DataObjects/ComparatorDataObject.cs
  platform/src/abstractions/Platform.Domain/DataObjects/TeachingPeriodDataObject.cs
  platform/src/abstractions/Platform.Domain/Requests/FinancialPlanInputRequestModel.cs
  platform/src/abstractions/Platform.Domain/Requests/TeachingPeriodRequestModel.cs
  platform/src/abstractions/Platform.Domain/Responses/ComparatorSetResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/TeachingPeriodResponseModel.cs
  platform/src/abstractions/Platform.Functions/Extensions/JsonExtensions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetService.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetTypeHandler.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/DefaultComparatorSet.cs
  platform/src/apis/Platform.Api.Benchmark/Db/ComparatorSetDb.cs
  platform/src/apis/Platform.Api.Benchmark/Db/FinancialPlanDb.cs
  platform/src/apis/Platform.Api.Benchmark/Db/FinancialPlanFactory.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlan.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlanDetails.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlanFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlanService.cs
  platform/src/apis/Platform.Api.Benchmark/FinancialPlans/FinancialPlanSummary.cs
  platform/src/apis/Platform.Api.Benchmark/Platform.Api.Benchmark.csproj
  platform/src/apis/Platform.Api.Benchmark/Startup.cs
  platform/terraform/functions.tf
  platform/tests/Platform.Tests/Benchmark/ComparatorSetFunctionsTestBase.cs
  platform/tests/Platform.Tests/Benchmark/FinancialPlanFunctionsTestBase.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesGetComparatorSetRequest.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesQueryFinancialPlanRequest.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesRemoveFinancialPlanRequest.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesSingleFinancialPlanRequest.cs
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesUpsertFinancialPlanRequest.cs
  web/src/Web.App/Controllers/Api/CensusProxyController.cs
  web/src/Web.App/Controllers/Api/ProxyController.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Domain/ComparatorSet.cs
  web/src/Web.App/Infrastructure/Apis/BenchmarkApi.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
Due: pipelines/platform/build.yaml

chore: removing comments [skip ci]
  data-pipeline/docker/docker-compose.yml
Due: pipelines/data-pipeline/build.yaml

chore: minor updated to readme [skip ci]
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

chore: updating e2e .env so works in pipeline [skip ci]
  data-pipeline/tests/e2e/.env
Due: pipelines/data-pipeline/build.yaml

chore: content updates for spending and costs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
Due: none

prototype/sign-in-routing
  prototype/src/app/routes.js
  prototype/src/app/views/comparators/saved.html
  prototype/src/app/views/layouts/main.html
  prototype/src/app/views/sign-in.html
  prototype/src/app/views/trust-homepage.html
Due: none

prototype/sign-in-routing
  prototype/src/app/views/comparators/saved.html
Due: none

prototype/comparatorsandstartpagecontent
  prototype/src/app/views/comparators/create/by-name.html
  prototype/src/app/views/comparators/create/view.html
  prototype/src/app/views/comparators/reset.html
  prototype/src/app/views/loading-changed.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/spending-and-costs/index.html
  prototype/src/app/views/start.html
Due: none

Prototype/sign in routing (#847)
  prototype/src/app/routes.js
  prototype/src/app/views/compare-trusts/index.html
  prototype/src/app/views/layouts/main.html
  prototype/src/app/views/sign-in.html
  prototype/src/app/views/trust-homepage.html
Due: none

Prototype/bug fix
  prototype/src/app/routes.js
  prototype/src/app/views/comparators/create/preview.html
  prototype/src/app/views/compare-trusts/preview.html
Due: none

Prototype/Conflict fix
  prototype/src/app/views/school-homepage.html
Due: none

prototype/comparatorsandstartpagecontent (#846)
  prototype/src/app/views/comparators/create/by-name.html
  prototype/src/app/views/comparators/create/view.html
  prototype/src/app/views/comparators/reset.html
  prototype/src/app/views/loading-changed.html
  prototype/src/app/views/school-homepage.html
  prototype/src/app/views/start.html
Due: none

Prototype/Content update
  prototype/src/app/views/templates/details-comparators.njk
Due: none

chore: integrates data pipeline for metric rag data
  platform/src/abstractions/Platform.Domain/CostCategoryMappings.cs
  platform/src/abstractions/Platform.Domain/DataObjects/RatingsDataObject.cs
  platform/src/abstractions/Platform.Domain/Responses/RatingResponseModel.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetService.cs
  platform/src/apis/Platform.Api.Benchmark/Platform.Api.Benchmark.csproj
  platform/src/apis/Platform.Api.Insight/Db/RatingsDb.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRating.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingFunctions.cs
  platform/src/apis/Platform.Api.Insight/MetricRagRatings/MetricRagRatingService.cs
  platform/src/apis/Platform.Api.Insight/RatingsFunctions.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  platform/terraform/README.md
  platform/terraform/databases.tf
  platform/terraform/functions.tf
  platform/terraform/storage.tf
  platform/tests/Platform.Tests/Benchmark/WhenFunctionReceivesGetComparatorSetRequest.cs
  web/src/Web.App/Controllers/TrustSpendingController.cs
  web/src/Web.App/Domain/CostCategories.cs
  web/src/Web.App/Domain/Lookups.cs
  web/src/Web.App/Domain/RagRating.cs
  web/src/Web.App/Extensions/DecimalExtensions.cs
  web/src/Web.App/Infrastructure/Apis/InsightApi.cs
  web/src/Web.App/ViewModels/RagViewModel.cs
  web/src/Web.App/ViewModels/SchoolResourcesViewModel.cs
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/ViewModels/TrustSpendingViewModel.cs
  web/src/Web.App/ViewModels/TrustViewModel.cs
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/SchoolResources/_RecommendedResources.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
Due: pipelines/platform/build.yaml

chore: remove platform dbup
  pipelines/platform/deployment.yaml
  pipelines/platform/steps/build.yaml
  platform/Platform.sln
  platform/src/db/Platform.Database/DbUpExtensions.cs
  platform/src/db/Platform.Database/Options.cs
  platform/src/db/Platform.Database/Platform.Database.csproj
  platform/src/db/Platform.Database/Program.cs
  platform/src/db/Platform.Database/Scripts/001-CreateComparatorSetsTable.sql
  platform/src/db/Platform.Database/Scripts/002-CreateRAGRatingsTable.sql
  platform/src/db/Platform.Database/Scripts/003-CreateOrganisationTables.sql
  platform/src/db/Platform.Database/Scripts/004-CreateFinancialPlanTable.sql
  platform/src/db/Platform.Database/Scripts/005-AlterFinancialPlanTable.sql
  platform/src/db/Platform.Database/packages.lock.json
Due: pipelines/platform/build.yaml

Prototype/bug fix (#848)
  prototype/src/app/routes.js
  prototype/src/app/views/comparators/create/preview.html
  prototype/src/app/views/compare-trusts/preview.html
Due: none

Prototype/Content update (#849)
  prototype/src/app/views/templates/details-comparators.njk
Due: none

chore: adds non-financial table and updates to school table
  core-infrastructure/src/db/Core.Database/Scripts/003-UpdateSchoolTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/004-CreateNonFinancialTable.sql
Due: pipelines/core-infrastructure/build.yaml

chore: adds purge cron job for purging durable instances
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/variables.tf
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/terraform/functions.tf
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

hotfix: linting solution and correct tf var
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/terraform/functions.tf
Due: pipelines/platform/build.yaml

fix: Fixes AB#211937 for incorrect school type and new DB columns
  core-infrastructure/src/db/Core.Database/Scripts/004-IncreaseLengthOfAddressLine3.sql
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/workbooks/metric-rag.ipynb
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

Prototype content fix
  prototype/src/app/views/templates/details-comparators.njk
Due: none

Prototype content fix (#850)
  prototype/src/app/views/templates/details-comparators.njk
Due: none

fix: Fixes AB#211937 updating unit tests
  data-pipeline/tests/unit/pre_processing/test_gias.py
Due: pipelines/data-pipeline/build.yaml

Bug/211937 school type mapping (#851)
  core-infrastructure/src/db/Core.Database/Scripts/004-IncreaseLengthOfAddressLine3.sql
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/src/pipeline/rag.py
  data-pipeline/tests/unit/pre_processing/test_gias.py
  data-pipeline/workbooks/metric-rag.ipynb
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

changes to number formatting for charts and tables
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/components/charts/utils.test.ts
  front-end-components/src/components/charts/utils.ts
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
Due: pipelines/front-end-components/build.yaml

updates to start page
  web/src/Web.App/Views/Home/Index.cshtml
Due: none

Prototype/SEN characteristics
  prototype/src/app/views/comparators/create/characteristics.html
  prototype/src/app/views/templates/details-comparators.njk
Due: none

Prototype/SEN characteristics (#854)
  prototype/src/app/views/comparators/create/characteristics.html
  prototype/src/app/views/templates/details-comparators.njk
Due: none

chore: add status to user defined comparator sets
  core-infrastructure/src/db/Core.Database/Scripts/005-AddStatusToUserDefSet.sql
Due: pipelines/core-infrastructure/build.yaml

added in slope analysis
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

integrated slope calculation into pre-processing pipeline
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

fix mapping issue with academies phase types
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

changes to number formatting for charts and tables (#853)
  front-end-components/src/components/charts/table-chart/component.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/components/charts/utils.test.ts
  front-end-components/src/components/charts/utils.ts
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
Due: pipelines/front-end-components/build.yaml

updates to start page (#855)
  web/src/Web.App/Views/Home/Index.cshtml
Due: none

removed BFR addition in pre-processing.py to see if unit tests run successfully
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

remove mapping change to see if unit test fails
  data-pipeline/src/pipeline/mappings.py
Due: pipelines/data-pipeline/build.yaml

re-adding changes as test still failing
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

flagging top and bottom 10% of slopes
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

feat: adds end-points for user-defined comparator sets
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/storage.tf
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Domain/Messages/PipelineMessage.cs
  platform/src/abstractions/Platform.Domain/Platform.Domain.csproj
  platform/src/abstractions/Platform.Domain/Requests/PipelineJobRequestModel.cs
  platform/src/abstractions/Platform.Functions/Extensions/JsonExtensions.cs
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Infrastructure/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetService.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/ComparatorSetTypeHandler.cs
  platform/src/apis/Platform.Api.Benchmark/ComparatorSets/UserDefinedomparatorSet.cs
  platform/src/apis/Platform.Api.Benchmark/Platform.Api.Benchmark.csproj
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/JobStartMessageSender.cs
  platform/src/apis/Platform.Orchestrator/PipelineDb.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/src/apis/Platform.Orchestrator/Platform.Orchestrator.csproj
  platform/src/apis/Platform.Orchestrator/Startup.cs
  platform/src/apis/Platform.Orchestrator/SwaggerFunctions.cs
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search/packages.lock.json
  platform/terraform/functions.tf
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/supporting-data/build.yaml: any of: supporting-data
