Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: add more logging to the data pipeline (#2480)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/src/pipeline/pre_processing/academies/central_services.py
  data-pipeline/src/pipeline/pre_processing/ancillary/bfr.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cfo.py
  data-pipeline/src/pipeline/pre_processing/ancillary/high_exec_pay.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
  data-pipeline/src/pipeline/pre_processing/ancillary/schools.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/storage.py
  documentation/data/2_Sources.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

feat: Add `Heading` to `Banner` table and update migration/view and API response
  core-infrastructure/src/db/Core.Database/Scripts/118-AlterBannerTable.sql
  core-infrastructure/src/db/Core.Database/Views/025-ActiveBanners.sql
  platform/src/abstractions/Platform.Sql/QueryBuilders/ActiveBannersQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/ActiveBannersQueryTests.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Models/Banner.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Services/BannersService.cs
  platform/tests/Platform.ApiTests/Features/ContentBanners.feature
  platform/tests/Platform.Content.Tests/Banners/Services/WhenBannersServiceQueriesAsync.cs
  test-data/Banner.csv
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

updated release document.
  documentation/quality-assurance/release-test-plans/00021_release-test-plan.md
Due: pipelines/documentation/build.yaml

fixed linting
  documentation/quality-assurance/release-test-plans/00021_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated release label
  documentation/quality-assurance/release-test-plans/00021_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated entry criteria
  documentation/quality-assurance/release-test-plans/00021_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: Removed orphaned Front Door ruleset
  web/terraform/README.md
  web/terraform/front-door.tf
Due: pipelines/web/build.yaml

Update 10_Monthly-Reporting.md
  documentation/developers/10_Monthly-Reporting.md
Due: pipelines/documentation/build.yaml

feat: remove dask parallelisation
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

Release notes completed
  documentation/quality-assurance/release-test-plans/00021_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: add e2e tests for high executive pay chart in trust comparators
  web/tests/Web.E2ETests/Features/Trust/Comparators.feature
  web/tests/Web.E2ETests/Pages/Trust/Benchmarking/TrustBenchmarkSpendingPage.cs
  web/tests/Web.E2ETests/Steps/Trust/ComparatorsSteps.cs
Due: pipelines/web/build.yaml

chore: update test data for high executive pay
  test-data/TrustFinancial.csv
Due: none

Guide to manage feature flag (#2406)
  documentation/developers/13_Feature-Flags-Management-Guide.md
Due: pipelines/documentation/build.yaml

Doc/update developers monthly reporting (#2508)
  documentation/developers/10_Monthly-Reporting.md
  documentation/developers/images/monthly-data-source-settings.png
  documentation/developers/images/monthly-load-school-engagement.png
  documentation/developers/images/monthly-load-school-features.png
  documentation/developers/images/monthly-queries-and-connections.png
Due: pipelines/documentation/build.yaml

feat: Added ILR entry to Data Sources page
  web/src/Web.App/Views/DataSource/_DataSources.cshtml
Due: pipelines/web/build.yaml

feat: Populated High Needs and General glossary, rendering to view from markdown
  web/Directory.Packages.props
  web/Web.sln.DotSettings
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewModels/HighNeedsGlossaryViewModel.cs
  web/src/Web.App/Views/StaticContent/HighNeedsGlossary.cshtml
  web/src/Web.App/Web.App.csproj
  web/src/Web.App/packages.lock.json
  web/tests/Web.E2ETests/Features/HighNeedsGlossary.feature
  web/tests/Web.E2ETests/Pages/HighNeedsGlossaryPage.cs
  web/tests/Web.E2ETests/Steps/HighNeedsGlossarySteps.cs
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

Update 1_Domain.md (#2509)
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

fix: Resolve `ArgumentNullException` from integration test run in pipeline
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Middleware/Markdown/GdsMarkdownExtension.cs
  web/src/Web.App/Program.cs
  web/src/Web.App/ViewModels/HighNeedsGlossaryViewModel.cs
  web/tests/Web.Integration.Tests/WebAppClientBase.cs
  web/tests/Web.Tests/Middleware/WhenGdsMarkdownExtensionIsProcessed.cs
Due: pipelines/web/build.yaml

spike: Additional option documented for Azure Front Door upgrade [wip]
  documentation/developers/15_Azure-Front-Door-Upgrade
  documentation/developers/images/afd-premium-upgrade-006.png
  documentation/developers/images/afd-premium-upgrade-007.png
Due: pipelines/documentation/build.yaml

spike: Rollback options documented for a failed Azure Front Door upgrade
  documentation/developers/15_Azure-Front-Door-Upgrade.md
  documentation/developers/images/afd-premium-upgrade-008.png
  documentation/developers/images/afd-premium-upgrade-009.png
  documentation/developers/images/afd-premium-upgrade-010.png
  documentation/developers/images/afd-premium-upgrade-011.png
  documentation/developers/images/afd-premium-upgrade-012.png
Due: pipelines/documentation/build.yaml

chore: Moved documentation to an ADR
  documentation/architecture/decisions/0011_azure-front-door-upgrade.md
  documentation/architecture/decisions/images/afd-premium-upgrade-001.png
  documentation/architecture/decisions/images/afd-premium-upgrade-002.png
  documentation/architecture/decisions/images/afd-premium-upgrade-003.png
  documentation/architecture/decisions/images/afd-premium-upgrade-004.png
  documentation/architecture/decisions/images/afd-premium-upgrade-005.png
  documentation/architecture/decisions/images/afd-premium-upgrade-006.png
  documentation/architecture/decisions/images/afd-premium-upgrade-007.png
  documentation/architecture/decisions/images/afd-premium-upgrade-008.png
  documentation/architecture/decisions/images/afd-premium-upgrade-009.png
  documentation/architecture/decisions/images/afd-premium-upgrade-010.png
  documentation/architecture/decisions/images/afd-premium-upgrade-011.png
  documentation/architecture/decisions/images/afd-premium-upgrade-012.png
Due: pipelines/documentation/build.yaml

spike: Azure Front Door upgrade documentation [wip]
  .vscode/settings.json
  documentation/developers/14_Content-Management.md
  documentation/developers/15_Azure-Front-Door-Upgrade
  documentation/developers/images/afd-premium-upgrade-001.png
  documentation/developers/images/afd-premium-upgrade-002.png
  documentation/developers/images/afd-premium-upgrade-003.png
  documentation/developers/images/afd-premium-upgrade-004.png
  documentation/developers/images/afd-premium-upgrade-005.png
Due: pipelines/documentation/build.yaml

doc: Marked ADR 0011 as `Accepted`
  documentation/architecture/decisions/0011_azure-front-door-upgrade.md
Due: pipelines/documentation/build.yaml

doc: Resolve PR feedback on ADR
  documentation/architecture/decisions/0011_azure-front-door-upgrade.md
Due: pipelines/documentation/build.yaml

Update glossary.md (#2510)
  documentation/glossary.md
Due: pipelines/documentation/build.yaml

doc: Databricks ADR (#2473)
  documentation/architecture/12_DfE-Databricks.md
Due: pipelines/documentation/build.yaml

feat: Added warning message to historical charts when no data available
  front-end-components/index.html
  front-end-components/src/composed/historic-chart-2-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/component.tsx
Due: pipelines/front-end-components/build.yaml

chore: Bumped `front-end` to `1.1.102`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: Updated chart and warning counts on School Historic Data E2E tests
  web/tests/Web.E2ETests/Features/School/HistoricData.feature
  web/tests/Web.E2ETests/Pages/School/HistoricDataPage.cs
  web/tests/Web.E2ETests/Steps/School/HistoricDataSteps.cs
Due: pipelines/web/build.yaml

fix: Updated E2E test coverage over High Needs history to honour 'missing data' warning
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsHistoricData.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsHistoricDataPage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsHistoricDataSteps.cs
Due: pipelines/web/build.yaml

feat: New `Banner` table definition and 'active' rows view
  core-infrastructure/src/db/Core.Database/Scripts/117-CreateBannerTable.sql
  core-infrastructure/src/db/Core.Database/Views/025-Banners.sql
Due: pipelines/core-infrastructure/build.yaml

docs: ADR0012 (#2519)
  documentation/architecture/decisions/0008-resolving-Intermittent-errors-function-app.md
  documentation/architecture/decisions/0009-js-library.md
  documentation/architecture/decisions/0012_uage-managed-identity.md
Due: pipelines/documentation/build.yaml

chore: add check to documentation pipeline to verify pdf created (#2515)
  pipelines/documentation/generate-docs.yaml
Due: pipelines/documentation/build.yaml

feat: API tests for `api/banner/{target}` endpoint
  platform/tests/Platform.ApiTests/Features/ContentBanners.feature
  platform/tests/Platform.ApiTests/Steps/ContentBannersSteps.cs
  test-data/Banner.csv
Due: pipelines/platform/build.yaml

docs: updated pr template
  .github/pull_request_template.md
Due: none

feat: Unit test coverage over `api/banner/{target}` endpoint and related dependencies
  platform/src/abstractions/Platform.Sql/QueryBuilders/ActiveBannersQueries.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/ActiveBannersQueryTests.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Services/BannersService.cs
  platform/tests/Platform.Content.Tests/Banners/Functions/GetBannerFunctionTests.cs
  platform/tests/Platform.Content.Tests/Banners/Handlers/GetBannerV1HandlerTests.cs
  platform/tests/Platform.Content.Tests/Banners/Services/WhenBannersServiceQueriesAsync.cs
Due: pipelines/platform/build.yaml

feat: Added `api/banner/{target}` endpoint to Content API
  core-infrastructure/src/db/Core.Database/Views/025-ActiveBanners.sql
  platform/src/abstractions/Platform.Sql/QueryBuilders/BannersQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/apis/Platform.Api.Content/Configuration/Services.cs
  platform/src/apis/Platform.Api.Content/Constants.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/BannersFeature.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/GetBannerFunction.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Handlers/GetBannerV1Handler.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Models/Banner.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Routes.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Services/BannersService.cs
  test-data/Banner.csv
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

fix: recalculate total and per-unit costs for ILR (#2522)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/src/pipeline/pre_processing/ancillary/custom_data.py
  data-pipeline/src/pipeline/pre_processing/total_per_unit.py
  data-pipeline/tests/unit/pre_processing/test_total_per_unit.py
Due: pipelines/data-pipeline/build.yaml

chore: Post-rebase fixup
  core-infrastructure/src/db/Core.Database/Scripts/117-AlterLocalAuthorityFinancialTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/118-AlterLocalAuthorityFinancialTable.sql
  core-infrastructure/src/db/Core.Database/Scripts/119-AlterLocalAuthorityFinancialTable.sql
Due: pipelines/core-infrastructure/build.yaml
