Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

docs: release label confirmed
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: release date confirmed
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

docs: add test results for pre-prod
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated docummentations to include referernce of test accounts
  documentation/quality-assurance/9_DSI-Test-Organisations-And-Account-Management.md
Due: pipelines/documentation/build.yaml

updated completeness report and exit criteria
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2024-2025-data-release.md
Due: pipelines/documentation/build.yaml

updated completeness report and exit criteria (#3668)
  documentation/quality-assurance/data-release-test-plans/00001_AAR-2024-2025-data-release.md
Due: pipelines/documentation/build.yaml

docs: update with outcome
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: bump front-end-components dependencies
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

docs: release test plan 30 (#3667)
  documentation/quality-assurance/release-test-plans/00030_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: bump Web dependencies
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: bump Web.Shutter dependencies
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: bump Platform dependencies
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: bump Prototype dependencies
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml

feat: add OverallPhase to school income views, and created data-normalised varient of each view
  core-infrastructure/src/db/Core.Database/Views/006-IncomeSchool.sql
Due: pipelines/core-infrastructure/build.yaml

feat: db views for school income comparator set averages
  core-infrastructure/src/db/Core.Database/Views/033-IncomeSchoolComparatorAve.sql
Due: pipelines/core-infrastructure/build.yaml

fix: exclude negative values from normalised school income views
  core-infrastructure/src/db/Core.Database/Views/006-IncomeSchool.sql
Due: pipelines/core-infrastructure/build.yaml

feat: data-normalised views for school income (#3674)
  core-infrastructure/src/db/Core.Database/Views/006-IncomeSchool.sql
Due: pipelines/core-infrastructure/build.yaml

feat: db views for school income comparator set averages (#3675)
  core-infrastructure/src/db/Core.Database/Views/033-IncomeSchoolComparatorAve.sql
Due: pipelines/core-infrastructure/build.yaml

chore: bump front-end-components dependencies (#3669)
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: bump Web dependencies (#3670)
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Due: pipelines/web/build.yaml

chore: bump Web.Shutter dependencies (#3671)
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

chore: bump Platform dependencies (#3672)
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
Due: pipelines/platform/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: bump Prototype dependencies (#3673)
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml

fix: add FinanceType to school income base and normalised views
  core-infrastructure/src/db/Core.Database/Views/006-IncomeSchool.sql
Due: pipelines/core-infrastructure/build.yaml

feat: create school income national average views
  core-infrastructure/src/db/Core.Database/Views/034-IncomeSchoolNationalAve.sql
Due: pipelines/core-infrastructure/build.yaml

Feature/290722/301626 income national avg db views (#3678)
  core-infrastructure/src/db/Core.Database/Views/006-IncomeSchool.sql
  core-infrastructure/src/db/Core.Database/Views/034-IncomeSchoolNationalAve.sql
Due: pipelines/core-infrastructure/build.yaml

chore: bump Web dependencies
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

fix: remove OverallPhase column from comparator set views
  core-infrastructure/src/db/Core.Database/Views/033-IncomeSchoolComparatorAve.sql
Due: pipelines/core-infrastructure/build.yaml

chore: bump Web dependencies
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/src/Web.Redirect/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: pipelines/web/build.yaml

fix: remove OverallPhase column from comparator set views (#3680)
  core-infrastructure/src/db/Core.Database/Views/033-IncomeSchoolComparatorAve.sql
Due: pipelines/core-infrastructure/build.yaml

feat: add school income comparator set average history endpoint
  platform/src/abstractions/Platform.Sql/QueryBuilders/IncomeQueries.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetIncomeComparatorSetAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/IncomeService.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetIncomeComparatorSetAverageHistoryFunctionTests.cs
Due: pipelines/platform/build.yaml

feat: create data-normalised views for school balance, and add req'd fields to default views
  core-infrastructure/src/db/Core.Database/Views/004-BalanceSchool.sql
Due: pipelines/core-infrastructure/build.yaml

feat: add school income comparator set average history endpoint (#3682)
  platform/src/abstractions/Platform.Sql/QueryBuilders/IncomeQueries.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeComparatorSetAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetIncomeComparatorSetAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/IncomeService.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetIncomeComparatorSetAverageHistoryFunctionTests.cs
Due: pipelines/platform/build.yaml

test: unit tests for income history parameters and validators
  platform/tests/Platform.School.Tests/Features/Accounts/Parameters/IncomeNationalAvgParametersTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Parameters/IncomeParametersTests.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Validators/WhenIncomeNationalAvgParametersValidatorValidates.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Validators/WhenIncomeParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

feat: add school income national average history endpoint
  platform/src/abstractions/Platform.Cache/CacheKeyFactory.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/IncomeQueries.cs
  platform/src/abstractions/tests/Platform.Cache.Tests/CacheKey/WhenCacheKeyFactoryCreatesCacheKey.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Functions/GetIncomeNationalAverageHistoryFunction.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Handlers/GetIncomeNationalAverageHistoryHandler.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Parameters/IncomeParameters.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Services/IncomeService.cs
  platform/src/apis/Platform.Api.School/Features/Accounts/Validators/IncomeNationalAvgParametersValidator.cs
  platform/tests/Platform.School.Tests/Features/Accounts/Functions/GetIncomeNationalAverageHistoryFunctionTests.cs
Due: pipelines/platform/build.yaml

feat: configure IAM for Databricks connectors
  core-infrastructure/terraform/storage.tf
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

terraform format
  core-infrastructure/terraform/variables.tf
Due: pipelines/core-infrastructure/build.yaml

Correct reference to storage account
  core-infrastructure/terraform/storage.tf
Due: pipelines/core-infrastructure/build.yaml

feat: create school balance comparator set average views
  core-infrastructure/src/db/Core.Database/Views/035-BalanceSchoolComparatorAve.sql
Due: pipelines/core-infrastructure/build.yaml
