Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

chore: uppdate e2e tests for part year warning banner assertions
  web/tests/Web.E2ETests/Pages/School/CompareYourCostsPage.cs
  web/tests/Web.E2ETests/Steps/School/CompareYourCostsSteps.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
Due: pipelines/web/build.yaml

fix: Moved Cost Codes under (sub)category title and resolve margin/vertical alignment
  front-end-components/index.html
  front-end-components/src/components/share-content/styles.scss
  front-end-components/src/composed/dimensioned-chart/composed.tsx
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/types.tsx
  front-end-components/src/views/compare-your-census-2/partials/auxiliary-staff.tsx
  front-end-components/src/views/compare-your-census-2/partials/headcount.tsx
  front-end-components/src/views/compare-your-census-2/partials/non-classroom-support.tsx
  front-end-components/src/views/compare-your-census-2/partials/school-workforce.tsx
  front-end-components/src/views/compare-your-census-2/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census-2/partials/teaching-assistants.tsx
  front-end-components/src/views/compare-your-census-2/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-census-2/partials/total-teachers.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/administrative-supplies.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/catering-staff-services.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/educational-ict.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/educational-supplies.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/non-educational-support-staff.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/other-costs.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/premises-staff-services.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/teaching-support-staff.tsx
  front-end-components/src/views/compare-your-costs-2/partials/accordion-sections/utilities.tsx
  front-end-components/src/views/compare-your-costs-2/partials/total-expenditure.tsx
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

refactor: rename and move partial into component folder
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/BulletedList.cshtml
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/_DataInformation.cshtml
Due: pipelines/web/build.yaml

feat: adds explicit rules to align with Azure defaults (#3322)
  documentation/developers/17_Azure-Front-Door-Review.md
  web/terraform/README.md
  web/terraform/front-door.tf
Due: pipelines/documentation/build.yaml, pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

feat: `IncompleteFinances` banner only displayed for part year schools when `KS4ProgressBanding` feature disabled
  web/src/Web.App/Views/SchoolComparison/Index.cshtml
Due: pipelines/web/build.yaml

feat: add additional content to ComparatorSetDetails BulletedList view
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/BulletedList.cshtml
  web/src/Web.App/Views/Shared/_IntroductionDataInformation.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparison.cs
Due: pipelines/web/build.yaml

chore: ChartTableByDataTitle selector added for e2e tests
  web/tests/Web.E2ETests/Pages/School/BenchmarkCensusPage.cs
Due: pipelines/web/build.yaml

fix: Resolved individual chart image creation with cost codes
  front-end-components/src/components/share-content-by-element/component.tsx
  front-end-components/src/components/share-content-by-element/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/hooks/useDownloadImage.ts
Due: pipelines/front-end-components/build.yaml

fix: Resolved entire page chart image creation with cost codes
  front-end-components/src/components/modals/modal-save-images/modal-save-images-modal/component.tsx
  front-end-components/src/components/modals/modal-save-images/modal-save-images-modal/types.tsx
  front-end-components/src/components/page-actions/component.tsx
  front-end-components/src/components/page-actions/types.tsx
  front-end-components/src/components/share-content-by-element/component.tsx
  front-end-components/src/components/share-content-by-element/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/hooks/useDownloadImage.ts
  front-end-components/src/views/compare-your-census-2/view.tsx
  front-end-components/src/views/compare-your-costs-2/view.tsx
Due: pipelines/front-end-components/build.yaml

fix: Prevented cost code flex items from growing and included '% central' in saved images
  front-end-components/index.html
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

Update links
  documentation/data/2_Sources.md
  documentation/data/sources/dsg-funding.md
Due: pipelines/documentation/build.yaml

fix: Fixed `AccordionSection` `options` rendering to reposition Catering 'total as' radios
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/web/build.yaml

Update 2_Sources.md
  documentation/data/2_Sources.md
Due: pipelines/documentation/build.yaml

updated test causing failure in pipeline
  web/tests/Web.E2ETests/Features/School/BenchmarkCensus.feature
Due: pipelines/web/build.yaml

updated test causing failure in pipeline (#3331)
  web/tests/Web.E2ETests/Features/School/BenchmarkCensus.feature
Due: pipelines/web/build.yaml

fix: only show data information for positive expenditure only and partial year for school comparison, not census
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/BulletedList.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Census/WhenViewingCensus.cs
Due: pipelines/web/build.yaml

refactor: split ComparatorSetDetails BulletedList view into partials for clarity
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/BulletedList.cshtml
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/_CustomData.cshtml
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/_DefaultComparatorSet.cshtml
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/_MissingComparatorSet.cshtml
  web/src/Web.App/Views/Shared/Components/ComparatorSetDetails/_UserDefinedSet.cshtml
Due: pipelines/web/build.yaml

doc: update s251 ancillary data context (#3317)
  documentation/data/1_Domain.md
  documentation/data/sources/dsg-funding.md
Due: pipelines/documentation/build.yaml

release plan 26 - WIP
  documentation/quality-assurance/release-test-plans/00026_release-test-plan.md
Due: pipelines/documentation/build.yaml

chore: Bumped `govuk-frontend` to latest
  front-end-components/index.html
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
