Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: E2E test coverage for banner on home page
  test-data/Banner.csv
  web/src/Web.App/ViewComponents/BannerViewComponent.cs
  web/src/Web.App/ViewModels/Components/BannerViewModel.cs
  web/src/Web.App/Views/Home/Index.cshtml
  web/src/Web.App/Views/Shared/Components/Banner/Default.cshtml
  web/tests/Web.E2ETests/Features/HomePage.feature
  web/tests/Web.E2ETests/Pages/HomePage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/HomePageSteps.cs
Due: pipelines/web/build.yaml

feat: E2E test coverage for banner on remaining home pages
  test-data/Banner.csv
  web/tests/Web.E2ETests/Features/LocalAuthority/LocalAuthorityHome.feature
  web/tests/Web.E2ETests/Features/School/SchoolHome.feature
  web/tests/Web.E2ETests/Features/Trust/TrustHome.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HomePage.cs
  web/tests/Web.E2ETests/Pages/School/HomePage.cs
  web/tests/Web.E2ETests/Pages/Trust/HomePage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HomeSteps.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
  web/tests/Web.E2ETests/Steps/Trust/HomeSteps.cs
Due: pipelines/web/build.yaml

docs: Service banner feature documentation
  documentation/features/10_Service-Banners.md
  documentation/features/9_Commercial-Resources.md
Due: pipelines/documentation/build.yaml

Use logger setup function
  data-pipeline/src/pipeline/stats_collector.py
  data-pipeline/tests/unit/test_stats_collector.py
Due: pipelines/data-pipeline/build.yaml

Add pipeline run stats to CompletedPipelineRun table (#2569)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
  data-pipeline/src/pipeline/pre_processing/ancillary/census.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cfo.py
  data-pipeline/src/pipeline/pre_processing/ancillary/gias.py
  data-pipeline/src/pipeline/pre_processing/ancillary/high_exec_pay.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks2.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ks4.py
  data-pipeline/src/pipeline/pre_processing/ancillary/sen.py
  data-pipeline/src/pipeline/stats_collector.py
  data-pipeline/tests/unit/test_stats_collector.py
Due: pipelines/data-pipeline/build.yaml

fix: wrap keytool commands in code block to prevent pipeline failures when generating pdfs for docs
  documentation/quality-assurance/4_Performance-Testing.md
Due: pipelines/documentation/build.yaml

chore: add additional logging to build docs script
  documentation/tools/build-docs.sh
Due: pipelines/documentation/build.yaml

chore: update vite entry point for local dev
  front-end-components/index.html
Due: pipelines/front-end-components/build.yaml

feat: add content below chart for explanation of emolument bands
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
Due: pipelines/front-end-components/build.yaml

feat: update text for suppress negative and zero warning
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
Due: pipelines/front-end-components/build.yaml

feat: update payBandFormatter to return range as currency
  front-end-components/src/components/charts/utils.test.ts
  front-end-components/src/components/charts/utils.ts
Due: pipelines/front-end-components/build.yaml

feat: update title for high executive pay chart
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
Due: pipelines/front-end-components/build.yaml

Update to python 3.13
  data-pipeline/docker/pipeline-worker/Dockerfile
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  pipelines/data-pipeline/steps/build-push-image.yaml
  pipelines/data-pipeline/steps/run-e2e-tests.yaml
  pipelines/data-pipeline/steps/run-lint.yaml
  pipelines/data-pipeline/steps/run-unit-tests.yaml
Due: pipelines/data-pipeline/build.yaml

fix: Wrapped SSR chart and stat boxes in `costs-chart-container` with `uuid` in order to include missing content in saved images
  web/src/Web.App/Views/SchoolSpending/CustomDataSsr.cshtml
  web/src/Web.App/Views/SchoolSpending/IndexSsr.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCostsSsr/Default.cshtml
Due: pipelines/web/build.yaml

chore: ensure file is in correct loaction
  documentation/architecture/decisions/0013_DfE-Databricks.md
Due: pipelines/documentation/build.yaml

chore: Added script to update commercial resources
  documentation/features/9_Commercial-Resources.md
  scripts/content/001-commercial-resources-2025-07.sql
  web/tests/Web.E2ETests/Features/School/CommercialResources.feature
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/SpendingCostsPage.cs
Due: pipelines/documentation/build.yaml, pipelines/web/build.yaml

feat: Create new AFD WAF policy based on environment-specific SKU configuration
  web/terraform/README.md
  web/terraform/front-door.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

Update to python 3.13 (#2572)
  data-pipeline/docker/pipeline-worker/Dockerfile
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
  pipelines/data-pipeline/steps/build-push-image.yaml
  pipelines/data-pipeline/steps/run-e2e-tests.yaml
  pipelines/data-pipeline/steps/run-lint.yaml
  pipelines/data-pipeline/steps/run-unit-tests.yaml
Due: pipelines/data-pipeline/build.yaml

feat: updates to high executive pay chart (#2573)
  front-end-components/index.html
  front-end-components/src/components/charts/utils.test.ts
  front-end-components/src/components/charts/utils.ts
  front-end-components/src/composed/dimensioned-chart/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
Due: pipelines/front-end-components/build.yaml

feat: add TotalPupils to TrustExpenditure in web app
  web/src/Web.App/Domain/Insight/Expenditure.cs
Due: pipelines/web/build.yaml

feat: add TotalPupils to trust expenditure dimensioned views
  core-infrastructure/src/db/Core.Database/Views/012-ExpenditureTrust.sql
Due: pipelines/core-infrastructure/build.yaml

feat: add TotalPupils expenditure trust model and response. Add to mapper for NonEducationalSupportStaff
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Mapper.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Models/ExpenditureTrustModel.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Responses/ExpenditureTrustResponse.cs
  platform/tests/Platform.Insight.Tests/Expenditure/WhenMapperMapsToApiResponse.cs
Due: pipelines/platform/build.yaml

feat: add total pupils numbers to tooltip for high executive pay chart
  front-end-components/src/components/charts/pay-band-tooltip/component.tsx
  front-end-components/src/services/types.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/types.tsx
Due: pipelines/front-end-components/build.yaml

fix: disable Mermaid CLI sandbox in documentation pipeline
  documentation/tools/build-docs.sh
  documentation/tools/puppeteer-config.json
Due: pipelines/documentation/build.yaml

chore: for testing only disable condition to run GenerateDocumentation stage and only generate pdfs not copy and publish
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

fix: resolve PR feedback add totalPupils to TrustChartData type
  front-end-components/src/components/charts/pay-band-tooltip/component.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
Due: pipelines/front-end-components/build.yaml

fix: resolve PR feedback heading for totalPupils changed to Number of pupils
  front-end-components/src/components/charts/pay-band-tooltip/component.tsx
Due: pipelines/front-end-components/build.yaml

chore: lint
  front-end-components/src/components/charts/pay-band-tooltip/component.tsx
Due: pipelines/front-end-components/build.yaml

fix: resolve PR feedback, omit totalPupils from TrustChartData in HorizontalBarChartWrapper
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
Due: pipelines/front-end-components/build.yaml

test strategy for dynamic content
  documentation/quality-assurance/8_Dynamic-Content-Test-Strategy.md
Due: pipelines/documentation/build.yaml

Revert "chore: for testing only disable condition to run GenerateDocumentation stage and only generate pdfs not copy and publish"
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

feat: add TotalPupils to tooltip for high executive pay chart (#2575)
  core-infrastructure/src/db/Core.Database/Views/012-ExpenditureTrust.sql
  front-end-components/src/components/charts/pay-band-tooltip/component.tsx
  front-end-components/src/components/charts/table-chart/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-wrapper/composed.tsx
  front-end-components/src/services/types.tsx
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/types.tsx
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Mapper.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Models/ExpenditureTrustModel.cs
  platform/src/apis/Platform.Api.Insight/Features/Expenditure/Responses/ExpenditureTrustResponse.cs
  platform/tests/Platform.Insight.Tests/Expenditure/WhenMapperMapsToApiResponse.cs
  web/src/Web.App/Domain/Insight/Expenditure.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

chore: update CommercialResources.json following updates to d02 CommercialResources table
  platform/tests/Platform.ApiTests/Data/CommercialResources.json
Due: pipelines/platform/build.yaml

tweaks.
  documentation/quality-assurance/8_Dynamic-Content-Test-Strategy.md
Due: pipelines/documentation/build.yaml
