Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

refactor: move pupil-comparator check
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/ilr.py
Due: pipelines/data-pipeline/build.yaml

test: ignore extra columns in ILR tests
  data-pipeline/tests/unit/pre_processing/test_ilr.py
Due: pipelines/data-pipeline/build.yaml

feat: wires up new API response
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Domain/CommercialResources.cs
  web/src/Web.App/Domain/CostCategories.cs
  web/src/Web.App/Domain/Lookups.cs
  web/src/Web.App/Services/CommercialResourcesService.cs
  web/src/Web.App/ViewComponents/CommercialResourceViewComponent.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsSsrViewComponent.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsViewComponent.cs
  web/src/Web.App/ViewModels/Components/CommercialResourceViewModel.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/ViewModels/LocalAuthorityResourcesViewModel.cs
  web/src/Web.App/ViewModels/SchoolResourcesViewModel.cs
  web/src/Web.App/ViewModels/SchoolSpendingViewModel.cs
  web/src/Web.App/ViewModels/TrustResourcesViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Resources.cshtml
  web/src/Web.App/Views/School/Resources.cshtml
  web/src/Web.App/Views/School/_RecommendedResources.cshtml
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/src/Web.App/Views/SchoolSpending/CustomDataSsr.cshtml
  web/src/Web.App/Views/SchoolSpending/Index.cshtml
  web/src/Web.App/Views/SchoolSpending/IndexSsr.cshtml
  web/src/Web.App/Views/Shared/CommercialResource/AllResources.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCosts/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCostsSsr/Default.cshtml
  web/src/Web.App/Views/Trust/Resources.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingResources.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingResources.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingResources.cs
  web/tests/Web.Tests/Domain/GivenACommercialResources.cs
  web/tests/Web.Tests/Services/WhenCommercialResourcesServiceIsCalled.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolResourcesViewModel.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolSpendingViewModel.cs
Due: pipelines/web/build.yaml

hotfix: fixes failing e2e tests
  web/tests/Web.E2ETests/Features/School/CommercialResources.feature
  web/tests/Web.E2ETests/Features/School/SpendingCosts.feature
  web/tests/Web.E2ETests/Pages/School/CommercialResourcesPage.cs
Due: pipelines/web/build.yaml

hotfix: enables search feature AB#263113 AB#261093
  pipelines/web/steps/run-a11y-tests.yaml
  pipelines/web/steps/run-e2e-tests.yaml
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

hotix: toggle category filter on tests
  pipelines/web/steps/run-a11y-tests.yaml
  pipelines/web/steps/run-e2e-tests.yaml
Due: pipelines/web/build.yaml

fix: revert changes to pupil-checks for comparator-sets
  data-pipeline/src/pipeline/part_year/common.py
  data-pipeline/tests/unit/part_year/test_pupil_comparator.py
  data-pipeline/tests/unit/pre_processing/test_ilr.py
Due: pipelines/data-pipeline/build.yaml

hotfix: fixes labelling on input control
  web/src/Web.App/Views/Shared/Search/_SearchTerm.cshtml
Due: pipelines/web/build.yaml

fix: stop > character clashing with mermaid parsing
  documentation/data/3_Processing.md
Due: pipelines/documentation/build.yaml

docs: add script to run all db migrations
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

doc: stop > character clashing with mermaid parsing
  documentation/data/3_Processing.md
Due: pipelines/documentation/build.yaml

Guide to manage feature flag
  documentation/features/Feature-Flags-Management-Guide.md
Due: pipelines/documentation/build.yaml

doc: instructions for how to run a C# project for data people
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

moved to developer section and updated file name
  documentation/developers/12_Feature-Flags-Management-Guide.md
Due: pipelines/documentation/build.yaml

exp: adds api versioning
  platform/src/abstractions/Platform.Functions/Constants.cs
  platform/src/abstractions/Platform.Functions/Extensions/HttpRequestDataExtensions.cs
  platform/src/abstractions/Platform.Functions/VersionedHandler.cs
  platform/src/abstractions/Platform.Functions/VersionedHandlerDispatcher.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Functions/GetTrustFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Functions/PostTrustComparatorsFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Functions/PostTrustsSearchFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Functions/PostTrustsSuggestFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Handlers/GetTrustHandler.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/TrustsFeature.cs
  platform/tests/Platform.Establishment.Tests/Trusts/GetTrustFunctionTests.cs
Due: pipelines/platform/build.yaml

doc: stop > character clashing with mermaid parsing (#2404)
  documentation/data/3_Processing.md
Due: pipelines/documentation/build.yaml

doc: specify brew install is for MacOS
  data-pipeline/README.md
Due: pipelines/data-pipeline/build.yaml

fix: Added diagnostic logging to Redirect app service
  web/terraform/README.md
  web/terraform/provider.tf
  web/terraform/redirect.tf
Due: pipelines/web/build.yaml

feat: KQL function for SFB requests via Front Door
  support-analytics/terraform/README.md
  support-analytics/terraform/provider.tf
  support-analytics/terraform/queries.tf
  support-analytics/terraform/queries/functions/get-sfb-referrer-requests.kql
Due: pipelines/support-analytics/release.yaml

feat: Added KQL function to list requests to Redirect app service, with referrer URLs
  support-analytics/terraform/queries/functions/get-sfb-referrer-requests.kql
Due: pipelines/support-analytics/release.yaml

feat: Added documentation for generating SFB decommissioning stats for the MI report
  documentation/developers/10_Monthly-Reporting.md
Due: pipelines/documentation/build.yaml

chore: Log error if Redirect app service endpoint hit, instead of web.config redirect
  web/src/Web.Redirect/Program.cs
  web/src/Web.Redirect/Web.Redirect.csproj
  web/src/Web.Redirect/packages.lock.json
Due: pipelines/web/build.yaml

docs: adds initial documentation
  documentation/developers/12_API-Versioning.md
Due: pipelines/documentation/build.yaml

exp: return a standard RFC 7807 Problem Details object.
  platform/src/abstractions/Platform.Functions/ContentType.cs
  platform/src/abstractions/Platform.Functions/Extensions/HttpRequestDataExtensions.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Functions/GetTrustFunction.cs
Due: pipelines/platform/build.yaml

feat: Reinstated 'chart stats' for SSR chart
  front-end-components/src/components/charts/stat/component.tsx
  front-end-components/src/components/charts/stat/styles.scss
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/builder.ts
  web/src/Web.App/AssetSrc/scss/_variables.scss
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCostsSsr/Default.cshtml
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/web/build.yaml

exp: adds Platform.Function unit tests
  platform/src/abstractions/Platform.Functions/VersionedHandler.cs
  platform/src/abstractions/tests/Platform.Functions.Tests/Extensions/WhenHttpRequestDataCreateUnsupportedVersion.cs
  platform/src/abstractions/tests/Platform.Functions.Tests/Extensions/WhenHttpRequestDataReadsVersion.cs
  platform/src/abstractions/tests/Platform.Functions.Tests/VersionedHandlerDispatcherTests.cs
Due: pipelines/platform/build.yaml

feat: Moved 'chart stat' to partial view and model
  web/src/Web.App/ViewModels/ChartStatViewModel.cs
  web/src/Web.App/Views/Shared/Components/SchoolSpendingCostsSsr/Default.cshtml
  web/src/Web.App/Views/Shared/_ChartStat.cshtml
Due: pipelines/web/build.yaml

docs: linting
  documentation/developers/12_API-Versioning.md
Due: pipelines/documentation/build.yaml

exp: linting
  platform/src/abstractions/Platform.Functions/Extensions/HttpRequestDataExtensions.cs
  platform/src/abstractions/Platform.Functions/VersionedHandlerDispatcher.cs
  platform/src/abstractions/tests/Platform.Functions.Tests/Extensions/WhenHttpRequestDataCreateUnsupportedVersion.cs
  platform/src/abstractions/tests/Platform.Functions.Tests/VersionedHandlerDispatcherTests.cs
Due: pipelines/platform/build.yaml

exp: adds Platform.Api unit tests
  platform/src/abstractions/Platform.Test/FunctionsTestBase.cs
  platform/src/abstractions/Platform.Test/HandlerTestBase.cs
  platform/src/abstractions/Platform.Test/Mocks/MockHttpRequestData.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Functions/GetTrustFunction.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Handlers/GetTrustHandler.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/TrustsFeature.cs
  platform/tests/Platform.Establishment.Tests/Trusts/Functions/GetTrustFunctionTests.cs
  platform/tests/Platform.Establishment.Tests/Trusts/GetTrustFunctionTests.cs
  platform/tests/Platform.Establishment.Tests/Trusts/Handlers/GetTrustHandlerV1Tests.cs
Due: pipelines/platform/build.yaml

exp: refactor
  platform/src/abstractions/Platform.Functions/Extensions/HttpRequestDataExtensions.cs
  platform/src/abstractions/tests/Platform.Functions.Tests/Extensions/WhenHttpRequestDataCreateUnsupportedVersion.cs
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Handlers/GetTrustHandler.cs
  platform/tests/Platform.Establishment.Tests/Trusts/Handlers/GetTrustHandlerV1Tests.cs
Due: pipelines/platform/build.yaml

feat: Integration tests for 'chart stat' boxes on School Spending Priorities
  web/src/Web.App/Views/Shared/_ChartStat.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpending.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSpending.cs
Due: pipelines/web/build.yaml

linting
  platform/src/abstractions/Platform.Functions/Extensions/HttpRequestDataExtensions.cs
Due: pipelines/platform/build.yaml

Adds OpenApi parameter for API version
  platform/src/apis/Platform.Api.Establishment/Features/Trusts/Functions/GetTrustFunction.cs
Due: pipelines/platform/build.yaml
