Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: Trust IT integration tests
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
Due: pipelines/web/build.yaml

another stash
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/base_pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/bfr_pyspark_mocks.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/engine.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
Due: pipelines/data-pipeline/build.yaml

chore: resolve PR feedback
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendTrustsParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
Due: pipelines/platform/build.yaml

feat: add two new endpoints to ItSpend to support Trust to Trust IT spend benchmarking (#2978)
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustForecastFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/ItSpendFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendTrustForecastParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendTrustsParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendTrustForecastResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendTrustResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendTrustForecastParametersValidator.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendTrustsParametersValidator.cs
  platform/tests/Platform.ApiTests/Data/ItSpendTrustForecast.json
  platform/tests/Platform.ApiTests/Data/ItSpendTrusts.json
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
  platform/tests/Platform.ApiTests/Steps/InsightItSpendSteps.cs
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendTrustForecastFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendTrustsFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendTrustForecastParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendTrustsParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendTrustForecastParametersValidatorValidates.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendTrustsParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

hotifx: align WAF config with manual changes. Switched to prevention with managed rules set to log.
  web/terraform/front-door.tf
  web/terraform/variables.tf
Due: pipelines/web/build.yaml

chore: Revert Trust IT spend charts as out of scope of this task
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/TrustComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostHorizontalBarChartRequest.cs
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendChart.cshtml
Due: pipelines/web/build.yaml

feat: Trust IT ViewModel and API unit tests
  web/src/Web.App/ViewModels/TrustComparisonSubCategoriesViewModel.cs
  web/tests/Web.Tests/Infrastructure/GivenAnItSpendApi.cs
  web/tests/Web.Tests/ViewModels/GivenATrustComparisonItSpendViewModel.cs
Due: pipelines/web/build.yaml

feat: Trust IT spend filter and charts
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/TrustComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Insight/ItSpend.cs
  web/src/Web.App/Domain/ItSpendingCategories.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/Insight/Api.cs
  web/src/Web.App/Infrastructure/Apis/Insight/ItSpendApi.cs
  web/src/Web.App/ViewModels/SchoolComparisonSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/ViewModels/TrustComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendChart.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendFilter.cshtml
Due: pipelines/web/build.yaml

chore: rename columns in views to match usage elsewhere
  core-infrastructure/src/db/Core.Database/Views/028-ItSpendTrust.sql
Due: pipelines/core-infrastructure/build.yaml

chore: rename and remove unnecessary column
  core-infrastructure/src/db/Core.Database/Views/028-ItSpendTrust.sql
Due: pipelines/core-infrastructure/build.yaml

feat: second view to filter values for only previous year
  core-infrastructure/src/db/Core.Database/Views/028-ItSpendTrust.sql
Due: pipelines/core-infrastructure/build.yaml

feat: create "base" view to pivot it spend values from bfr submission to provide the values for the three years required for IT Spend
  core-infrastructure/src/db/Core.Database/Views/028-ItSpendTrust.sql
Due: pipelines/core-infrastructure/build.yaml

Create data-architecture.md (#2974)
  documentation/data/sources/data-architecture.md
Due: pipelines/documentation/build.yaml

feat: Display BFR context above Trust IT spend charts
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendChart.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Tests/ViewModels/GivenATrustComparisonItSpendViewModel.cs
Due: pipelines/web/build.yaml

feat: Added charts to Trust IT spend
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/TrustComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostHorizontalBarChartRequest.cs
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendChart.cshtml
Due: pipelines/web/build.yaml

feat: Test coverage over non-sensitive Trust IT spend charts
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Tests/Domain/Charts/GivenASchoolComparisonItSpendHorizontalBarChartRequest.cs
  web/tests/Web.Tests/Domain/Charts/GivenATrustComparisonItSpendHorizontalBarChartRequest.cs
Due: pipelines/web/build.yaml

finish off first pass of spark implementation
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/base_pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/bfr_pyspark_mocks.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/calculations.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/engine.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
Due: pipelines/data-pipeline/build.yaml

feat: Added tables to Trust IT spend
  web/src/Web.App/ViewModels/TrustComparisonItSpendViewModel.cs
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendTable.cshtml
Due: pipelines/web/build.yaml

feat: Test coverage over non-sensitive Trust IT spend tables
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
Due: pipelines/web/build.yaml

feat: create DB views for trust to trust IT spend benchmarking (#2980)
  core-infrastructure/src/db/Core.Database/Views/028-ItSpendTrust.sql
Due: pipelines/core-infrastructure/build.yaml

modularise
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/base_pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/it_spend.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
Due: pipelines/data-pipeline/build.yaml

modularise out preprocessor, lint
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/base_pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/bfr_pyspark_mocks.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/it_spend.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/preprocessor.py
Due: pipelines/data-pipeline/build.yaml

use old academies data
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
Due: pipelines/data-pipeline/build.yaml

clean up imports
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
Due: pipelines/data-pipeline/build.yaml

feat: new QueryBuilders to obtain data from it spend trust views
  platform/src/abstractions/Platform.Sql/QueryBuilders/ItSpendTrustQueries.cs
Due: pipelines/platform/build.yaml

feat: update it spend trust endpoints to consume data ingested for bfr it spend values
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Models/ItSpendTrustForecastModel.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
Due: pipelines/platform/build.yaml

refactor: simplify trust forecast endpoint. Remove metadata Web does not need to consume. companyNumber added to route which also simplifies validation.
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustForecastFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/ItSpendFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Models/ItSpendTrustForecastModel.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendTrustForecastParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendTrustForecastResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendTrustForecastParametersValidator.cs
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendTrustForecastFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendTrustForecastParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendTrustForecastParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

chore: update platform api tests and persist d02 seed test data
  platform/tests/Platform.ApiTests/Data/ItSpendTrustForecast.json
  platform/tests/Platform.ApiTests/Data/ItSpendTrusts.json
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
  platform/tests/Platform.ApiTests/Steps/InsightItSpendSteps.cs
  test-data/BudgetForecastReturn.csv
Due: pipelines/platform/build.yaml

feat: wire up trust it spend api endpoints (#3060)
  platform/src/abstractions/Platform.Sql/QueryBuilders/ItSpendTrustQueries.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustForecastFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/ItSpendFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendTrustForecastParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendTrustForecastResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendTrustForecastParametersValidator.cs
  platform/tests/Platform.ApiTests/Data/ItSpendTrustForecast.json
  platform/tests/Platform.ApiTests/Data/ItSpendTrusts.json
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
  platform/tests/Platform.ApiTests/Steps/InsightItSpendSteps.cs
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendTrustForecastFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendTrustForecastParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendTrustForecastParametersValidatorValidates.cs
  test-data/BudgetForecastReturn.csv
Due: pipelines/platform/build.yaml

refactor loader base class
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/base.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/base.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/forecast_and_risk.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/loader.py
Due: pipelines/data-pipeline/build.yaml

Make local spark a context manager
  data-pipeline/src/pipeline/pre_processing/bfr/databricks-pipeline.py
Due: pipelines/data-pipeline/build.yaml

make it work on databricks
  data-pipeline/src/pipeline/pre_processing/bfr/run_spark_notebook.ipynb
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/__init__.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/bfr_pyspark_mocks.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/config.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/preprocessor.py
Due: pipelines/data-pipeline/build.yaml

stash basic testing
  data-pipeline/src/pipeline/pre_processing/bfr/databricks-pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/base.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/pipeline.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/preprocessor.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/conftest.py
  data-pipeline/src/pipeline/pre_processing/bfr/sparkcode/tests/test_base.py
Due: pipelines/data-pipeline/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
