Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

updated risk mitigation section
  documentation/quality-assurance/release-test-plans/00028_release-test-plan.md
Due: pipelines/documentation/build.yaml

folder structure
  documentation/guides/chart-inconsistency-rationale/01_Inconsistency-Rationale.md
  documentation/guides/chart-inconsistency-rationale/images/trust-balance-axis-label-inconsistency.png
  documentation/guides/chart-inconsistency-rationale/images/trust-it-benchmark-highlight-inconsistency.png
Due: pipelines/documentation/build.yaml

Update 01_Inconsistency-Rationale.md
  documentation/guides/chart-inconsistency-rationale/01_Inconsistency-Rationale.md
Due: pipelines/documentation/build.yaml

doc: Updated Chart Rendering API docs to cover Legend and Stacked chart
  documentation/features/13_Chart-Rendering-Api.md
  documentation/features/images/stacked-chart-1.svg
Due: pipelines/documentation/build.yaml

chore: override `tmp` package version to `^0.2.4` to address a CVE
  web/src/Web.Shutter/package-lock.json
  web/src/Web.Shutter/package.json
Due: pipelines/web/build.yaml

Update trust-balance-axis-label-inconsistency.png
  documentation/guides/chart-principles/images/trust-balance-axis-label-inconsistency.png
Due: pipelines/documentation/build.yaml

Update 03_Inconsistency-Rationale.md
  documentation/guides/chart-principles/03_Inconsistency-Rationale.md
Due: pipelines/documentation/build.yaml

Update draft
  documentation/guides/chart-principles/03_Inconsistency-Rationale.md
  documentation/guides/chart-principles/images/trust-balance-axis-label-inconsistency.png
  documentation/guides/chart-principles/images/trust-it-benchmark-highlight-inconsistency.png
Due: pipelines/documentation/build.yaml

Inconsistency Rationale
  documentation/guides/chart-principles/01_Introduction.md
  documentation/guides/chart-principles/03_Inconsistency-Rationale.md
  documentation/guides/chart-principles/images/trust-balance-axis-label-inconsistency.png
  documentation/guides/chart-principles/images/trust-it-benchmark-highlight-inconsistency.png
Due: pipelines/documentation/build.yaml

chore: remove some dev dependencies to remove nbconvert
  data-pipeline/Makefile
  data-pipeline/poetry.lock
  data-pipeline/pyproject.toml
Due: pipelines/data-pipeline/build.yaml

s251 db extract process (#3458)
  documentation/data/source-files/s251-db-extract.md
Due: pipelines/documentation/build.yaml

fixed linting
  documentation/features/14_Rounding-off-rules-in-service.md
Due: pipelines/documentation/build.yaml

updated rules for tooltips
  documentation/features/14_Rounding-off-rules-in-service.md
Due: pipelines/documentation/build.yaml

added documentation for the rounding off rules in the service.
  documentation/features/14_Rounding-off-rules-in-service.md
  documentation/features/images/Table-rounded-to-nearest-£.png
  documentation/features/images/chart-percentage-rounding.png
  documentation/features/images/chart-showing-potential-issue-with-rounding.png
  documentation/features/images/charts-rounded-to-K-format.png
Due: pipelines/documentation/build.yaml

resolved comments
  documentation/features/14_Rounding-off-rules-in-service.md
  documentation/features/images/chart-ratio-rounding.png
Due: pipelines/documentation/build.yaml

hotfix: fixes paths for new projects in build pipeline
  pipelines/platform/steps/build.yaml
Due: pipelines/platform/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

tech-debt: add Education Health Care Plans endpoints to Local Authority API
  platform/src/apis/Platform.Api.LocalAuthority/Configuration/Services.cs
  platform/src/apis/Platform.Api.LocalAuthority/Constants.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Functions/QueryEducationHealthCarePlansFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Functions/QueryEducationHealthCarePlansHistoryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Handlers/QueryEducationHealthCarePlansHandler.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Handlers/QueryEducationHealthCarePlansHistoryHandler.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Mapper.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Models/EducationHealthCarePlansDto.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Models/EducationHealthCarePlansResponse.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Models/YearsModelDto.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/OpenApiExamples.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Parameters/EducationHealthCarePlansParameters.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/ServiceCollection.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Services/EducationHealthCarePlansService.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/EducationHealthCarePlans/Validators/EducationHealthCarePlansParametersValidator.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/StatisticalNeighbours/Routes.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesFunction.cs
  platform/src/apis/Platform.Api.NonFinancial/Features/EducationHealthCarePlans/GetEducationHealthCarePlansLocalAuthoritiesHistoryFunction.cs
Due: pipelines/platform/build.yaml

chore: remove unsupport file
  .mailmap
Due: none

tech-debt: add maintained schools end points to local authority api
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Functions/QueryMaintainedSchoolsFinanceFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Functions/QueryMaintainedSchoolsWorkforceFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Handlers/QueryMaintainedSchoolFinanceHandler.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Handlers/QueryMaintainedSchoolWorkforceHandler.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Models/LocalAuthorityResponse.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Models/SortFields.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/OpenApiExamples.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Parameters/FinanceSummaryParameters.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Parameters/WorkforceSummaryParameters.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/ServiceCollection.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Services/MaintainedSchoolsService.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Validators/FinanceSummaryParametersValidator.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Details/Validators/WorkforceSummaryParametersValidator.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetFinanceSummaryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/GetWorkforceSummaryFunction.cs
  platform/tests/Platform.ApiTests/Platform.ApiTests.csproj
Due: pipelines/platform/build.yaml

tech-debt: adds High Needs end points to Local Authoiry API
  platform/src/apis/Platform.Api.LocalAuthority/Configuration/Services.cs
  platform/src/apis/Platform.Api.LocalAuthority/Constants.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Functions/QueryHighNeedsFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Functions/QueryHighNeedsHistoryFunction.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Handlers/QueryHighNeedsHandler.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Handlers/QueryHighNeedsHistoryHandler.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Mapper.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/HighNeeds.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/HighNeedsAmount.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/HighNeedsYear.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/History.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/LocalAuthority.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/PlaceFunding.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/TopFunding.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Models/YearsModelDto.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/OpenApiExamples.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Parameters/HighNeedsParameters.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Routes.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/ServiceCollection.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Services/HighNeedsService.cs
  platform/src/apis/Platform.Api.LocalAuthority/Features/Accounts/Validators/HighNeedsParametersValidator.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/GetHighNeedsFunction.cs
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/HighNeeds/GetHighNeedsHistoryFunction.cs
Due: pipelines/platform/build.yaml

tech-debt: adds budget forecast return end points to Trust API
  platform/src/apis/Platform.Api.Insight/Features/BudgetForecast/GetBudgetForecastCurrentYearFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/BudgetForecast/GetBudgetForecastMetricsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/BudgetForecast/GetBudgetForecastReturnFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustForecastFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustsFunction.cs
  platform/src/apis/Platform.Api.Trust/Configuration/Services.cs
  platform/src/apis/Platform.Api.Trust/Constants.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Functions/GetForecastRiskFunction.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Functions/GetForecastRiskMetricsFunction.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Functions/GetItSpendingForecastFunction.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Functions/QueryItSpendingFunction.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Handlers/GetForecastRiskMHandler.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Handlers/GetForecastRiskMetricsHandler.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Handlers/GetItSpendingForecastHandler.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Handlers/QueryItSpendingHandler.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Mapper.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Models/ActualReturnModelDto.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Models/BudgetForecastReturnMetricModelDto.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Models/BudgetForecastReturnModelDto.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Models/ForecastRiskMetricsResponse.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Models/ForecastRiskResponse.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Models/ItSpendingResponse.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/OpenApiExamples.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Parameters/ForecastRiskParameters.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Parameters/ItSpendingParameters.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Routes.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/ServiceCollection.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Services/BudgetForecastService.cs
  platform/src/apis/Platform.Api.Trust/Features/BudgetForecast/Validators/ItSpendingParametersValidator.cs
  platform/src/apis/Platform.Api.Trust/Features/Comparators/Routes.cs
  platform/src/apis/Platform.Api.Trust/Features/Details/Routes.cs
  platform/src/apis/Platform.Api.Trust/Platform.Api.Trust.csproj
Due: pipelines/platform/build.yaml

chore: adds build stage to generate documentation
  pipelines/platform/build.yaml
Due: pipelines/platform/build.yaml

fix: removal of variable and adds extra steps
  pipelines/platform/build.yaml
Due: pipelines/platform/build.yaml

chore: adds steps to create markdown
  pipelines/platform/build.yaml
Due: pipelines/platform/build.yaml

fix: install tooling
  pipelines/platform/build.yaml
Due: pipelines/platform/build.yaml

fix: trying to get tooling working
  pipelines/platform/build.yaml
Due: pipelines/platform/build.yaml

fix: remove build stage
  pipelines/platform/build.yaml
  platform/.config/dotnet-tools.json
Due: pipelines/platform/build.yaml

AAR data drop test plan - WIP
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

updated section for transparency file
  documentation/quality-assurance/data-drops-test-plans/00001_AAR-2025-data-drop.md
Due: pipelines/documentation/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
