Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/supporting-data/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/supporting-data/build.yaml: any of: supporting-data

added raw files for MAT and maintained
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/academy_ar.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/academy_master_list.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/cdc.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/census_pupils.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/census_workforce.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/gias.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/gias_all_links.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/gias_links.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/ks2.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/ks4.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/maintained_schools_master_list.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMaintainedSchools/raw/sen.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/academy_ar.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/academy_master_list.csv
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/cdc.csv
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/census_pupils.csv
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/census_workforce.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/gias.csv
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/gias_all_links.csv
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/gias_links.csv
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/ks2.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/ks4.xlsx
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/maintained_schools_master_list.csv
  data-pipeline/tests/e2e/scenarios/WhenLoadingMultiAcademyTrusts/raw/sen.xlsx
Due: pipelines/data-pipeline/build.yaml

remove crendentials
  data-pipeline/tests/e2e/.env.local
Due: pipelines/data-pipeline/build.yaml

hotfix: add feature to app settings
  web/terraform/app-service.tf
Due: none

added mock data for BFR unit test
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
Due: pipelines/data-pipeline/build.yaml

build_bfr_data test implementation
  data-pipeline/tests/unit/pre_processing/conftest.py
Due: pipelines/data-pipeline/build.yaml

editing test input
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
Due: pipelines/data-pipeline/build.yaml

editing tests to try to validate process
  data-pipeline/tests/unit/pre_processing/conftest.py
Due: pipelines/data-pipeline/build.yaml

feat: adds comparator list pages
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataService.cs
  platform/src/apis/Platform.Api.Insight/Schools/SchoolsFunctions.cs
  platform/src/apis/Platform.Api.Insight/Schools/SchoolsService.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Domain/ComparatorSet.cs
  web/src/Web.App/Domain/SchoolCharacteristic.cs
  web/src/Web.App/Domain/UserData.cs
  web/src/Web.App/Infrastructure/Apis/ComparatorSetApi.cs
  web/src/Web.App/ViewModels/SchoolComparatorsViewModel.cs
  web/src/Web.App/Views/SchoolComparators/Index.cshtml
  web/src/Web.App/Views/SchoolComparators/UserDefined.cshtml
Due: pipelines/platform/build.yaml

Data pipeline/bfr (#844)
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/mappings.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/workbooks/pre-processing.ipynb
  documentation/architecture/10_Data-Processing.md
  documentation/architecture/FBIT-Diagrams.drawio
  documentation/architecture/images/Container-View.png
  documentation/architecture/images/Interaction-Viewpoint.png
  documentation/architecture/images/Logical-Data-Model.png
  documentation/architecture/images/System-Context.png
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

feat: adds comparator list pages (#888)
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataService.cs
  platform/src/apis/Platform.Api.Insight/Schools/SchoolsFunctions.cs
  platform/src/apis/Platform.Api.Insight/Schools/SchoolsService.cs
  platform/src/apis/Platform.Api.Insight/Startup.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Domain/ComparatorSet.cs
  web/src/Web.App/Domain/SchoolCharacteristic.cs
  web/src/Web.App/Domain/UserData.cs
  web/src/Web.App/Infrastructure/Apis/ComparatorSetApi.cs
  web/src/Web.App/ViewModels/SchoolComparatorsViewModel.cs
  web/src/Web.App/Views/SchoolComparators/Index.cshtml
  web/src/Web.App/Views/SchoolComparators/UserDefined.cshtml
Due: pipelines/platform/build.yaml

feat: Added `<SchoolInput>` front end component to user-defined comparator set chooser
  front-end-components/index.html
  front-end-components/src/constants.tsx
  front-end-components/src/main.tsx
  front-end-components/vite.config-dev.ts
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Constants/SessionKeys.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Domain/ComparatorSet.cs
  web/src/Web.App/Services/ComparatorSetService.cs
  web/src/Web.App/ViewModels/SchoolComparatorsByNameViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Name.cshtml
Due: pipelines/front-end-components/build.yaml

feat: Ability to add/remove schools from in-memory user defined comparator set
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/ViewModels/SchoolComparatorsByNameViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsChosenSchoolsViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Name.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_ChosenSchools.cshtml
Due: none

chore: add script for financial table
  core-infrastructure/src/db/Core.Database/Scripts/009-CreateFinancialTable.sql
Due: pipelines/core-infrastructure/build.yaml

chore: temp allow pipeline to continue to test environment
  pipelines/web/steps/run-a11y-tests.yaml
  pipelines/web/steps/run-e2e-tests.yaml
Due: none

chore: add feature flag to temp disable claim check
  web/src/Web.App/Attributes/SchoolAuthorizationAttribute.cs
  web/src/Web.App/Attributes/TrustAuthorizationAttribute.cs
  web/src/Web.App/Constants/FeatureFlags.cs
  web/src/Web.App/appsettings.Development.json
  web/terraform/README.md
  web/terraform/app-service.tf
  web/terraform/variables.tf
Due: none

Prototype/Trust updates
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/views/index.html
  prototype/src/app/views/spending-and-costs/trust.html
  prototype/src/app/views/trust-homepage.html
Due: none

Prototype/trust spending (#890)
  prototype/src/app/assets/sass/application.scss
  prototype/src/app/views/index.html
  prototype/src/app/views/spending-and-costs/trust.html
  prototype/src/app/views/trust-homepage.html
Due: none

chore: adds additional trust finance tools
  web/src/Web.App/AssetSrc/images/areas-for-investigation.png
  web/src/Web.App/AssetSrc/images/benchmark-census.png
  web/src/Web.App/AssetSrc/images/central-services.png
  web/src/Web.App/AssetSrc/images/compare-your-costs.png
  web/src/Web.App/AssetSrc/images/curriculum-financial-planning.png
  web/src/Web.App/AssetSrc/images/forecast-risk.png
  web/src/Web.App/Constants/FinanceTools.cs
  web/src/Web.App/Views/Shared/Components/TrustFinanceTools/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/Views/TrustCensus/Index.cshtml
  web/src/Web.App/Views/TrustComparison/Index.cshtml
  web/src/Web.App/package-lock.json
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingComparison.cs
Due: none

feat: update census text to pupil and workforce AB#210099
  front-end-components/src/views/historic-data/view.tsx
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/ViewComponents/DataSourceViewComponent.cs
  web/src/Web.App/ViewModels/TrustDetailsViewModel.cs
  web/src/Web.App/Views/LocalAuthorityCensus/Index.cshtml
  web/src/Web.App/Views/SchoolCensus/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthorityFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/SchoolFinanceTools/Default.cshtml
  web/src/Web.App/Views/Shared/Components/TrustFinanceTools/Default.cshtml
  web/src/Web.App/Views/TrustCensus/Index.cshtml
  web/src/Web.App/Views/TrustDetails/index.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/FinancialPlanning/WhenViewingPlanning.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingCensus.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingComparison.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingCensus.cs
Due: pipelines/front-end-components/build.yaml

chore: bumps front-end version
  web/src/Web.App/package-lock.json
Due: none

feat: Initial changes for AB# 212102, implementing loading non-financial data to DB.
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  data-pipeline/tests/unit/pre_processing/test_sen.py
Due: pipelines/data-pipeline/build.yaml

feat: Completed census mapping for non-finance db table
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

chore: clearing notebooks
  data-pipeline/workbooks/comparator-sets.ipynb
  data-pipeline/workbooks/metric-rag.ipynb
  data-pipeline/workbooks/schema_tables.ipynb
Due: pipelines/data-pipeline/build.yaml

fix: fixing up unit tests
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_cdc.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  data-pipeline/tests/unit/pre_processing/test_gias.py
  data-pipeline/tests/unit/pre_processing/test_sen.py
Due: pipelines/data-pipeline/build.yaml

Feat/non financial db (#891)
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_cdc.py
  data-pipeline/tests/unit/pre_processing/test_census.py
  data-pipeline/tests/unit/pre_processing/test_gias.py
  data-pipeline/tests/unit/pre_processing/test_sen.py
  data-pipeline/workbooks/comparator-sets.ipynb
  data-pipeline/workbooks/metric-rag.ipynb
  data-pipeline/workbooks/schema_tables.ipynb
Due: pipelines/data-pipeline/build.yaml

chore: DISABLING e2e tests for the minute
  data-pipeline/tests/e2e/synthetic_data_test.py
Due: pipelines/data-pipeline/build.yaml

chore: add additional views for trusts
  core-infrastructure/src/db/Core.Database/Scripts/010-CreateCurrentDefaultNonFinancialView.sql
  core-infrastructure/src/db/Core.Database/Scripts/011-CreateSchoolTrustViews.sql
  platform/src/abstractions/Platform.Infrastructure/Search/SearchResourceNames.cs
  platform/src/apis/Platform.Api.Benchmark/Comparators/ComparatorSchoolsRequest.cs
  platform/src/search/Platform.Search/SchoolComparators/SchoolComparatorsSchoolDataSourceConnectionBuilder.cs
  platform/src/search/Platform.Search/SchoolComparators/SchoolComparatorsSchoolIndexerBuilder.cs
  platform/src/search/Platform.Search/SearchMaintenanceService.cs
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

hotfix: ensure loading spinner is shown on workforce charts whilst fetching data
  front-end-components/src/views/compare-your-census/partials/auxiliary-staff.tsx
  front-end-components/src/views/compare-your-census/partials/headcount.tsx
  front-end-components/src/views/compare-your-census/partials/non-classroom-support.tsx
  front-end-components/src/views/compare-your-census/partials/school-workforce.tsx
  front-end-components/src/views/compare-your-census/partials/senior-leadership.tsx
  front-end-components/src/views/compare-your-census/partials/teaching-assistants.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers-qualified.tsx
  front-end-components/src/views/compare-your-census/partials/total-teachers.tsx
Due: pipelines/front-end-components/build.yaml

hotfix: Disabling BFR for the moment as it is erroring
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
Due: pipelines/data-pipeline/build.yaml

chore: updates school characteristic view non financial data
  core-infrastructure/src/db/Core.Database/Scripts/012-AlterSchoolCharaceteristicView.sql
  web/src/Web.App/package-lock.json
Due: pipelines/core-infrastructure/build.yaml

feat: Poll for status of user defined comparator set
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataFunctions.cs
  platform/src/apis/Platform.Api.Benchmark/UserData/UserDataService.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Extensions/ClaimsPrincipalExtensions.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Submit.cshtml
Due: pipelines/platform/build.yaml

feat: Submit pending user defined comparator set
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Extensions/ClaimsPrincipalExtensions.cs
  web/src/Web.App/Infrastructure/Apis/ComparatorSetApi.cs
  web/src/Web.App/Infrastructure/Apis/Requests/PutComparatorSetUserDefinedRequest.cs
  web/src/Web.App/ViewModels/SchoolComparatorsChosenSchoolsViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparatorsSubmittedViewModel.cs
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Submit.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/_ChosenSchools.cshtml
Due: none

feat: Success/failure message on School landing page once user defined comparator set process complete
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/ViewModels/SchoolViewModel.cs
  web/src/Web.App/Views/School/Index.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Index.cshtml
  web/src/Web.App/Views/SchoolComparatorsCreateBy/Submit.cshtml
Due: none
