Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: SSR chart API test coverage over new horizontal bar chart configuration
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyMissingDataLabel.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyMissingDataLabelRequest.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Models/PostHorizontalBarChartRequest.cs
  platform/tests/Platform.ApiTests/Steps/ChartRenderingHorizontalBarChartSteps.cs
Due: pipelines/platform/build.yaml

feat: Missing data SVG label styles
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/web/build.yaml

feat: Do not render bar nor label for missing data points if `missingDataLabel` set
  platform/src/apis/Platform.Api.ChartRendering/.vscode/settings.json
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
Due: pipelines/platform/build.yaml

feat: Moved `sort()` to utils and added unit test coverage
  platform/src/apis/Platform.Api.ChartRendering/jest.config.js
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
Due: pipelines/platform/build.yaml

feat: new alert added to Trigger on any failure on nightly commercial resources check
  support-analytics/terraform/alerts.tf
  support-analytics/terraform/queries/commercial-resources-check.kql
Due: pipelines/support-analytics/release.yaml

chore: add new test project to platform for MaintenanceTasks and add unit test over MonitorCommercialResources
  platform/Platform.sln
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
  platform/src/apis/Platform.MaintenanceTasks/Platform.MaintenanceTasks.csproj
  platform/tests/Platform.MaintenanceTasks.Tests/MonitorCommercialResources/MonitorCommercialResourcesFunctionTests.cs
  platform/tests/Platform.MaintenanceTasks.Tests/MonitorCommercialResources/Services/MonitorCommercialResourcesServiceTests.cs
  platform/tests/Platform.MaintenanceTasks.Tests/Platform.MaintenanceTasks.Tests.csproj
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

refactor: remove service. Move logging to call site. Update tests
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFeature.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/Services/MonitorCommercialResourcesService.cs
  platform/tests/Platform.MaintenanceTasks.Tests/MonitorCommercialResources/MonitorCommercialResourcesFunctionTests.cs
  platform/tests/Platform.MaintenanceTasks.Tests/MonitorCommercialResources/Services/MonitorCommercialResourcesServiceTests.cs
Due: pipelines/platform/build.yaml

feat: set TimerTrigger for 02:00 UTC
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
Due: pipelines/platform/build.yaml

exp: alter TimerTrigger for feat env development only
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
Due: pipelines/platform/build.yaml

refactor: replace GetAsync with SendAsync and `HEAD`
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
Due: pipelines/platform/build.yaml

feat: add new MonitorCommercialResourcesFunction to check response for each active commercial resources record and output logs and telemetry.
  platform/src/abstractions/Platform.Sql/QueryBuilders/CommericalResourcesQueries.cs
  platform/src/apis/Platform.MaintenanceTasks/Configuration/Services.cs
  platform/src/apis/Platform.MaintenanceTasks/Constants.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/Models/CommercialResource.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/Models/CommercialResourceResult.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFeature.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/Services/MonitorCommercialResourcesService.cs
  platform/src/apis/Platform.MaintenanceTasks/Features/UserDataCleanUp/CleanUpFunctions.cs
Due: pipelines/platform/build.yaml

chore: amend error log message
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
Due: pipelines/platform/build.yaml

Revert "refactor: replace GetAsync with SendAsync and `HEAD`"
  platform/src/apis/Platform.MaintenanceTasks/Features/MonitorCommercialResources/MonitorCommercialResourcesFunction.cs
Due: pipelines/platform/build.yaml

feat: Add optional domain range to chart configuration
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyCustomDomain.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyCustomDomainRequest.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Models/ChartRequest.cs
Due: pipelines/platform/build.yaml

chore: update documentation for commercial resources
  documentation/features/9_Commercial-Resources.md
Due: pipelines/documentation/build.yaml

chore: update support analytics terraform docs
  support-analytics/terraform/README.md
Due: pipelines/support-analytics/release.yaml

Update 1_Domain.md
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

docs: first draft for waf review process
  documentation/developers/17_Azure-Front-Door-Review.md
Due: pipelines/documentation/build.yaml

linting
  documentation/developers/17_Azure-Front-Door-Review.md
Due: pipelines/documentation/build.yaml

Update 1_Domain.md (#2969)
  documentation/data/1_Domain.md
Due: pipelines/documentation/build.yaml

more functionalisation
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

parametrise, add sofa y3
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

pull out some functions
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

clarify
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
Due: pipelines/data-pipeline/build.yaml

bugfix
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

comment
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

functionalise more
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

pull out functions
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

add comment
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

lint, rearrange
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/pre_processing/aar/academies.py
  data-pipeline/src/pipeline/pre_processing/bfr/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
Due: pipelines/data-pipeline/build.yaml

comments
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

variable names
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

stash
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

Adjust for tests
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
Due: pipelines/data-pipeline/build.yaml

final fix
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

Add it spend breakdown to BFR table
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml

format
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Due: pipelines/data-pipeline/build.yaml
