Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

minor updates
  documentation/data/7_Cost-Categories.md
Due: pipelines/documentation/build.yaml

linting
  documentation/data/7_Cost-Categories.md
Due: pipelines/documentation/build.yaml

chore: update data releases docs to link to SharePoint for access request instructions
  documentation/data/5_Releases.md
Due: pipelines/documentation/build.yaml

feat: define new insight IT spend schools api endpoint. Currently returns stubbed data
  platform/src/apis/Platform.Api.Insight/Configuration/Services.cs
  platform/src/apis/Platform.Api.Insight/Constants.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendSchoolsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/ItSpendFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendSchoolsParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendSchoolResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendSchoolsParametersValidator.cs
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendSchoolsFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendSchoolsParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendSchoolsParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

chore: add platform api tests over stubbed data for insights IT spend schools endpoint
  platform/tests/Platform.ApiTests/Data/ItSpendSchoolsActual.json
  platform/tests/Platform.ApiTests/Data/ItSpendSchoolsPerUnit.json
  platform/tests/Platform.ApiTests/Data/ItSpendSchoolsPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/ItSpendSchoolsPercentIncome.json
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
  platform/tests/Platform.ApiTests/Steps/InsightItSpendSteps.cs
Due: pipelines/platform/build.yaml

feat: Added title to School IT spend view
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
  web/src/Web.App/ViewModels/SchoolComparisonItSpendViewModel.cs
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
Due: pipelines/web/build.yaml

feat: Added link from School IT spend view to default comparators
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
Due: pipelines/web/build.yaml

feat: Prevent academies from viewing School IT spend
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
Due: pipelines/web/build.yaml

feat: define new insights IT spend api endpoint (#2666)
  platform/src/apis/Platform.Api.Insight/Configuration/Services.cs
  platform/src/apis/Platform.Api.Insight/Constants.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendSchoolsFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/ItSpendFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendSchoolsParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendSchoolResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendSchoolsParametersValidator.cs
  platform/tests/Platform.ApiTests/Data/ItSpendSchoolsActual.json
  platform/tests/Platform.ApiTests/Data/ItSpendSchoolsPerUnit.json
  platform/tests/Platform.ApiTests/Data/ItSpendSchoolsPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/ItSpendSchoolsPercentIncome.json
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
  platform/tests/Platform.ApiTests/Steps/InsightItSpendSteps.cs
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendSchoolsFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendSchoolsParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendSchoolsParametersValidatorValidates.cs
Due: pipelines/platform/build.yaml

feat: handle IT spend breakdown changes in 2025 CFR (#2657)
  data-pipeline/src/pipeline/config/__init__.py
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing/maintained_schools.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
  data-pipeline/tests/unit/test_stats_collector.py
Due: pipelines/data-pipeline/build.yaml

feat: First pass at adding SSR horizontal bar charts to IT spend page
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/ChartResponse.cs
  web/src/Web.App/Domain/Charts/SchoolComparisonItSpendHorizontalBarChartRequest.cs
  web/src/Web.App/Domain/Charts/SchoolSpendingCostsVerticalBarChartRequest.cs
  web/src/Web.App/Domain/Insight/Expenditure.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/ChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostHorizontalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ApiRequests/PostVerticalBarChartRequest.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/Api.cs
  web/src/Web.App/Infrastructure/Apis/ChartRendering/ChartRenderingApi.cs
  web/src/Web.App/ViewComponents/SchoolSpendingCostsSsrViewComponent.cs
  web/src/Web.App/ViewModels/Components/SchoolComparisonCostSubCategoriesViewModel.cs
  web/src/Web.App/ViewModels/Components/SchoolSpendingCostsViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonItSpendViewModel.cs
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpending.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingSpending.cs
  web/tests/Web.Tests/ViewModels/Components/GivenASchoolSpendingCostsViewModelCostCategories.cs
Due: pipelines/web/build.yaml

feat: Integration test coverage over SSR charts on IT spend page
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHome.cs
  web/tests/Web.Integration.Tests/Pages/Schools/WhenViewingHomeAsFederation.cs
Due: pipelines/web/build.yaml

feat: Wired up controller to IT spend API
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
  web/src/Web.App/Domain/Insight/Expenditure.cs
  web/src/Web.App/Domain/Insight/ItSpend.cs
  web/src/Web.App/Extensions/ServiceCollectionExtensions.cs
  web/src/Web.App/Infrastructure/Apis/Insight/Api.cs
  web/src/Web.App/Infrastructure/Apis/Insight/ItSpendApi.cs
  web/src/Web.App/ViewModels/Components/SchoolComparisonCostSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

feat: Unit test coverage for IT spend flattening and API call
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
  web/src/Web.App/ViewModels/SchoolComparisonItSpendViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonSubCategoriesViewModel.cs
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Tests/Infrastructure/GivenAnItSpendApi.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolComparisonSubCategoriesViewModel.cs
Due: pipelines/web/build.yaml

feat: handle IT spend breakdown changes in 2025 CFR
  .vscode/launch.json
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing/maintained_schools.py
  data-pipeline/src/pipeline/stats.json
Due: pipelines/data-pipeline/build.yaml

feature: add 2025 ancillary data schemas bu cloning 2024
  data-pipeline/src/pipeline/input_schemas/aar_academies.py
  data-pipeline/src/pipeline/input_schemas/aar_central_services.py
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/input_schemas/gias.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
  data-pipeline/src/pipeline/maintained_schools.py
  data-pipeline/src/pipeline/pre_processing/maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

remove leftovers from conflict resolution
  data-pipeline/src/pipeline/maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

remove vscode config
  .vscode/launch.json
Due: none

remove local json file
  data-pipeline/src/pipeline/stats.json
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

CFR input schema additions (#2668)
  data-pipeline/src/pipeline/input_schemas/aar_academies.py
  data-pipeline/src/pipeline/input_schemas/aar_central_services.py
  data-pipeline/src/pipeline/input_schemas/census_pupils.py
  data-pipeline/src/pipeline/input_schemas/census_workforce.py
  data-pipeline/src/pipeline/input_schemas/gias.py
  data-pipeline/src/pipeline/pre_processing/maintained_schools.py
Due: pipelines/data-pipeline/build.yaml

feat: minor content update on high exec pay chart
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
Due: pipelines/front-end-components/build.yaml

feat: minor content update on high exec pay chart (#2669)
  front-end-components/src/views/compare-your-trust/partials/accordion-sections/non-educational-support-staff.tsx
Due: pipelines/front-end-components/build.yaml

chore: bump front-end version
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: update feature flags
  platform/terraform/modules/functions/README.md
  web/terraform/README.md
  web/terraform/variables.tf
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

linting
  documentation/quality-assurance/1_Test-strategy-service.md
  documentation/quality-assurance/2_Test-strategy-dynamic-conent.md
Due: pipelines/documentation/build.yaml

chore: remove rogue file
  documentation/quality-assurance/6_Release-Comms.md
Due: pipelines/documentation/build.yaml

fixes following PR comments
  documentation/quality-assurance/7_Release-Comms.md
  documentation/quality-assurance/8_DSI-Test-Organisations.md
Due: pipelines/documentation/build.yaml

Resolve PR comments
  documentation/quality-assurance/1_Test-strategy-service.md
Due: pipelines/documentation/build.yaml

feat: write IT spend values to DB
  core-infrastructure/src/db/Core.Database/Scripts/119-AlterFinancialTableForItSpendValues.sql
  data-pipeline/src/pipeline/database.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

fix: maintained schools input schema and eval keys as int
  data-pipeline/src/pipeline/input_schemas/maintained_schools_master_list.py
Due: pipelines/data-pipeline/build.yaml

release test plan - drafted
  documentation/quality-assurance/release-test-plans/00022_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated tickets
  documentation/quality-assurance/release-test-plans/00022_release-test-plan.md
Due: pipelines/documentation/build.yaml

updated lint
  documentation/quality-assurance/release-test-plans/00022_release-test-plan.md
Due: pipelines/documentation/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
