Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

chore: minor update to README.md
  pipeline/README.md
Due: none

hotfx: remove hash from PR tag in pipeline
  pipelines/front-end-components/build.yaml
Due: none

feat: adds full year display on history charts
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/services/types.tsx
  platform/src/abstractions/Platform.Domain/Responses/BalanceResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/ExpenditureResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/IncomeResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/WorkforceResponseModel.cs
  web/src/Web.App/Domain/Balance.cs
  web/src/Web.App/Domain/Expenditure.cs
  web/src/Web.App/Domain/Income.cs
  web/src/Web.App/Domain/Workforce.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

editing academies mapping
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/schemas.py
Due: none

academies mapping working
  bau/pipeline/vmfi/pre-processing.ipynb
  bau/pipeline/vmfi/schemas.py
Due: none

chore: adds prerequisites to platform & web
  documentation/developers/troubleshooting.md
  platform/README.md
  web/README.md
Due: pipelines/platform/build.yaml

test data storage decision document
  README.md
  documentation/testing/Decisions/Test-Data-Storage-and-Retrieval.md
Due: none

chore: adds prerequisites to platform & web (#653)
  documentation/developers/troubleshooting.md
  platform/README.md
  web/README.md
Due: pipelines/platform/build.yaml

feat: adding acr to core infrastructure
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

feat: adding acr to core infrastructure (#656)
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

chore: terraform linting
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

feat: initial implementation for pipeline orchestrator
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/storage.tf
  pipelines/platform/deployment.yaml
  platform/Directory.Packages.props
  platform/Platform.sln
  platform/src/abstractions/Platform.Domain/Messages/PipelineMessage.cs
  platform/src/abstractions/Platform.Domain/Requests/PipelineJobRequestModel.cs
  platform/src/abstractions/Platform.Functions/Extensions/FunctionsHostBuilderExtensions.cs
  platform/src/abstractions/Platform.Functions/Extensions/JsonExtensions.cs
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/Constants.cs
  platform/src/apis/Platform.Orchestrator/HealthCheckFunctions.cs
  platform/src/apis/Platform.Orchestrator/JobStartMessageSender.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/src/apis/Platform.Orchestrator/Platform.Orchestrator.csproj
  platform/src/apis/Platform.Orchestrator/Startup.cs
  platform/src/apis/Platform.Orchestrator/SwaggerFunctions.cs
  platform/src/apis/Platform.Orchestrator/host.json
  platform/terraform/README.md
  platform/terraform/data.tf
  platform/terraform/functions.tf
  platform/terraform/storage.tf
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

chore: checkov updates, fixes and skips for ACR
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

chore: Fixing checkov advice inconsistency
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

chore: Removing premium feature
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

chore: Skipping retention policy as not available on Standard tier
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

chore: revert trust policy as requires Premium SKU
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

chore: re-enabling public access as not supported on SKU
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

chore: linting fix
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

fix: typo in default job id
  platform/src/abstractions/Platform.Domain/Requests/PipelineJobRequestModel.cs
Due: pipelines/platform/build.yaml

feat: adds full year display on history charts (#652)
  front-end-components/src/composed/historic-chart-composed/component.tsx
  front-end-components/src/services/types.tsx
  platform/src/abstractions/Platform.Domain/Responses/BalanceResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/ExpenditureResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/IncomeResponseModel.cs
  platform/src/abstractions/Platform.Domain/Responses/WorkforceResponseModel.cs
  web/src/Web.App/Domain/Balance.cs
  web/src/Web.App/Domain/Expenditure.cs
  web/src/Web.App/Domain/Income.cs
  web/src/Web.App/Domain/Workforce.cs
Due: pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml

test data storage decision document (#654)
  README.md
  documentation/testing/Decisions/Test-Data-Storage-and-Retrieval.md
Due: none

feat: initial implementation for pipeline orchestrator (#655)
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/storage.tf
  pipelines/platform/deployment.yaml
  platform/Directory.Packages.props
  platform/Platform.sln
  platform/src/abstractions/Platform.Domain/Messages/PipelineMessage.cs
  platform/src/abstractions/Platform.Domain/Requests/PipelineJobRequestModel.cs
  platform/src/abstractions/Platform.Functions/Extensions/FunctionsHostBuilderExtensions.cs
  platform/src/abstractions/Platform.Functions/Extensions/JsonExtensions.cs
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Orchestrator/Constants.cs
  platform/src/apis/Platform.Orchestrator/HealthCheckFunctions.cs
  platform/src/apis/Platform.Orchestrator/JobStartMessageSender.cs
  platform/src/apis/Platform.Orchestrator/PipelineFunctions.cs
  platform/src/apis/Platform.Orchestrator/Platform.Orchestrator.csproj
  platform/src/apis/Platform.Orchestrator/Startup.cs
  platform/src/apis/Platform.Orchestrator/SwaggerFunctions.cs
  platform/src/apis/Platform.Orchestrator/host.json
  platform/terraform/README.md
  platform/terraform/data.tf
  platform/terraform/functions.tf
  platform/terraform/storage.tf
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

chore: updates main build pipelines to only set and tab version number on main build
  pipelines/core-infrastructure/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/web/build.yaml
Due: none

chore: updates main build pipelines to only set and tab version number on main build (#657)
  pipelines/core-infrastructure/build.yaml
  pipelines/front-end-components/build.yaml
  pipelines/platform/build.yaml
  pipelines/web/build.yaml
Due: none

chore: bumps front-end version
  web/src/Web.App/package-lock.json
Due: none

chore: remove redundant files
  scripts/README.md
  tools/README.md
Due: none

chore: cleans up package deps in platform
  platform/src/abstractions/Platform.Functions/Platform.Functions.csproj
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bumps front-end component package versions
  front-end-components/package-lock.json
Due: pipelines/front-end-components/build.yaml

chore: bumps front-end component package versions (#658)
  front-end-components/package-lock.json
Due: pipelines/front-end-components/build.yaml

chore: bumps platform FluentValidation vesion
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Infrastructure/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search/packages.lock.json
Due: pipelines/platform/build.yaml

chore: bumps web nuget package versions
  web/Directory.Packages.props
  web/src/Web.App/packages.lock.json
  web/tests/Web.A11yTests/packages.lock.json
  web/tests/Web.E2ETests/packages.lock.json
  web/tests/Web.Integration.Tests/packages.lock.json
  web/tests/Web.Tests/packages.lock.json
Due: none

chore: bumps platform xunt package versions
  platform/Directory.Packages.props
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Tests/packages.lock.json
Due: pipelines/platform/build.yaml

chore: adds school and trust authorization attributes
  web/src/Web.App/Attributes/SchoolAuthorizationAttribute.cs
  web/src/Web.App/Attributes/TrustAuthorizationAttribute.cs
  web/src/Web.App/Constants/BreadcrumbNodes.cs
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/SchoolPlanningController.cs
  web/src/Web.App/Controllers/SchoolPlanningCreatePlanController.cs
  web/src/Web.App/Controllers/TrustPlanningController.cs
  web/src/Web.App/ViewModels/TrustPlanningViewModel.cs
  web/src/Web.App/Views/SchoolPlanning/Index.cshtml
  web/src/Web.App/Views/SchoolPlanningCreate/Start.cshtml
  web/src/Web.App/Views/Shared/Components/TrustFinanceTools/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/src/Web.App/Views/TrustComparison/Index.cshtml
  web/src/Web.App/Views/TrustPlanning/Index.cshtml
  web/src/Web.App/Views/TrustWorkforce/Index.cshtml
Due: none

feat: first pass on organisation and CFP tables
  platform/src/db/Platform.Database/Scripts/003-CreateOrganisationTables.sql
  platform/src/db/Platform.Database/Scripts/004-CreateFinancialPlanTable.sql
Due: pipelines/platform/build.yaml

chore: relocate docker folder
  .gitignore
  docker/docker-compose.yml
  platform/Platform.sln
Due: pipelines/platform/build.yaml

chore: update staus badges
  documentation/testing/security-testing.md
Due: none

feat: adding devops config as an identity to acr
  core-infrastructure/terraform/acr.tf
Due: pipelines/core-infrastructure/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
