Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common

feat: Removed dependency on `Context.Request` from LA `Index` view
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialFormViewComponent.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolWorkforceFormViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialFormViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceFormViewModel.cs
  web/src/Web.App/Views/LocalAuthority/Index.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancialForm/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforceForm/Default.cshtml
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolFinancialFormViewComponentTests.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolWorkforceFormViewComponentTests.cs
Due: pipelines/web/build.yaml

feat: Removed dependency on `Context.Request` from LA `show all` partial views
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancialForm/_SchoolsShowAll.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforceForm/_SchoolsShowAll.cshtml
Due: pipelines/web/build.yaml

feat: Added `IHttpContextAccessor` dependency to LA school financial and workforce view components
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolFinancialFormViewComponent.cs
  web/src/Web.App/ViewComponents/LocalAuthoritySchoolWorkforceFormViewComponent.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialFormViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceFormViewModel.cs
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolFinancialFormViewComponentTests.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolWorkforceFormViewComponentTests.cs
Due: pipelines/web/build.yaml

chore: Post-rebase fixups
  web/src/Web.App/Domain/SchoolsSummaryWorkforceDimensions.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialFormViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceFormViewModel.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolFinancialFormViewComponentTests.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolWorkforceFormViewComponentTests.cs
  web/tests/Web.Tests/ViewModels/Components/GivenALocalAuthoritySchoolFinancialFormViewModel.cs
  web/tests/Web.Tests/ViewModels/Components/GivenALocalAuthoritySchoolWorkforceFormViewModel.cs
Due: pipelines/web/build.yaml

doc: Databricks development processes (#3091)
  documentation/data/10_Databricks-Development.md
Due: pipelines/documentation/build.yaml

chore: remove PeriodCoveredByReturn from all schools workforce summary views
  core-infrastructure/src/db/Core.Database/Views/031-SchoolsWorkforceSummary.sql
Due: pipelines/core-infrastructure/build.yaml

chore: remove PeriodCoveredByReturn from la schools summary workforce response
  platform/src/apis/Platform.Api.LocalAuthorityFinances/Features/Schools/Responses/WorkforceSummaryResponse.cs
  platform/tests/Platform.ApiTests/Data/LaSchoolsWorkforceActuals.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsWorkforceFilteredNursery.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsWorkforceFilteredPhase.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsWorkforceFilteredSixthForm.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsWorkforceFilteredSpecial.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsWorkforcePercentPupil.json
  platform/tests/Platform.ApiTests/Data/LaSchoolsWorkforceSortedPupilTeacherRatioDesc.json
Due: pipelines/platform/build.yaml

doc: Documented LA homepage 'change LA' link usage metric
  documentation/operational/7_Metrics.md
  documentation/operational/metrics/017_la-homepage-change-authority-button-usage.md
Due: pipelines/documentation/build.yaml

Fist attempt CICD pipeline
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Expand databricks CICD triggers
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

tweak variables
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

re-add env
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

add working directory for uv install
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Working directory
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

understand agent directory structure
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

look at Agent.BuildDirectory
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Pathing tweak
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Install all dev dependencies
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

tweak uv test command
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

add workdir
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

tweak tests
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

feat: Added dimension commentary and altered LA school table headers
  web/src/Web.App/Domain/Charts/Dimensions.cs
  web/src/Web.App/Domain/SchoolsSummaryWorkforceDimensions.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolFinancialFormViewModel.cs
  web/src/Web.App/ViewModels/Components/LocalAuthoritySchoolWorkforceFormViewModel.cs
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancialForm/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancialForm/_SchoolsTable.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforceForm/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforceForm/_SchoolsTable.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
  web/tests/Web.Tests/Domain/Charts/GivenDimensions.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolFinancialFormViewComponentTests.cs
  web/tests/Web.Tests/ViewComponents/LocalAuthoritySchoolWorkforceFormViewComponentTests.cs
Due: pipelines/web/build.yaml

feat: Added custom event tracking to links from LA homepage to School homepage
  support-analytics/terraform/README.md
  support-analytics/terraform/queries/functions/get-tracked-links.kql
  support-analytics/terraform/variables.tf
  web/src/Web.App/Constants/TrackedLinks.cs
  web/src/Web.App/Extensions/HtmlExtensions.cs
  web/src/Web.App/Views/LocalAuthority/_SchoolsSection.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancialForm/_SchoolsTable.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforceForm/_SchoolsTable.cshtml
  web/tests/Web.Tests/Extensions/GivenAHtmlHelper.cs
Due: pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

feat: Only display dimension commentary above LA schools tables if results returned
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolFinancialForm/Default.cshtml
  web/src/Web.App/Views/Shared/Components/LocalAuthoritySchoolWorkforceForm/Default.cshtml
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHome.cs
Due: pipelines/web/build.yaml

Give pytest databricks vars
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Set workingDirectory at job level
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

Debugging hanging tests
  pipelines/data-pipeline/databricks-bundle-deploy.yaml
Due: pipelines/data-pipeline/build.yaml

chore: Bumped `front-end` dependencies
  front-end-components/eslint.config.mjs
  front-end-components/package-lock.json
  front-end-components/package.json
Due: pipelines/front-end-components/build.yaml

chore: Bumped `terraform` dependencies
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  data-pipeline/terraform/README.md
  data-pipeline/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  prototype/terraform/README.md
  prototype/terraform/provider.tf
  support-analytics/terraform/README.md
  support-analytics/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/web/build.yaml

chore: Bumped `prototype` dependencies
  prototype/src/package-lock.json
  prototype/src/package.json
Due: pipelines/prototype/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: Bumped `platform` dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Messaging/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Due: pipelines/platform/build.yaml
