Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get update
    displayName: Update the package list
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: 1.$(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

doc: Marked ADR 0011 as `Accepted`
  documentation/architecture/decisions/0011_azure-front-door-upgrade.md
Due: pipelines/documentation/build.yaml

doc: correct casing
  documentation/architecture/12_DfE-Databricks.md
Due: pipelines/documentation/build.yaml

rever dask removal
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

doc: Databricks ADR (#2473)
  documentation/architecture/12_DfE-Databricks.md
Due: pipelines/documentation/build.yaml

revert docsting change
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

Add bfr logging
  data-pipeline/src/pipeline/pre_processing/ancillary/bfr.py
Due: pipelines/data-pipeline/build.yaml

Add more shape logs
  data-pipeline/src/pipeline/main.py
Due: pipelines/data-pipeline/build.yaml

feat: Added warning message to historical charts when no data available
  front-end-components/index.html
  front-end-components/src/composed/historic-chart-2-composed/component.tsx
  front-end-components/src/composed/historic-chart-composed/component.tsx
Due: pipelines/front-end-components/build.yaml

feat: Updated chart and warning counts on School Historic Data E2E tests
  web/tests/Web.E2ETests/Features/School/HistoricData.feature
  web/tests/Web.E2ETests/Pages/School/HistoricDataPage.cs
  web/tests/Web.E2ETests/Steps/School/HistoricDataSteps.cs
Due: pipelines/web/build.yaml

docs: resolve PR feedback
  documentation/data/2_Sources.md
Due: pipelines/documentation/build.yaml

docs: update to include local authority high needs
  documentation/data/2_Sources.md
Due: pipelines/documentation/build.yaml

docs: add dsg values file to data sources docs (#2511)
  documentation/data/2_Sources.md
Due: pipelines/documentation/build.yaml

chore: Bumped `front-end` to `1.1.102`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: Updated E2E test coverage over High Needs history to honour 'missing data' warning
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsHistoricData.feature
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsHistoricDataPage.cs
  web/tests/Web.E2ETests/Steps/LocalAuthority/HighNeedsHistoricDataSteps.cs
Due: pipelines/web/build.yaml

docs: ADR0012 - Use of Connection Strings/Keys vs Managed Identity in Azure Authentication
  documentation/architecture/decisions/0008-resolving-Intermittent-errors-function-app.md
  documentation/architecture/decisions/0009-js-library.md
  documentation/architecture/decisions/0012_uage-managed-identity.md
Due: pipelines/documentation/build.yaml

linting
  documentation/architecture/decisions/0012_uage-managed-identity.md
Due: pipelines/documentation/build.yaml

feat: New `Banner` table definition and 'active' rows view
  core-infrastructure/src/db/Core.Database/Scripts/117-CreateBannerTable.sql
  core-infrastructure/src/db/Core.Database/Views/025-Banners.sql
Due: pipelines/core-infrastructure/build.yaml

Account for no content_md5 setting
  data-pipeline/src/pipeline/storage.py
Due: pipelines/data-pipeline/build.yaml

chore: add check to documentation pipeline to verify pdf created
  pipelines/documentation/generate-docs.yaml
Due: pipelines/documentation/build.yaml

fix: missing fi added to script
  pipelines/documentation/generate-docs.yaml
Due: pipelines/documentation/build.yaml

Revert "chore: for testing purposes disable condition check and publish steps for documentation pipeline"
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

chore: for testing purposes disable condition check and publish steps for documentation pipeline
  pipelines/documentation/build.yaml
Due: pipelines/documentation/build.yaml

chore: move script to verify pdf has been created into pdf generation step
  pipelines/documentation/generate-docs.yaml
Due: pipelines/documentation/build.yaml

docs: ADR0012 (#2519)
  documentation/architecture/decisions/0008-resolving-Intermittent-errors-function-app.md
  documentation/architecture/decisions/0009-js-library.md
  documentation/architecture/decisions/0012_uage-managed-identity.md
Due: pipelines/documentation/build.yaml

chore: add check to documentation pipeline to verify pdf created (#2515)
  pipelines/documentation/generate-docs.yaml
Due: pipelines/documentation/build.yaml

feat: Unit test coverage over `api/banner/{target}` endpoint and related dependencies
  platform/src/abstractions/Platform.Sql/QueryBuilders/ActiveBannersQueries.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/ActiveBannersQueryTests.cs
  platform/src/abstractions/tests/Platform.Sql.Tests/Builders/PlatformQueryTests.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Services/BannersService.cs
  platform/tests/Platform.Content.Tests/Banners/Functions/GetBannerFunctionTests.cs
  platform/tests/Platform.Content.Tests/Banners/Handlers/GetBannerV1HandlerTests.cs
  platform/tests/Platform.Content.Tests/Banners/Services/WhenBannersServiceQueriesAsync.cs
Due: pipelines/platform/build.yaml

feat: API tests for `api/banner/{target}` endpoint
  platform/tests/Platform.ApiTests/Features/ContentBanners.feature
  platform/tests/Platform.ApiTests/Steps/ContentBannersSteps.cs
  test-data/Banner.csv
Due: pipelines/platform/build.yaml

feat: Added `api/banner/{target}` endpoint to Content API
  core-infrastructure/src/db/Core.Database/Views/025-ActiveBanners.sql
  platform/src/abstractions/Platform.Sql/QueryBuilders/BannersQueries.cs
  platform/src/abstractions/Platform.Sql/QueryBuilders/PlatformQuery.cs
  platform/src/apis/Platform.Api.Content/Configuration/Services.cs
  platform/src/apis/Platform.Api.Content/Constants.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/BannersFeature.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/GetBannerFunction.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Handlers/GetBannerV1Handler.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Models/Banner.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Routes.cs
  platform/src/apis/Platform.Api.Content/Features/Banners/Services/BannersService.cs
  test-data/Banner.csv
Due: pipelines/core-infrastructure/build.yaml, pipelines/platform/build.yaml

docs: updated pr template
  .github/pull_request_template.md
Due: none

updated devops tickets
  documentation/quality-assurance/release-test-plans/00021_release-test-plan.md
Due: pipelines/documentation/build.yaml

fix: recalculate total and per-unit costs for ILR
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/src/pipeline/pre_processing/ancillary/custom_data.py
  data-pipeline/src/pipeline/pre_processing/total_per_unit.py
  data-pipeline/tests/unit/pre_processing/test_total_per_unit.py
Due: pipelines/data-pipeline/build.yaml

fix: recalculate total and per-unit costs for ILR (#2522)
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/academies/academies.py
  data-pipeline/src/pipeline/pre_processing/ancillary/custom_data.py
  data-pipeline/src/pipeline/pre_processing/total_per_unit.py
  data-pipeline/tests/unit/pre_processing/test_total_per_unit.py
Due: pipelines/data-pipeline/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
