Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/support-analytics/release.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
      - template: ..\common\validate-branch.yaml
        parameters:
          branchName: $(SourceBranch)
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  jobs:
  - job: BuildFrontEndComponents
    displayName: Build front-end components
    steps:
    - template: ..\common\validate-branch.yaml
      parameters:
        branchName: $(SourceBranch)
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(Version)$(Version.Revision.Separator)$(Version.Revision).$(Rev:r)
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: BranchValidate
      displayName: Validate branch name
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/support-analytics/release.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

feat: add Post16PlaceFunding and HospitalPlaceFunding fields to LA Financial views
  core-infrastructure/src/db/Core.Database/Views/018-LocalAuthorityFinancial.sql
Due: pipelines/core-infrastructure/build.yaml

Add diagram of place funding
  documentation/architecture/decisions/0021-DSG-s251-alignment.md
  documentation/architecture/decisions/images/DSG-alignment.png
Due: pipelines/documentation/build.yaml

Create 0021-DSG-s251-alignment.md (#3558)
  documentation/architecture/decisions/0021-DSG-s251-alignment.md
  documentation/architecture/decisions/images/DSG-alignment.png
Due: pipelines/documentation/build.yaml

doc: Add new data sources
  documentation/data/2_Sources.md
Due: pipelines/documentation/build.yaml

feat: show source information below each chart for high needs benchmarking
  front-end-components/index.html
  front-end-components/src/components/index.tsx
  front-end-components/src/components/source-info/component.tsx
  front-end-components/src/components/source-info/index.tsx
  front-end-components/src/components/source-info/types.tsx
  front-end-components/src/composed/benchmark-chart-section-251/component.tsx
  front-end-components/src/composed/benchmark-chart-section-251/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/types.tsx
  front-end-components/src/contexts/contexts.tsx
  front-end-components/src/main.tsx
  front-end-components/src/views/benchmark-data-high-needs/partials/index.tsx
  front-end-components/src/views/benchmark-data-high-needs/partials/section-251-section.tsx
  front-end-components/src/views/benchmark-data-high-needs/types.tsx
  front-end-components/src/views/benchmark-data-high-needs/view.tsx
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsBenchmarkingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Index.cshtml
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

BM branch for comparator algo comparisons
  data-pipeline/src/pipeline/comparator_sets/config.py
Due: pipelines/data-pipeline/build.yaml

doc: Add text explanation of dsg recoupment derivation
  documentation/data/sources/dsg-funding.md
Due: pipelines/documentation/build.yaml

tweaks
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/ancillary/place_funding.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
Due: pipelines/data-pipeline/build.yaml

feat: show source information below each chart for high needs benchmarking (#3751)
  front-end-components/index.html
  front-end-components/src/components/index.tsx
  front-end-components/src/components/source-info/component.tsx
  front-end-components/src/components/source-info/index.tsx
  front-end-components/src/components/source-info/types.tsx
  front-end-components/src/composed/benchmark-chart-section-251/component.tsx
  front-end-components/src/composed/benchmark-chart-section-251/types.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/types.tsx
  front-end-components/src/contexts/contexts.tsx
  front-end-components/src/main.tsx
  front-end-components/src/views/benchmark-data-high-needs/partials/index.tsx
  front-end-components/src/views/benchmark-data-high-needs/partials/section-251-section.tsx
  front-end-components/src/views/benchmark-data-high-needs/types.tsx
  front-end-components/src/views/benchmark-data-high-needs/view.tsx
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/src/Web.App/ViewModels/LocalAuthorityHighNeedsBenchmarkingViewModel.cs
  web/src/Web.App/Views/LocalAuthorityHighNeedsBenchmarking/Index.cshtml
  web/tests/Web.E2ETests/Pages/LocalAuthority/HighNeedsBenchmarkingPage.cs
Due: pipelines/front-end-components/build.yaml, pipelines/web/build.yaml

chore: Bumps front-end in web
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

fix: spacing and use secondary text colour for source text
  front-end-components/src/components/source-info/component.tsx
  front-end-components/src/components/source-info/styles.scss
Due: pipelines/front-end-components/build.yaml

tests: repair tests from refactor
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_ons.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_sen2.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_statistical_neighbours.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_local_authorities.py
Due: pipelines/data-pipeline/build.yaml

lint
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/dsg.py
  data-pipeline/src/pipeline/input_schemas/high_needs_places.py
  data-pipeline/src/pipeline/pre_processing/ancillary/high_needs_places.py
  data-pipeline/src/pipeline/pre_processing/ancillary/main.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_ons.py
  data-pipeline/tests/unit/pre_processing/local_authorities/test_la_sen2.py
Due: pipelines/data-pipeline/build.yaml

more lint
  data-pipeline/src/pipeline/pre_processing/ancillary/dsg.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
Due: pipelines/data-pipeline/build.yaml

feat: omit local authorities from s51 charts if missing either budget or outturn data and remove warning for missing data
  front-end-components/index.html
  front-end-components/src/composed/benchmark-chart-section-251/component.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/composed.tsx
  front-end-components/src/composed/horizontal-bar-chart-multi-series/types.tsx
Due: pipelines/front-end-components/build.yaml

feat: do not omit selected establishment from s251 charts even when missing data
  front-end-components/index.html
  front-end-components/src/composed/benchmark-chart-section-251/component.tsx
Due: pipelines/front-end-components/build.yaml

feat: omit local authorities from sen charts if missing data and remove warning for missing data
  front-end-components/src/composed/benchmark-chart-send-2/component.tsx
Due: pipelines/front-end-components/build.yaml

feat: do not omit selected establishment from sen charts even when missing data
  front-end-components/src/composed/benchmark-chart-send-2/component.tsx
Due: pipelines/front-end-components/build.yaml

test: update high needs benchmarking E2E tests
  web/tests/Web.E2ETests/Features/LocalAuthority/HighNeedsBenchmarking.feature
Due: pipelines/web/build.yaml

test: update d02 seed data to reflect changes made for E2E tests
  test-data/LocalAuthorityFinancial.csv
  test-data/LocalAuthorityNonFinancial.csv
Due: none

tweak to column names and HospitalServices
  data-pipeline/src/pipeline/config/local_authority.py
  data-pipeline/src/pipeline/pre_processing/ancillary/dsg.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
  documentation/data/sources/dsg-funding.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

forgot SQL tweaks
  core-infrastructure/src/db/Core.Database/Scripts/132-AlterLocalAuthorityFinancialTableAddPlaceFunding.sql
Due: pipelines/core-infrastructure/build.yaml

Add post 16 place funding field, fill na
  data-pipeline/src/pipeline/input_schemas/local_authority.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
Due: pipelines/data-pipeline/build.yaml

fix: remove !important, enforce inherited colour, and restructure SourceInfo classes for consistent styling
  front-end-components/src/components/source-info/component.tsx
  front-end-components/src/components/source-info/styles.scss
Due: pipelines/front-end-components/build.yaml

update docs
  data-pipeline/src/pipeline/config/local_authority.py
  documentation/data/sources/dsg-funding.md
Due: pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

update sql
  core-infrastructure/src/db/Core.Database/Scripts/132-AlterLocalAuthorityFinancialTableAddPlaceFunding.sql
Due: pipelines/core-infrastructure/build.yaml

fix: spacing and use secondary text colour for source text (#3753)
  front-end-components/src/components/source-info/component.tsx
  front-end-components/src/components/source-info/styles.scss
Due: pipelines/front-end-components/build.yaml

Add null budget post 16 value
  core-infrastructure/src/db/Core.Database/Scripts/132-AlterLocalAuthorityFinancialTableAddPlaceFunding.sql
  data-pipeline/src/pipeline/config/local_authority.py
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml

feat: redirect to create comparators instead of NotFound for high needs benchmarking when no comparator set
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsBenchmarking.cs
Due: pipelines/web/build.yaml

feat: redirect to create comparators instead of NotFound for high needs benchmarking when no comparator set (#3761)
  web/src/Web.App/Controllers/LocalAuthorityHighNeedsBenchmarkingController.cs
  web/tests/Web.Integration.Tests/Pages/LocalAuthorities/WhenViewingHighNeedsBenchmarking.cs
Due: pipelines/web/build.yaml

Made a few columns available for the comparator sets
  data-pipeline/src/pipeline/comparator_sets/main.py
  data-pipeline/src/pipeline/input_schemas/gias.py
  data-pipeline/src/pipeline/pre_processing/ancillary/cdc.py
  data-pipeline/src/pipeline/pre_processing/main.py
Due: pipelines/data-pipeline/build.yaml

alter calculations to new categories
  core-infrastructure/src/db/Core.Database/Scripts/132-AlterLocalAuthorityFinancialTableAddPlaceFunding.sql
  data-pipeline/src/pipeline/config/local_authority.py
  data-pipeline/src/pipeline/pre_processing/ancillary/dsg.py
  data-pipeline/src/pipeline/pre_processing/s251/local_authority.py
  data-pipeline/tests/unit/pre_processing/local_authorities/conftest.py
  documentation/data/sources/dsg-funding.md
Due: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation, pipelines/documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components, pipelines/front-end-components, pipelines/common
  pipelines/platform/build.yaml: any of: platform, pipelines/platform, pipelines/common
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/support-analytics/release.yaml: any of: support-analytics, pipelines/support-analytics, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
