Repository DFE-Digital/education-benchmarking-and-insights: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/core-infrastructure/build.yaml, pipelines/data-pipeline/build.yaml, pipelines/documentation/build.yaml, pipelines/front-end-components/build.yaml, pipelines/platform/build.yaml, pipelines/prototype/build.yaml, pipelines/supporting-data/build.yaml, pipelines/web/build.yaml

pipelines/core-infrastructure/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

pipelines/data-pipeline/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)-prerelease"
  
  ...

pipelines/documentation/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: sudo apt-get install -y pandoc texlive-latex-extra
    displayName: Install pandoc & latex
  - bash: sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
    displayName: Install tex fonts
  - task: Npm@1
    displayName: Install mermaid cli
  ...

pipelines/front-end-components/build.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[build.updatebuildnumber]$(Version.BuildNumber)"
  
      echo "##vso[build.addbuildtag]$(Version.BuildNumber)"
  
      '
    displayName: Set release build number
    condition: and(succeeded(), eq(variables['ShouldDeploy'],'true'))
  ...

pipelines/platform/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
  ...

pipelines/prototype/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Prototype"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/supporting-data/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set tag
      steps:
      - checkout: none
      - bash: echo "##vso[build.addbuildtag]Supporting Data"
        displayName: Set build tag
    - job: FmtValidateTf
  ...

pipelines/web/build.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build artifacts
    jobs:
    - job: SetBuildNumber
      displayName: Set build number
      steps:
      - checkout: none
      - bash: 'echo "##vso[task.setvariable variable=Version.BuildNumber]$(Version.BuildNumber)"
  
  ...

feat: completing BFR write to database
  data-pipeline/src/pipeline/bfr.py
  data-pipeline/src/pipeline/database.py
  data-pipeline/src/pipeline/input_schemas.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

chore: cleaning notebooks
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

chore: fixing up unit tests
  data-pipeline/pyproject.toml
  data-pipeline/tests/unit/pre_processing/conftest.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_bfr.py
  data-pipeline/workbooks/pre-processing.ipynb
Due: pipelines/data-pipeline/build.yaml

chore: Integration tests for pre-populating existing Custom Data
  platform/src/abstractions/Platform.Functions/PipelineMessage.cs
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataRequest.cs
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/Services/CustomDataService.cs
  web/src/Web.App/ViewModels/SchoolCustomDataChangeViewModel.cs
  web/src/Web.App/Views/SchoolCustomDataChange/_CustomDataEntryTable.cshtml
  web/src/Web.App/Views/SchoolCustomDataChange/_CustomDataEntryTableRow.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataFinancialData.cs
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataNonFinancialData.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

feat: adds custom data spending page (#1013)
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Views/SchoolSpending/CustomData.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpendingComparison.cs
Due: pipelines/web/build.yaml

feat: Pre-populated previous Custom Data values when defining new set of data for school
  platform/src/apis/Platform.Api.Benchmark/CustomData/CustomDataService.cs
  web/Web.sln.DotSettings
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/Domain/Benchmark/CustomDataSchool.cs
  web/src/Web.App/Services/CustomDataService.cs
Due: pipelines/platform/build.yaml, pipelines/web/build.yaml

Prototype/data tweaks (#1010)
  prototype/src/app/routes.js
  prototype/src/app/views/compare-trusts/characteristics.html
Due: pipelines/prototype/build.yaml

removed saving of auth state (#1012)
  web/tests/Web.A11yTests/AuthPageBase.cs
Due: pipelines/web/build.yaml

feat: Replaced page view logging with request telemetry properties
  web/src/Web.App/Attributes/RequestTelemetryAttribute.cs
  web/src/Web.App/Attributes/TrackPageViewAttribute.cs
  web/src/Web.App/Constants/TrackedRequests.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/TrustController.cs
Due: pipelines/web/build.yaml

fix: Modified AI `clickPlugin` config to only track link clicks with explicit attribute prefix
  web/Web.sln.DotSettings
  web/src/Web.App/Constants/TrackedLinks.cs
  web/src/Web.App/Extensions/HtmlExtensions.cs
  web/src/Web.App/Views/DataSource/_DataSources.cshtml
  web/src/Web.App/Views/DataSource/_EducationalSupplies.cshtml
  web/src/Web.App/Views/DataSource/_Premises.cshtml
  web/src/Web.App/Views/DataSource/_TeachingCosts.cshtml
  web/src/Web.App/Views/DataSource/_Utilities.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

feat: Replaced client side page view tracking properties with action filter attribute
  web/src/Web.App/Attributes/TrackPageViewAttribute.cs
  web/src/Web.App/Constants/PageMetaData.cs
  web/src/Web.App/Constants/ViewDataKeys.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/ViewComponents/AnalyticsViewComponent.cs
  web/src/Web.App/ViewModels/Components/AnalyticsViewModel.cs
  web/src/Web.App/Views/Shared/Components/Analytics/Default.cshtml
Due: pipelines/web/build.yaml

feat: Added explicit page tracking to `SchoolHome` action
  web/src/Web.App/Constants/PageMetaData.cs
  web/src/Web.App/Constants/ViewDataKeys.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Extensions/ClaimsPrincipalExtensions.cs
  web/src/Web.App/Views/Shared/_Layout.cshtml
Due: pipelines/web/build.yaml

chore: Refactored app insights script into `Analytics` component
  web/src/Web.App/Constants/PageMetaData.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Extensions/ClaimsPrincipalExtensions.cs
  web/src/Web.App/ViewComponents/AnalyticsViewComponent.cs
  web/src/Web.App/ViewModels/Components/AnalyticsViewModel.cs
  web/src/Web.App/Views/Shared/Components/Analytics/Default.cshtml
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/tests/Web.Tests/Extensions/GivenAHtmlHelper.cs
Due: pipelines/web/build.yaml

feat: Added establishment-specific custom request telemetry
  web/src/Web.App/Attributes/RequestTelemetry/LocalAuthorityRequestTelemetry.cs
  web/src/Web.App/Attributes/RequestTelemetry/RequestTelemetryAttribute.cs
  web/src/Web.App/Attributes/RequestTelemetry/SchoolRequestTelemetry.cs
  web/src/Web.App/Attributes/RequestTelemetry/TrustRequestTelemetry.cs
  web/src/Web.App/Constants/TrackedRequestType.cs
  web/src/Web.App/Constants/TrackedRequests.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/TrustController.cs
Due: pipelines/web/build.yaml

chore: Bump `front-end` to `0.2.52`
  web/src/Web.App/package-lock.json
Due: pipelines/web/build.yaml

chore: Add outbound IPs to SQL Server firewall rules
  pipelines/feature/release.yaml
  platform/terraform/README.md
  platform/terraform/data.tf
  platform/terraform/functions.tf
  platform/terraform/modules/functions/README.md
  platform/terraform/modules/functions/main.tf
  platform/terraform/modules/functions/variables.tf
Due: pipelines/platform/build.yaml

chore: Added server side operation ID as parent ID in client AI SDK
  web/src/Web.App/ViewComponents/AnalyticsViewComponent.cs
  web/src/Web.App/ViewModels/Components/AnalyticsViewModel.cs
  web/src/Web.App/Views/Shared/Components/Analytics/Default.cshtml
Due: pipelines/web/build.yaml

feat: Added telemetry attributes to appropriate controllers and actions
  web/src/Web.App/Attributes/RequestTelemetry/RequestTelemetryAttribute.cs
  web/src/Web.App/Constants/TrackedRequestType.cs
  web/src/Web.App/Controllers/LocalAuthorityCensusController.cs
  web/src/Web.App/Controllers/LocalAuthorityComparisonController.cs
  web/src/Web.App/Controllers/LocalAuthorityController.cs
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparatorsController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateByController.cs
  web/src/Web.App/Controllers/SchoolComparatorsCreateController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/Controllers/SchoolCustomDataController.cs
  web/src/Web.App/Controllers/SchoolPlanningController.cs
  web/src/Web.App/Controllers/SchoolPlanningCreatePlanController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
  web/src/Web.App/Controllers/TrustCensusController.cs
  web/src/Web.App/Controllers/TrustComparatorsController.cs
  web/src/Web.App/Controllers/TrustComparatorsCreateByController.cs
  web/src/Web.App/Controllers/TrustComparisonController.cs
  web/src/Web.App/Controllers/TrustController.cs
  web/src/Web.App/Controllers/TrustForecastController.cs
  web/src/Web.App/Controllers/TrustPlanningController.cs
  web/src/Web.App/Controllers/TrustSpendingController.cs
  web/src/Web.App/Views/SchoolComparatorsCreate/Index.cshtml
Due: pipelines/web/build.yaml

fixed failing of tests and added login part to one of the test
  web/tests/Web.E2ETests/Pages/School/CurriculumFinancialPlanningPage.cs
  web/tests/Web.E2ETests/Pages/School/DetailsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
Due: pipelines/web/build.yaml

linted code
  web/tests/Web.E2ETests/Pages/School/DetailsPage.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
Due: pipelines/web/build.yaml

added one test
  web/tests/Web.E2ETests/Features/School/SchoolHome.feature
Due: pipelines/web/build.yaml

fixed failing of tests and added login part to one of the test (#1016)
  web/tests/Web.E2ETests/Features/School/SchoolHome.feature
  web/tests/Web.E2ETests/Pages/School/CurriculumFinancialPlanningPage.cs
  web/tests/Web.E2ETests/Pages/School/DetailsPage.cs
  web/tests/Web.E2ETests/Selectors.cs
  web/tests/Web.E2ETests/Steps/School/HomeSteps.cs
Due: pipelines/web/build.yaml

fix: Remove grey background box from priority forecast message
  web/README.md
  web/Web.sln
  web/src/Web.App/AssetSrc/scss/main.scss
Due: pipelines/web/build.yaml

feat: adds loading submit page to create custom data journey
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/ViewModels/SchoolCustomDataSubmittedViewModel.cs
  web/src/Web.App/Views/SchoolCustomDataChange/Submit.cshtml
Due: pipelines/web/build.yaml

test: updates integration tests to mock CustomDataSchool and UserData
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

fix: account for missing columns in custom data
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

chore: update guard clauses for customised data pages
  web/src/Web.App/Controllers/SchoolCensusController.cs
  web/src/Web.App/Controllers/SchoolComparisonController.cs
  web/src/Web.App/Controllers/SchoolController.cs
  web/src/Web.App/Controllers/SchoolSpendingComparisonController.cs
  web/src/Web.App/Controllers/SchoolSpendingController.cs
Due: pipelines/web/build.yaml

test: updates UserData mock to include Status
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataSpendingComparison.cs
Due: pipelines/web/build.yaml

feat: adds loading submit page to create custom data journey (#1018)
  web/src/Web.App/Constants/PageTitles.cs
  web/src/Web.App/Controllers/Api/UserDataProxyController.cs
  web/src/Web.App/Controllers/SchoolCustomDataChangeController.cs
  web/src/Web.App/ViewModels/SchoolCustomDataSubmittedViewModel.cs
  web/src/Web.App/Views/SchoolCustomDataChange/Submit.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/CustomData/WhenViewingCustomDataWorkforceData.cs
  web/tests/Web.Integration.Tests/Paths.cs
Due: pipelines/web/build.yaml

fix: update custom-data message
  data-pipeline/src/pipeline/message.py
  data-pipeline/src/pipeline/pre_processing.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
Due: pipelines/data-pipeline/build.yaml

Path conditions:
  pipelines/core-infrastructure/build.yaml: any of: core-infrastructure, pipelines/core-infrastructure, pipelines/common
  pipelines/data-pipeline/build.yaml: any of: data-pipeline, pipelines/data-pipeline, pipelines/common
  pipelines/documentation/build.yaml: any of: documentation
  pipelines/front-end-components/build.yaml: any of: front-end-components
  pipelines/platform/build.yaml: any of: shared, platform
  pipelines/prototype/build.yaml: any of: prototype, pipelines/prototype, pipelines/common
  pipelines/supporting-data/build.yaml: any of: supporting-data
  pipelines/web/build.yaml: any of: web, pipelines/web, pipelines/common
